{% macro favorite_users_list(user) %}
    {% for fav in user.favorite_users|sort(attribute='full_name') %}
        <li data-user-id="{{ fav.id }}" class="flexrow f-a-center js-user-row">
            <span>{{ fav.full_name }}</span>
            <a class="right js-delete-user"
               title="{% trans %}Remove from favourites{% endtrans %}"
               data-href="{{ url_for('.user_favorites_user_remove', fav_user_id=fav.id) }}">
                <i class="close icon"></i>
            </a>
        </li>
    {% endfor %}
{% endmacro %}
