{% extends 'layout/management_page.html' %}

{% set show_nav = request.endpoint != 'users.user_dashboard' %}

{% block banner_title %}
    {% if user == session.user %}
        {% trans %}My Profile{% endtrans %}
    {% else %}
        {% trans name=user.full_name %}Profile of {{ name }}{% endtrans %}
    {% endif %}
{% endblock %}

{% block side_menu -%}
    {% if show_nav %}
        <nav class="menu vertical i-box">
            {% for item in user_menu_items %}
                <a class="item{% if item.active %} active{% endif %}" href="{{ item.url }}">
                    {{- item.title -}}
                </a>
            {% endfor %}
        </nav>
    {% endif %}
{%- endblock %}

{% block content %}
    {% block user_content %}{% endblock %}
{% endblock %}
