{% extends 'users/base.html' %}
{% from 'forms/_form.html' import form_header, form_rows, form_footer  %}
{% from '_switch.html' import switch %}

{% block user_content %}
    <div class="i-box-group vert">
        <div class="i-box">
            <div class="i-box-header">
                <div class="i-box-title">
                    {%- trans %}Details{% endtrans -%}
                </div>
                {% if user.is_admin %}
                    <div class="i-box-buttons">
                        {% if not user.is_blocked %}
                            <div {%- if user == session.user %} title="{% trans %}You cannot block yourself{% endtrans %}"{% endif %}>
                                <button class="ui negative small button"
                                        data-href="{{ url_for('.user_block') }}"
                                        data-method="PUT"
                                        data-confirm="{% trans %}This user will no longer have access to Indico.<br>
                                        Are you sure you want to revoke their access?{% endtrans %}"
                                        data-reload-after
                                        {% if user == session.user %}disabled{% endif %}>
                                    {% trans %}Block User{% endtrans %}
                                </button>
                            </div>
                        {% else %}
                            <button class="ui small button"
                                    data-href="{{ url_for('.user_block') }}"
                                    data-method="DELETE"
                                    data-confirm="{% trans %}This user will regain access to Indico.<br>
                                    Are you sure you want to restore their access?{% endtrans %}"
                                    data-reload-after>
                                {% trans %}Unblock User{% endtrans %}
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="i-box-content">
                {# Profile picture form #}
                {{ form_header(pic_form, action=url_for('.upload_profile_picture', user), classes='pic-form') }}
                <div class="flashed-messages"></div>
                {{ form_rows(pic_form) }}
                {% call form_footer(pic_form) %}
                    <button class="ui primary button" data-disabled-until-change>
                        {% trans %}Upload{% endtrans %}
                    </button>
                    <button class="ui button negative js-remove-button danger{% if not pic_form.picture._value() %} hidden{% endif %}"
                            data-href="{{ url_for('.delete_profile_picture', user) }}" data-method="DELETE">
                        {% trans %}Delete{% endtrans %}
                    </button>
                {% endcall %}

                {# Personal details form #}
                {{ form_header(form) }}
                {{ form_rows(form) }}
                {% call form_footer(form) %}
                    <input class="ui primary button"
                           type="submit"
                           value="{% trans %}Save{% endtrans %}"
                           data-disabled-until-change>
                {% endcall %}
            </div>
        </div>
    </div>

    <script>
        $('.pic-form').on('indico:fieldsSaved', function(e, response) {
            const hidden = !response.content;
            const $this = $(this);
            $this.find('.js-remove-button').toggleClass('hidden', hidden).prop('disabled', hidden);
        }).on('click', '.js-remove-button', function(e) {
            const $this = $(this);
            const $form = $this.closest('form');
            const dropzone = $form.get(0).dropzone;
            $this.prop('disabled', true);
            e.preventDefault();
            $.ajax({
                url: $this.data('href'),
                method: $this.data('method'),
                complete: IndicoUI.Dialogs.Util.progress(),
                error: handleAjaxError,
                success: function(data) {
                    handleFlashes(data, true, $form.find('.flashed-messages'));
                    dropzone.removeAllFiles();
                    $form.trigger('indico:fieldsSaved', data);
                }
            });
        });
    </script>
{% endblock %}
