{% extends 'users/base.html' %}

{% block user_content %}
    <div class="i-box-group vert">
        <div class="i-box">
            <div class="i-box-header">
                <div class="i-box-title">
                    {%- trans %}Profile picture{% endtrans -%}
                </div>
            </div>
            <div class="i-box-content">
                <div id="profile-picture-selection"></div>
            </div>
        </div>
    </div>

    <script>
        setupPictureSelection(
            {{ (user.id if user != session.user else none) | tojson }},
            {{ user.email | tojson }},
            {{ source | tojson }}
        );
    </script>
{% endblock %}
