<div class="i-box-group vert">
    {% if acl %}
        <div class="i-box just-group-list">
            <div class="i-box-content">
                <ul class="group-list">
                    {% for user in acl | rejectattr('is_group') | sort(attribute='name') %}
                        <li class="icon-user">{{ user.name }}</li>
                    {% endfor %}
                    {% for group in acl | selectattr('is_group') | sort(attribute='name') %}
                        <li class="icon-users">{{ group.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <div class="action-box message-only for-form highlight" style="display: block;">
        <div class="section">
            <div class="text">
                <div>
                    {% trans %}Users with modification access over this resource and any parent resources will also have access{% endtrans %}.
                </div>
            </div>
        </div>
    </div>
</div>
