{% macro category_path(category, truncated_path) %}
    {% set first_node, inner_nodes, last_node, truncated = truncated_path%}
    <span class="category-path">
        <ul {% if truncated %} title="{{ ' » '.join(category.getCategoryPathTitles()[:-1]) }}"{% endif %}>
            {% if first_node is not none %}<li>{{ first_node }}</li>{% endif %}
            {% if truncated %}
                <li data-tooltip-anchor>&hellip;</li>
            {% endif %}
            {% if inner_nodes is not none %}
                {% for inner_node in inner_nodes -%}
                <li>{{ inner_node }}</li>
            {%- endfor %}
            {% endif %}
            {% if last_node is not none %}<li>{{ last_node }}</li>{% endif %}
        </ul>
    </span>
{% endmacro %}
