{% macro render_public_protection_message() -%}
    <div class="action-box message-only for-form protection-message public-protection-message accept">
        <div class="section">
            <div class="icon icon-unlocked"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Public{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        This object is publicly accessible since it is set as public.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_protected_protection_message() -%}
    <div class="action-box message-only for-form protection-message protected-protection-message danger">
        <div class="section">
            <div class="icon icon-lock"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Protected{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        This object is not publicly accessible since it is set as protected.
                        Only users specified in the access control list can access this object.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro render_inherited_protection_message(parent, parent_type) -%}
    <div class="action-box message-only for-form protection-message inheriting-protection-message {%- if parent.is_protected %} warning{% else %} accept{% endif %}">
        <div class="section">
            <div class="icon {%- if parent.is_protected %} icon-lock{% else %} icon-unlocked{% endif %}"></div>
            <div class="text">
                {% if parent.is_protected %}
                    <div class="label">
                        {% trans %}Protected{% endtrans %}
                    </div>
                    <div>
                        {% trans parent_type=parent_type, parent_title = parent.title|ensure_unicode -%}
                            This object is not publicly accessible since <strong>{{ parent_title }}</strong> ({{ parent_type }}) is protected.
                        {%- endtrans %}
                    </div>
                {% else %}
                    <div class="label">
                        {% trans %}Public{% endtrans %}
                    </div>
                    <div>
                        {% trans parent_type=parent_type, parent_title=parent.title|ensure_unicode -%}
                            This object is publicly accessible since <strong>{{ parent_title }}</strong> ({{ parent_type }}) is not protected.
                        {%- endtrans %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{%- endmacro %}
