<div class="main-breadcrumb {{ 'management' if management }}"
     itemprop="breadcrumb" itemscope itemtype="http://schema.org/Breadcrumb">
    <span class="path" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% for item in items %}
            {%- if not loop.first -%}
                <span class="sep">»</span>
            {%- endif -%}
            {%- if item.url -%}
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ item.url }}" itemprop="item" class="item">
                        <span itemprop="name">{{ item.title|truncate(40) }}</span>
                    </a>
                    {%- if item.icon -%}
                        <i class="{{ item.icon }}"></i>
                    {%- endif -%}
                    <meta itemprop="position" content="{{ loop.index }}" />
                </span>
            {%- else -%}
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <span class="item" itemprop="name">{{ item.title|truncate(40) }}</span>
                    {%- if item.icon -%}
                        <i class="{{ item.icon }}"></i>
                    {%- endif -%}
                    <meta itemprop="position" content="{{ loop.index }}" />
                </span>
            {%- endif -%}
        {% endfor %}
    </span>
</div>
