<div class="footer {{ 'dark' if dark }}">
    {% block footer -%}
        {%- set indico -%}
            <a href="https://getindico.io">Indico</a> <span class="version">{{ indico_version }}</span>
        {%- endset -%}
        <div class="flexrow f-j-space-between">
            <div class="flexrow f-a-center f-self-stretch">
                {% block footer_logo %}
                    {% set filename = 'indico_small_white.png' if dark else 'indico_small.png' %}
                    <img src="{{ url_for('assets.image', filename=filename) }}" class="footer-logo" alt="Indico">
                {% endblock %}
                <div class="f-self-no-shrink" style="margin-left: 1em;">
                    <span>{% trans %}Powered by {{ indico }}{% endtrans %}</span>
                </div>
            </div>
            <ul class="footer-links">
                <li>
                    <a href="{{ indico_config.HELP_URL }}">
                        {% trans %}Help{% endtrans %}
                    </a>
                </li>
                {% if indico_config.PUBLIC_SUPPORT_EMAIL %}
                    <li>
                        <a href="{{ url_for('core.contact') }}">
                            {% trans %}Contact{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% for item in template_hook('page-footer', as_list=true) %}
                    <li>
                        {{ item }}
                    </li>
                {% endfor %}
            </ul>
            <div class="footer-extra f-self-stretch">
                {% block footer_extra %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% include '_outdated_browser.html' %}

{{- g.get('injected_js', []) | join('\n') | safe -}}
