<div class="footer {{ 'dark' if dark }}">
    {% block footer -%}
        {%- set indico -%}
            <a href="http://indico-software.org">Indico</a>
        {%- endset -%}
        <div class="flexrow">
            <div>
                {% block footer_logo %}
                    {% set filename = 'indico_small_white.png' if dark else 'indico_small.png' %}
                    <img src="{{ url_for('assets.image', filename=filename) }}" alt="Indico">
                {% endblock %}
            </div>
            <div style="margin-left: 1em;">
                <span>{% trans %}Powered by {{ indico }}{% endtrans %}</span>
                {{ template_hook('page-footer') }}
            </div>
        </div>
    {% endblock %}
</div>

{% include '_outdated_browser.html' %}

{{- g.get('injected_js', []) | join('\n') | safe -}}
