{% from 'events/management/_create_event_button.html' import create_event_link %}
{% from 'announcement/display.html' import render_announcements %}
{% from 'core/impersonation.html' import render_impersonation %}

{{ render_impersonation(legacy=true) }}
{{ render_announcements(legacy=true) }}

<div class="page-header clearfix">
    <div class="flexrow f-j-space-between f-a-start">
        {% block logo %}
            {%- set logo_url = indico_config.LOGO_URL or (indico_config.IMAGES_BASE_URL + '/logo_indico_bw.png') -%}
            <a style="min-height: 60px;" href="{{ url_for_index() }}">
                <img class="header-logo" src="{{ logo_url }}">
            </a>
        {% endblock %}

        <div class="flexcol">
            {{ render_session_bar(protected_object=protected_object, local_tz=local_tz, force_local_tz=force_local_tz) }}
            {{ template_hook('page-header', category=category) }}
        </div>
    </div>

    <div class="global-menu toolbar">
        {% block global_menu %}
            {% for item in top_menu_items recursive %}
                {% if loop.depth0 %}
                    {# we're inside a section #}
                    <li>
                        {% if item.section == 'create-event' and item.url in ('lecture', 'meeting', 'conference') %}
                            {# special handling for event creation links #}
                            {{ create_event_link(category, item.url, item.title, id=item.name) }}
                        {% else %}
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        {% endif %}
                    </li>
                {% elif not item.is_section %}
                    <a href="{{ item.url }}">{{ item.title }}</a>
                {% elif item.items %}
                    <a class="arrow js-dropdown" href="#" data-toggle="dropdown">{{ item.title }}</a>
                    <ul class="i-dropdown">
                        {{ loop(item.items) }}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endblock %}
    </div>
</div>

<script type="text/html" id="event-type-tooltip-lecture">
    {%- trans -%}
        A <strong>lecture</strong> is a simple event to announce a talk.
    {%- endtrans -%}
    <br>
    {%- trans -%}
        <strong>Features</strong>:
        poster creation, participant management, ...
    {%- endtrans -%}
</script>
<script type="text/html" id="event-type-tooltip-meeting">
    {%- trans -%}
        A <strong>meeting</strong> is an event that defines an agenda with multiple talks.
    {%- endtrans -%}
    <br>
    {%- trans -%}
        <strong>Features</strong>:
        timetable, minutes, poster creation, participants management, ...
    {%- endtrans -%}
</script>
<script type="text/html" id="event-type-tooltip-conference">
    {%- trans -%}
        A <strong>conference</strong> is a complex event with features to manage the whole life cycle of a conference.
    {%- endtrans -%}
    <br>
    {%- trans -%}
        <strong>Features</strong>:
        call for abstracts, registration, e-payment, timetable, badges creation, paper reviewing,...
    {%- endtrans -%}
</script>

<script>
    (function() {
        'use strict';

        ['lecture', 'meeting', 'conference'].forEach(function(evt_type) {
            $('#create-' + evt_type).qtip({
                content: $('#event-type-tooltip-' + evt_type).html(),
                position: {
                    my: 'left center',
                    at: 'right center'
                }
            });
        });
    })();
</script>
