{% extends 'base.html' %}

{% block title %}{% trans %}Initial Setup{% endtrans %}{% endblock %}

{% block head %}
    {% assets 'indico_initial_setup' -%}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'initial_setup_sass' -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}

    <div class="init-setup-header">
        <img class="header-logo" src="{{ system_icon('logoIndicoWhite') }}">
        <div class="header-title">{% trans %}Hello there!{% endtrans %}</div>
        <div class="header-subtitle">{% trans %}Indico needs just a little bit more data from you...{% endtrans %}</div>
        <div id="language-selector" class="toolbar language-selector">
            <form id="language-form" method="POST" action="{{ url_for('misc.changeLang') }}">
                <input id="language-hidden" type="hidden" name="lang">
            </form>
            <a class="i-button transparent-button icon-earth arrow" data-toggle="dropdown">{{ selectedLanguageName }}</a>
            <ul class="dropdown">
                {% for code, lang in language_options -%}
                    <li id="{{ code }}"><a>{{ lang }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="init-setup-body">

        <form id="initial-setup-form" class="init-setup-form" action="" method="POST">

            <div class="step-wrapper" id="step1">

                <div class="step-icon">
                    <i class="icon-user"></i>
                </div>

                <div class="center step-container">

                    <h1 class="step-title">{% trans %}Administrator Account{% endtrans %}</h1>

                    <div class="step-description">
                        <div>{% trans %}Insert here all basic information needed to create your account.{% endtrans %}</div>
                        <div class="additional-information">{% trans %}You can change any extra parameters (like your address or phone number) afterwards by accessing "Account Details" (from "My Profile").{% endtrans %}</div>
                    </div>

                    <div class="fields-container">

                        <div>
                            <input id="name" type="text" name="name" data-error-tooltip="{% trans %}You must enter a name{% endtrans %}" value="{{ name_value }}" placeholder="{% trans %}First name{% endtrans %}" required>
                        </div>

                        <div>
                            <input id="surname" type="text" name="surname" data-error-tooltip="{% trans %}You must enter a surname{% endtrans %}" value="{{ surname_value }}" placeholder="{% trans %}Family name{% endtrans %}" required>
                        </div>

                        <div>
                            <input id="user-email" type="email" name="user_email" data-error-tooltip="{% trans %}You must enter your user e-mail address{% endtrans %}" data-error-tooltip2="{% trans %}You must enter a valid e-mail address{% endtrans %}" value="{{ user_email_value }}" placeholder="{% trans %}Email{% endtrans %}" required>
                        </div>

                        <div>
                            <input id="login" type="text" name="login" data-error-tooltip="{% trans %}You must enter a login{% endtrans %}" value="{{ login_value }}" placeholder="{% trans %}Login{% endtrans %}" required>
                        </div>

                        <div>
                            <input id="password" type="password" name="password" data-error-tooltip="{% trans %}You must define a password{% endtrans %}" value="" placeholder="{% trans %}Password{% endtrans %}" required>
                        </div>

                        <div>
                            <input id="password-confirm" type="password" name="password_confirm" data-error-tooltip="{% trans %}You must enter the same password twice{% endtrans %}" value="" placeholder="{% trans %}Confirm password{% endtrans %}" required>
                        </div>

                    </div>

                </div>

            </div>

            <div class="step-wrapper" id="step2">

                <div class="step-icon">
                    <i class="icon-earth"></i>
                </div>

                <div class="center step-container">

                    <h1 class="step-title">{% trans %}Site configuration{% endtrans %}</h1>

                    <div class="step-description">
                        <div>{% trans %}These are the default parameters for your Indico site.{% endtrans %}</div>
                        <div class="additional-information">{% trans %}Please note that this information will also be used for your own user profile. You can change it later.{% endtrans %}</div>
                    </div>

                    <div class="fields-container">

                        <div>
                            <label for="lang">{% trans %}Language{% endtrans %}</label>
                            <select id="lang" name="language" class="input-lang">
                                {% for code, lang in language_options -%}
                                    {% if selectedLanguage == code %}
                                        <option value="{{ code }}" selected>{{ lang }}</option>
                                    {% else %}
                                        <option value="{{ code }}">{{ lang }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label for="timezone">{% trans %}Timezone{% endtrans %}</label>
                            <select id="timezone" name="timezone" class="input-timezone">{{ timezone_options | safe }}</select>
                        </div>

                        <div>
                            <input id="organisation" type="text" name="organisation" data-error-tooltip="{% trans %}You must enter the name of your organization{% endtrans %}" value="{{ organisation_value }}" placeholder="{% trans %}Organization{% endtrans %}" required>
                        </div>

                    </div>

                </div>

            </div>

            <div class="step-wrapper" id="step3">

                <div class="step-icon">
                    <i class="icon-mail"></i>
                </div>

                <div class="center step-container">

                    <h1 class="step-title">{% trans %}Let us know you exist!{% endtrans %}</h1>

                    <div class="step-description">
                            <div>{% trans %}Be part of the ever growing Indico community! Choose to receive updated news on latest releases (2-3 times per year) as well as important security warnings.{% endtrans %}</div>
                            <div>
                                {% trans %}The following data will be sent back to us:{% endtrans %}
                                <ul>
                                    <li>{% trans %}Server URL{% endtrans %}</li>
                                    <li>{% trans %}Contact person{% endtrans %}</li>
                                    <li>{% trans %}Name of the organisation{% endtrans %}</li>
                                </ul>
                            </div>
                            <div>{% trans %}Please note that <strong>no private information</strong> will ever be sent to the Indico Project and that you can disable it anytime (from "Server Admin", "General Settings").{% endtrans %}</div>
                    </div>

                    <div class="fields-container">

                        <div class="enable-line">
                            <label>{% trans %}Count me in!{% endtrans %}</label>
                            <input id="enable" type="checkbox" name="enable" value="1" {{ checked }}>
                            <div class="toggle-button">
                                <div class="toggle"></div>
                            </div>
                        </div>

                        <div>
                            <input id="it-email" class="input-it-email" type="email" name="it_email" data-error-tooltip="{% trans %}You must enter an e-mail for Instance Tracking{% endtrans %}" data-error-tooltip2="{% trans %}You must enter a valid e-mail for Instance Tracking{% endtrans %}" value="{{ it_email_value }}" placeholder="{% trans %}Contact email{% endtrans %}" disabled>
                        </div>

                    </div>

                </div>
                <div class="center">
                    <a id="submit-initial-setup" class="i-button blue-button big-button">
                        {% trans %}Finish{% endtrans %}
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
