{% macro render_pagination(pagination, single_page=false) %}
    {% if single_page or pagination.pages > 1 %}
        <div class="pagination">
            {% if single_page %}
                <span class="page-number">
                    <a href="{{ caller('1')|trim }}" class="i-button">
                        {% trans %}Paginate results{% endtrans %}
                    </a>
                </span>
            {% elif pagination.pages > 1 %}
                {%- for page in pagination.iter_pages() %}
                    {% if page %}
                        <span class="page-number">
                            {% if page != pagination.page %}
                                <a href="{{ caller(page)|trim }}" class="i-button js-pagination-element">{{ page }}</a>
                            {% else %}
                                <a href="#" class="i-button highlight">{{ page }}</a>
                            {% endif %}
                        </span>
                    {% else %}
                        <span>…</span>
                    {% endif %}
                {%- endfor %}
                <span class="page-number">
                    <a href="{{ caller('all')|trim }}" class="i-button">
                        {% trans %}Show all{% endtrans %}
                    </a>
                </span>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
