{% macro _side_menu_item(item, classes='', icon='') %}
    {% if item.visible %}
        {% if item.disabled %}
            {% set classes = classes + 'disabled' %}
        {% else %}
            {% if item.active %}
                {% set classes = classes + ' active' %}
            {% endif %}
        {% endif %}
        <li class="item {{ classes }}">
            {%- if item.disabled %}
                <span class="title">{{ item.title }}</span>
            {%- else -%}
                <a class="title {{ icon if icon }}" href="{{ item.url }}">{{ item.title }}</a>
            {%- endif -%}
        </li>
    {% endif %}
{% endmacro %}

{% macro _side_menu_section(section) %}
    {% if section.items and section.visible %}
        <li class="section {{ 'collapsed' if not section.active }}">
            <div class="title-wrapper">
                <span class="title {{ section.icon }}">{{ section.title }}</span>
            </div>
            <ul>
                {% for item in section.items %}
                    {{ _side_menu_item(item) }}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endmacro %}

<div class="side-menu {{ 'old-style-menu' if old_style }}">
    {% if old_style %}
        <div class="corner"></div>
    {% endif %}
    <ul class="menu-items">
        {% for item in items %}
            {% if item.items %}
                {{ _side_menu_section(item) }}
            {% else %}
                {{ _side_menu_item(item, icon=item.icon) }}
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    $('.section .title-wrapper').on('click', function() {
        $(this)
        .next('ul').slideToggle(300)
        .parent().toggleClass('collapsed');
    });
</script>
