{% macro switch(value='1', id=none, name=none, on_label=none, off_label=none) -%}
    {%- set on_label = _('Yes') if on_label is none else on_label -%}
    {%- set off_label = _('No') if off_label is none else off_label -%}

    <label class="switch">
        <input type="checkbox" class="switch-input" value="{{ value }}" {{ kwargs | html_params }}
               {%- if id %} id="{{ id }}"{% endif -%}
               {%- if name %} name="{{ name }}"{% endif -%}>
        <span class="switch-label" data-on="{{ on_label }}" data-off="{{ off_label }}"></span>
        <span class="switch-handle"></span>
    </label>
{%- endmacro %}
