{% macro _render_tracks(tracks) %}
    {% for track in tracks %}
        <span class="abstract-track">{{ track.title }}</span>
        {%- if not loop.last -%},{% endif %}
    {% endfor %}
{% endmacro %}

{% macro _render_edited_hint(dt, user) %}
    <span class="abstract-comment-edited" title="On {{ dt|format_human_date }} by {{ user.name }}">
        · {% trans %}edited{% endtrans %}
    </span>
{% endmacro %}

{% macro _render_abstract_summary(abstract, management=false) %}
    <div class="abstract-summary">
        <div class="abstract-summary-state {{ abstract.public_state.name }}">
            {{ abstract.public_state.title }}
        </div>
        <div class="abstract-summary-content">
            {% if abstract.state.name in ('submitted', 'withdrawn', 'rejected') %}
                <div>
                    {% if abstract.submitted_contrib_type %}
                        {% trans name=abstract.submitter.name, type=abstract.submitted_contrib_type.name|lower -%}
                            <strong>{{ name }}</strong> submitted this <span class="abstract-contribution-type">{{ type }}</span>
                        {%- endtrans %}
                    {% else %}
                        {% trans name=abstract.submitter.name -%}
                            <strong>{{ name }}</strong> submitted this abstract
                        {%- endtrans %}
                    {% endif %}
                </div>
                {% if abstract.submitted_for_tracks %}
                    <div>
                        {% trans count=abstract.submitted_for_tracks|length -%}
                            For track:
                        {%- pluralize -%}
                            For tracks:
                        {%- endtrans %}
                        {{ _render_tracks(abstract.submitted_for_tracks) }}
                    </div>
                {% endif %}
            {% elif abstract.state.name == 'accepted' %}
                <div>
                    {% if abstract.accepted_contrib_type and abstract.accepted_track %}
                        {% trans name=abstract.submitter.name,
                            type=abstract.accepted_contrib_type.name,
                            track=abstract.accepted_track.title -%}
                            <strong>{{ name }}</strong> submitted this abstract and it was finally accepted
                            for track <span class="abstract-track">{{ track }}</span>
                            as <span class="abstract-contribution-type">{{ type }}</span>.
                        {% endtrans %}
                    {% elif abstract.accepted_contrib_type %}
                        {% trans name=abstract.submitter.name,
                            type=abstract.accepted_contrib_type.name -%}
                            <strong>{{ name }}</strong> submitted this abstract and it was finally accepted
                            as <span class="abstract-contribution-type">{{ type }}</span>.
                        {% endtrans %}
                    {% elif abstract.accepted_track %}
                        {% trans name=abstract.submitter.name,
                            track=abstract.accepted_track.title -%}
                            <strong>{{ name }}</strong> submitted this abstract and it was finally accepted
                            for track <span class="abstract-track">{{ track }}</span>.
                        {% endtrans %}
                    {% else %}
                        {% trans name=abstract.submitter.name -%}
                            <strong>{{ name }}</strong> submitted this abstract and it was finally accepted.
                        {%- endtrans %}
                    {% endif %}
                </div>
                <div>
                    {# TODO: link to contribution #}
                    {% trans url='#' %}
                        <a href="{{ url }}">Go to contribution</a>
                    {% endtrans %}
                </div>
            {% elif abstract.state.name == 'merged' %}
                <div>
                    {% trans name=abstract.submitter.name -%}
                        <strong>{{ name }}</strong> submitted this abstract but it was merged into another.
                    {%- endtrans %}
                </div>
                {% if abstract.merged_into.can_access(session.user) %}
                    <div>
                        {% set endpoint = '.manage_abstract' if management else '.display_abstract' %}
                        {% trans url=url_for(endpoint, abstract.merged_into) %}
                            <a href="{{ url }}">Go to abstract</a>
                        {% endtrans %}
                    </div>
                {% endif %}
            {% elif abstract.state.name == 'duplicate' %}
                {% trans name=abstract.submitter.name -%}
                    <strong>{{ name }}</strong> submitted this abstract but it was marked as duplicate of another.
                {%- endtrans %}
                {% if abstract.duplicate_of.can_access(session.user) %}
                    <div>
                        {% set endpoint = '.manage_abstract' if management else '.display_abstract' %}
                        {% trans url=url_for(endpoint, abstract.duplicate_of) %}
                            <a href="{{ url }}">Go to abstract</a>
                        {% endtrans %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro render_abstract_public(abstract, management=false) %}
    <div id="abstract-title">
        <h3 class="abstract-title">
            {{ abstract.title }}
            <span class="abstract-id">
                #{{ abstract.friendly_id }}
            </span>
        </h3>
        <div class="toolbar thin">
            {% if management == false and abstract.event_new.can_manage(session.user) %}
                <div class="group">
                    <a href="{{ url_for('.manage_abstract', abstract) }}" class="i-button highlight icon-switchon">
                        {% trans %}Management view{% endtrans %}
                    </a>
                </div>
            {% endif %}
            {% if management == true %}
                <div class="group">
                    {# TODO: scroll to decission buttons #}
                    <a href="#" class="i-button highlight icon-hammer">
                        {% trans %}Judge{% endtrans %}
                    </a>
                </div>
            {% endif %}
            {% if abstract.submitter == session.user or abstract.event_new.can_manage(session.user) %}
                <div class="group">
                    {% if abstract.state.name not in ('submitted', 'withdrawn') %}
                        <a class="i-button icon-edit disabled"
                            title="{% trans %}The abstract cannot be edited because it has been processed already{% endtrans %}"></a>
                    {% elif abstract.state.name == 'withdrawn' and not abstract.event_new.can_access(session.user) %}
                        <a class="i-button icon-edit disabled"
                            title="{% trans %}The abstract cannot be edited because it was withdrawn{% endtrans %}"></a>
                    {% elif abstract.public_state.name == 'under_review' and not abstract.event_new.can_access(session.user) %}
                        <a class="i-button icon-edit disabled"
                            title="{% trans %}The abstract cannot be edited because it is under review already {% endtrans %}"></a>
                    {% else %}
                        {# TODO: open abstract edition form #}
                        <a href="#" class="i-button icon-edit" title="{% trans %}Edit abstract{% endtrans %}"></a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="group">
                <a class="i-button icon-file-download"
                    title="{% trans %}Download abstract submission in PDF{% endtrans %}"></a>
            </div>
        </div>
    </div>

    <div id="abstract-public">
        {{ _render_abstract_summary(abstract, management) }}
        <div class="abstract-content">
            <div class="abstract-authorship-block">
                <div class="abstract-authorship-label">
                    {% trans count=abstract.primary_authors|length -%}
                        Author:
                    {%- pluralize -%}
                        Authors:
                    {%- endtrans %}
                </div>
                <div class="abstract-authorship-list">
                    {{ abstract.primary_authors|map(attribute='name')|join(', ') }}
                </div>
            </div>
            {% if abstract.secondary_authors %}
                <div class="abstract-authorship-label">
                    {% trans count=abstract.secondary_authors|length -%}
                        Co-author:
                    {%- pluralize -%}
                        Co-authors:
                    {%- endtrans %}
                </div>
                <div class="abstract-authorship-list">
                    {{ abstract.secondary_authors|map(attribute='name')|join(', ') }}
                </div>
            {% endif %}
            {{ abstract.description }}
        </div>

        <div class="abstract-comments">
            <div class="abstract-comment">
                <div class="abstract-comment-pic"></div>
                <div class="abstract-comment-box">
                    <div class="i-box-header">
                        {% trans name=abstract.submitter.name, date=abstract.submitted_dt|format_human_date -%}
                            <strong>{{ name }}</strong> submitted this abstract on {{ date }}
                        {%- endtrans %}
                        {% if abstract.modified_dt %}
                            {{ _render_edited_hint(abstract.modified_dt, abstract.modified_by) }}
                        {% endif %}
                    </div>
                    <div class="i-box-content">
                        {% if abstract.submitted_contrib_type %}
                            <div>
                                {% trans type=abstract.submitted_contrib_type.name -%}
                                    Contribution type: {{ type }}
                                {%- endtrans %}
                            </div>
                        {% endif %}
                        {% if abstract.submitted_for_tracks %}
                            <div>
                                {% trans count=abstract.submitted_for_tracks|length -%}
                                    Track:
                                {%- pluralize -%}
                                    Tracks:
                                {%- endtrans -%}
                                {{ _render_tracks(abstract.submitted_for_tracks) }}
                            </div>
                        {% endif %}
                        {% if abstract.primary_authors %}
                            <div>
                                {% trans count=abstract.primary_authors|length, names=abstract.primary_authors|map(attribute='name')|join(', ') -%}
                                    Author: {{ names }}
                                {%- pluralize -%}
                                    Authors: {{ names }}
                                {%- endtrans %}
                            </div>
                        {% endif %}
                        {% if abstract.secondary_authors %}
                            <div>
                                {% trans count=abstract.secondary_authors|length, names=abstract.secondary_authors|map(attribute='name')|join(', ') -%}
                                    Co-author: {{ names }}
                                {%- pluralize -%}
                                    Co-authors: {{ names }}
                                {%- endtrans %}
                            </div>
                        {% endif %}
                        {% if abstract.speakers %}
                            <div>
                                {% trans count=abstract.speakers|length, names=abstract.speakers|map(attribute='name')|join(', ') -%}
                                    Speaker: {{ names }}
                                {%- pluralize -%}
                                    Speakers: {{ names }}
                                {%- endtrans %}
                            </div>
                        {% endif %}
                        {# TODO custom fields #}
                        {# TODO comment #}
                        {# TODO attachment #}
                    </div>
                </div>
            </div>

            {% if abstract.state.name != 'submitted' %}
                <div class="abstract-comment">
                    <div class="abstract-comment-pic"></div>
                    <div class="abstract-comment-box">
                        <div class="i-box-header">
                            {% trans name=abstract.judge.name, action=abstract.state.title|lower, date=abstract.judgment_dt|format_human_date -%}
                                <strong>{{ name }}</strong> {{ action }} this abstract on {{ date }}.
                            {%- endtrans %}
                        </div>
                        <div class="i-box-content">
                            {% if abstract.state.name == 'accepted' %}
                                {% if abstract.accepted_contrib_type and abstract.accepted_track %}
                                    {% trans type=abstract.accepted_contrib_type.name, track=abstract.accepted_track.title, url='#' -%}
                                        The abstract was accepted
                                        as <span class="abstract-contribution-type">{{ type }}</span>
                                        for track <span class="abstract-track">{{ track }}</span>
                                        and a <a href="{{ url }}">contribution</a> was created in the event.
                                    {%- endtrans %}
                                {% elif abstract.accepted_contrib_type %}
                                    {% trans type=abstract.accepted_contrib_type.name, url='#' -%}
                                        The abstract was accepted
                                        as <span class="abstract-contribution-type">{{ type }}</span>
                                        and a <a href="{{ url }}">contribution</a> was created in the event.
                                    {%- endtrans %}
                                {% elif abstract.accepted_track %}
                                    {% trans track=abstract.accepted_track.title, url='#' -%}
                                        The abstract was accepted
                                        for track <span class="abstract-track">{{ track }}</span>
                                        and a <a href="{{ url }}">contribution</a> was created in the event.
                                    {%- endtrans %}
                                {% else %}
                                    {% trans url='#' -%}
                                        The abstract was accepted and a <a href="{{ url }}">contribution</a> was created in the event.
                                    {%- endtrans %}
                                {% endif %}
                            {% elif abstract.state.name == 'rejected' %}
                                {% trans %}The abstract was rejected.{% endtrans %}
                            {% elif abstract.state.name == 'merged' %}
                                {% trans url=url_for(abstract.merged_into), other=abstract.merged_into.title -%}
                                    The abstract was merged into <a href="{{ url }}">{{ other }}</a>.
                                {%- endtrans %}
                            {% elif abstract.state.name == 'duplicate'%}
                                {% trans url=url_for(abstract.duplicate_of), other=abstract.duplicate_of.title -%}
                                    The abstract was marked as a duplicate of <a href="{{ url }}">{{ other }}</a>
                                {%- endtrans %}
                            {% endif %}
                            {% if abstract.judgment_comment %}
                                <div class="titled-rule">
                                    {% trans %}Comment{% endtrans %}
                                </div>
                                {{ abstract.judgment_comment }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_abstract_comments(abstract) %}
    {% if abstract.comments %}
        <div class="abstract-comments">
            {% for comment in abstract.comments %}
                <div class="abstract-comments">
                    <div class="abstract-comment">
                        <div class="abstract-comment-pic"></div>
                        <div class="abstract-comment-box">
                            <div class="i-box-header">
                                {% trans name=comment.user.name, date=comment.created_dt|format_human_date -%}
                                    <strong>{{ name }}</strong> commented on {{ date }}
                                {%- endtrans %}
                                {% if comment.modified_dt %}
                                    {{ _render_edited_hint(comment.modified_dt, comment.modified_by) }}
                                {% endif %}
                                {% if comment.can_edit(user) %}
                                    <a class="i-button-icon icon-edit right" title="{% trans %}Edit comment{% endtrans %}"></a>
                                {% endif %}
                            </div>
                            <div class="i-box-content">
                                {{ comment.text }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
