{% extends 'events/abstracts/management/_base.html' %}

{% from 'events/abstracts/abstract/public.html' import render_abstract_public %}
{% from 'events/abstracts/abstract/judge.html' import render_decision_box, render_reviewed_for_tracks_box %}
{% from 'events/abstracts/abstract/timeline.html' import render_timeline %}

{% block content %}
    {{ render_abstract_public(abstract, management=management) }}
    <div id="abstract-private" class="i-timeline">
        {{ render_timeline(abstract, comment_form) }}

        {% set can_review = abstract.can_review(session.user, check_state=true) %}
        {% set can_judge = abstract.can_judge(session.user, check_state=true) %}

        {% if can_review or can_judge %}
            <div class="i-timeline">
                {# XXX: We need to nest the connector into another .i-timeline to keep the same nesting #}
                <div class="i-timeline-connect-down to-separator"></div>
            </div>
            <div class="i-timeline-separator"></div>
        {% endif %}

        {% if can_judge %}
            {% if abstract.event_new.tracks %}
                {{ render_reviewed_for_tracks_box(abstract, review_track_list_form, management=management) }}
            {% endif %}
            <div id="abstract-decision-box" class="i-timeline-item">
                {{ render_decision_box(abstract, judgment_form, management=management) }}
            </div>
        {% endif %}
    </div>

    {% if not no_javascript %}
        <script>
            setupAbstractPage();
        </script>
    {% endif %}
{% endblock %}
