<table class="i-table tablesorter">
    <thead>
        <tr class="i-table">
            <th class="i-table id-column">
                {% trans %}ID{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Title{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Time{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Duration{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Presenters{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Type{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Subcontributions{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Session{% endtrans %}
            </th>
            <th class="i-table">
                {% trans %}Track{% endtrans %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for contrib in contributions %}
            <tr id="contrib-{{ contrib.id }}" class="i-table contribution-row"
                data-friendly-id="{{ contrib.friendly_id }}"
                data-title="{{ contrib.title }}">
                <td class="i-table id-column">
                    <span class="vertical-aligner">{{ contrib.friendly_id }}</span>
                </td>
                <td class="i-table" data-searchable="{{ contrib.title | lower }}">
                    <span class="vertical-aligner">
                        <strong>
                            <a href="{{ url_for('contributions.display_contribution', contrib) }}">
                                {{ contrib.title }}
                            </a>
                        </strong>
                    </span>
                </td>
                <td class="i-table start-date">
                    <span class="vertical-aligner">
                        {% if contrib.is_scheduled %}
                            {% if not contrib.session_block %}
                                <a href="#" class="icon-calendar js-contrib-start-date"
                                   data-href="{{ url_for('.manage_start_date', contrib) }}">
                                </a>
                            {% else %}
                                <i class="icon-calendar text-superfluous"
                                   title="{% trans %}This contribution is scheduled within a session block and time can't be modified.{% endtrans %}"></i>
                            {% endif %}
                            <span class="label">
                                {{ contrib.start_dt|format_datetime('short', timezone=event.timezone) }}
                            </span>
                        {%- else -%}
                            <em>
                                {% trans %}Not scheduled{% endtrans %}
                            </em>
                        {%- endif %}
                    </span>
                </td>
                <td class="i-table">
                    <span class="vertical-aligner">
                        <span class="label">{{ contrib.duration|format_human_timedelta }}</span>
                    </span>
                </td>
                <td class="i-table person-row-cell" data-searchable="{{ contrib.speaker_names | join(', ') | lower }}">
                    <span class="vertical-aligner">
                        {% for speaker in contrib.speakers | sort(attribute='full_name') -%}
                            <div class="person-row icon-user">{{ speaker.full_name }}</div>
                        {%- endfor %}
                    </span>
                </td>
                <td class="i-table" data-text="{{ contrib.type.name if contrib.type else '' }}">
                    <span class="vertical-aligner">
                        {% if contrib.type -%}
                            {{ contrib.type.name }}
                        {%- else %}
                            {% trans %}n/a{% endtrans %}
                        {%- endif %}
                    </span>
                </td>
                <td class="i-table">
                    <span class="label">
                        {%- trans %}Subcontributions{% endtrans -%}
                    </span>
                    <span class="badge">
                        {{- contrib.subcontribution_count -}}
                    </span>
                </td>
                <td class="i-table">
                    <span class="label">
                        {% if contrib.session %}
                            {{ contrib.session.title }}
                        {% else %}
                            {%- trans %}No session{% endtrans -%}
                        {% endif %}
                    </span>
                </td>
                <td class="i-table">
                    <span class="label">
                        {% if contrib.track %}
                            {{ contrib.track.getTitle() }}
                        {% else %}
                            {% trans %}No track{% endtrans %}
                        {% endif %}
                    </span>
                </td>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
