<div class="announcement-bar weak-hidden" id="announcement-bar">
    <div class="f-self-stretch">{{ message | safe }}</div>
    <span class="icon-close icon-announcement js-close"></span>
</div>
<script>
    (function() {
        'use strict';

        var hash = {{ message | crc32 | string | tojson }};

        $('#announcement-bar .js-close').on('click', function() {
            $.jStorage.set('hideAnnouncement', hash);
            $('#announcement-bar').slideUp('fast');
        });

        if ($.jStorage.get('hideAnnouncement') != hash){
            $("#announcement-bar").show();
        }
    })();
</script>
