{% extends 'layout/admin_page.html' %}
{% from 'forms/_form.html' import form_header, form_rows, form_footer  %}

{% block title %}
    {% if group %}
        {% trans %}Edit Group{% endtrans %}
    {% else %}
        {% trans %}Create Group{% endtrans %}
    {% endif %}
{% endblock %}

{% block subtitle %}
    {% if group %}{{ group.name }}{% endif %}
{% endblock %}

{%- block content %}
    {{ form_header(form) }}
    {{ form_rows(form) }}
    {% call form_footer(form) %}
        <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}">
    {% endcall %}
{%- endblock %}
