{% extends 'events/abstracts/management/cfa_actions/_base.html' %}

{% block label %}
    {% trans -%}
        The call for abstracts is closed
    {%- endtrans %}
{% endblock %}

{% block text %}
    {% set tz = event.timezone %}
    {% trans date=cfa.end_dt|format_date(timezone=tz), time=cfa.end_dt|format_time(timezone=tz) -%}
        Closed on <strong>{{ date }}</strong> at <strong>{{ time }}</strong> ({{ tz }})
    {%- endtrans %}
    {% if not cfa.modification_ended %}
        <br>
        {% trans date=cfa.modification_end_dt|format_date(timezone=tz), time=cfa.modification_end_dt|format_time(timezone=tz) -%}
            Modifications possible until <strong>{{ date }}</strong> at <strong>{{ time }}</strong>
        {%- endtrans %}
    {% endif %}
{% endblock %}

{% block buttons %}
    {{ super() }}
    <div class="group">
        <a href="#" class="i-button"
           data-href="{{ url_for('.open_abstracts_call', event) }}"
           data-method="POST"
           data-confirm="{% trans %}The call for abstracts is already finished. Do you want to open it again?{% endtrans %}">
            {%- trans %}Reopen now{% endtrans -%}
        </a>
    </div>
{% endblock %}
