{% extends 'events/abstracts/management/cfa_actions/_base.html' %}

{% block label %}
    {% trans -%}
        The call for abstracts is not open yet
    {%- endtrans %}
{% endblock %}

{% block text %}
    {% if not cfa.start_dt %}
        {% trans %}Start now or schedule opening.{% endtrans %}
    {% else %}
        {% set tz = event.timezone %}
        {% trans date=cfa.start_dt|format_date(timezone=tz), time=cfa.start_dt|format_time(timezone=tz) -%}
            Scheduled to open on <strong>{{ date }}</strong> at <strong>{{ time }}</strong> ({{ tz }}).
        {%- endtrans %}
    {% endif %}
{% endblock %}

{% block buttons %}
    {{ super() }}
    <div class="group">
        <a href="#" class="i-button highlight"
           data-href="{{ url_for('.open_abstracts_call', event) }}"
           data-method="POST">
            {%- trans %}Start now{% endtrans -%}
        </a>
    </div>
{% endblock %}
