{% macro render_vc_room(event_vc_room, event) -%}
    {% set vc_room = event_vc_room.vc_room %}
    {% set plugin = vc_room.plugin %}
    <div class="event-service-row">
        <div class="event-service-row-collapsed clearfix">
            <div class="event-service-info event-service-row-toggle trigger left">
                <img src="{{ plugin.icon_url }}" style="height: 16px;" alt="">
                <span class="event-service-title">{{ vc_room.name }}</span>
            </div>
            {{ plugin.render_event_buttons(vc_room, event_vc_room) | safe }}
        </div>
        <div class="event-service-details">
            {{ plugin.render_info_box(vc_room, event_vc_room, event) | safe }}
        </div>
        <a class="trigger icon-expand" title="{% trans %}More info{% endtrans %}"></a>
    </div>
{%- endmacro %}

{% macro render_vc_rooms_list(event, event_vc_rooms, linked_to=None) -%}
    <div>
        {% if linked_to %}
            {% if linked_to.event %}
                <div class="groupTitleNoBorder event-service-association-title">
                    {{ event.title }}<span class="event-service-association-subtitle">{% trans %}Event{% endtrans %}</span>
                </div>
                {% for event_vc_room in linked_to.event[event]|sort(attribute='vc_room.name') %}
                    {{ render_vc_room(event_vc_room, event) }}
                {% endfor %}
            {% endif %}
            {% if linked_to.contribution %}
                {% for contrib, event_vc_rooms in linked_to.contribution.items()|sort(attribute='0.title') %}
                    <div class="groupTitleNoBorder event-service-association-title">
                        {{ contrib.title }}<span class="event-service-association-subtitle">{% trans %}Contribution{% endtrans %}</span>
                    </div>
                    {% for event_vc_room in event_vc_rooms|sort(attribute='vc_room.name') %}
                        {{ render_vc_room(event_vc_room, event) }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if linked_to.block %}
                {% for block, event_vc_rooms in linked_to.block.items()|sort(attribute='0.full_title') %}
                    <div class="groupTitleNoBorder event-service-association-title">
                        {{ block.full_title }}<span class="event-service-association-subtitle">{% trans %}Session{% endtrans %}</span>
                    </div>
                    {% for event_vc_room in event_vc_rooms|sort(attribute='vc_room.name') %}
                        {{ render_vc_room(event_vc_room, event) }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% for event_vc_room in event_vc_rooms %}
                {{ render_vc_room(event_vc_room, event) }}
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}
