{% extends 'layout/base.html' %}

{% block title %}{% trans %}Video services{% endtrans %}{% endblock %}

{%- block content %}
    {%- if plugins %}
        <p>{% trans %}The following video services are available. Click on one to create a new room:{% endtrans %}</p>
        <div class="i-badges-list-left i-badges-list-hover">
            {%- for plugin in plugins %}
                <a class="js-plugin-details i-badge i-badge-gray" href="{{ url_for(vc_room_action, event, service=plugin.service_name) }}">
                    <div class="i-badge-content">
                        <span class="i-badge-img">
                            <img src="{{ plugin.logo_url }}">
                        </span>
                        <span class="i-badge-title">{{ plugin.title }}</span>
                    </div>
                </a>
            {%- endfor %}
        </div>
    {%- endif %}
{%- endblock %}
