{% extends 'forms/base_widget.html' %}

{% macro render_section(id, title=none, placeholder=none) %}
    {% if title is not none %}
        <div id="{{ id }}-list-title-{{ field.id }}" class="titled-rule">
            {{ title }}
        </div>
    {% endif %}
    {% if placeholder is not none %}
        <div id="no-{{ id }}-placeholder-{{ field.id }}" class="nobody-placeholder">
            {{ placeholder }}
        </div>
    {% endif %}
    <div id="{{ id }}-list-{{ field.id }}" class="person-list"></div>
{% endmacro %}

{% block html %}
    {% set list_in_custom_order = field._value()|selectattr('displayOrder')|list|length > 0 %}
    {% set use_custom_order = list_in_custom_order if field._value() else not field.default_sort_alpha %}
    <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ field._value()|tojson|forceescape }}">
    <div id="people-list-{{ field.id }}" class="person-link-list {% if field.allow_authors %}no-border-top{% endif %}" data-tooltip-anchor>
        {% block sections %}{% endblock %}
        <div class="i-box-footer">
            <span class="alpha-order-switch i-button label icon-only icon-sort-alpha-asc {% if not use_custom_order %}active{% endif %}">
            </span>
            <div class="right">
                <span id="add-existing-{{ field.id }}" class="i-button highlight text-color"
                      title="{% trans %}Search among Indico users{% endtrans %}">
                    {% trans %}Search{% endtrans %}
                </span>
                <span id="add-new-{{ field.id }}" class="i-button"
                      title="{% trans %}Enter person information manually{% endtrans %}">
                    {% trans %}Enter manually{% endtrans %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        setupPersonLinkWidget({
            fieldId: {{ field.id | tojson }},
            eventId: {{ (field.event.id if field.event else none) | tojson }},
            authorTypes: {{ (field.author_types or none) | tojson }},
            showEmptyCoauthors: {{ field.show_empty_coauthors | default(true) | tojson }},
            allow: {
                authors: {{ field.allow_authors | default(false) | tojson }},
                submitters: {{ field.allow_submitters | default(false) | tojson }},
                emptyEmail: {{ allow_empty_email | default(false) | tojson }},
                externalUsers: {{ field.allow_external | default(true) | tojson }},
                speakers: {{ field.allow_speakers | default(true) | tojson }},
            },
            defaults: {
                authorType: {{ (field.default_author_type.value if field.default_author_type else 0) | tojson }},
                isSpeaker: {{ field.default_is_speaker | default(false) |tojson }},
                isSubmitter: {{ field.default_is_submitter | default(false) |tojson }}
            },
            require: {
                primaryAuthor: {{ field.require_primary_author | default(false) | tojson }},
                secondaryAuthor: {{ field.require_secondary_author | default(false) | tojson }},
                submitter: {{ field.require_submitter_author | default(false) | tojson }},
                speaker: {{ field.require_speaker_author | default(false) | tojson }}
            }
        });
    </script>
{% endblock %}
