{% extends 'forms/base_widget.html' %}
{% from 'forms/_form.html' import form_field %}

{% block html %}
    <div class="datetime-widget">
        <input type="text" name="{{ field.name }}" id="{{ field.id }}-date" class="datepicker" readonly>
        <input type="time" name="{{ field.name }}" id="{{ field.id }}-time" class="timepicker"
               {% if field.data %}value="{{ field.data | format_time('short') }}"{% endif %}
               {% if field.earliest_dt %}min="{{ field.earliest_dt | format_time('short') }}"{% endif %}
               {% if field.latest_dt %}max="{{ field.latest_dt | format_time('short') }}"{% endif %}>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        (function() {
            'use strict';

            var dateField = $('#{{ field.id }}-date')
            dateField.datepicker();

            {% if field.data %}
                var date = {{ field.data | format_date('short') | tojson }};
                dateField.datepicker('setDate', date);
            {% endif %}

            {% if field.earliest_dt %}
                var minDate = {{ field.earliest_dt | format_date('short') | tojson }};
                dateField.datepicker('option', 'minDate', minDate);
            {% endif %}

            {% if field.latest_dt %}
                var maxDate = {{ field.latest_dt | format_date('short') | tojson }};
                dateField.datepicker('option', 'maxDate', maxDate);
            {% endif %}

            {% if field.flags.linked_datetime %}
                var linkedDateField = $('#{{ field.linked_field }}-date');

                function updateLimits(new_date) {
                    {% if field.linked_datetime_validator.not_before %}
                        dateField.datepicker('option', 'minDate', new_date);
                    {% endif %}
                    {% if field.linked_datetime_validator.not_after %}
                        dateField.datepicker('option', 'maxDate', new_date);
                    {% endif %}
                }

                updateLimits(linkedDateField.datepicker('getDate'));
                linkedDateField.datepicker('option', 'onSelect', updateLimits);
            {% endif %}
        })();
    </script>
{% endblock %}
