{% macro _render_errors(errors) -%}
    <ul>
        {%- for error in errors -%}
            <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
{%- endmacro %}

{% macro form_header(method='post', action='', orientation='horizontal', id=none) -%}
    <form method="{{ method }}" action="{{ action }}" class="i-form {{ orientation }}"{% if id %} id="{{ id }}"{% endif %}>
{%- endmacro %}

{% macro form_row(field, widget_attrs={}, orientation='') %}
    <div class="form-group{% if field.errors %} has-error{% endif %} {{ orientation }}">
        <div class="form-label form-block{% if _is_single_line_field(field) %} form-label-middle{% endif %}
                    {%- if field.type == 'BooleanField' %} form-label-empty{% endif -%}">
            {%- if field.widget.input_type != 'checkbox' -%}
                {{ field.label() }}
            {%- endif -%}
            {%- if field.flags.required %}<i class="required">*</i>{% endif -%}
        </div>
        <div class="form-field form-block"{% if field.errors %} data-error="{{ _render_errors(field.errors) }}"{% endif %}>
            {{ field(**widget_attrs) }}
            {% if field.widget.input_type == 'checkbox' %}
                <div class="checkbox-label">{{ field.label() }}</div>
            {% endif %}
            {% if field.description %}
                <p class="form-field-description"><em>{{ field.description | safe }}</em></p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro form_rows(form, fields=none, skip=(), orientation='', widget_attrs={}) %}
    {% for field in form.visible_fields %}
        {% if (fields is none or field.short_name in fields) and field.short_name not in skip %}
            {{ form_row(field, widget_attrs.get(field.short_name, {}), orientation) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro form_footer() -%}
    {% if caller %}
        <div class="form-group">
            <div class="form-label form-block"></div>
            <div class="form-field form-block">
                {{ caller() }}
            </div>
        </div>
    {% endif %}
    </form>
{% endmacro %}

{% macro form_fieldset(legend, description=none, disabled=false) %}
    <fieldset{% if disabled %} disabled {% endif %}>
        <legend>{{ legend }}</legend>
        {% if description %}
            <p class="description">{{ description }}</p>
        {% endif %}
        {{ caller() }}
    </fieldset>
{% endmacro %}
