{% from 'forms/_form.html' import form_header, form_footer, form_rows %}

{{ form_header(form) }}
{{ form_rows(form, fields=form._common_fields) }}
{{ form_rows(form, skip=form._common_fields) }}
{% call form_footer(form) %}
    <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}"
           {% if disabled_until_change %}data-disabled-until-change{% endif %}>

    <button type="button" class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</button>
{% endcall %}
{% block javascript %}{% endblock %}
