{% extends 'forms/base_widget.html' %}

{% block html %}
    <div id="{{ field.id }}-wrapper"></div>
{% endblock %}

{% block javascript %}
    <script>
        setupMultipleTagSelectWidget({
            fieldId: {{ field.id | tojson }},
            choices: {{ field.choices | tojson }},
            inputArgs: {{ input_args | tojson }},
            initialSelection: {{ field.data | default([]) | tojson }},
        });
        {# Call `initForms()` again because `WTFMultipleTagSelectField` has been rendered only after its first call. #}
        initForms($('form'));
    </script>
{% endblock %}
