{% extends 'forms/base_widget.html' %}
{% from 'forms/_form.html' import form_field %}

{% block html %}
    <div class="occurrences-widget i-form-field-fixed-width" id="{{ field.id }}-container">
        <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field._value() }}" autofocus>
        <a href="#" class="add-occurrence">Add occurrence</a>
    </div>

    <script type="text/html" id="{{ field.id }}-template">
        <div class="occurrence">
            <input type="text" class="datepicker" readonly>{#--#}
            <input type="time" class="timepicker" placeholder="HH:MM" pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$">{#--#}
            <i class="timezone"></i>{#--#}
            <input type="number" class="durationpicker" step="1" min="1">{#--#}
            <i class="duration-info" title="{% trans %}Duration in minutes{% endtrans %}"></i>{#--#}
            <span class="icon-remove remove-occurrence" title="{% trans %}Remove occurrence{% endtrans %}"></span>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    <script>
        (function() {
            'use strict';

            var rowTemplate = $($.parseHTML($('#{{ field.id }}-template').html())).filter('.occurrence');
            var defaultTime = {{ field.default_time | format_time('code', timezone=field.timezone) | tojson }};
            var defaultDuration = {{ (field.default_duration.total_seconds() // 60) | int | tojson }};
            var container = $('#{{ field.id }}-container');
            var dataField = $('#{{ field.id }}');
            var timezone = {{ field.timezone | tojson }};
            var timezoneField = {% if field.timezone_field %}$('#{{ field.timezone_field.id }}'){% else %}$(){% endif %};

            function createRow(data) {
                var row = rowTemplate.clone().insertBefore(container.find('.add-occurrence'));
                var prevRow = row.prev('.occurrence');
                if (!prevRow.length) {
                    prevRow = null;
                }
                var prevOccurrence = prevRow && prevRow.data('occurrence') || null;
                var dateField = row.find('.datepicker');
                var timeField = row.find('.timepicker');
                var durationField = row.find('.durationpicker');

                row.find('.remove-occurrence').on('click', function() {
                    removeRow(row);
                });

                row.find('.timezone').qtip({
                    content: {
                        text: function() {
                            return timezone;
                        }
                    }
                });

                dateField.datepicker({
                    onSelect: function() {
                        var $this = $(this);
                        $this.trigger('change');
                        if (timeField.val() === '') {
                            timeField.val(defaultTime);
                        }
                        // ensure we de-focus the field; otherwise clicking it again might
                        // not re-open the datepicker
                        $this.blur();
                        updateData();
                    }
                }).on('change', function(evt) {
                    timeField.prop('required', !!evt.target.value);
                }).on('keydown', function(evt) {
                    if (evt.which == K.BACKSPACE) {
                        evt.preventDefault();
                        dateField.datepicker('setDate', null);
                        updateData();
                    } else if (evt.which == K.TAB) {
                        if (!evt.shiftKey) {
                            evt.preventDefault();
                            $(this).nextAll('.timepicker').focus();
                        }
                    }
                });

                timeField.on('change', function(evt) {
                    dateField.prop('required', !!evt.target.value);
                    updateData();
                });

                durationField.on('change', function() {
                    updateData();
                });

                if (data) {
                    dateField.datepicker('setDate', moment(data.date).format('DD/MM/YYYY'));
                    row.find('.timepicker').val(data.time);
                    row.find('.durationpicker').val(data.duration);
                    dateField.prop('required', true);
                    timeField.prop('required', true);
                } else if (prevOccurrence) {
                    dateField.datepicker('setDate', moment(prevOccurrence.date).add(1, 'day').format('DD/MM/YYYY'));
                    row.find('.timepicker').val(prevOccurrence.time);
                    row.find('.durationpicker').val(prevOccurrence.duration);
                    dateField.prop('required', true);
                    timeField.prop('required', true);
                } else {
                    row.find('.durationpicker').val(defaultDuration);
                }

                updateRemoveButtons();
                updateData();
            }

            function createInitialRows() {
                JSON.parse(dataField.val()).forEach(function(data) {
                    createRow(data);
                });
            }

            function removeRow(row) {
                row.remove();
                updateRemoveButtons();
                updateData();
            }

            function updateRemoveButtons() {
                var rows = container.find('.occurrence');
                rows.find('.remove-occurrence').toggle(rows.length > 1);
            }

            function updateData() {
                var data = container.find('.occurrence').map(function() {
                    var $this = $(this);
                    var date = moment($(this).find('.datepicker').datepicker('getDate'));
                    var rv = {
                        date: date.isValid() ? date.format('YYYY-MM-DD') : '',
                        time: $(this).find('.timepicker').val(),
                        duration: +$(this).find('.durationpicker').val()
                    };
                    $this.data('occurrence', (!!rv.date && !!rv.time && !!rv.duration) ? rv : null);
                    return rv;
                }).get();
                dataField.val(JSON.stringify(data)).trigger('change');
            }

            timezoneField.on('change', function() {
                timezone = $(this).val();
            });

            container.find('.add-occurrence').on('click', function(evt) {
                evt.preventDefault();
                createRow();
            });

            createInitialRows();
        })();
    </script>
{% endblock %}
