{% extends 'forms/base_widget.html' %}
{% from 'forms/_form.html' import form_field %}

{% block html %}
    <div class="occurrences-widget i-form-field-fixed-width" id="{{ field.id }}-container">
        <input type="hidden" name="{{ field.name }}" id="{{ field.id }}" value="{{ field._value() }}" autofocus>
        <a href="#" class="add-occurrence">Add occurrence</a>
    </div>

    <script type="text/html" id="{{ field.id }}-template">
        <div class="occurrence">
            <input type="text" class="datepicker" readonly>{#--#}
            <input type="time" class="timepicker" placeholder="HH:MM" pattern="{{ time_regex_hhmm }}">{#--#}
            <i class="timezone"></i>{#--#}
            <input type="number" class="durationpicker" step="1" min="1">{#--#}
            <i class="duration-info" title="{% trans %}Duration in minutes{% endtrans %}"></i>{#--#}
            <span class="icon-remove remove-occurrence" title="{% trans %}Remove occurrence{% endtrans %}"></span>
        </div>
    </script>
{% endblock %}

{% block javascript %}
    <script>
        setupOccurrencesWidget({
            fieldId: {{ field.id | tojson }},
            defaultTime: {{ field.default_time | format_time('code', timezone=field.timezone) | tojson }},
            defaultDuration: {{ (field.default_duration.total_seconds() // 60) | int | tojson }},
            timezone: {{ field.timezone | tojson }},
            timezoneFieldId: {{ (field.timezone_field.id if field.timezone_field else none) | tojson }}
        });
    </script>
{% endblock %}
