<div class="form-row i-password {%- if field.toggle %} toggle {%- endif -%}">
    {{ input(field, **input_args) }}
    {%- if field.toggle -%}
        <button id="{{ field.id }}-button" type="button" class="i-button icon-eye-blocked"
                title="{% trans %}Click to toggle visibility of password{% endtrans %}" data-tooltip-anchor></button>
    {% endif %}
</div>
{%- if field.toggle -%}
    <script>
        $($(document).on('click' ,'#{{ field.id}}-button', function toggleInputType(){
            $('#{{ field.id}}-button').toggleClass('icon-eye icon-eye-blocked')
            var $input = $('#{{ field.id}}')
            $input.prop('type',$input.prop('type') === 'text' ? 'password' : 'text');
        }));
    </script>
{% endif %}
