{% extends 'forms/base_widget.html' %}

{% block html %}
    <h3>Permissions</h3>
    <div id="permissions-widget-{{ field.id }}" class="js-permissions-widget">
        <input type="hidden" value='{{ field._value() }}' name="permissions">
        <ul class="permissions-widget-list"></ul>
        <div class="toolbars">
            <div class="toolbar">
                <button class="i-button icon-plus highlight js-dropdown arrow" data-toggle="dropdown">
                    {%- trans %}Add entry{% endtrans -%}
                </button>
                <ul class="dropdown">
                    <li><a href="#">{% trans %}User / Group{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Role{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}IP Network{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="toolbar">
                <a href="{{ url_for('event_roles.manage', field.event) }}"
                   class="i-button icon-medal text-color borderless">
                    {%- trans %}Manage roles{% endtrans -%}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('#permissions-widget-{{ field.id }}').permissionswidget({
            event_id: {{ field.event.id }}
        });
    </script>
{% endblock %}
