{% extends 'forms/base_widget.html' %}

{% block html %}
    <h3>Permissions</h3>
    <div id="permissions-widget-{{ field.id }}" class="permissions-widget">
        <input type="hidden" value='{{ field._value()|tojson|forceescape }}' name="{{ field.name }}">
        <ul class="permissions-widget-list"></ul>
        <div class="toolbar">
            <div class="group">
                <a href="#" class="i-button label text-color outline add-entry-decoration">
                    {%- trans %}Add{% endtrans -%}
                </a>
                <a class="i-button js-add-user-group">{% trans %}User / Group{% endtrans %}</a>
                {% if field.object_type == 'event' %}
                    <a class="i-button arrow js-dropdown" data-toggle="dropdown">{% trans %}Event Role{% endtrans %}</a>
                    <ul class="i-dropdown entry-role-dropdown" data-items='{{ field.event_roles|tojson|forceescape }}'>
                        <li class="separator default"></li>
                        <li class="entry-item new-role-btn default">
                            <a class="js-new-role"
                            data-href="{{ url_for('event_roles.add_role', field.event) }}"
                            data-title="{% trans %}Add a new role{% endtrans %}"
                            data-ajax-dialog>
                                <span class="icon-medal dropdown-icon"></span>
                                <span>{% trans %}New role{% endtrans %}</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                {% set category_roles = field.category_roles %}
                {% if category_roles %}
                    <a class="i-button arrow js-dropdown" data-toggle="dropdown">
                        {% trans %}Category role{% endtrans %}
                    </a>
                    <ul class="i-dropdown entry-category-role-dropdown"
                        data-items='{{ category_roles|tojson|forceescape }}'></ul>
                {% endif %}
                {% if field.object_type == 'event' and field.ip_networks %}
                    <a class="i-button arrow js-dropdown" data-toggle="dropdown">
                        {%- trans %}IP Network{% endtrans -%}
                    </a>
                    <ul class="i-dropdown entry-ip-network-dropdown"
                        data-items='{{ field.ip_networks|tojson|forceescape }}'></ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('#permissions-widget-{{ field.id }}').permissionswidget({
            objectType: {{ field.object_type|tojson }},
            permissionsInfo: {{ field.permissions_info|tojson }},
            hiddenPermissions: {{ field.hidden_permissions|default([])|tojson }},
            hiddenPermissionsInfo: {{ field.hidden_permissions_info|tojson }}
        });
    </script>
{% endblock %}
