{% set value_json = field._value() | tojson %}
<div class="form-row" data-tooltip-anchor>
    <div id="userGroupList-{{ field.id }}" style="margin-bottom: 10px;"></div>
    <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ value_json | forceescape }}">
    <span></span>
</div>
<script>
    (function() {
        var field = $('#{{ field.id }}');
        var principals = JSON.parse(field.val());

        {% if field.multiple %}
            function addPrincipal(newPrincipals, setResult) {
                // remove existing ones first to avoid duplicates
                _.each(newPrincipals, function(principal) {
                    principals = _.without(principals, _.findWhere(principals, {
                        _type: principal._type,
                        id: principal.id
                    }));
                });
                principals = principals.concat(newPrincipals);
                field.val(JSON.stringify(principals));
                setResult(true);
            }
            function removePrincipal(principal, setResult) {
                principals = _.without(principals, _.findWhere(principals, {
                    _type: principal.get('_type'),
                    id: principal.get('id')
                }));
                field.val(JSON.stringify(principals));
                setResult(true);
            }
            var widget = new UserListField(
                'PluginOptionPeopleListDiv', 'PeopleList', principals,
                true, null, true,
                {{ field.groups | tojson }},
                null, null, false, false, false, true,
                addPrincipal, userListNothing, removePrincipal
            );
        {% else %}
            function addUser(newUser, setResult) {
                field.val(JSON.stringify(newUser));
                setResult(true);
            }

            function removeUser(setResult) {
                field.val('[]');
                setResult(true);
            }
            var widget = new SingleUserField(principals[0],
                    {{ field.name|tojson }},
                    true, true, null,
                    null, false,
                    false, true,
                    addUser, removeUser);
        {% endif %}


        $E('userGroupList-{{ field.id }}').set(widget.draw());
    })();
</script>
