{% extends 'forms/base_widget.html' %}


{% block html %}
    {% if acl %}
        <a href="#" class="enable-acl-link hidden"
           title='{% trans %}This will change the protection mode to "Protected"{% endtrans %}'>
            {{- field.default_text -}}
        </a>
    {% endif %}
    {% set value_json = field._value() | tojson %}
    <div class="i-form-field-fixed-width {{ 'acl-list-field' if acl }}" data-tooltip-anchor>
        {% if acl %}
            <div class="inheriting-acl-message"></div>
        {% endif %}
        <div id="userGroupList-{{ field.id }}" style="margin-bottom: 10px;"></div>
        <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ value_json | forceescape }}"
               {{ input_args | html_params }}>
        <span></span>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        setupPrincipalListWidget({
            fieldId: {{ field.id | tojson }},
            eventId: {{ (field.event.id if field.event else none) | tojson }},
            openImmediately: {{ field.open_immediately | tojson }},
            groups: {{ field.groups | tojson }},
            allowExternal: {{ field.allow_external | tojson }},
            allowNetworks: {{ field.allow_networks | tojson }},
            networks: {{ field.ip_networks | sort(attribute='name') | tojson }}
        });
    </script>
{% endblock %}
