{% extends 'forms/base_widget.html' %}


{% block html %}
    {% set value_json = field._value() | tojson %}
    <div class="i-form-field-fixed-width" data-tooltip-anchor>
        {% if acl %}
            <div class="inheriting-acl-message"></div>
        {% endif %}
        <div id="userGroupList-{{ field.id }}" style="margin-bottom: 10px;"></div>
        <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ value_json | forceescape }}"
               {{ input_args | html_params }}>
        <span></span>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        (function() {
            'use strict';

            var field = $('#{{ field.id }}');
            var principals = JSON.parse(field.val());

            function addPrincipal(newPrincipals, setResult) {
                // remove existing ones first to avoid duplicates
                _.each(newPrincipals, function(principal) {
                    principals = _.without(principals, _.findWhere(principals, {
                        identifier: principal.identifier
                    }));
                });
                principals = principals.concat(newPrincipals);
                field.val(JSON.stringify(principals));
                field.trigger('change');
                setResult(true, principals);
            }
            function removePrincipal(principal, setResult) {
                principals = _.without(principals, _.findWhere(principals, {
                    identifier: principal.get('identifier')
                }));
                field.val(JSON.stringify(principals));
                field.trigger('change');
                setResult(true);
            }
            var widget = new UserListField(
                'PluginOptionPeopleListDiv', 'user-list', principals,
                true, null, true,
                {{ field.groups | tojson }},
                {{ field.event.id if field.event else none|tojson }},
                null, false, false, false,
                // Disable favorite button for EventPerson mode
                {{ (field.event is none)|tojson }},
                addPrincipal, userListNothing, removePrincipal, {{ field.allow_external|tojson }}
            );

            $('#{{ field.id }}').parent().find('.inheriting-acl-message').on('protection:inheriting', function(evt, isInheriting) {
                $(this).toggle(isInheriting);
            });

            $E('userGroupList-{{ field.id }}').set(widget.draw());
        })();
    </script>
{% endblock %}
