{% extends 'forms/base_widget.html' %}


{% block html %}
    <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ field._value() | tojson | forceescape }}">
    <input type="text" id="display-{{ field.id }}" placeholder="{% trans %}Choose user...{% endtrans %}" readonly>
    <button type="button" id="choose-{{ field.id }}" class="i-button" data-tooltip-anchor>{% trans %}Choose{% endtrans %}</button>
{% endblock %}


{% block javascript %}
    <script>
        $(function() {
            'use strict';

            var button = $('#choose-{{ field.id }}');
            var display = $('#display-{{ field.id }}');
            var field = $('#{{ field.id }}');

            {% if not field.flags.required %}
                display.clearableinput({
                    clearOnEscape: false,
                    focusOnClear: false,
                    onClear: function() {
                        field.principalfield('remove');
                    }
                });
            {% endif %}

            field.principalfield({
                {% if field.event %}
                    eventId: {{ field.event.id|tojson }},
                {% endif %}
                allowExternalUsers: {{ field.allow_external|tojson }},
                enableGroupsTab: {{ field.groups|tojson }},
                onUpdate: function(users) {
                    var name = users[0] ? users[0].name : '';
                    {% if not field.flags.required %}
                        display.clearableinput('setValue', name);
                    {% else %}
                        display.val(name);
                    {% endif %}
                }
            });

            display.add(button).on('click', function() {
                field.principalfield('choose');
            });
        });
    </script>
{% endblock %}

