{% if mode.name == 'inheriting' %}
    <div class="action-box for-form highlight inheriting-acl-message">
        <div class="section">
            <div class="text">
                <div>
                    {%- trans %}Since the protection mode is set to <em>inheriting</em>, users from the <strong>inherited access control list</strong> will also have access.{% endtrans -%}
                </div>
            </div>
            <div class="toolbar">
                <a href="#" class="i-button highlight"
                   data-href="{{ url_for(endpoint, object) }}"
                   data-title="{% trans %}Inherited access list{% endtrans %}"
                   data-subtitle="{{ object.title }}"
                   data-close-button
                   data-ajax-dialog>
                    {% trans %}View list{% endtrans %}
                </a>
            </div>
        </div>
    </div>
{% endif %}
