{% extends 'forms/base_widget.html' %}


{% block html %}
    <div class="i-form-field-fixed-width" data-tooltip-anchor>
        <input id="{{ field.id }}" class="typeahead" type="text" name="{{ field.name }}"
               {%- if field.data is not none -%}data-data="{{ field._value() | tojson | forceescape}}"{%- endif -%}
               {{ input_args | html_params }} autocomplete="off">
        <span></span>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        setupSelectizeWidget({
            fieldId: {{ field.id | tojson }},
            selectedItem: {{ field._value() | tojson }},
            minTriggerLength: {{ min_trigger_length | tojson }},
            searchUrl: {{ search_url | tojson }},
            searchMethod: {{ search_method | tojson }},
            searchPayload: {{ search_payload | tojson }},
            selectizeOptions: {{ options | tojson }},
            allowById: {{ allow_by_id | tojson }},
            preload: {{ preload | tojson }}
        });
    </script>
{% endblock %}
