<div class="form-row" data-tooltip-anchor>
    <input id="typeahead-{{ field.id }}" id="room-name" class="typeahead" type="text" name="{{ field.name }}"
           {%- if field.data is not none -%}value="{{ field._value() | tojson }}"{%- endif -%}>
    <span></span>
</div>


<script>
    (function() {
        var SEARCH_URL = {{ field.search_url | tojson}};

        var params = {
            load: function(query, callback) {
                if (query.length < 3) {
                    return callback();
                }
                $.ajax(SEARCH_URL, {
                    data: {q: query},
                    cache: false
                }).fail(function() {
                    callback();
                }).done(function(res) {
                    callback(res);
                });
            }
        };

        _.extend(params, {{ options | tojson }});

        $('#typeahead-{{ field.id }}').selectize(params);
    })();
</script>
