{% extends 'forms/base_widget.html' %}

{% block html %}
    <div class="i-has-action i-synced-input i-form-field-fixed-width">
        <input id="{{ field.id }}-action-button" name="synced_fields" type="checkbox" value="{{ field.short_name }}"
               {%- if field.synced %} checked {% endif %}>
      {%- if textarea -%}
            <textarea id="{{ field.id }}" name="{{ field.name }}" {{ kwargs | html_params }}
                      data-synced-value="{{ field.synced_value|tojson|forceescape }}" {%- if field.synced %} readonly {% endif %}>
                {{- field._value() -}}
            </textarea>
      {%- else -%}
            <input id="{{ field.id }}" name="{{ field.name }}" type="text" value="{{ field._value() }}" {{ kwargs | html_params }}
                   data-synced-value="{{ field.synced_value|tojson|forceescape }}" {%- if field.synced %} readonly {% endif %}>
      {%- endif -%}
      <label for="{{ field.id }}-action-button" class="i-button i-synced-label icon-loop" data-tooltip-anchor
             title="{% trans provider_name=field.provider_name %}Click to toggle synchronisation ({{ provider_name }}).{% endtrans %}"></label>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        setupSyncedInputWidget({
            fieldId: {{ field.id | tojson }}
        });
    </script>
{% endblock %}
