div#statsHeader {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    display: block;
    width: auto;
    height: auto;
}

div#statsWidgetsWrapper {
    width: 740px;
    height: auto;
    padding: 10px 0px 10px 0px;
}

div.statsInfo {
    font-size: 1.2em;
}

div#statsInfoHidden {
    padding-top: 5px;
    display: none;
}

div#statsFilter {
    clear: both;
    padding-top: 5px;
    display: none;
    height: auto !important;
}

div.statsTopBordered {
    border-top: 1px solid #EFEFEF;
    padding-top: 5px;
    text-align: right;
}

div.statsRow {
    width: 100%;
    display: block;
    height: 320px;
    clear: both;
}

div.statsWidget {
    display: block;
    border-left: 1px solid #EFEFEF;
    padding: 0px 5px 0px 5px;
    margin: 0px 16px 15px 0px;
    float: left;
    height: 100%;
}

div.statsFilterOption {
    padding-bottom: 5px;
}

div.statsWidget iframe {
    width: 100%;
    height: 280px;
}

div.statsWidget.full {
    width: 100%;
}

div.statsWidget.edge {
    margin-right: 0px !important;
}

div.statsWidget.large {
    width: 500px;
}

div.statsWidget.medium {
    width: 350px;
}

div.statsWidget.small {
    width: 200px;
}

div.statsWidgetTitle {
    background: #EFEFEF;
    font-weight: bold;
    padding: 5px;
    font-size: 1.1em;
}

div.statsWidgetContent {
    width: auto;
    height: 100%;
    padding: 5px;
    word-wrap: break-word;
}

div.statsTableDivider {
    padding: 10px 0px 5px 0px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #DDDDEF;
    font-weight: bold;
}

div#statsGenerated {
    font-style: italic;
    font-size: 0.8em;
    padding-top: 10px;
}

div#materialTree {
    display: block;
    width: 190px;
    height: 80%;
    overflow: auto;
    float: left;
    padding: 15px 10px 10px 10px;
}

div#materialContainer {
    display: block;
    width: 510px;
    float: left;
    padding-left: 10px;
    height: 90%;
}

/* jqTree Formatting */

div#materialTree ul {
    margin: 0px;
    padding: 0 0 0px 10px;
    line-height: 1.5em;
}

div#marginTree ul ul {
    padding-left: 5px;
}

span.selectableNode {
    color: #0B63A5 !important;
    font-size: 0.9em;
    display: block;
    width: auto;
    border-bottom: 1px solid #EFEFEF;
}

ul.tree .title {
    color: #444;
}

/* jqPlot Formatting */

div#materialDownloadChart {
    width: auto;
    height: 250px;
}

div#visitorChart {
    margin-left: 15px;
    width: 95%;
    height: 270px;
}