{% macro render_timetable(timetable_data, event_info, timetable_layout, management=false) %}
    <div id="timetable" style="position: relative;">
        <div class="timetablePreLoading" style="height: 300px;">
            <div class="text" style="padding-top: 200px;">
                {% trans %}Building timetable...{% endtrans %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script>
        $(window).on('load', function() {
            var timetableLayout = {{ timetable_layout|tojson }};
            {% if management %}
                var width = document.body.clientWidth - 300;
                var timetableClass = TopLevelManagementTimeTable;
                var detailLevel = false;
            {% else %}
                var width = 710;
                var timetableClass = TopLevelDisplayTimeTable;
                var detailLevel = 'session';
            {% endif %}

            var timetable = new timetableClass({{ timetable_data|tojson }}, {{ event_info|tojson }}, width,
                                               $E('timetable'), detailLevel, new BrowserHistoryBroker(),
                                               timetableLayout);
            $('#timetable').html(timetable.draw());
            timetable.postDraw();
        });
    </script>
{% endmacro %}
