{% extends 'events/management/full_width_base.html' %}
{% from 'events/timetable/_timetable.html' import render_timetable %}
{% from 'events/contributions/management/_draft_mode_warning.html' import render_draft_mode_warning %}

{%- block banner -%}{%- endblock -%}
{%- block title -%}{%- endblock -%}

{% block display_view_button %}
    <div class="group timetable-display-view-wrapper">
        <button class="timetable-sidepanel-management-toggle icon-prev i-button" onclick="toggleSidePanel()" title="{{ _('Toggle side panel') }}">
        </button>
        {{ super() }}
    </div>
{% endblock %}

{% block side_menu %}
    {{ super() }}
{% endblock %}

{% block content %}
    <button
        class="timetable-sidepanel-management-toggle icon-prev i-button"
        onclick="toggleSidePanel()"
        title="{{ _('Toggle side panel') }}"
        data-qtip-position="right"></button>
    <div id="timetable-container"
         data-timetable-data="{{ timetable_data | tojson | forceescape }}"
         data-event-info="{{ event_info | tojson | forceescape }}"
         data-custom-links="{{ custom_links | tojson | forceescape }}"
         data-search-token="{{ make_user_search_token() }}"></div>
    <script>
        setupTimetable();
    </script>
    <script>
        let sidePanelIsOpen = true;
        const sidePanelToggleButton = document.querySelector('.timetable-sidepanel-management-toggle');
        const itemsToHide = document.querySelectorAll('.layout-side-menu:last-child > .menu-column, .timetable-display-view-wrapper > .group');
        console.log(itemsToHide)

        function toggleSidePanel() {
            const hiddenInlineStyles = {
                width: '0',
                overflow: 'hidden',
                margin: '0',
                padding: '0'
            }
            itemsToHide.forEach(column => {
                if (sidePanelIsOpen) {
                    Object.assign(column.style, hiddenInlineStyles);
                } else {
                    column.removeAttribute('style');
                }
            });

            sidePanelToggleButton.classList.toggle('icon-prev');
            sidePanelToggleButton.classList.toggle('icon-next');

            if (sidePanelIsOpen) {
                sidePanelToggleButton.style.left = '-30px';
            } else {
                sidePanelToggleButton.style.removeProperty('left');
            }

            sidePanelIsOpen = !sidePanelIsOpen;
        }
    </script>
{% endblock %}
