{% extends 'events/management/base.html' %}
{% from 'forms/_form.html' import form_row %}

{% block title %}
    {% trans %}Event bookings{% endtrans %}
{% endblock %}

{% block content %}
    <div class="event-booking-page">
        <div class="action-box event-bookings">
            <div class="section">
                <div class="text">
                    <div class="label">
                        {%- trans %}Event{% endtrans -%}
                    </div>
                    {{ event.title }}
                </div>
                <div class="toolbar">
                    {% set past_title = _('Event has already finished') %}
                    {% if event_rb_params.type == 'mixed_times' %}
                        <button type="button"
                                class="i-button highlight js-dropdown arrow"
                                title="{{ past_title if is_past_event }}"
                                data-toggle="dropdown"
                                {% if is_past_event %}disabled{% endif %}>
                            {%- trans %}Book{% endtrans -%}
                        </button>
                        <ul class="i-dropdown">
                            {% for day, day_params in event_rb_params.time_info %}
                                {% set params = dict(event_rb_params.params, **day_params) %}
                                <li>
                                    <a href="{{ url_for('rb.roombooking', path='book', **params) }}" target="_blank">
                                        {{ day | format_date(timezone=event.tz) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <a href="{{ url_for('rb.roombooking', path='book', **event_rb_params.params) }}"
                           target="_blank"
                           class="i-button highlight {{ 'disabled' if is_past_event }}"
                           title="{{ past_title if is_past_event }}">
                            {%- trans %}Book{% endtrans -%}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if has_contribs %}
                <div class="section searchable-field" data-values="{{ contribs_data | tojson | forceescape }}">
                    <div class="text">
                        <div class="label">
                            {%- trans %}Contribution{% endtrans -%}
                        </div>
                        {{ form_row(form.contribution, skip_label=true, hide_description=true,
                                    widget_attrs={'data_link_type': 'contribution'}) }}
                    </div>
                    <div class="toolbar">
                        <a href="#" target="_blank" class="i-button highlight js-book-btn disabled">
                            {%- trans %}Book{% endtrans -%}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if has_session_blocks %}
                <div class="section searchable-field" data-values="{{ session_blocks_data | tojson | forceescape }}">
                    <div class="text">
                        <div class="label">
                            {%- trans %}Session block{% endtrans -%}
                        </div>
                        {{ form_row(form.session_block, skip_label=true, hide_description=true,
                                    widget_attrs={'data_link_type': 'sessionBlock'}) }}
                    </div>
                    <div class="toolbar">
                        <a href="#" target="_blank" class="i-button highlight js-book-btn disabled">
                            {%- trans %}Book{% endtrans -%}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if links %}
            <div>
                <h3>Room bookings</h3>
                <table class="i-table-widget js-bookings-table">
                    <thead>
                        <tr>
                            <th class="room-column">{% trans %}Room{% endtrans %}</th>
                            <th>{% trans %}Reason{% endtrans %}</th>
                            <th>{% trans %}For whom{% endtrans %}</th>
                            <th data-sorter="text">{% trans %}Date{% endtrans %}</th>
                            <th class="time-column" data-sorter="text">{% trans %}Time{% endtrans %}</th>
                            <th class="link-column">{% trans %}Linked to{% endtrans %}</th>
                            <th class="action-column" data-sorter="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in links %}
                            {% set reservation = link.reservation %}
                            <tr class="{{ 'disabled' if reservation.is_rejected }}">
                                <td>
                                    {{ reservation.room.full_name }}
                                    {% if reservation.is_rejected %}
                                        <span class="icon-disable booking-status"
                                              title="{% trans %}Rejected:{% endtrans %} {{ reservation.rejection_reason }}"></span>
                                    {% elif reservation.is_pending %}
                                        <span class="icon-time booking-status"
                                              title="{% trans %}Pre-booking{% endtrans %}"></span>
                                    {% endif %}
                                </td>
                                <td>{{ reservation.booking_reason }}</td>
                                <td>{{ reservation.booked_for_name }}</td>
                                <td data-text="{{ reservation.start_dt.date().isoformat() }}">
                                    {{ reservation.start_dt | format_date()}}
                                    {% if reservation.is_repeating %}
                                        ({% trans %}recurring{% endtrans %})
                                    {% endif %}
                                </td>
                                <td data-text="{{ reservation.start_dt.time().isoformat() }}-{{ reservation.end_dt.time().isoformat() }}">
                                    {{ reservation.start_dt | format_time() }} - {{ reservation.end_dt | format_time() }}
                                </td>
                                <td class="link-data">
                                    {% if link.link_type.name == 'event' %}
                                        {{ link.link_type.title }}
                                    {% else %}
                                        {% set title = link.object.full_title if link.link_type.name == 'session_block' else link.object.title %}
                                        <span title="{{ title }}">
                                            {{ link.link_type.title }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="action-column">
                                    {{ booking_details_link(reservation) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <script>
        $('.js-bookings-table').tablesorter({
            cssAsc: 'header-sort-asc',
            cssDesc: 'header-sort-desc',
            headerTemplate: '',
        });
    </script>
{% endblock %}

{% macro booking_details_link(reservation) %}
    <a href="{{ url_for('rb.roombooking', path='calendar', modal='booking-details:{}'.format(reservation.id)) }}"
       target="_blank"
       class="icon-arrow-right-sparse action-icon"
       title="{% trans %}See details{% endtrans %}"></a>
{% endmacro %}
