{% macro render_edited_hint(dt, user=None) %}
    {% if user %}
        <span class="abstract-comment-edited"
            title="{% trans dt=dt|format_human_date, name=user.name %}On {{ dt }} by {{ name }}{% endtrans %}">
            · {% trans %}edited{% endtrans %}
        </span>
    {% else %}
        <span class="abstract-comment-edited" title="{{ dt|format_human_date }}">
            · {% trans %}edited{% endtrans %}
        </span>
    {% endif %}
{% endmacro %}

{% macro render_tracks(tracks) %}
    {% for track in tracks %}
        <span class="abstract-track">{{ track.title }}</span>
        {%- if not loop.last -%},{% endif %}
    {% else %}
        <em>{% trans %}None{% endtrans %}</em>
    {% endfor %}
{% endmacro %}

{% macro render_visibility_hint(visibility) %}
    {% if visibility.name != 'contributors' %}
        <i class="abstract-comment-visibility {{ visibility.name }} icon-shield" title="{{ visibility.title }}"></i>
    {% endif %}
{% endmacro %}
