{% from 'forms/_form.html' import form_header, form_rows, form_footer %}

{% macro _render_abstract_reviewing_state(abstract) %}
    {% if abstract.reviewed_for_tracks > 1 %}
        {% set conflicting_msg = _("Proposed to accept in different tracks") %}
    {% else %}
        {% set conflicting_msg = _("All reviewers proposed to accept this abstract "
                                    "but as different contribution types") %}
    {% endif %}
    {% set mapping_class = {'positive': 'success',
                            'conflicting': 'visited',
                            'negative': 'error',
                            'mixed': 'warning'} %}
    {% set mapping_title = {'not_started': _("No reviewer has reviewed this abstract yet"),
                            'in_progress': _("Not reviewed in all tracks"),
                            'positive': _("All reviewers proposed to accept this abstract"),
                            'conflicting': conflicting_msg,
                            'negative': _("No reviewer proposed to accept this abstract"),
                            'mixed': _("Not all reviewers proposed to accept this abstract")} %}
    {% set state = abstract.reviewing_state %}
    <span class="i-tag {{ mapping_class[state.name] }}" title="{{ mapping_title[state.name] }}">
        {{- state.title -}}
    </span>
{% endmacro %}

{% macro _render_abstract_track_reviewing_state(abstract, track) %}
    {% set mapping_class = {'positive': 'success',
                            'conflicting': 'visited',
                            'negative': 'error',
                            'mixed': 'warning'} %}
    {% set mapping_title = {'not_started': _("No reviewer has reviewed this abstract yet"),
                            'positive': _("All reviewers proposed to accept this abstract"),
                            'conflicting': _("All reviewers proposed to accept this abstract "
                                             "but as different contribution types"),
                            'negative': _("No reviewer proposed to accept this abstract"),
                            'mixed': _("Not all reviewers proposed to accept this abstract")} %}
    {% set state = abstract.get_track_reviewing_state(track) %}
    <span class="i-tag outline {{ mapping_class[state.name] }}" title="{{ mapping_title[state.name] }}">
        {{ state.title -}}
    </span>
{% endmacro %}

{% macro render_decision_box(abstract, form, management=false) %}
    <div class="i-timeline-item-label action icon-hammer"></div>
    <div class="i-timeline-item-box content-indicator">
        <div class="i-box-content">
            <div class="flex">
                <div class="stretch">
                    <strong>
                        {% trans %}Review summary{% endtrans %}
                    </strong>
                </div>
                <div class="abstract-comment-badges">
                    {% trans state=_render_abstract_reviewing_state(abstract) -%}
                        Reviews are {{ state }}
                    {%- endtrans %}
                    {% if abstract.score %}
                        {% set score = abstract.score|round(1) %}
                        {# TODO: show max score #}
                        <span class="i-tag highlight" title="{% trans %}Score: {{ score }}/...{% endtrans %}">
                            {{ score }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {% for track in abstract.reviewed_for_tracks|sort(attribute='title') %}
                <div class="track-review flex">
                    <div class="stretch">
                        {{ track.title }}
                    </div>
                    <div>
                        {{ _render_abstract_track_reviewing_state(abstract, track) }}
                        {% set score = abstract.get_track_score(track) %}
                        {% if score is not none %}
                            {% set score = score|round(1) %}
                            <span class="i-tag highlight outline" title="{% trans %}Score: {{ score }}/...{% endtrans %}">
                                {{ score }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="i-box-footer">
            {{ form_header(form, orientation='vertical') }}
            {{ form_rows(form, fields=form._order, skip_labels=true) }}
            {% call form_footer(form) %}
                <button class="i-button big highlight js-judge"
                        data-method="POST"
                        data-href="{{ url_for('.judge_abstract', abstract, management=management) }}">
                    {% trans %}Judge{% endtrans %}
                </button>
            {% endcall %}
        </div>
    </div>
{% endmacro %}
