{% from 'forms/_form.html' import form_header, form_rows, form_footer %}
{% from 'events/abstracts/abstract/_common.html' import render_score, render_tracks, render_instruction_box %}

{% macro _render_abstract_reviewing_state(abstract) %}
    {% if abstract.reviewed_for_tracks > 1 %}
        {% set conflicting_msg = _("Proposed to accept in different tracks") %}
    {% else %}
        {% set conflicting_msg = _("All reviewers proposed to accept this abstract "
                                    "but as different contribution types") %}
    {% endif %}
    {% set mapping_class = {'positive': 'success',
                            'conflicting': 'visited',
                            'negative': 'error',
                            'mixed': 'warning'} %}
    {% set mapping_title = {'not_started': _("No reviewer has reviewed this abstract yet"),
                            'in_progress': _("Not reviewed in all tracks"),
                            'positive': _("All reviewers proposed to accept this abstract"),
                            'conflicting': conflicting_msg,
                            'negative': _("No reviewer proposed to accept this abstract"),
                            'mixed': _("Not all reviewers proposed to accept this abstract")} %}
    {% set state = abstract.reviewing_state %}
    <span class="i-tag {{ mapping_class[state.name] }}" title="{{ mapping_title[state.name] }}">
        {{- state.title -}}
    </span>
{% endmacro %}


{% macro _render_abstract_track_reviewing_state(abstract, track) %}
    {% set mapping_class = {'positive': 'success',
                            'conflicting': 'visited',
                            'negative': 'error',
                            'mixed': 'warning'} %}
    {% set mapping_title = {'not_started': _("No reviewer has reviewed this abstract yet"),
                            'positive': _("All reviewers proposed to accept this abstract"),
                            'conflicting': _("All reviewers proposed to accept this abstract "
                                             "but as different contribution types"),
                            'negative': _("No reviewer proposed to accept this abstract"),
                            'mixed': _("Not all reviewers proposed to accept this abstract")} %}
    {% set state = abstract.get_track_reviewing_state(track) %}
    <span class="i-tag outline {{ mapping_class[state.name] }}" title="{{ mapping_title[state.name] }}">
        {{ state.title -}}
    </span>
{% endmacro %}


{% macro render_decision_box(abstract, form) %}
    {% set event = abstract.event_new %}
    <div class="i-timeline-item-label action icon-hammer"></div>
    <div class="i-timeline-item-box content-indicator">
        <div class="i-box-content">
            <div class="flexrow">
                <div class="f-self-grow">
                    <strong>
                        {% trans %}Review summary{% endtrans %}
                    </strong>
                </div>
                <div class="abstract-comment-badges">
                    {% trans state=_render_abstract_reviewing_state(abstract) -%}
                        Reviews are {{ state }}
                    {%- endtrans %}
                    {% if abstract.score is not none %}
                        {{ render_score(abstract.score, event.cfa) }}
                    {% endif %}
                </div>
            </div>
            {% for track in abstract.reviewed_for_tracks|sort(attribute='title') %}
                <div class="track-review flexrow">
                    <div class="f-self-grow">
                        {{ track.full_title }}
                    </div>
                    <div>
                        {{ _render_abstract_track_reviewing_state(abstract, track) }}
                        {% set score = abstract.get_track_score(track) %}
                        {% if score is not none %}
                            {{ render_score(score, event.cfa) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="i-box-footer">
            {% set url = url_for('.judge_abstract', abstract) %}
            {% set form_id = 'judgment-form' %}

            {% call form_header(form, action=url, orientation='vertical', id=form_id) %}
                data-form-container="#abstract-decision-box"
                data-update="#abstract-page"
                data-ajax-form
            {% endcall %}
            {% call(link, endlink) render_instruction_box(form_id, event.cfa.judgment_instructions, _("Judgment instructions")) %}
                {% trans -%}
                    Please don't forget to read the {{ link }}judgment instructions{{ endlink }} before taking your decision.
                {%- endtrans %}
            {% endcall %}
            {{ form_rows(form, fields=form._order, skip_labels=true) }}
            {% call form_footer(form) %}
                <button class="i-button big highlight">
                    {% trans %}Judge{% endtrans %}
                </button>
            {% endcall %}
        </div>
    </div>
{% endmacro %}


{% macro render_reviewed_for_tracks_box(abstract, form) %}
    <div id="abstract-reviewed-for-tracks-box" class="i-timeline-item">
        <div class="i-timeline-item-label action icon-list"></div>
        <div class="i-timeline-item-box content-indicator">
            <div class="i-box-content">
                <div class="flexrow">
                    <div class="f-self-grow">
                        <div class="info-line">
                            <label>
                                {% trans count=abstract.reviewed_for_tracks|length -%}
                                    Reviewing for track:
                                {%- pluralize -%}
                                    Reviewing for tracks:
                                {%- endtrans -%}
                            </label>
                            {{ render_tracks(abstract.reviewed_for_tracks) }}
                        </div>
                    </div>
                    {% if abstract.edit_track_mode.name != 'none' %}
                        <div>
                            <a href="#"
                               data-href="{{ url_for('.edit_review_tracks', abstract) }}"
                               data-form-container="#edit-reviewed-for-track-list"
                               data-update="#abstract-page"
                               data-replace-update
                               data-hide-trigger
                               data-ajax-form>
                                {%- trans %}Edit track list{% endtrans -%}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="i-box-footer hidden-if-empty" id="edit-reviewed-for-track-list"></div>
        </div>
    </div>
{% endmacro %}
