{% from 'forms/_form.html' import form_header, form_rows, form_footer %}
{% from 'events/abstracts/abstract/_common.html' import render_edited_hint, render_score, render_visibility_hint, render_tracks %}

{% macro render_abstract_reviews(abstract, review_forms, management=false) %}
    <div id="abstract-reviews" class="i-timeline">
        {% for track in abstract.reviewed_for_tracks %}
            {% set reviews = abstract.reviews|selectattr('track', 'equalto', track)|list %}
            {% if not abstract.can_see_reviews(session.user) %}
                {% set reviews = reviews|selectattr('user', 'equalto', session.user)|list %}
            {% endif %}
            {% if reviews %}
                <h3>
                    {% trans title=track.title -%}
                        Track: {{ title }}
                    {%- endtrans %}
                </h3>
                {% for review in reviews %}
                    {{ _render_review(review, review_forms[track.id], management=management) }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_review_boxes(abstract, review_forms, management=false) %}
    {% for track in abstract.reviewed_for_tracks|sort(attribute='title') %}
        {% set user_reviewed = abstract.get_reviews(track=track)|selectattr('user', 'equalto', session.user)|list %}
        {% if not user_reviewed and track.can_review_abstracts(session.user) %}
            {{ render_review_box(review_forms[track.id], abstract, track, management=management) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro render_review_box(form, abstract, track, edit=false, management=false) %}
    <div id="abstract-review-box-{{ track.id }}"
         class="i-timeline-item abstract-review-box">
        <div class="i-timeline-item-label action icon-checkmark"></div>
        <div class="i-timeline-item-box content-indicator">
            <div class="i-box-content">
                <div class="flex">
                    <div class="stretch">
                        <strong>
                            {% trans track_title=track.title -%}
                                Review for track "{{ track_title }}"
                            {%- endtrans %}
                        </strong>
                    </div>
                </div>
            </div>
            <div class="i-box-footer">
                {{ render_review_form(form, abstract=abstract, track=track, management=management) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_review_form(form, abstract=none, track=none, review=none, management=false) %}
    {{ form_header(form, orientation='vertical', id=('track-review-form-' + track.id|string)) }}
    {{ form_rows(form, skip=form._order) }}
    {{ form_rows(form, fields=form._order, skip_labels=true) }}
    {% set form_id = '#track-review-form-' + track.id|string %}
    {% call form_footer(form) %}
        {% if not review %}
            <button class="i-button big highlight text-color js-review"
                    data-href="{{ url_for('.review_abstract', abstract, track, management=management) }}"
                    data-method="POST"
                    data-disabled-until-change>
                    {% trans %}Submit review{% endtrans %}
            </button>
        {% else %}
            <button class="i-button big highlight text-color js-review"
                    data-href="{{ url_for('.edit_review', review, management=management) }}"
                    data-method="POST"
                    data-disabled-until-change>
                {% trans %}Change review{% endtrans %}
            </button>
            <button class="i-button big text-color color-on-hover danger js-edit-cancel"
                    data-confirm="{% trans %}Do you want to discard the changes to this review?{% endtrans %}"
                    data-confirm-if-change>
                {% trans %}Cancel{% endtrans %}
            </button>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro render_comments_section(abstract, form=none) %}
    {% set can_comment = abstract.can_comment(session.user) %}
    {% if abstract.comments or can_comment %}
        <div id="abstract-comments" class="i-timeline">
            <h3>
                {%- trans %}Comments{% endtrans -%}
            </h3>
            {% for comment in abstract.comments %}
                <div class="i-timeline-item">
                    <div class="i-timeline-item-label action"></div>
                    <div class="i-timeline-item-box header-indicator">
                        <div class="i-box-header flex">
                            <div class="stretch">
                                {% trans name=comment.user.name -%}
                                    <strong>{{ name }}</strong> left a comment
                                {%- endtrans %}
                                {{ render_visibility_hint(comment.visibility) }}
                                <time datetime="{{ comment.created_dt.isoformat() }}">
                                    {{- comment.created_dt|format_human_date -}}
                                </time>
                                {% if comment.modified_dt %}
                                    {{ render_edited_hint(comment.modified_dt, comment.modified_by) }}
                                {% endif %}
                            </div>
                            {% if comment.can_edit(session.user) %}
                                <div class="abstract-comment-badges">
                                    <a class="i-button-icon icon-edit js-edit-comment"
                                       title="{% trans %}Edit comment{% endtrans %}"
                                       data-href="{{ url_for('.edit_abstract_comment', comment) }}"
                                       data-method="GET"
                                       data-ajax></a>
                                    <a class="i-button-icon icon-cross js-delete-comment"
                                       title="{% trans %}Remove comment{% endtrans %}"
                                       data-method="DELETE"
                                       data-href="{{ url_for('.delete_abstract_comment', comment) }}"
                                       data-title="{% trans %}Remove comment{% endtrans %}"
                                       data-confirm="{% trans %}Are you sure you want to remove this comment?{% endtrans %}"
                                       data-ajax>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="i-box-content">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if can_comment %}
                {{ render_comment_box(abstract, form) }}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_comment_box(abstract, form) %}
    <div id="abstract-comment-box" class="i-timeline-item">
        <div class="i-timeline-item-label action icon-file"></div>
        <div class="i-timeline-item-box footer-only header-indicator">
            <div class="i-box-footer">
                {{ render_comment_form(form, abstract) }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_comment_form(form, abstract, comment=none) %}
    {% set url = url_for('.edit_abstract_comment', comment) if comment else url_for('.comment_abstract', abstract) %}
    {% set form_class = 'edit-comment' if comment else 'new-comment unfocused' %}
    {{ form_header(form, orientation='vertical', classes=form_class) }}
    {{ form_rows(form, skip_labels=true) }}
    {% call form_footer(form) %}
        <button class="i-button big highlight text-color js-comment"
                data-method="POST"
                data-href="{{ url }}"
                data-disabled-until-change>
            {% if comment %}
                {% trans %}Update comment{% endtrans %}
            {% else %}
                {% trans %}Comment{% endtrans %}
            {% endif %}
        </button>
        {% if comment %}
            <button class="i-button big text-color danger js-edit-cancel"
                    data-confirm="{% trans %}Do you want to discard the changes to this comment?{% endtrans %}"
                    data-confirm-if-change>
                {% trans %}Cancel{% endtrans %}
            </button>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro _render_review_state(review) %}
    {% set mapping = {'accept': 'success',
                      'reject': 'error',
                      'merge': 'visited',
                      'mark_as_duplicate': 'strong',
                      'change_tracks': 'warning'} %}
    <span class="i-tag outline {{ mapping[review.proposed_action.name] }}">
        {{ review.proposed_action.title -}}
    </span>
{% endmacro %}

{% macro _render_rating(cfa, value) %}
    <span class="rating">
        {%- for bullet in range(cfa.rating_range[0], cfa.rating_range[1] + 1) -%}
            <span class="bullet {{ 'full' if bullet <= value else '' }}"></span>
        {%- endfor -%}
    </span>
{% endmacro %}

{% macro _render_review(review, form, management=false) %}
    {% set can_change_review = review.user == session.user and review.abstract.public_state.name == 'under_review' %}
    <div class="i-timeline-item">
        <div class="i-timeline-item-label action abstract-comment-pic"></div>
        <div class="i-timeline-item-box header-indicator review-results">
            <div class="i-box-header flex">
                <div class="stretch">
                    {% trans name=review.user.name -%}
                        <strong>{{ name }}</strong> left a review
                    {%- endtrans %}
                    {{ render_visibility_hint(review.visibility) }}
                    <time datetime="{{ review.created_dt.isoformat() }}">
                        {{- review.created_dt|format_human_date -}}
                    </time>
                    {% if review.modified_dt %}
                        {{ render_edited_hint(review.modified_dt) }}
                    {% endif %}
                </div>
                <div class="abstract-comment-badges">
                    <span>
                        {% trans action=_render_review_state(review) %}
                            Proposes to {{ action }}
                        {% endtrans %}
                    </span>
                    {% if review.score %}
                        {{ render_score(review.score, review.abstract.event_new.cfa) }}
                    {% endif %}
                </div>
                {% if review.can_edit(session.user, check_state=true) %}
                    <div>
                        <a class="i-button-icon icon-edit js-edit-review"
                           title="{% trans %}Edit review{% endtrans %}"
                           data-href="{{ url_for('.edit_review', review, management=management) }}"
                           data-method="GET"
                           data-ajax></a>
                    </div>
                {% endif %}
            </div>
            <div class="i-box-content">
                {% if review.proposed_action.name == 'accept' %}
                    <div class="">
                        {% if review.proposed_contribution_type %}
                            {% set contribution_type -%}
                                <strong>{{ review.proposed_contribution_type.name|escape }}</strong>
                            {%- endset %}
                            {% trans type=contribution_type|safe -%}
                                Proposed to accept as {{ type }}
                            {%- endtrans %}
                        {% else %}
                            {% trans -%}
                                Proposed to accept
                            {%- endtrans %}
                        {% endif %}
                    </div>
                {% elif review.proposed_action.name == 'change_tracks' %}
                    <div class="">
                        {% set tracks -%}
                            {% for track in review.proposed_tracks -%}
                                <span class="abstract-track">{{ track.title|escape }}</span>
                                {%- if not loop.last -%}, {% endif -%}
                            {% endfor %}
                        {%- endset %}
                        {% trans count=review.proposed_tracks|length, tracks=tracks|safe -%}
                            Possible destination track: {{ tracks }}
                        {%- pluralize -%}
                            Possible destination tracks: {{ tracks }}
                        {%- endtrans %}
                    </div>
                {% elif review.proposed_action.name in ('mark_as_duplicate', 'merge') %}
                    <div class="">
                        {% set other_abstract = review.proposed_related_abstract %}
                        {% set abstract_link -%}
                            <a href="{{ url_for('.display_abstract', other_abstract) }}">
                                {{ other_abstract.title|escape }}
                            </a>
                        {%- endset %}
                        {% if review.proposed_action.name == 'merge' %}
                            {% trans title=abstract_link|safe -%}
                                Proposed to be merged into {{ title }}
                            {%- endtrans %}
                        {% elif review.proposed_action.name == 'mark_as_duplicate' %}
                            {% trans title=abstract_link|safe -%}
                                Proposed as duplicate of {{ title }}
                            {%- endtrans %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if review.ratings %}
                    <div class="titled-rule">
                        {% trans %}Ratings{% endtrans %}
                    </div>
                    {% for rating in review.ratings|sort(attribute='question.position') %}
                        <ul class="abstract-question-list">
                            <li>
                                <label>{{ rating.question.text }}</label>
                                <span class="value">
                                    {{ _render_rating(review.abstract.event_new.cfa, rating.value) }}
                                    <span class="number">{{ rating.value }}</span>
                                </span>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
                {% if review.comment %}
                    <div class="titled-rule">
                        {% trans %}Comment{% endtrans %}
                    </div>
                    <div class="">
                        {{ review.comment }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_reviewed_for_tracks_box(abstract, form, management=false) %}
    <div id="abstract-reviewed-for-tracks-box" class="i-timeline-item">
        <div class="i-timeline-item-label action icon-list"></div>
        <div class="i-timeline-item-box content-indicator">
            <div class="i-box-content">
                <div class="flex">
                    <div class="stretch">
                        <div class="info-line">
                            <label>
                                {% trans count=abstract.reviewed_for_tracks|length -%}
                                    Reviewing for track:
                                {%- pluralize -%}
                                    Reviewing for tracks:
                                {%- endtrans -%}
                            </label>
                            {{ render_tracks(abstract.reviewed_for_tracks) }}
                        </div>
                    </div>
                    {% if abstract.edit_track_mode.name != 'none' %}
                        <div>
                            <a href="#"
                               data-href="{{ url_for('.edit_review_tracks', abstract, management=management) }}"
                               data-form-container="#edit-reviewed-for-track-list"
                               data-update=".management-page"
                               data-replace-update
                               data-hide-trigger
                               data-ajax-form>
                                {%- trans %}Edit track list{% endtrans -%}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="i-box-footer hidden-if-empty" id="edit-reviewed-for-track-list"></div>
        </div>
    </div>
{% endmacro %}
