{% from 'forms/_form.html' import form_header, form_rows, form_footer %}


{% macro render_review_form(form, abstract=none, track=none, review=none, management=false, on_pageload=false) %}
    {% set url = url_for('.review_abstract', abstract, track, management=management) if not review else
                 url_for('.edit_review', review, management=management) %}
    {% set track = track or review.track %}
    {% call form_header(form, action=url, orientation='vertical', id=('track-review-form-%s'|format(track.id)),
                   classes='abstract-reivew-form') %}
        {% if on_pageload %}
            data-href="{{ url_for('.review_abstract', abstract, track) }}"
            data-form-container="#abstract-timeline-input .js-form-container"
            data-update=".management-page"
            data-replace-update
            data-confirm-close-unsaved
            data-ajax-form
        {% endif %}
    {% endcall %}
    <div class="abstract-review-form-preface">
        {% if review %}
            {% trans title=track.title -%}
                Changing your review in track <span class="abstract-track">{{ title }}</span>
            {%- endtrans %}
        {% else %}
            {% trans title=track.title -%}
                Reviewing abstract in track <span class="abstract-track">{{ title }}</span>
            {%- endtrans %}
        {% endif %}
    </div>
    <div class="titled-rule">Ratings</div>
    <div class="abstract-question-list">
        {{ form_rows(form, skip=form._order, skip_labels=true) }}
    </div>
    <div class="titled-rule">Proposal</div>
    {{ form_rows(form, fields=form._order, skip_labels=true) }}
    {% set form_id = '#track-review-form-' + track.id|string %}
    {% call form_footer(form) %}
        {% if not review %}
            <button class="i-button big highlight text-color" data-disabled-until-change>
                {% trans %}Submit review{% endtrans %}
            </button>
        {% else %}
            <button class="i-button big highlight text-color" data-disabled-until-change>
                {% trans %}Change review{% endtrans %}
            </button>
        {% endif %}
        {% if not on_pageload %}
            <button class="i-button big text-color color-on-hover danger {% if review %}js-edit-cancel{% else %}js-new-cancel{% endif %}"
                    data-button-back>
                {% trans %}Cancel{% endtrans %}
            </button>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro render_comment_form(form, abstract, comment=none) %}
    {% set url = url_for('.edit_abstract_comment', comment) if comment else url_for('.comment_abstract', abstract) %}
    {% set form_class = 'edit-comment' if comment else 'new-comment unfocused' %}
    {% call form_header(form, action=url, orientation='vertical', classes=form_class) %}
        {% if not comment %}
            data-form-container="#abstract-timeline-input .js-form-container"
            data-update=".management-page"
            data-replace-update
            data-confirm-close-unsaved
            data-initially-hidden
            data-ajax-form
        {% endif %}
    {% endcall %}
    {{ form_rows(form, skip_labels=true) }}
    {% call form_footer(form) %}
        <button type="submit" class="i-button big highlight text-color"
                data-disabled-until-change>
            {% if comment %}
                {% trans %}Update comment{% endtrans %}
            {% else %}
                {% trans %}Comment{% endtrans %}
            {% endif %}
        </button>
        <button class="i-button big text-color color-on-hover danger {{ 'js-new-cancel' if not comment }}"
                data-button-back>
            {% trans %}Cancel{% endtrans %}
        </button>
    {% endcall %}
{% endmacro %}
