{% from 'forms/_form.html' import form_header, form_rows, form_footer %}


{% macro render_review_boxes(abstract, review_forms, management=false) %}
    {% for track in abstract.reviewed_for_tracks|sort(attribute='title') %}
        {% set user_reviewed = abstract.get_reviews(track=track)|selectattr('user', 'equalto', session.user)|list %}
        {% if not user_reviewed and track.can_review_abstracts(session.user) %}
            {{ _render_review_box(review_forms[track.id], abstract, track, management=management) }}
        {% endif %}
    {% endfor %}
{% endmacro %}


{% macro _render_review_box(form, abstract, track, edit=false, management=false) %}
    <div id="abstract-review-box-{{ track.id }}" class="i-timeline-item abstract-review-box">
        <div class="i-timeline-item-label action icon-checkmark"></div>
        <div class="i-timeline-item-box content-indicator">
            <div class="i-box-content">
                <div class="flex">
                    <div class="stretch">
                        <strong>
                            {% trans track_title=track.title -%}
                                Review for track "{{ track_title }}"
                            {%- endtrans %}
                        </strong>
                    </div>
                </div>
            </div>
            <div class="i-box-footer js-form-container">
                {{ render_review_form(form, abstract=abstract, track=track, management=management) }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_review_form(form, abstract=none, track=none, review=none, management=false) %}
    {% set url = url_for('.review_abstract', abstract, track, management=management) if not review else
                 url_for('.edit_review', review, management=management) %}
    {% call form_header(form, action=url, orientation='vertical', id=('track-review-form-%s'|format(track.id))) %}
        data-form-container="#abstract-review-box-{{ track.id }} .js-form-container"
        data-update=".management-page"
        data-replace-update
        data-ajax-form
    {% endcall %}
    {{ form_rows(form, skip=form._order) }}
    {{ form_rows(form, fields=form._order, skip_labels=true) }}
    {% set form_id = '#track-review-form-' + track.id|string %}
    {% call form_footer(form) %}
        {% if not review %}
            <button class="i-button big highlight text-color" data-disabled-until-change>
                {% trans %}Submit review{% endtrans %}
            </button>
        {% else %}
            <button class="i-button big highlight text-color" data-disabled-until-change>
                {% trans %}Change review{% endtrans %}
            </button>
            <button class="i-button big text-color color-on-hover danger" data-button-back>
                {% trans %}Cancel{% endtrans %}
            </button>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro render_comment_box(abstract, form) %}
    <div id="abstract-comment-box" class="i-timeline-item">
        <div class="i-timeline-item-label action"></div>
        <div class="i-timeline-item-box footer-only header-indicator">
            <div class="i-box-footer js-form-container">
                {{ render_comment_form(form, abstract) }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro render_comment_form(form, abstract, comment=none) %}
    {% set url = url_for('.edit_abstract_comment', comment) if comment else url_for('.comment_abstract', abstract) %}
    {% set form_class = 'edit-comment' if comment else 'new-comment unfocused' %}
    {% call form_header(form, action=url, orientation='vertical', classes=form_class) %}
        data-form-container="#abstract-comment-box .js-form-container"
        data-update=".management-page"
        data-replace-update
        data-confirm-close-unsaved
        data-ajax-form
    {% endcall %}
    {{ form_rows(form, skip_labels=true) }}
    {% call form_footer(form) %}
        <button type="submit" class="i-button big highlight text-color" data-disabled-until-change>
            {% if comment %}
                {% trans %}Update comment{% endtrans %}
            {% else %}
                {% trans %}Comment{% endtrans %}
            {% endif %}
        </button>
        {% if comment %}
            <button type="button" class="i-button big text-color color-on-hover danger js-edit-cancel" data-button-back>
                {% trans %}Cancel{% endtrans %}
            </button>
        {% endif %}
    {% endcall %}
{% endmacro %}
