{% from 'events/abstracts/abstract/_common.html' import render_edited_hint, render_score, render_visibility_hint,
                                                        render_tracks, render_track, render_instruction_box,
                                                        render_user_avatar %}
{% from 'events/abstracts/abstract/_timeline_forms.html' import render_comment_form, render_review_form %}


{% macro render_timeline(abstract, comment_form, review_form=none) %}
    {% set can_comment = abstract.can_comment(session.user) %}
    {% set can_review = abstract.can_review(session.user, check_state=true) %}
    {% set timeline = abstract.get_timeline(session.user) %}
    {% if timeline or can_comment or can_review %}
        <div class="i-timeline with-line abstract-timeline">
            <div class="i-timeline-connect-up"></div>
            {% for item in timeline %}
                {% if item.TIMELINE_TYPE == 'comment' %}
                    {{ _render_comment(item) }}
                {% elif item.TIMELINE_TYPE == 'review' %}
                    {{ _render_review(item, form=form) }}
                {% endif %}
            {% endfor %}
            {% if can_comment or can_review %}
                {{ _render_input(abstract, comment_form, review_form) }}
            {% endif %}
        </div>
        <div class="i-timeline">
            {# XXX: We need to nest the connector into another .i-timeline to keep the same nesting #}
            <div class="i-timeline-connect-down to-separator"></div>
        </div>
        <div class="i-timeline-separator"></div>
    {% endif %}
{% endmacro %}


{% macro _render_comment(comment) %}
    <div id="abstract-comment-{{ comment.id }}" class="i-timeline-item">
        {{ render_user_avatar(comment.user) }}
        <div class="flexrow i-timeline-item-content">
            <div class="i-timeline-item-box header-indicator-left">
                <div class="i-box-header flexrow">
                    <div class="f-self-stretch">
                        {% trans name=comment.user.name -%}
                            <strong>{{ name }}</strong> left a comment
                        {%- endtrans %}
                        {{ render_visibility_hint(comment.visibility) }}
                        <time datetime="{{ comment.created_dt.isoformat() }}">
                            {{- comment.created_dt|format_human_date -}}
                        </time>
                        {% if comment.modified_dt %}
                            {{ render_edited_hint(comment.modified_dt, comment.modified_by) }}
                        {% endif %}
                    </div>
                    {% if comment.can_edit(session.user) %}
                        <div class="review-comment-actions">
                            <a class="i-link icon-edit js-edit-comment"
                               title="{% trans %}Edit comment{% endtrans %}"
                               data-href="{{ url_for('.edit_abstract_comment', comment) }}"
                               data-form-container="#abstract-comment-{{ comment.id }} .js-form-container"
                               data-update="#abstract-page"
                               data-replace-update
                               data-confirm-close-unsaved
                               data-ajax-form></a>
                            <a class="i-link icon-cross js-delete-comment"
                               title="{% trans %}Remove comment{% endtrans %}"
                               data-method="DELETE"
                               data-href="{{ url_for('.delete_abstract_comment', comment) }}"
                               data-title="{% trans %}Remove comment{% endtrans %}"
                               data-confirm="{% trans %}Are you sure you want to remove this comment?{% endtrans %}"
                               data-ajax>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="i-box-content js-form-container">
                    <div class="markdown-text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro _render_review(review, form) %}
    {% set no_content = not review.comment and not review.ratings %}
    <div id="abstract-review-{{ review.id }}" class="i-timeline-item">
        {{ render_user_avatar(review.user) }}
        <div class="flexrow i-timeline-item-content">
            <div class="i-timeline-item-metadata">
                <div class="f-self-stretch">
                    {% trans name=review.user.name -%}
                        <strong>{{ name }}</strong> left a review
                    {%- endtrans %}
                    {{ render_visibility_hint(review.visibility) }}
                    <time datetime="{{ review.created_dt.isoformat() }}">
                        {{- review.created_dt|format_human_date -}}
                    </time>
                    {% if review.modified_dt %}
                        {{ render_edited_hint(review.modified_dt) }}
                    {% endif %}
                </div>
                <div>
                    {{ render_track(review.track) }}
                </div>
            </div>
            <div class="i-timeline-item-box header-indicator-top {% if not review.comment %}header-only{% endif %}"
                 {% if not review.comment %}data-no-comment{% endif %}>
                <div class="i-box-header flexrow">
                    <div class="review-badges">
                        {% set action = _render_review_state(review) %}
                        {% set endaction = '</span>'|safe %}

                        {% if review.proposed_action.name == 'accept' %}
                            {% if review.proposed_contribution_type %}
                                {% set contribution_type -%}
                                    <strong>{{ review.proposed_contribution_type.name|escape }}</strong>
                                {%- endset %}
                                {% trans type=contribution_type|safe -%}
                                    Proposed to {{ action }}accept{{ endaction }} as {{ type }}
                                {%- endtrans %}
                            {% else %}
                                {% trans -%}
                                    Proposed to {{ action }}accept{{ endaction }}
                                {%- endtrans %}
                            {% endif %}
                        {% elif review.proposed_action.name == 'reject' %}
                            {% trans -%}
                                Proposed to {{ action }}reject{{ endaction }}
                            {%- endtrans %}
                        {% elif review.proposed_action.name == 'change_tracks' %}
                            {% trans -%}
                                Proposed to {{ action }}change tracks{{ endaction }}
                            {%- endtrans %}
                        {% elif review.proposed_action.name in ('mark_as_duplicate', 'merge') %}
                            {% set other_abstract = review.proposed_related_abstract %}
                            {% set abstract_link -%}
                                <a href="{{ url_for('.display_abstract', other_abstract) }}">
                                    {{ other_abstract.title|escape }}
                                </a>
                            {%- endset %}
                            {% set title = abstract_link|safe %}
                            {% if review.proposed_action.name == 'merge' %}
                                {% trans -%}
                                    Proposed to {{ action }}merge{{ endaction }} into {{ title }}
                                {%- endtrans %}
                            {% elif review.proposed_action.name == 'mark_as_duplicate' %}
                                {% trans -%}
                                    Proposed as {{ action }}duplicate{{ endaction }} of {{ title }}
                                {%- endtrans %}
                            {% endif %}
                        {% endif %}
                        {% if review.score is not none %}
                            · score {{ render_score(review.score, review.abstract.event_new.cfa, classes='bold semantic-text') }}
                            (<a class="js-ratings-toggle">{#--#}
                                <span class="js-show-ratings">{% trans %}show ratings{% endtrans %}</span>{#--#}
                                <span class="weak-hidden js-hide-ratings">{% trans %}hide ratings{% endtrans %}</span>{#--#}
                            </a>)
                        {% endif %}
                    </div>
                    {% if review.can_edit(session.user, check_state=true) %}
                        <div class="review-comment-actions">
                            <a class="i-link icon-edit js-edit-review"
                               title="{% trans %}Edit review{% endtrans %}"
                               data-href="{{ url_for('.edit_review', review) }}"
                               data-form-container="#abstract-review-{{ review.id }} .js-form-container"
                               data-update="#abstract-page"
                               data-replace-update
                               data-confirm-close-unsaved
                               data-ajax-form></a>
                        </div>
                    {% endif %}
                </div>
                <div class="i-box-content js-form-container">
                    {% if review.ratings %}
                        <div class="ratings-details weak-hidden">
                            <ul class="review-questions">
                                {% for rating in review.ratings|rejectattr('question.is_deleted')|sort(attribute='question.position') %}
                                    <li class="flexrow">
                                        <div>
                                            <span class="question-index">{{ loop.index }}</span>
                                        </div>
                                        <div class="question-text f-self-stretch">
                                            {{ rating.question.text }}
                                        </div>
                                        <div>
                                            <span class="rating-scale flexrow f-a-center">
                                                {{ _render_rating(review.abstract.event_new.cfa, rating.value) }}
                                                <span class="score">{{ rating.value }}</span>
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            {% if review.proposed_action.name == 'change_tracks' %}
                                <div class="titled-rule">
                                    {% trans %}Proposed tracks{% endtrans %}
                                </div>
                            {% elif review.comment %}
                                <div class="titled-rule">
                                    {% trans %}Comment{% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if review.proposed_action.name == 'change_tracks' %}
                        <div>
                            {% set tracks = render_tracks(review.proposed_tracks) %}
                            {% trans count=review.proposed_tracks|length -%}
                                Possible destination track: {{ tracks }}
                            {%- pluralize -%}
                                Possible destination tracks: {{ tracks }}
                            {%- endtrans %}
                        </div>
                        {% if review.comment %}
                            <div class="titled-rule">
                                {% trans %}Comment{% endtrans %}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if review.comment %}
                        <div class="markdown-text">
                            {{ review.comment }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro _render_rating(cfa, value) %}
    {%- for bullet in range(cfa.rating_range[0], cfa.rating_range[1] + 1) -%}
        <span class="bullet {{ 'full' if bullet <= value else '' }}"></span>
    {%- endfor -%}
{% endmacro %}


{% macro _render_review_state(review) %}
    {% set mapping = {'accept': 'success',
                      'reject': 'error',
                      'merge': 'visited',
                      'mark_as_duplicate': 'strong',
                      'change_tracks': 'warning'} %}
    <span class="bold underline semantic-text {{ mapping[review.proposed_action.name] }}">
{% endmacro %}


{% macro _render_input(abstract, comment_form, review_form=none) %}
    {% set can_comment = abstract.can_comment(session.user) %}
    {% set reviewer_data = abstract.get_reviewer_render_data(session.user) %}
    {% if can_comment or reviewer_data.tracks %}
        <div id="review-timeline-input" class="i-timeline-item review-timeline-input">
            {{ render_user_avatar(session.user) }}
            <div class="i-timeline-item-box footer-only header-indicator-left">
                <div class="i-box-footer js-form-container">
                    {% if can_comment %}
                        <div class="flexrow">
                            <div class="f-self-stretch">
                                {{ render_comment_form(comment_form, abstract) }}
                            </div>
                            {% if reviewer_data.tracks and abstract.can_review(session.user, check_state=true) %}
                                {{ _render_review_trigger(abstract) }}
                            {% endif %}
                        </div>
                    {% elif abstract.can_review(session.user, check_state=true) %}
                        {{ _render_input_no_comment(abstract, review_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}


{% macro _render_input_no_comment(abstract, review_form=none) %}
    {% set reviewer_data = abstract.get_reviewer_render_data(session.user) %}
    {% if reviewer_data.tracks|length == 1 and not reviewer_data.reviews %}
        {{ render_review_form(review_form, abstract, reviewer_data.tracks|first, on_pageload=true) }}
    {% else %}
        {% set missing_tracks = reviewer_data.missing_tracks|length %}
        {% if missing_tracks %}
            {% if not reviewer_data.reviews %}
                {% set no_comments_title %}
                    {%- trans count=missing_tracks -%}
                        You can review this abstract in one track
                    {%- pluralize -%}
                        You can review this abstract in {{ missing_tracks }} tracks
                    {%- endtrans -%}
                {% endset %}
            {% else %}
                {% set no_comments_title %}
                    {%- trans count=missing_tracks -%}
                        You can review this abstract in one more track
                    {%- pluralize -%}
                        You can review this abstract in {{ missing_tracks }} more tracks
                    {%- endtrans -%}
                {% endset %}
            {% endif %}
            {% set no_comments_description %}
                {%- trans %}You can do it until a final judgment is casted{% endtrans -%}
            {% endset %}
        {% else %}
            {% set no_comments_title %}
                {%- trans %}You have already reviewed this abstract in all your tracks{% endtrans -%}
            {% endset %}
            {% set no_comments_description %}
                {%- trans %}You can still make up your mind{% endtrans -%}
            {% endset %}
        {% endif %}
        <div class="flexrow">
            <div class="f-self-stretch">
                <div class="empty-input-title">
                    {{- no_comments_title -}}
                </div>
                <div class="empty-input-description">
                    {{- no_comments_description -}}
                </div>
            </div>
            {{ _render_review_trigger(abstract, exclusive=true) }}
        </div>
    {% endif %}
{% endmacro %}


{% macro _render_review_trigger(abstract, exclusive=false) %}
    {% set reviewer_data = abstract.get_reviewer_render_data(session.user) %}
    <div class="review-trigger flexrow">
        {% if not exclusive %}
            <span class="comment-or-review">
                {%- trans %}or{% endtrans -%}
            </span>
        {% endif %}
        {% if reviewer_data.tracks|length == 1 %}
            {% set track = reviewer_data.tracks|first %}
            {% if track in reviewer_data.reviewed_tracks %}
                {% set review = reviewer_data.reviews[track] %}
                <button class="i-button big highlight text-color js-new-edit-review" data-review-id="{{ review.id }}">
                    {%- trans %}Change review{% endtrans -%}
                </button>
            {% else %}
                <button class="i-button big highlight text-color"
                        data-href="{{ url_for('.review_abstract', abstract, track) }}"
                        data-form-container="#review-timeline-input .js-form-container"
                        data-update="#abstract-page"
                        data-replace-update
                        data-confirm-close-unsaved
                        data-ajax-form>
                    {%- trans %}Review{% endtrans -%}
                </button>
            {% endif %}
        {% else %}
            <button class="i-button big highlight text-color arrow js-dropdown" data-toggle="dropdown">
                {% if reviewer_data.tracks.issubset(reviewer_data.reviewed_tracks) %}
                    {%- trans %}Change reviews{% endtrans -%}
                {% else %}
                    {%- trans %}Review{% endtrans -%}
                {% endif %}
            </button>
            <ul class="dropdown">
                {% for track in reviewer_data.tracks|sort(attribute='title') %}
                    <li>
                        {% if track in reviewer_data.reviewed_tracks %}
                            {% set review = reviewer_data.reviews[track] %}
                            <a class="js-new-edit-review" data-review-id="{{ review.id }}">
                                {{ track.full_title }}
                                <i class="icon-circle-small" title="{% trans %}Already reviewed{% endtrans %}"></i>
                            </a>
                        {% else %}
                            <a data-href="{{ url_for('.review_abstract', abstract, track) }}"
                               data-form-container="#review-timeline-input .js-form-container"
                               data-update="#abstract-page"
                               data-replace-update
                               data-confirm-close-unsaved
                               data-ajax-form>
                                {{ track.full_title }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
