{% extends 'events/management/base.html' %}
{% from 'forms/_form.html' import form_row %}

{% block title %}
    {% trans %}Event bookings{% endtrans %}
{% endblock %}

{% block content %}
    <div class="event-booking-page">
        <div class="action-box event-bookings">
            <div class="section">
                <div class="text">
                    <div class="label">
                        {%- trans %}Event{% endtrans -%}
                    </div>
                    {{ event.title }}
                </div>
                <div class="toolbar">
                    <a target="_blank" href="{{ event_book_room_url }}" class="i-button highlight book-btn">
                        {%- trans %}Book{% endtrans -%}
                    </a>
                </div>
            </div>
            {% if has_unlinked_contribs %}
                <div class="section searchable-field">
                    <div class="text">
                        <div class="label">
                            {%- trans %}Contribution{% endtrans -%}
                        </div>
                        {{ form_row(form.contribution, skip_label=true, hide_description=true) }}
                    </div>
                    <div class="toolbar">
                        <a target="_blank" href="#" data-href="{{ book_room_url }}"
                           class="i-button highlight book-btn disabled">
                            {%- trans %}Book{% endtrans -%}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if has_unlinked_session_blocks %}
                <div class="section searchable-field">
                    <div class="text">
                        <div class="label">
                            {%- trans %}Session block{% endtrans -%}
                        </div>
                        {{ form_row(form.session_block, skip_label=true, hide_description=true) }}
                    </div>
                    <div class="toolbar">
                        <a target="_blank" href="#" data-href="{{ book_room_url }}"
                           class="i-button highlight book-btn disabled">
                            {%- trans %}Book{% endtrans -%}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            <h3>Current bookings</h3>
            <table class="i-table-widget">
                <thead>
                    <tr>
                        <th class="room-column">{% trans %}Room{% endtrans %}</th>
                        <th>{% trans %}Reason{% endtrans %}</th>
                        <th>{% trans %}For whom{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th class="time-column">{% trans %}Time{% endtrans %}</th>
                        <th class="link-column">{% trans %}Linked to{% endtrans %}</th>
                        <th class="action-column"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.room.full_name }}</td>
                            <td>{{ reservation.booking_reason }}</td>
                            <td>{{ reservation.booked_for_name }}</td>
                            <td>
                                {{ reservation.start_dt | format_date()}}
                                {% if reservation.is_repeating %}
                                    ({% trans %}recurring{% endtrans %})
                                {% endif %}
                            </td>
                            <td>{{ reservation.start_dt | format_time() }} - {{ reservation.end_dt | format_time() }}</td>
                            {% set link = reservation.link %}
                            <td class="link-data">
                                <span title="{{ link.object.full_title if link.link_type.name == 'session_block' else link.object.title }}">
                                    {{ link.link_type.name.replace('_', ' ') | capitalize }}
                                </span>
                            </td>
                            <td class="action-column">
                                <a target="_blank" href="{{ booking_details_url(reservation) }}"
                                   title="{% trans %}See details{% endtrans %}" class="icon-info action-icon"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        (function() {
            'use strict';

            $('#contribution, #session_block').on('change', (e) => {
                const $target = $(e.currentTarget);
                const $bookBtn = $target.closest('.searchable-field').find('.book-btn');
                const linkType = {
                    contribution: 'contribution',
                    session_block: 'sessionBlock',
                }[$target.attr('id')];
                const params = {
                    linkType,
                    linkId: +$target.val(),
                };
                $bookBtn.toggleClass('disabled', !$target.val())
                    .attr('href', $bookBtn.data('href') + (params.linkId ? `?${$.param(params)}`: ''))
            });
        })();
    </script>
{% endblock %}


