.button {
    display: inline-block;
    padding: 4px 10px 4px;
    margin: 0;
    font-size: 13px;
    line-height: 1em;
    color: #777 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-bottom-color: #B3B3B3;

    background-color: #eaeaea;
    transition: color .25s ease-out, border-color .25s ease-out;
    -webkit-transition: color .25s ease-out, border-color .25s ease-out;
    -moz-transition: color .25s ease-out, border-color .25s ease-out;
    vertical-align: middle;
    border: 1px solid #bbb;
}

.button:hover {
    color: #555 !important;
    border-color: #999;

    background-image: -ms-linear-gradient(top, #F7F7F7, #E2E2E2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F7F7F7), to(#E2E2E2));
    background-image: -webkit-linear-gradient(top, #F7F7F7, #E2E2E2);
    background-image: -o-linear-gradient(top, #F7F7F7, #E2E2E2);
    background-image: -moz-linear-gradient(top, #F7F7F7, #E2E2E2);
    background-image: linear-gradient(top, #F7F7F7, #E2E2E2);
    background-repeat: repeat-x;
    box-shadow: 1px 1px 4px rgba(20, 20, 20, 0.1);
}

.button-primary {
    background-color: #9FCBED;
    background-image: -ms-linear-gradient(top, #C8E3F7, #9FCBED);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C8E3F7), to(#9FCBED));
    background-image: -webkit-linear-gradient(top, #C8E3F7, #9FCBED);
    background-image: -o-linear-gradient(top, #C8E3F7, #9FCBED);
    background-image: -moz-linear-gradient(top, #C8E3F7, #9FCBED);
    background-image: linear-gradient(top, #C8E3F7, #9FCBED);
    background-repeat: repeat-x;
    border-color: #05C #05C #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button.danger {
    color: #f4f4f4 !important;
    background: #af0000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
}

.button.danger:hover {
    color: #f4f4f4 !important;
    text-shadow: 1px 1px 1px #444;
    background-image: -ms-linear-gradient(top, #CF2323, #af0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CF2323), to(#af0000));
    background-image: -webkit-linear-gradient(top, #CF2323, #af0000);
    background-image: -o-linear-gradient(top, #CF2323, #af0000);
    background-image: -moz-linear-gradient(top, #CF2323, #af0000);
    background-image: linear-gradient(top, #CF2323, #af0000);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button.warning {
    color: #efefef !important;
    background: #E99E18;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
    font-weight: normal !important;
}

.button.warning:hover {
    color: #fdfdfd !important;
    text-shadow: 1px 1px 1px #888 !important;
    background-image: -ms-linear-gradient(top, #F3BB08, #E99E18);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F3BB08), to(#E99E18));
    background-image: -webkit-linear-gradient(top, #F3BB08, #E99E18);
    background-image: -o-linear-gradient(top, #F3BB08, #E99E18);
    background-image: -moz-linear-gradient(top, #F3BB08, #E99E18);
    background-image: linear-gradient(top, #F3BB08, #E99E18);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button.accept {
    color: #fdfdfd !important;
    background: #0B8D00;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1);
}

.button.accept:hover {
    color: #f4f4f4 important;
    text-shadow: 1px 1px 1px #888;
    background-color: #0b8d00;
    background-image: -ms-linear-gradient(top, #0DA500, #0B8D00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0DA500), to(#0B8D00));
    background-image: -webkit-linear-gradient(top, #0DA500, #0B8D00);
    background-image: -o-linear-gradient(top, #0DA500, #0B8D00);
    background-image: -moz-linear-gradient(top, #0DA500, #0B8D00);
    background-image: linear-gradient(top, #0DA500, #0B8D00);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);

}

.button-small {
    padding: 9px;
    font-size: 11px;
    line-height: 16px;
}

.button-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 14px;
}

.button-fit {
    width: 100%;
}

.button:disabled {
    color: #ccc !important;
    border: 1px solid #bbb;
    text-shadow: 1px 1px 1px #fff;
}

button i[class*="icon-"] {
    font-size: 1.2em;
}

.button-right {
    float: right;
    margin-left: 5px;
}

.toolbar {
    vertical-align: middle;
    height: 2.5em;
    margin-bottom: 1em;
}

.toolbar.thin {
    height: 1.5em;
}

.toolbar.thin .button {
    height: 1.5em;
    line-height: 1.5em;
}

.toolbar > .option {
    line-height: 2.5em;
    margin-right: 1em;
}

.toolbar .group {
    line-height: 2em;
    padding: 0.25em 0.5em 0.25em 0.25em;
    vertical-align: middle;
}

.toolbar .group > .button {
    border-left: 1px solid #CCC;
}

.toolbar .group > .button:not(.hidden) ~ .button:not(.hidden) {
    border-left: none;
}

.toolbar .dropdown {
    display: none;
    z-index: 1;
}

.toolbar .button {
    float: left;
    display: block;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0.2em 0.7em 0.1em 0.7em !important; 
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
    color: #777;
    padding-top: 0.4em;
}

.button[class*="icon-"].icon-only:before {
    margin-right: 0;
}

.button[class*="icon-"]:before {
    font-size: 1.2em;
    margin-right: 0.5em;
    vertical-align: -15%;
}

.toolbar .button.open {
    color: #999 !important;
    background: #ddd;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
}


.toolbar .button:active {
    color: #555;
}

.dropdown {
    padding: 0px;
    margin-top: 0px;
    border: solid 1px #dcdcdc;
    z-index: 0;
    position: absolute;
    background: #fafafa;
    box-shadow: 1px 1px 5px rgba(20, 20, 20, 0.1);
}


.dropdown > li {
    padding: 0.1em 1em;
    min-width: 1em;
    list-style-type: none;
    height: 1.7rem;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;

    font-weight: normal;
    float: none;
    display: block;
}

.dropdown > li a {
    padding-top: 0.1em;
    line-height: 1.7rem;
    display: block;
    width: 100%;
}

.dropdown > li a[class*="icon-"]:before {
    margin-right: 0.3em;
    font-size: 1.2rem;
    color: #777;
    vertical-align: -10%;
}

.dropdown > li:hover a {
    color: #888;
}


.toolbar .button.arrow:after {
    margin-left: 0.2em;
    font-family: 'icomoon-ultimate';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    content: "\24";
    text-align: right;
}
