/* Basic elements */

h2 {
    font-size: 1.5em;
   font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Sans-serif;
}

h2.page_title {
    margin-top: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, Sans-serif;
    font-size: 2em;
    color: #B14300;
}

.right {
    float: right;
}

.left {
    float: left;
}

.inline-vcentered {
    display: inline-block;
    vertical-align: middle;
}

.header-aligned {
    margin-top: 0.8em;
}

.clear {
    clear: both;
}

.hidden {
    display: none !important;
}

.weak-hidden {
    display: none;
}

.overflow {
    overflow: auto;
}

.nohtml {
    white-space: pre-line;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-right {
    text-align: right;
}

.text-important {
    color: #111;
}

.text-normal {
    color: #444;
}

.text-not-important {
    color: #777;
}

.text-superfluous {
    color: #BBB;
}

.quotation {
    margin: 10px;
    padding-left: 10px;
    color: #777;
    border-left: 4px solid #ddd;
    font-family: Georgia, Times, Serif;
}

.icon-medium{
    font-size:3em;
}

.icon-large{
    font-size:5em;
}

.icon-background {
    font-size: 10em;
    color: #EEE;
}

.area {
    color: #555;
    margin-top: 1em;
    padding: 1em;
    background: #fafafa;
}

.area h2:first-of-type {
    margin-top: 0;
}

.area h2 {
    color: #aaa;
}