@font-face {
	font-family: 'icomoon-ultimate';
	src:url('../fonts/icomoon-ultimate.eot');
	src:url('../fonts/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon-ultimate.svg#icomoon-ultimate') format('svg'),
		url('../fonts/icomoon-ultimate.woff') format('woff'),
		url('../fonts/icomoon-ultimate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon-ultimate';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon-ultimate';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-phone:before {
	content: "\70";
}
.icon-mail:before {
	content: "\6d";
}
.icon-shield:before {
	content: "\73";
}
.icon-file-pdf:before {
	content: "\61";
}
.icon-alarm:before {
	content: "\74";
}
.icon-location:before {
	content: "\6c";
}
.icon-user:before {
	content: "\63";
}
.icon-info:before {
	content: "\69";
}
.icon-box-add:before {
	content: "\64";
}
.icon-wrench:before {
	content: "\77";
}
.icon-checkbox-checked:before {
	content: "\76";
}
.icon-checkbox-unchecked:before {
	content: "\6f";
}
.icon-locked:before {
	content: "\21";
}
.icon-remove:before {
	content: "\22";
}
.icon-unlocked:before {
	content: "\23";
}
.icon-arrow-down:before {
	content: "\24";
}
.icon-file-excel:before {
	content: "\25";
}
.icon-shield:before {
	content: "\26";
}
.icon-time:before {
	content: "\74";
}
.icon-location:before {
	content: "\6c";
}
.icon-chair:before {
	content: "\63";
}
.icon-info:before {
	content: "\69";
}
.icon-material-download:before {
	content: "\64";
}
.icon-wrench:before {
	content: "\77";
}
.icon-checkbox-checked:before {
	content: "\76";
}
.icon-checkbox-unchecked:before {
	content: "\6f";
}
.icon-locked:before {
	content: "\21";
}
.icon-remove:before {
	content: "\22";
}
.icon-unlocked:before {
	content: "\23";
}
.icon-arrow-down:before {
	content: "\24";
}
.icon-file-excel:before {
	content: "\25";
}
.icon-arrow-up:before {
	content: "\26";
}
.icon-undo:before {
	content: "\27";
}
.icon-file-xml:before {
	content: "\28";
}