@font-face {
    font-family: 'icomoon-ultimate';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon-ultimate') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon-ultimate';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon-ultimate';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-phone:before {
    content: "\70";
}
.icon-mail:before {
    content: "\6d";
}
.icon-file-pdf:before {
    content: "\61";
}
.icon-time:before {
    content: "\74";
}
.icon-location:before {
    content: "\6c";
}
.icon-chair:before {
    content: "\63";
}
.icon-info:before {
    content: "\69";
}
.icon-material-download:before {
    content: "\64";
}
.icon-wrench:before {
    content: "\77";
}
.icon-checkbox-checked:before {
    content: "\76";
}
.icon-checkbox-unchecked:before {
    content: "\6f";
}
.icon-locked:before {
    content: "\21";
}
.icon-remove:before {
    content: "\22";
}
.icon-unlocked:before {
    content: "\23";
}
.icon-arrow-down:before {
    content: "\24";
}
.icon-file-excel:before {
    content: "\25";
}
.icon-undo:before {
    content: "\27";
}
.icon-file-xml:before {
    content: "\28";
}
.icon-upload:before {
    content: "\29";
}
.icon-rulers:before {
    content: "\26";
}
.icon-shield:before {
    content: "\2b";
}
.icon-refresh:before {
    content: "\2c";
}
.icon-plus:before {
    content: "\2d";
}
.icon-type:before {
    content: "\2a";
}
.icon-font-size:before {
    content: "\2f";
}
.icon-copy:before {
    content: "\30";
}
.icon-edit:before {
    content: "\2e";
}
.icon-pictures:before {
    content: "\31";
}
.icon-file-download:before {
    content: "\32";
}
.icon-settings:before {
    content: "\33";
}
.icon-search:before {
    content: "\37";
}
.icon-arrow-up:before {
    content: "\34";
}
.icon-key-A:before {
    content: "\38";
}
.icon-stack-plus:before {
    content: "\39";
}
.icon-stack-minus:before {
    content: "\3a";
}
.icon-clipboard:before {
    content: "\3c";
}
.icon-close:before {
    content: "\3b";
}
.icon-grid:before {
    content: "\35";
}
.icon-list:before {
    content: "\36";
}
.icon-trust:before {
    content: "\3d";
}
.icon-mobile:before {
    content: "\3e";
}
.icon-reading:before {
    content: "\3d";
}
.icon-medal:before {
    content: "\3e";
}
