{% extends 'events/papers/_base.html' %}

{% from 'events/abstracts/reviewing/timeline.html' import render_multiple_review_group_text %}
{% from 'events/papers/reviewing/timeline.html' import render_paper_info, render_submission_info,
                                                       render_paper_judgment, render_paper_revision_submission_form %}
{% from 'events/reviews/timeline.html' import render_timeline %}
{% from 'events/reviews/_common.html' import render_decision_box %}

{% block back_button_url -%}
    {% if management -%}
        {{ url_for('contributions.display_contribution', paper.contribution) }}
    {%- endif %}
{%- endblock %}

{% block back_button_title -%}
    {% if management %}
        {%- trans %}Back to the contribution{% endtrans -%}
    {% endif %}
{% endblock %}

{% block content %}
    {{ render_paper_info(paper) }}

    {% call(block, revision) render_timeline(paper, comment_form, review_form, revision_form) %}
        {% if block == 'multiple-review-group-text' %}
            {{ render_multiple_review_group_text(paper) }}
        {% elif block == 'revision-info' %}
            {{ render_submission_info(revision) }}
        {% elif block == 'revision-judgment' %}
            {{ render_paper_judgment(revision) }}
        {% elif block == 'submit-revision' %}
            {{ render_paper_revision_submission_form(paper, revision_form) }}
        {% endif %}
    {% endcall %}

    {# TODO: render review-summary-box #}
    {% if not paper.event_new.is_locked and paper.can_judge(session.user, check_state=true) %}
        <div id="proposal-decision-box" class="i-timeline-item">
            {{ render_decision_box(paper, judgment_form, session.user) }}
        </div>
    {% endif %}

    {% if not no_javascript %}
        <script>
            setupReviewingPage();
        </script>
    {% endif %}
{% endblock %}
