{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    ["react-css-modules", {
      "exclude": "node_modules",
      "context": "indico/modules",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "autoResolveMultipleImports": true
    }]
  ]
}
