[production-template]
>0.5% in alt-eu and >0.5% in alt-as and >0.5% in alt-na and >0.5% in alt-sa and >0.5% in alt-af and >0.5% in alt-oc and >1%
not ie > 0
last 4 Chrome versions
last 4 Edge versions
last 4 Safari versions
last 4 Firefox versions
last 4 FirefoxAndroid versions
Firefox esr

# begin generated code
# use `npm run update-browsers` to update
[production]
and_chr 126
and_ff 127
chrome 126
chrome 125
chrome 124
chrome 123
chrome 109
edge 126
edge 125
edge 124
edge 123
firefox 128
firefox 127
firefox 126
firefox 125
firefox 115
ios_saf 17.4
ios_saf 16.6-16.7
safari 17.5
safari 17.4
safari 17.3
safari 17.2
samsung 25
# end generated code

[supported]
last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions

[development]
last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions
