[run]
branch = true
source = indico
include =
    indico/core/db/sqlalchemy/*.py
    indico/core/settings/*.py
    indico/core/storage.py
    indico/modules/events/agreements/*.py
    indico/modules/events/notes/*.py
    indico/modules/oauth/*.py
    indico/modules/payment/*.py
    indico/modules/rb/*.py
    indico/modules/users/*.py
    indico/util/signals.py
    indico/util/string.py
    indico/web/flask/templating.py
    indico/util/*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
