[run]
branch = true
source = indico
include =
    indico/core/models/*.py
    indico/modules/events/agreements/*.py
    indico/modules/payment/*.py
    indico/modules/rb/*.py
    indico/modules/users/*.py
    indico/util/signals.py
    indico/util/string.py
    indico/web/flask/templating.py
    indico/util/i18n.py
    indico/util/translations.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
