# Legacy
indico/web/client/js/legacy/
indico/modules/events/registration/js/form

# Not legacy, but not tidy either
indico/web/client/js/jquery/

# Not actually JavaScript
indico/web/templates/assets

# Generated content
indico/web/static/dist/
