indico/htdocs/js/lib/
indico/htdocs/js/calendar/
indico/htdocs/js/presentation/
indico/htdocs/js/jquery/
indico/htdocs/js/indico/Common/
indico/htdocs/js/indico/Core/
indico/htdocs/js/indico/Legacy/
indico/htdocs/js/indico/Management/
indico/htdocs/js/indico/RoomBooking/
indico/htdocs/js/indico/angular/
indico/htdocs/js/indico/modules/timetable/timetable/*.js
indico/web/templates/assets/*.js
