# temporary/bytecode files
*~
.*.swp
*.pyc
*.pyo
__pycache__/

# makac symlink
/MaKaC

# configs
/etc/*.conf

# python packaging
/dist
*.egg-info
*.egg

# assets and generated stuff
build/
indico/htdocs/ihelp/html/
indico/htdocs/ihelp/pdf/
!indico/htdocs/ihelp/help/.*
!indico/htdocs/ihelp/pdf/.*
indico/htdocs/static/assets/
indico/htdocs/sass/.sass-cache/
.webassets-cache
.sass-cache
*.min.css
*.min.js
jquery_migrate_silencer_*.js
indico/htdocs/js/indico/i18n/*.js
*.mo

# fetched external dependencies
indico/htdocs/*/lib/
node_env
node_modules

# IDE files
.idea
*.sublime-*

# testing
.noseids
indico/tests/report/*.txt
test.txt
.coverage
coverage.xml
htmlcov/
/.cache/

# sphinx
/doc/dev/source/extension.rst
