[submodule "ext_modules/jquery"]
    path = ext_modules/jquery
    url = git://github.com/jquery/jquery.git
    ignore = dirty
[submodule "ext_modules/compass"]
    path = ext_modules/compass
    url = git://github.com/chriseppstein/compass.git
    ignore = dirty
[submodule "ext_modules/qtip2"]
    path = ext_modules/qtip2
    url = git://github.com/Craga89/qTip2.git
    ignore = dirty
[submodule "ext_modules/underscore"]
    path = ext_modules/underscore
    url = git://github.com/documentcloud/underscore.git
    ignore = dirty
[submodule "ext_modules/mathjax"]
    path = ext_modules/mathjax
    url = git://github.com/mathjax/MathJax.git
    ignore = dirty
[submodule "ext_modules/pagedown"]
    path = ext_modules/pagedown
    url = git://github.com/ujifgc/pagedown.git
    ignore = dirty
[submodule "ext_modules/jquery-ui-multiselect"]
    path = ext_modules/jquery-ui-multiselect
    url = git://github.com/ehynds/jquery-ui-multiselect-widget.git
    ignore = dirty
[submodule "ext_modules/ui-sortable"]
    path = ext_modules/ui-sortable
    url = git://github.com/angular-ui/ui-sortable
[submodule "ext_modules/angular"]
    path = ext_modules/angular
    url = git://github.com/indico/angular.js.git
