legacy-peer-deps=true
min-release-age=7
min-release-age-exclude[]=react-overridable
min-release-age-exclude[]=redux-router-querystring
min-release-age-exclude[]=flask-urls
min-release-age-exclude[]=babel-plugin-flask-urls
