language: python
python:
  - 2.7
git:
  submodules: false
  depth: 500
branches:
  only:
    - 2.1-maintenance
    - 2.2-maintenance
addons:
  postgresql: '9.6'
env:
  - NODE_VERSION="12.16.1"
before_install:
  - nvm install $NODE_VERSION
install:
  - pip install -U pip setuptools
  - pip install -r requirements.dev.txt
  - pip install -e .
  - npm install
script:
  - FORCE_COLOR=1 npx react-jsx-i18n extract --ext jsx indico/web/client/ indico/modules/ > /dev/null
  - isort -rc --diff --check-only indico/
  - python bin/maintenance/update_backrefs.py --ci
  - flake8
  - npx eslint --ext .js --ext .jsx indico/modules/rb/ indico/modules/events/logs/ indico/web/client/js/react/
    indico/modules/users/
  - pytest
  - npm test
  - python bin/maintenance/build-assets.py indico --dev
notifications:
  email: false
  irc:
    channels:
      - 'chat.freenode.net#indico'
    use_notice: true
    skip_join: true
