sudo: false
language: python
python:
  - 2.7
addons:
  postgresql: 9.2
install:
  - pip install -r requirements.txt --trusted-host indico-software.org
  - python setup.py develop
script:
  - py.test -v
notifications:
  email: false
  irc:
    channels:
      - 'chat.freenode.net#indico'
    use_notice: true
    skip_join: true
