include AUTHORS
include ChangeLog
include COPYING
include INSTALL
include NEWS
include README
include THANKS.md
include requirements.txt
include ez_setup.py

recursive-include bin *
recursive-include etc *
recursive-include indico *

global-exclude *.pyc etc/zdctl.conf etc/zodb.conf etc/indico.conf
