include AUTHORS 
include ChangeLog
include COPYING
include INSTALL
include INSTALL.pdf
include NEWS
include README
include THANKS

include doc/*.pdf
include ez_setup.py

recursive-include bin *
recursive-include etc *
recursive-include indico/htdocs *
recursive-include indico/MaKaC *
recursive-include tests *

global-exclude *.pyc *.mo zdctl.conf zodb.conf indico.conf.local
global-include zdctl.conf.sample zodb.conf.sample
