Babel==2.3.4
Mako==0.9.1
MarkupSafe==0.23
indico-fonts==1.1
cssmin==0.2.0
icalendar==3.11.3
jsmin==2.2.1
lxml==3.4.1
pojson==0.4
polib==1.0.5
pyPdf==1.13
pyatom==1.4
pycountry==1.2
mock==2.0.0
freezegun==0.3.8
pytest==3.0.6
pytest-catchlog==1.2.2
pytest-cov==2.4.0
pytest-localserver==0.3.6
pytest-mock==1.5.0
python-dateutil==2.6.0
pytz
reportlab==3.3.0
simplejson==3.10.0
termcolor==1.1.0
webassets==0.12.1
wsgiref==0.1.2
zope.interface==3.8.0
ujson==1.19
oauth2==1.5.211
requests==2.13.0
pyScss==1.3.5
Werkzeug==0.11.15
Flask==0.12
bcrypt==3.1.2
beautifulsoup4==4.5.3
Pillow==4.0.0
qrcode==3.0
Markdown==2.3.1
bleach==1.4.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.13
Flask-BabelEx==0.9.3
SQLAlchemy==1.1.6
WTForms==2.1
WTForms-Components==0.10.3
psycopg2==2.7
redis==2.10.5
hiredis==0.2.0
enum34
ipaddress
blinker==1.4
alembic==0.9.1
Flask-Migrate==2.0.3
https://github.com/indico/flask-pluginengine/archive/master.zip#egg=flask_pluginengine
https://github.com/indico/flask-multipass/archive/master.zip#egg=flask_multipass
click==6.7
colorclass==2.2.0
itsdangerous==0.24
celery==3.1.25
PyYAML==3.12
terminaltables==3.1.0
contextlib2==0.5.4
Flask-OAuthlib==0.9.1
translitcodec
certifi
Jinja2==2.9.4
xlsxwriter==0.9.6
jsonschema==2.6.0
html2text==2016.5.29
marshmallow==2.13.1
marshmallow-sqlalchemy==0.12.1
marshmallow-enum==1.0
flask-marshmallow==0.7.0
