alembic
authlib
babel
bcrypt
bleach[css]
blinker
captcha
celery[redis]
certifi
click
colorclass
distro
email-validator<1.3.0  # 1.3 checks SPF which is wrong (JoshData/python-email-validator#90)
feedgen
flask-babel
flask-caching
flask-cors
flask-limiter
flask-marshmallow
flask-migrate
flask-multipass
flask-pluginengine
flask-sqlalchemy
flask-webpackext
flask-wtf
flask
google-auth
html2text
icalendar
indico-fonts
ipython
itsdangerous
jinja2
jsonschema
lxml[html5]
markdown
markupsafe
marshmallow-dataclass
marshmallow-oneofschema
marshmallow-sqlalchemy
marshmallow
packaging
pillow
prompt-toolkit
psycopg2
pycountry!=23.12.11  # annoying warning: https://github.com/pycountry/pycountry/issues/192
pygments
pypdf
python-dateutil
pytz
pywebpack
pyyaml
qrcode[pil]
redis[hiredis]
reportlab
requests
sentry-sdk[flask,celery,sqlalchemy,pure_eval]<2  # v2 is not compatible w/ legacy sentry 9
simplejson
speaklater
sqlalchemy<2  # major upgrade
terminaltables
translitcodec
ua-parser
wallet-py3k
weasyprint
webargs
werkzeug
wtforms[email]
wtforms-dateutil
wtforms-sqlalchemy
xlsxwriter
