-c requirements.txt
flake8-quotes
flake8
flask-url-map-serializer
freezegun
isort
migra
pip-tools
plantweb
pygments
pytest-cov
pytest-localserver
pytest-mock
pytest-redis
pytest-snapshot
pytest
pyquotes
pyupgrade
pywatchman; python_version < '3.10'  # not compatible with python 3.10 - https://github.com/facebook/watchman/issues/970
sphinx-autobuild
sphinx-issues
sphinx-rtd-theme
sphinx!=4.0.*  # not compatible with jinja 3 - https://github.com/sphinx-doc/sphinx/issues/9216
sqlparse
