-c requirements.txt
build
flake8-quotes
flake8
flask-url-map-serializer
freezegun
isort
migra
pep8-naming
pip-tools
plantweb
pygments
pytest-cov
pytest-localserver[smtp]
pytest-mock
pytest-redis
pytest-snapshot
pytest
pyquotes
pyupgrade
ruff
sphinx-autobuild
sphinx-issues
sphinx-reredirects
sphinx-rtd-theme
sphinx!=4.0.*  # not compatible with jinja 3 - https://github.com/sphinx-doc/sphinx/issues/9216
sphinxcontrib-mermaid
sqlparse
unbeheader
watchfiles
