babel
flake8
flake8-colors
flake8-quotes
pojson>=0.4
termcolor
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinx-issues
repoze.sphinx.autointerface
pygments
sqlparse
isort
flask_url_map_serializer
migra
transifex-client
pywatchman
