Babel==2.7.0
MarkupSafe==1.1.1
indico-fonts==1.1
icalendar==4.0.3
lxml[html5]==4.3.4
pojson==0.7
pyPdf==1.13
pycountry==19.7.15
mock==3.0.5
freezegun==0.3.12
pytest==4.6.4
pytest-cov==2.7.1
pytest-localserver==0.5.0
pytest-mock==1.10.4
python-dateutil==2.8.0
pytz
reportlab==3.5.23
simplejson==3.16.0
termcolor==1.1.0
wsgiref==0.1.2
zope.interface==3.8.0
requests==2.22.0
Werkzeug==0.15.5
Flask==1.1.1
bcrypt==3.1.7
Pillow==6.2.1
qrcode==6.1
Markdown==2.3.1
bleach==3.1.0
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
Flask-BabelEx==0.9.3
SQLAlchemy==1.3.5
WTForms==2.2.1
WTForms-Components==0.10.4
psycopg2==2.8.3
redis==3.2.1
hiredis==1.0.0
enum34
ipaddress
blinker==1.4
alembic==1.0.11
Flask-Migrate==2.5.2
Flask-PluginEngine==0.3.1
Flask-Multipass>=0.2,<0.3-dev
click==7.0
colorclass==2.2.0
itsdangerous==1.1.0
celery==4.3.0
kombu>=4.5.0,<4.6
PyYAML==5.1.1
terminaltables==3.1.0
contextlib2==0.5.5
requests-oauthlib<1.2.0
Flask-OAuthlib==0.9.5
translitcodec
certifi
Jinja2==2.10.1
xlsxwriter==1.1.8
jsonschema==3.0.1
html2text==2018.1.9
marshmallow==3.0.0rc5
marshmallow-sqlalchemy==0.17.0
marshmallow-enum==1.4.1
flask-marshmallow==0.10.1
ipython<6,>=5.4.1
prompt-toolkit<2.0.0,>=1.0.14
packaging>=19.0,<20
email-validator==1.0.4
pywebpack==1.0.0
flask-webpackext==1.0.0
webargs==5.3.2
