babel
flake8
flake8-colors
flake8-quotes
pojson>=0.4
termcolor
sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinx-issues
pygments
sqlparse
isort
flask_url_map_serializer
migra==1.0.1588932782
schemainspect==0.1.1591162156
transifex-client
pywatchman
