alembic
authlib>=1.0.0a1  # new oauth provider needs this prerelease authlib
babel
bcrypt
bleach
blinker
celery
certifi
click
colorclass
distro
email-validator
feedgen
flask-babelex
flask-caching
flask-limiter
flask-marshmallow
flask-migrate
flask-multipass
flask-pluginengine
flask-sqlalchemy
flask-webpackext
flask-wtf
flask
html2text
icalendar
indico-fonts
ipython
itsdangerous
jinja2
jsonschema
lxml[html5]
markdown
markupsafe
marshmallow-enum
marshmallow-sqlalchemy
marshmallow<3.10.0  # https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/361
packaging
pillow
prompt-toolkit
psycopg2
pycountry
pypdf2
python-dateutil
pytz
pywebpack
pyyaml
qrcode
redis[hiredis]
reportlab
requests
sentry-sdk[flask,celery,sqlalchemy,pure_eval]
simplejson
sqlalchemy
termcolor
terminaltables
translitcodec
webargs<8  # https://github.com/marshmallow-code/webargs/issues/580
werkzeug
wtforms[ipaddress,email]
xlsxwriter
