flake8-colors==0.1.9
flake8-quotes==3.2.0
flake8==3.8.4
flask_url_map_serializer==0.0.1
freezegun==1.0.0
isort==5.7.0
migra==1.0.1610499506
pygments>=2.7.4,<3
pytest-cov==2.11.0
pytest-localserver==0.5.0
pytest-mock==3.5.1
pytest-redis==2.0.0
pytest==6.2.1
pyupgrade==2.7.4
pywatchman==1.4.1
schemainspect==0.1.1610933302
sphinx-autobuild==2020.9.1
sphinx-issues==1.2.0
sphinx-rtd-theme==0.5.1
sphinx==3.4.3
sqlparse==0.4.1
transifex-client==0.14.2
