{% extends 'layout/management_page.html' %}

{% macro delete_category_button(category, classes="i-button") %}
    {% set confirmation_message -%}
        {% trans category=category.title %}Do you really want to delete the category "{{ category }}"?{% endtrans %}
    {%- endset %}
    {% if category.is_empty %}
        {% set tooltip -%}
            {% trans %}Delete category{% endtrans %}
        {%- endset %}
    {% else %}
        {% set classes = classes + " disabled" %}
        {% set tooltip -%}
            {% trans %}This category cannot be deleted because it is not empty.{% endtrans %}
        {%- endset %}
    {% endif %}
    <a class="{{ classes }} icon-remove js-delete-category"
       title="{{ tooltip|forceescape }}"
       data-confirm="{{ confirmation_message|forceescape }}"
       data-title="{% trans %}Delete category{% endtrans %}"
       data-href="{{ url_for('.delete', category) }}"
       data-method="POST"></a>
{% endmacro %}

{% macro move_category_button(category, classes="i-button") %}
    <a class="{{ classes }} icon-transmission js-move-category"
       title="{% trans %}Move to another category{% endtrans %}"
       data-move-url="{{ url_for('.move', category) }}"></a>
{% endmacro %}

{% block banner_title %}
    {{ category.title }}
{% endblock %}

{% block banner_actions %}
    <div class="action-menu">
        <div class="toolbar">
            <div class="group">
                {{ move_category_button(category) }}
                {{ delete_category_button(category) }}
            </div>
            <div class="group">
                <a class="icon-switchon highlight i-button"
                   title="{% trans %}See the display page of the category{% endtrans %}"
                   href="{{ category.url }}">{% trans %}Switch to display view{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_menu %}
    {{ render_sidemenu('category-management-sidemenu', old_style=true, category=category, active_item=active_menu_item) }}
{% endblock %}
