{% extends 'categories/management/content.html' %}

{% from 'forms/_form.html' import form_row, form_rows, form_header, form_footer, form_fieldset %}

{% block title %}
    {% trans %}Category protection{% endtrans %}
{% endblock %}

{% block content %}
    {{ form_header(form) }}
    {{ form_row(form.permissions, skip_label=true) }}
    {{ form_rows(form, skip=(form._event_creation_fields + ('permissions',)),
                 widget_attrs={'own_no_access_contact': {'placeholder': category.no_access_contact}}) }}
    {% call form_fieldset(_('Event creation settings')) %}
        {{ form_rows(form, fields=form._event_creation_fields) }}
    {% endcall %}
    {% call form_footer(form) %}
        <input class="i-button big highlight"
               type="submit"
               value="{% trans %}Save{% endtrans %}"
               data-disabled-until-change
               data-save-reminder>
    {% endcall %}
{% endblock %}
