{% extends 'categories/management/base.html' %}

{% macro subcategory_row(subcategory) %}
    <tr class="i-table"
        data-category-id="{{ subcategory.id }}"
        data-category-title="{{ subcategory.title }}">
        <td class="i-table column-icon js-handle handle">
            <a class="i-button-icon icon-handle"></a>
        </td>
        <td class="i-table column-icon">
            <input type="checkbox" name="category_id" value="{{ subcategory.id }}"
                   data-is-empty="{{ subcategory.is_empty|tojson|forceescape }}">
        </td>
        <td class="i-table column-icon">
            {% if subcategory.is_self_protected %}
                <span class="icon-protection-self"></span>
            {% elif subcategory.is_public %}
                <span class="icon-protection-public"></span>
            {% endif %}
        </td>
        <td class="i-table">
            <a href="{{ url_for('.manage_content', subcategory) }}">
                {{ subcategory.title }}
            </a>
        </td>
        <td class="i-table actions">
            <a class="i-button-icon icon-transmission js-move-category"
               title="{% trans %}Move under another category{% endtrans %}"
               href="#"></a>
            {{ delete_category_button(subcategory, 'i-button-icon') }}
        </td>
    </tr>
{% endmacro %}

{% macro subcategories_table(subcategories) %}
    <div class="toolbar">
        <div class="group">
            <button class="i-button highlight icon-plus js-new-category"
                    data-ajax-dialog
                    data-href="{{ url_for('.create_subcategory', category) }}"
                    data-title="{% trans %}New category{% endtrans %}">
                {% trans %}New category{% endtrans %}
            </button>
        </div>
        <div class="group">
            <button class="i-button icon-sort-alpha-asc js-sort-categories"
                    title="{% trans %}Sort categories alphabetically{% endtrans %}"></button>
        </div>
        <div class="group right">
            <button class="i-button icon-transmission"></button>
            <button class="i-button icon-remove js-bulk-delete-category"></button>
        </div>
    </div>
    <table class="i-table categories-management"
           data-sort-url="{{ url_for('.sort_subcategories', category) }}"
           data-bulk-delete-url="{{ url_for('.delete_subcategories', category) }}">
        <thead>
            <tr class="i-table">
                <th class="i-table column-icon"></th>
                <th class="i-table column-icon"></th>
                <th class="i-table column-icon"></th>
                <th class="i-table">{% trans %}Title{% endtrans %}</th>
                <th class="i-table actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for subcategory in subcategories %}
                {{ subcategory_row(subcategory) }}
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro event_row(event) %}
    <tr class="i-table">
        <td class="i-table column-icon">
            <a href="" class="i-button-icon icon-handle"></a>
        </td>
        <td class="i-table column-icon">
            {% if event.is_self_protected %}
                <span class="icon-lock"></span>
            {% elif event.is_public %}
                <span class="icon-unlocked"></span>
            {% endif %}
        </td>
        <td class="i-table">
            <a href="{{ url_for('event_mgmt.conferenceModification-managementAccess', event) }}">
                {{ event.title }}
            </a>
        </td>
        <td class="i-table">{{ event.start_dt|format_datetime(timezone=event.timezone) }}</td>
        <td class="i-table actions">
            <a class="i-button-icon icon-remove"
               title="{% trans %}Delete event{% endtrans %}"></a>
            <a class="i-button-icon icon-transmission"
               title="{% trans %}Move to different category{% endtrans %}"></a>
            <a href="{{ url_for('event.conferenceDisplay', event) }}"
               class="i-button-icon icon-arrow-right"
               title="{% trans %}Go to the event display page{% endtrans %}"></a>
        </td>
    </tr>
{% endmacro %}

{% macro events_table(events) %}
    <div class="toolbar">
        <div class="group">
            <a href="#" class="i-button js-dropdown arrow" data-toggle="dropdown">
                {% trans %}Create event{% endtrans %}
            </a>
            <ul class="dropdown">
                <li>
                    <a href="{{ url_for('event_creation.conferenceCreation', categId=current_category.id, event_type='lecture') }}">
                        {% trans %}Create lecture{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('event_creation.conferenceCreation', categId=current_category.id, event_type='meeting') }}">
                        {% trans %}Create meeting{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('event_creation.conferenceCreation', categId=current_category.id, event_type='conference') }}">
                        {% trans %}Create conference{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <table class="i-table events-management">
        <thead>
            <tr class="i-table">
                <th class="i-table column-icon"></th>
                <th class="i-table column-icon"></th>
                <th class="i-table">{% trans %}Title{% endtrans %}</th>
                <th class="i-table">{% trans %}Start date{% endtrans %}</th>
                <th class="i-table actions"></th>
            </tr>
        </thead>
        {% for event in events %}
            {{ event_row(event) }}
        {% endfor %}
    </table>
{% endmacro %}

{% block title %}
    {% trans %}Content{% endtrans %}
{% endblock %}

{% block content %}
    {% if subcategories %}
        {{ subcategories_table(subcategories) }}
        <script>
            setupCategoryTable();
        </script>
    {% elif events %}
        {{ events_table(events) }}
    {% endif %}
{% endblock content %}
