{% from 'confirmation_dialog.html' import confirmation_dialog %}

{% call confirmation_dialog('highlight', ok_text=ngettext("Move category", "Move categories", categories|length),
                            extra_confirmation=false, id_field_name='category_id', ids=category_ids,
                            extra_inputs=[{'name': 'target_category_id', 'value': target_category.id}]) %}
    {% trans count=categories|length, destination=target_category.title, title=(categories|first).title -%}
        You are about to move "{{ title }}" to "{{ destination }}".
    {%- pluralize -%}
        You are about to move the following categories to "{{ destination }}":
    {%- endtrans %}
    {% if categories|count > 1 %}
        <ul>
            {% for category in categories %}
                <li>{{ category.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endcall %}
