<div class="action-box">
    <div class="section">
        <span class="icon icon-transmission"></span>
        <div class="text">
            <div class="label">{% trans %}Selected categories to be moved{% endtrans %}:</div>
            <div>{{ category.title }}</div>
        </div>
    </div>
</div>
<div id="categorynav-holder"></div>
<script>
    $('#categorynav-holder').categorynavigator({
        categoryId: {{ category.parent.id if not category.is_root else category.id }},
        selectLeafOnly: true
    });
</script>
