.user-actions {
    display: flex;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding-right: 1em;
}

.anticon {
    margin-left: 0.7em;
    font-size: 2em;
    vertical-align: middle;
}
