:root {
  // Font family
  --font-family-base: 'Noto Sans', sans-serif;

  // Font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Display 2xl
  --font-size-display-2xl: 4.5rem; // 72px
  --line-height-display-2xl: 5.625rem; // 90px
  --letter-spacing-display-2xl: -0.02em;

  // Display xl
  --font-size-display-xl: 3.75rem; // 60px
  --line-height-display-xl: 4.5rem; // 72px
  --letter-spacing-display-xl: -0.02em;

  // Display lg
  --font-size-display-lg: 3rem; // 48px
  --line-height-display-lg: 3.75rem; // 60px
  --letter-spacing-display-lg: -0.02em;

  // Display md
  --font-size-display-md: 2.25rem; // 36px
  --line-height-display-md: 2.75rem; // 44px
  --letter-spacing-display-md: -0.02em;

  // Display sm
  --font-size-display-sm: 1.875rem; // 30px
  --line-height-display-sm: 2.375rem; // 38px

  // Display xs
  --font-size-display-xs: 1.5rem; // 24px
  --line-height-display-xs: 2rem; // 32px

  // Text xl
  --font-size-text-xl: 1.25rem; // 20px
  --line-height-text-xl: 1.875rem; // 30px

  // Text lg
  --font-size-text-lg: 1.125rem; // 18px
  --line-height-text-lg: 1.75rem; // 28px

  // Text md
  --font-size-text-md: 1rem; // 16px
  --line-height-text-md: 1.5rem; // 24px

  // Text sm
  --font-size-text-sm: 0.875rem; // 14px
  --line-height-text-sm: 1.25rem; // 20px

  // Text xs
  --font-size-text-xs: 0.75rem; // 12px
  --line-height-text-xs: 1.125rem; // 18px
}
