#--------------------------
# Tests configuration file
#--------------------------
#
# This file is read on tests running.
#
# Lines starting with "#" are comments and they will be ignored by the test framework.

#------------------------------------------------------------------------------
# General Options
#------------------------------------------------------------------------------
BrowserPath = "/usr/bin/firefox"

#------------------------------------------------------------------------------
# Start/Stop Production DB commands
#------------------------------------------------------------------------------
StartDBCmd = "zdaemon -C /home/jdoe/cds-indico/etc/zdctl.conf start"
StopDBCmd  = "zdaemon -C /home/jdoe/cds-indico/etc/zdctl.conf stop"


#------------------------------------------------------------------------------
# Test Database configuration
#------------------------------------------------------------------------------
FakeDBPort = 9686


#------------------------------------------------------------------------------
# Jars
#------------------------------------------------------------------------------
PylintFiles        =   ["MaKaC.common.contextManager",
                        "MaKaC.common.fossilize",
                        "indico.tests"]

JSUnitURL          = "http://js-test-driver.googlecode.com/files/JsTestDriver-1.2.jar"
JSUnitFilename     = "JsTestDriver-1.2.jar"

JscoverageURL      = "http://js-test-driver.googlecode.com/files/coverage-1.2.jar"
JscoverageFilename = "coverage-1.2.jar"

SeleniumURL        = "http://release.seleniumhq.org/selenium-remote-control/1.0.1/selenium-remote-control-1.0.1-dist.zip"
SeleniumInZipPath  = "selenium-remote-control-1.0.1/selenium-server-1.0.1/selenium-server.jar"
SeleniumZipname    = "selenium-remote-control-1.0.1-dist.zip"
SeleniumFilename   = "selenium-server.jar"


#------------------------------------------------------------------------------
# Selenium Grid
#------------------------------------------------------------------------------
HubURL         = "macuds04.cern.ch"
HubPort        = 4444
HubEnv         = ['Safari on OS X',
                  'Firefox on Linux',
                  'IE on Windows']
