#--------------------------
# Tests configuration file
#--------------------------
#
# This file is read on tests running.
#
# Lines starting with "#" are comments and they will be ignored by the test framework.

#------------------------------------------------------------------------------
# General Options
#------------------------------------------------------------------------------
BrowserPath = "/usr/bin/firefox"

#------------------------------------------------------------------------------
# Start/Stop Production DB commands
#------------------------------------------------------------------------------
StartDBCmd = "zdaemon -C /home/jdoe/cds-indico/etc/zdctl.conf start"
StopDBCmd  = "zdaemon -C /home/jdoe/cds-indico/etc/zdctl.conf stop"


#------------------------------------------------------------------------------
# Test Database configuration
#------------------------------------------------------------------------------
FakeDBPort = 9686


#------------------------------------------------------------------------------
# Jars
#------------------------------------------------------------------------------
PylintFiles        =   ["MaKaC.common.contextManager",
                        "MaKaC.common.fossilize",
                        "indico.tests"]

JSUnitURL          = "http://js-test-driver.googlecode.com/files/JsTestDriver-1.2.2.jar"
JSUnitFilename     = "JsTestDriver-1.2.2.jar"

JSCoverageURL      = "http://js-test-driver.googlecode.com/files/coverage-1.2.2.jar"
JSCoverageFilename = "coverage-1.2.2.jar"

#------------------------------------------------------------------------------
# Functional Tests
#------------------------------------------------------------------------------

# Don't change this unless you have to use a grid
WebServerHost = 'localhost'

# 0 means that an available free port will be used
WebServerPort = 0

# use 'grid' for selenium grid, 'local' for standalone
RunMode = 'local'
StandaloneBrowser = 'firefox'
GridBrowsers   = ['firefox',
                  'safari',
                  'chrome']

#------------------------------------------------------------------------------
# Plugins
#------------------------------------------------------------------------------

CollaborationOptions = {
    'Vidyo': {
        'indicoUsername': 'jdoe',
        'indicoPassword': 'jdoe'
        }
    }
