:root {
  --session-icon-height: 1.2em;
  --session-icon-width: 1.2em;
  --dropdown-height: 40px;
}

.session-select:global(.ui.search.dropdown) {
  width: 100%;
  height: var(--dropdown-height);

  > :global(.search) {
    height: var(--dropdown-height);
  }

  :global(.menu > .item) {
    height: var(--dropdown-height);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:global(.active) {
      font-weight: normal;
    }
  }
}

.dropdown-element {
  > :is(:global(i.icons), :global(i.icon)) {
    width: var(--session-icon-width);
    min-width: var(--session-icon-width);
    // Icon adds strange padding by default
    height: var(--session-icon-height);
    min-height: var(--session-icon-height);
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  :global(i.icon).action-icon {
    font-size: 0.9em;
  }
}
