{% macro render_contribution_field_list(fields) %}
    <div id="contribution-field-list">
        {% for field in fields %}
            <div class="contribution-field">
                <span class="field-title">{{ field.title }}</span>
                {% if field.field_type %}
                    <span class="field-type">({{ field.mgmt_field.friendly_name }})</span>
                {% endif %}
            </div>
        {% else %}
            <em>{% trans %}There are no fields defined yet.{% endtrans %}</em>
        {% endfor %}
    </div>
{% endmacro %}
