{% macro render_event_person_links(event_type, event_person_links) -%}
    {% for event_person_link in event_person_links %}
        <div class="person-link-info">
            <span>{{ event_person_link.person.full_name }}</span>
            {% if event_person_link.is_submitter %}
                <span class="badge">{% trans %}Submitter{% endtrans %}</span>
            {% endif %}
        </div>
    {% else %}
        <span>
            {% if event_type == 'lecture' %}
                {% trans %}There are no speakers in this event.{% endtrans %}</span>
            {% else %}
                {% trans %}There are no chairpersons in this event.{% endtrans %}</span>
            {% endif %}
    {% endfor %}
{%- endmacro %}
