{% extends 'layout/admin_page.html' %}
{% from 'events/admin/_reference_type_list.html' import render_reference_type_list %}

{%- block content %}
    <div class="i-box">
        <div class="i-box-header">
            <div class="i-box-title">{%- trans %}Existing external ID types{% endtrans -%}</div>
            <div class="i-box-buttons toolbar right">
                <a href="#" class="i-button icon-plus"
                   data-ajax-dialog
                   data-href="{{ url_for('.create_reference_type') }}"
                   data-title="{% trans %}Create new external ID type{% endtrans %}"
                   data-update="#external-id-types">
                    {%- trans %}Create new type{% endtrans -%}
                </a>
            </div>
        </div>
        <div id="external-id-types" class="i-box-table-widget">
            {{ render_reference_type_list(reference_types) }}
        </div>
    </div>
{%- endblock %}
