{% extends 'events/management/base.html' %}

{% block title %}
    Paper editing
{% endblock %}

{% block content %}
    <div data-event-id="{{ event.id }}"
         data-contribution-id="{{ editable.contribution.id }}"
         data-editable-type="{{ editable.type.name }}"
         id="editing-timeline"
         data-download-url="{{ url_for('event_editing.revision_files_export', event, contrib_id=contribution.id,
                                       revision_id=editable.revisions[0].id, type='paper') }}">
    </div>
{% endblock %}
