{% from 'message_box.html' import message_box %}
{% from 'attachments/_management_info_column.html' import render_attachment_info %}

{% macro render_abstract_list(abstracts, dynamic_columns, static_columns, total_abstracts) %}
    {% if abstracts %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {% set num_filtered_abstracts = abstracts | length %}
            {% if num_filtered_abstracts != total_abstracts %}
                <div class="info-message-box">
                    <div class="message-text">
                        {%- trans -%}
                            Filtering is enabled. Displaying {{ num_filtered_abstracts }} out of {{ total_abstracts }} abstracts.
                        {%- endtrans -%}
                    </div>
                </div>
            {% endif %}
            <div class="abstracts-table-wrapper">
                <table class="i-table tablesorter">
                    <thead>
                        <tr class="i-table">
                            <th class="i-table checkbox-column" data-sorter="false"></th>
                            <th class="i-table id-column">{% trans %}ID{% endtrans %}</th>
                            <th class="i-table">{% trans %}Title{% endtrans %}</th>
                            {% for item in static_columns %}
                                <th class="i-table" data-sorter="text">{{ item.caption }}</th>
                            {% endfor %}
                            {% for item in dynamic_columns %}
                                <th class="i-table">{{ item.title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for abstract in abstracts %}
                            <tr class="i-table abstract-row"
                                data-friendly-id="{{ abstract.friendly_id }}"
                                data-title="{{ abstract.title }}">
                                <td class="i-table id-column">
                                    <span class="vertical-aligner">
                                        <input type="checkbox" class="select-row" name="abstract_id"
                                               value="{{ abstract.id }}">
                                    </span>
                                </td>
                                <td class="i-table id-column">
                                    <span class="vertical-aligner">{{ abstract.friendly_id }}</span>
                                </td>
                                <td class="i-table">
                                    <span class="vertical-aligner js-mathjax">{{ abstract.title }}</span>
                                </td>
                                {% for item in static_columns %}
                                    {% if item.id == 'submitted_type' %}
                                        <td class="i-table type-column" data-text="{{ abstract.submitted_type.name if abstract.submitted_type else '' }}">
                                            <span class="vertical-aligner">
                                                {% if abstract.submitted_type -%}
                                                    {{ abstract.submitted_type.name }}
                                                {%- else %}
                                                    {% trans %}n/a{% endtrans %}
                                                {%- endif %}
                                            </span>
                                        </td>
                                    {% elif item.id == 'accepted_type' %}
                                        <td class="i-table type-column" data-text="{{ abstract.accepted_type.name if abstract.accepted_type else '' }}">
                                            <span class="vertical-aligner">
                                                {% if abstract.accepted_type -%}
                                                    {{ abstract.accepted_type.name }}
                                                {%- else %}
                                                    {% trans %}n/a{% endtrans %}
                                                {%- endif %}
                                            </span>
                                        </td>
                                    {% elif item.id == 'submitted_for_tracks' %}
                                        {# TODO: <td class="i-table"
                                            data-text="{{ abstract.submitted_for_tracks_names if abstract.submitted_for_tracks_names else '' }}"
                                            data-searchable="{{ abstract.submitted_for_tracks_names | join(', ') | lower }}"
                                            >
                                            <span class="vertical-aligner">
                                                {% for track_name in abstract.submitted_for_tracks_names | sort -%}
                                                    <div>{{ track_name }}</div>
                                                {%- endfor %}
                                                {% if not abstract.submitted_for_tracks_names %}
                                                    {% trans %}No track{% endtrans %}
                                                {% endif %}
                                            </span>
                                        </td> #}
                                        <td></td>
                                    {% elif item.id == 'accepted_track' %}
                                        <td class="i-table"
                                            data-text="{{ abstract.accepted_track.title if abstract.accepted_track else '' }}">
                                            <span class="vertical-aligner">
                                                {% if abstract.accepted_track %}
                                                    {{ abstract.accepted_track.title }}
                                                {% else %}
                                                    {% trans %}No track{% endtrans %}
                                                {% endif %}
                                            </span>
                                        </td>
                                    {% elif item.id == 'state' %}
                                        <td class="i-table" data-text="{{ abstract.state.title }}">
                                            <span class="vertical-aligner">
                                                {% if abstract.state %}
                                                    {%- trans title=abstract.state.title %}
                                                        {{ title }}
                                                    {% endtrans -%}
                                                {% else %}
                                                    {% trans %}No track{% endtrans %}
                                                {% endif %}
                                            </span>
                                        </td>
                                    {% elif item.id == 'submitted_dt' %}
                                        <td class="i-table"
                                            data-text="{{ abstract.submitted_dt | format_datetime('short', timezone=abstract.event_new.timezone) }}">
                                            <span class="vertical-aligner">
                                                {{ abstract.submitted_dt | format_datetime('short', timezone=abstract.event_new.timezone) }}
                                            </span>
                                        </td>
                                    {% elif item.id == 'modified_dt' %}
                                        <td class="i-table" data-text="{{ abstract.state.title }}">
                                            <span class="vertical-aligner">
                                                {% if abstract.modified_dt %}
                                                    {{ abstract.modified_dt | format_datetime('short', timezone=abstract.event_new.timezone) }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </span>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                {% set data = abstract.data_by_field %}
                                {% for item in dynamic_columns %}
                                    <td class="i-table" data-text="{{ data[item.id].friendly_data }}">
                                        {{ data[item.id].friendly_data }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {%- else %}
        {%- call message_box('info') %}
            {%- if total_entries %}
                {%- trans -%}
                    The filtering criteria do not match with any of the existing abstracts. Try to clear the filters.
                {%- endtrans %}
            {%- else %}
                {%- trans %}There are no abstracts yet.{% endtrans %}
            {%- endif %}
        {%- endcall %}
    {%- endif %}
{% endmacro %}
