{% extends 'events/abstracts/management/_base.html' %}

{% block content %}
    <!-- TODO: Add missing templates for the rest of the states -->
    {% include 'events/abstracts/management/abstracts_setup_actions/not_started.html' %}

    <div class="action-box">
        <div class="section">
            <div class="icon icon-upload"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Submission{% endtrans %}
                </div>
                {% trans %}Configure the submission dates, the abstract fields, etc.{% endtrans %}
            </div>
            <div class="toolbar">
                <div class="group">
                    <a href="#" class="i-button icon-mail"
                       data-href="{{ url_for('.email_tpl_list', event) }}"
                       data-title="{% trans %}Configure e-mail notifications{% endtrans %}"
                       data-ajax-dialog>
                        {% trans %}Notifications{% endtrans %}
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-list js-dialog-action"
                       data-title="{% trans %}Manage fields{% endtrans %}"
                       data-href="{{ url_for('contributions.manage_fields', event) }}"
                       data-ajax-dialog
                       data-reload-after="customData">
                        {% trans %}Abstract fields{% endtrans %}
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-settings"
                       data-href="{{ url_for('.manage_submission_settings', event) }}"
                       data-title="{% trans %}Configure abstract submission{% endtrans %}"
                       data-ajax-dialog>
                        {% trans %}Settings{% endtrans %}
                    </a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="icon icon-file-check"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Reviewing{% endtrans %}
                </div>
                {% trans %}Configure the reviewing questions and answers, the reviewing teams, etc.{% endtrans %}
            </div>
            <div class="toolbar">
                <div class="group">
                    <a href="#" class="i-button icon-users"
                       data-href="{{ url_for('.manage_reviewing_roles', event) }}"
                       data-title="{% trans %}Abstract Reviewing Roles{% endtrans %}"
                       data-ajax-dialog>
                        {% trans %}Roles{% endtrans %}
                    </a>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-settings"
                       data-href="{{ url_for('.manage_reviewing_settings', event) }}"
                       data-title="{% trans %}Configure abstract reviewing{% endtrans %}"
                       data-ajax-dialog>
                        {% trans %}Settings{% endtrans %}
                    </a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="icon icon-book"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Book of abstracts{% endtrans %}
                </div>
                {% trans url='#' -%}Customize and <a href={{ url }}>download</a> the book of abstracts{%- endtrans %}
            </div>
            <div class="toolbar">
                <div class="group">
                    <a href="#" class="i-button icon-settings"
                       data-href="{{ url_for('.manage_boa', event) }}"
                       data-title="{% trans %}Configure the book of abstracts{% endtrans %}"
                       data-ajax-dialog>
                        {% trans %}Settings{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="action-box">
        <div class="section">
            <div class="icon icon-list"></div>
            <div class="text">
                <div class="label">
                    {% trans %}List of abstracts{% endtrans %}
                </div>
                {% trans -%}View and perform actions on abstracts{%- endtrans %}
            </div>
            <div class="toolbar">
                <div class="group">
                    <a href="{{ url_for('.manage_abstract_list', event) }}" class="i-button icon-settings">
                        {% trans %}Manage{% endtrans %}
                        <span class="badge">{{ abstracts_count }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
