{% extends 'events/abstracts/management/_base.html' %}

{% block content %}
    <div class="action-box highlight">
        <div class="section">
            <div class="icon icon-file-check"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Call for Abstracts disabled{% endtrans %}
                </div>
                {% trans -%}
                    "Call for Abstracts" provides an integrated abstract management and reviewing module
                    that will allow you to set up a full abstract submission and reviewing workflow.
                {%- endtrans %}
            </div>
            <div class="toolbar">
                <a href="#" id="enable-abstracts" class="i-button highlight {{ 'disabled' if event.is_locked }}"
                   data-href="{{ url_for('event_features.switch', event, feature='abstracts') }}"
                   data-method="PUT"
                   data-reload-after>
                    {% trans %}Enable module{% endtrans %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
