{% from 'forms/_form.html' import form_header, form_footer, form_rows, form_row, form_fieldset %}

{{ form_header(form) }}
    {{ form_row(form.title) }}
    {% if not is_edit %}
        {{ form_row(form.default_tpl) }}
    {% endif %}
    {% call form_fieldset(_('Rules')) %}
        {{ form_row(form.rules, skip_label=true) }}
    {% endcall %}
{% call form_footer(form) %}
    <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}"
           data-disabled-until-change>
    <a href="{{ back_url }}" class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</a>
{% endcall %}
