.single-file-type-form {
  > div:first-child > div > div {
    width: 100%;
    border: none;
    padding: 0;

    div[role='button'] > div {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
