/*
	Template no. 0
	Default Styles and layout for Conf-pages
	Colors and pictures are customizable
*/

/* 	For user:

	There are hints and tips writen inside of these comment lines

	All colors has to give in hexadecimal form
	e.g #11ff22

	Between these markings: *** *** is information which is not customizable
	e.g *** do not make modifications for these values ***
*/


/* ------Header------ */

.confheader {

	/* 	This sets the background image and color to header
		If you have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change background color to header by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../picture/0.png') left top no-repeat;
}

h1 {

	/* 	Title color is set in Management area */

}

.datePlace {

	/* 	This sets the font color of information in righ hand side in header section
		Change the color by by replacing the color #xxxxxx with your own color code */

	color: #xxxxxx;
}

/* ------Main content------ */

#confSectionsBox {

	/* 	This sets the background image and color to main content
		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change the background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../picture/0.png') left top no-repeat;

}

/* ------Menu------ */

.conf_leftMenu {

	/* 	This sets the background image and color to menu
		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change the background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

}

.menuConfTitle {


	/* 	This sets the background image and color to regular menu items
		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

}

.menuConfSelected {

	/* 	This sets the background image and color to selected menu item
		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change the background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

	/* 	This sets the font color to selected menu item
		Replace the color #xxxxxx with your own color code */

	color:#xxxxxx;

}


.menuConfMiddleCell {

	/* 	This sets the background image and color to submenu items
		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

	/* 	This sets the bottom border color to submenu items
		You can change the color by replacing the color #xxxxxx with your own color code
		If you want to remove the border, replace "2px solid #xxxxxx" with word "none" */

	border-bottom:2px solid #xxxxxx;

}

#outer li a {

	/* 	This sets the font color to regular and sub menu items
		Replace the color #xxxxxx with your own color code */

	color: #xxxxxx;

}

a.confSupportEmail:link {

	/* 	This sets the font color to support email item
		Replace the color #xxxxxx with your own color code */

	color:#xxxxxx;

}


/* ------Content------ */

.confBodyBox {

	/* 	This sets the background image and color to content area

		NOTICE: It's not recommended to change these values, since size of this element changes by the size of content

		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

}

.col2 {

	/* 	This sets the background image and color to information area

		NOTICE: It's not recommended to change these values, since size of this element changes by the size of content

		If You have set pictures in management area, you can take it in use by replacing the Id numbers below or
		copying the path directly from management area.
		You can also change background color by replacing the color #xxxxxx with your own color code */

	background: #xxxxxx url('../conferenceDisplay.py/getPic?confId=0&PicId=0') left top no-repeat;

}
