{% extends 'layout/base.html' %}
{% from 'forms/_form.html' import simple_form %}

{% block title %}
    {% if survey %}
        {% trans %}Survey{% endtrans %}
    {% else %}
        {% trans %}Surveys{% endtrans %}
    {% endif %}
{% endblock %}

{% block subtitle %}
    {% if survey %}
        {% trans title=survey.title -%}Edit "{{ title }}"{%- endtrans %}
    {% else %}
        {%- trans %}Create survey{% endtrans -%}
    {% endif %}
{% endblock %}

{% block content %}
    {{ simple_form(form, back=_('Cancel'), back_url=url_for('.management', event)) }}
{% endblock %}
