{% extends 'events/surveys/manage_survey.html' %}

{% block content %}
    <div class="toolbar">
        <div class="group">
            {% for field_type in field_types.iterkeys() %}
                {% set friendly_name = field_types[field_type].friendly_name %}
                <a href="#" data-href="{{ url_for('.add_question', survey, type=field_type) }}"
                   data-title="{% trans %}Add {{ friendly_name }} question{% endtrans %}"
                   class="i-button js-question-dialog">
                        {% trans friendly_name=friendly_name %}
                            Add {{ friendly_name }}
                        {% endtrans %}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="i-box-group vert">
        <div class="i-box titled no-padding sortblock" style="width: 100%">
            <div class="i-box-header">
                <div class="i-box-title">
                {% trans %}List of questions{% endtrans %}
                </div>
            </div>
            <div id="questions" class="i-box-content">
                <ul class="group-list with-buttons no-content-before">
                {% for question in survey.questions %}
                    <li style="cursor: move">
                        <div class="question group">
                            <a href="#" data-href="{{ url_for('.edit_question', question) }}"
                                        data-title="{% trans %}Edit question{% endtrans %}"
                                        data-question-id="{{ question.id }}"
                                        class="js-question-dialog">
                                <strong>{{ question.title }}</strong>
                            </a>
                            <a data-href="{{ url_for('.remove_question', question) }}" class="i-button icon-remove right js-remove-question"></a>
                        </div>
                    </li>
                {% else %}
                    <li>{% trans %}No questions defined{% endtrans %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>

        {% include 'events/surveys/questionnaire_preview.html' %}
    </div>

    <script>
        $('.js-remove-question').on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var msg = $T('Do you really want to remove this question room from the survey?');
            new ConfirmPopup($T('Delete this question ?'), msg, function(confirmed) {
                if (!confirmed) {
                    return;
                }

                $('<form>', {
                    action: $this.data('href'),
                    method: 'post'
                }).appendTo('body').submit();
            }).open();
        });

        $('#questions').tablesorter({
            sortables: 'ul',
            sortableElements: '> li',
            placeholderHTML: '<li></li>',
            handle: '.question.group',
            onReorder: function(sortable) {
                var questionIdsInOrder = [];
                $('[data-question-id]').each(function(index, obj) {
                    questionIdsInOrder.push($(obj).data('question-id'));
                });

                $.ajax({
                    url: {{ url_for('.change_question_position', survey) | tojson }},
                    method: 'POST',
                    data: {
                        questionIdsInOrder: JSON.stringify(questionIdsInOrder)
                    }
                });
            }
        });
    </script>
{% endblock %}
