{% extends 'events/surveys/manage_survey_base.html' %}
{% from 'events/surveys/_questionnaire.html' import render_questionnaire %}

{% block content %}
    <div class="flashed-messages"></div>

    <div class="toolbar">
        <div class="group">
            {% for field_type in field_types.values() | sort(attribute='friendly_name') %}
                <a href="#" data-href="{{ url_for('.add_question', survey, type=field_type.name) }}"
                   data-title="{% trans %}Add question{% endtrans %}"
                   class="i-button js-question-dialog">
                        {%- trans name=field_type.friendly_name -%}
                            Add {{ name }}
                        {%- endtrans -%}
                </a>
            {% endfor %}
        </div>
    </div>

    <div id="questions" class="i-box titled" data-sort-url="{{ url_for('.sort_questions', survey) }}">
        {{ render_questionnaire(survey, preview_form) }}
    </div>
    <script>
        setupQuestionSorter();
    </script>
{% endblock %}
