{% extends 'events/surveys/manage_survey.html' %}
{% from 'forms/_form.html' import form_row %}

{% block content %}
    <div class="toolbar">
        <div class="group">
            {% for field_type in field_types.iterkeys() %}
                {% set friendly_name = field_types[field_type].friendly_name %}
                <a href="#" data-href="{{ url_for('.add_question', survey, type=field_type) }}"
                   data-title="{% trans %}Add {{ friendly_name }} question{% endtrans %}"
                   class="i-button js-question-dialog">
                        {% trans friendly_name=friendly_name %}
                            Add {{ friendly_name }}
                        {% endtrans %}
                </a>
            {% endfor %}
        </div>
    </div>

    <div id="questions" class="i-box titled">
         <div class="i-box-header">
            <div class="i-box-title">
                {% trans %}Questionnaire{% endtrans %}
            </div>
        </div>
        <div class="sortblock i-box-content" style="width: 100%">
            <ul class="group-list no-content-before">
                {% for question in survey.questions %}
                    <li>
                        <div class="questions-handle i-form">
                            <div class="question-list">
                                <div class="question-row">
                                    <div class="question-data position-td" style="width: 5%;">{{ loop.index }}.</div>
                                    <div class="question-data">
                                        {{ form_row(preview_form['question_{}'.format(question.id)],
                                                    widget_attrs={'disabled': true}, orientation='horizontal') }}
                                    </div>
                                    <div class="question-data" style="width: 8%;">
                                        <a data-href="{{ url_for('.remove_question', question) }}"
                                           data-confirm="{% trans %}Are you sure you want to delete this question{% endtrans %}"
                                           data-method="POST"
                                           class="i-button icon-remove js-remove-question right"></a>
                                        <a href="#" data-href="{{ url_for('.edit_question', question) }}"
                                                    data-title="{% trans %}Edit question{% endtrans %}"
                                                    data-question-id="{{ question.id }}"
                                                    class="i-button js-question-dialog icon-edit right"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li>{% trans %}No questions defined{% endtrans %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        $('#questions').tablesorter({
            sortables: '.sortblock ul',
            sortableElements: '> li',
            placeholderElement: '<li></li>',
            handle: '.questions-handle',
            onReorder: function(sortable) {
                var questionIdsInOrder = $('[data-question-id]').map(function() {
                    return $(this).data('question-id');
                }).get();

                $.ajax({
                    url: {{ url_for('.change_question_position', survey) | tojson }},
                    method: 'POST',
                    data: {
                        question_ids: questionIdsInOrder,
                    },
                    traditional: true,
                    complete: IndicoUI.Dialogs.Util.progress(),
                    error: handleAjaxError
                });
            }
        });
    </script>
{% endblock %}
