{% extends 'events/surveys/manage_survey_base.html' %}

{% block content %}
    {% if survey.state == states.not_ready %}
        {% include 'events/surveys/manage_survey_state/not_ready.html' %}
    {% elif survey.state == states.ready_to_open %}
        {% include 'events/surveys/manage_survey_state/ready_to_open.html' %}
    {% elif survey.state == states.active_and_clean %}
        {% include 'events/surveys/manage_survey_state/active_and_clean.html' %}
    {% elif survey.state == states.active_and_answered %}
        {% include 'events/surveys/manage_survey_state/active_and_answered.html' %}
    {% elif survey.state == states.finished %}
        {% include 'events/surveys/manage_survey_state/finished.html' %}
    {% endif %}

    {% if survey.state != states.not_ready %}
        <div class="action-box">
            <div class="section">
                <div class="icon icon-clipboard"></div>
                <div class="text">
                    <div class="label">
                        {% trans %}Questionnaire{% endtrans %}
                    </div>
                    {% trans %}Add, remove or modify questions{% endtrans %}
                </div>
                <div class="toolbar right">
                    <a href="{{ url_for('.manage_questionnaire', survey) }}" class="i-button icon-settings">
                        {% trans %}Manage{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="i-box titled">
        <div class="i-box-header">
            <div class="i-box-title">
                {% trans %}Submissions{% endtrans %}
            </div>
            <div class="i-box-buttons">
                <a href="{{ url_for('.survey_results', survey) }}" class="i-button">
                    {% trans %}Show results{% endtrans %}
                </a>
            </div>
        </div>
        <div class="i-box-content">
            {% for submission in survey.submissions %}
                <div>
                    {{ submission }}
                </div>
            {% else %}
                {% trans %}There are no submissions.{% endtrans %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
