{% from 'forms/_form.html' import form_header, form_rows, form_footer %}

<div class="i-box titled no-padding">
    <div class="i-box-header">
        <div class="i-box-title">
            {% trans %}Questionnaire Preview{% endtrans %}
        </div>
    </div>
    <div class="i-box-content">
        {% if survey.questions %}
            {{ form_header(preview_form) }}
            {{ form_rows(preview_form, widget_attrs=preview_widget_attrs) }}
            {{ form_footer(preview_form) }}
        {% else %}
            <span class="empty">
                {% trans %}No questions defined {% endtrans %}
            </span>
        {% endif %}
    </div>
</div>

