{% extends 'layout/event_page_base.html' %}
{% from 'forms/_form.html' import simple_form %}

{% block title %}
    {%- trans %}Survey{% endtrans -%}
{% endblock %}

{% block subtitle %}
    {{ survey.title }}
{% endblock %}

{% block content %}
    {{ simple_form(form, submit=_('Save answers'), back_url=url_for('.display_survey_list', event),
                   back_button=show_back_button, form_header_kwargs={'id': 'survey-form'}) }}

    <script>
        // allow deselecting a horizontal radio button unless it's required
        $('#survey-form .inline-vcentered input:radio:not([required])').resettableRadioButtons();
    </script>
{% endblock %}
