{% extends 'layout/event_page_base.html' %}

{% block title %}
    {%- trans %}Surveys{% endtrans -%}
{% endblock %}

{% block content %}
    <table class="i-table-widget">
        <thead>
            <tr>
                <th>{% trans %}Survey{% endtrans %}</th>
                <th>{% trans %}Available from{% endtrans %}</th>
                <th>{% trans %}Deadline{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
                <tr>
                    <td>{{ survey.title }}</td>
                    <td>{{ survey.start_dt | format_datetime if survey.start_dt else _('Not started') }}</td>
                    <td>{{ survey.end_dt | format_datetime if survey.end_dt else _('No deadline') }}</td>
                    <td>{{ render_available_buttons(survey) }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        {% trans %}No surveys available for this event{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if event.getType() != 'conference' %}
        <p>
            <a href="{{ url_for('event.conferenceDisplay', event) }}" class="i-button">
                {%- trans %}Back to the event{% endtrans -%}
            </a>
        </p>
    {% endif %}
{% endblock %}

{% macro render_available_buttons(survey) %}
    {% if not was_survey_submitted(survey) and survey.can_submit(session.user) %}
        <a href="{{ url_for('.display_survey_form', survey) }}" class="i-button highlight">
            {% trans %}Fill out{% endtrans %}
        </a>
    {% endif %}
{% endmacro %}
