{% extends 'events/logs/entry_base.html' %}

{% block entry_icons %}
    {% if data.state == 'pending' %}
        <span class="icon-alarm semantic-text warning"
              title="{% trans %}This email is pending and will be sent soon.{% endtrans %}"
              data-qtip-style="warning"></span>
    {% elif data.state == 'sent' %}
        <span class="icon-mail semantic-text success"
              title="{% trans %}This email has been sent.{% endtrans %}"
              data-qtip-style="success"></span>
    {% elif data.state == 'failed' %}
        <span class="icon-warning semantic-text error"
              title="{% trans %}Sending this email failed.{% endtrans %}"
              data-qtip-style="danger"></span>
    {% endif %}
{% endblock %}

{% block entry_detail_rows %}
    {% if data.from %}
        <tr class="i-table content">
            <td class="i-table caption log-caption">
                {% trans %}From{% endtrans %}
            </td>
            <td class="i-table value searchable">
                {{ data.from }}
            </td>
        </tr>
    {% endif %}
    {% if data.to %}
        <tr class="i-table content">
            <td class="i-table caption log-caption">
                {% trans %}To{% endtrans %}
            </td>
            <td class="i-table value searchable">
                {{ data.to|join(', ') }}
            </td>
        </tr>
    {% endif %}
    {% if data.cc %}
        <tr class="i-table content">
            <td class="i-table caption log-caption">
                CC
            </td>
            <td class="i-table value searchable">
                {{ data.cc|join(', ') }}
            </td>
        </tr>
    {% endif %}
    {% if data.bcc %}
        <tr class="i-table content">
            <td class="i-table caption log-caption">
                BCC
            </td>
            <td class="i-table value searchable">
                {{ data.bcc|join(', ') }}
            </td>
        </tr>
    {% endif %}
    <tr class="i-table content">
        <td class="i-table caption log-caption">
            {% trans %}Subject{% endtrans %}
        </td>
        <td class="i-table value searchable">
            {{ data.subject }}
        </td>
    </tr>
    <tr class="i-table content">
        <td class="i-table caption log-caption">
            {% trans %}Body{% endtrans %}
        </td>
        <td class="i-table value email-body">
            {% if data.content_type == 'text/plain' %}
                <pre class="mono">{{ data.body }}</pre>
            {% else %}
                {{ data.body | safe }}
            {% endif %}
        </td>
    </tr>
{% endblock %}
