{% extends 'layout/base.html' %}

{% block title %}
    {%- trans %}Logs{% endtrans -%}
{% endblock %}

{% block content %}
    <div class="follow-scroll toolbars">
        <div class="toolbar">
            <div class="group i-selection {% if realms|length <= 1 %}hidden{% endif %}">
                <span class="i-button label">
                    {% trans %}Show{% endtrans %}
                </span>
                {% for realm in realms|sort(attribute='name') %}
                    <input type="checkbox" id="realm-{{ realm.name }}" data-realm="{{ realm.name }}" checked>
                    <label for="realm-{{ realm.name }}" class="i-button">{{ realm.title }}</label>
                {% endfor %}
            </div>
            <div class="group">
                <a href="#" id="expand-all" class="i-button" title="{% trans %}Expand all{% endtrans %}">
                    <span class="icon-stack-plus"></span>
                </a>
                <a href="#" id="collapse-all" class="i-button" title="{% trans %}Collapse all{% endtrans %}">
                    <span class="icon-stack-minus"></span>
                </a>
            </div>
        </div>
        <div class="toolbar">
            <div class="group">
                <span class="i-button label">
                    <span class="icon-search"></span>
                </span>
                <input type="text" id="search-input">
            </div>
        </div>
    </div>

    {% if not entries %}
        <h3 class="i-table emphasis border">
            {% trans %}The log is empty{% endtrans %}
        </h3>
    {% endif %}

    <h3 id="nothing-to-show" class="i-table emphasis border hidden">
        {% trans %}All results hidden{% endtrans %}
    </h3>

    {% for group, entries in entries|groupby('logged_date', reverse=true) %}
        <h3 class="i-table searchable">
            {{ group|format_human_date(format='full')|title }}
        </h3>
        <table id="log-table-{{ group }}" class="i-table log-table">
            {% for entry in entries %}
                {{ entry.render() | safe }}
            {% endfor %}
        </table>
    {% endfor %}

    <script>
        $(document).ready(function() {
            'use strict';

            var resultCache = [];
            var tableTitles = $('h3.i-table');
            var tables = $('table.log-table');
            var logEntries = tables.find('tr.interactive');

            function expandRow(row) {
                row.addClass('active show-details');
                row.next()
                    .children('td').wrapInner('<div style="display: none;" />')
                    .parent().children('td').children('div').slideDown(400, function() {
                        var $set = $(this);
                        $set.replaceWith($set.contents());
                    });
            }

            function collapseRow(row) {
                row.removeClass('active');
                row.next()
                    .children('td').wrapInner('<div style="display: block;" />')
                    .parent().children('td').children('div').slideUp(400, function() {
                        var $set = $(this);
                        $set.replaceWith($set.contents());
                        row.removeClass('show-details');
                    });
            }

            function applyFilters() {
                var checkboxes = $('.i-selection input:checkbox:checked');
                var visibleEntries = findEntries().filter(buildFilter(checkboxes));
                tableTitles.show();
                tables.show();
                logEntries.removeClass('active show-details').hide();
                visibleEntries.show();
                hideEmptyTables();

                // Needed because $(window).scroll() is not called when hiding elements
                // causing scrolling elements to be out of place.
                $(window).trigger('scroll');
            }

            function findEntries() {
                var term = $('#search-input').val();
                if (resultCache[term] !== undefined) {
                    return resultCache[term];
                }
                var items = tableTitles.filter('.searchable').textContains(term).next().find('tr.interactive');
                items = items.add(logEntries.find('.searchable').textContains(term).parents('tr.interactive'));
                items = items.add(tables.find('tr').find('*').filter('.searchable')
                                                             .textContains(term)
                                                             .parents('tr.details-row').prev());
                resultCache[term] = items;
                return items;
            }

            var buildFilter = function(checkboxes) {
                var filters = {};
                checkboxes.each(function() {
                    filters[$(this).data('realm')] = true;
                });

                return function() {
                    return $(this).data('realm') in filters;
                };
            };

            var hideEmptyTables = function() {
                var emptyTables = $('tr.interactive:hidden').parents('table.i-table')
                                                            .not($('tr.interactive:visible')
                                                            .parents('table.i-table'));
                emptyTables.hide();
                emptyTables.prev().hide();
                if ((tables.length > 0) && ($('.log-table:visible').length === 0)) {
                    $('#nothing-to-show').removeClass('hidden');
                } else {
                    $('#nothing-to-show').addClass('hidden');
                }
            };

            $(window).scroll(function(){
                IndicoUI.Effect.followScroll();
            });

            logEntries.on('click', function() {
                if ($(this).hasClass('active')) {
                    collapseRow($(this));
                } else {
                    expandRow($(this));
                }
            });

            /* Event checkbox selector behavior */
            $('.i-selection input[type=checkbox]').change(function() {
                applyFilters();
            });

            /* Action buttons behavior */
            $('#expand-all').click(function(e) {
                e.preventDefault();
                $('.log-table tr.interactive:visible').addClass('active show-details');
            });

            $('#collapse-all').click(function(e) {
                e.preventDefault();
                $('.log-table tr.interactive').removeClass('active show-details');
            });

            $('#search-input').realtimefilter({
                callback: function() {
                    applyFilters();
                }
            });
        });
    </script>
{% endblock %}
