{% from 'message_box.html' import message_box %}

{% macro render_track_list(event) %}
    {% if not event.tracks %}
        <div id="no-tracks-box">
            {% call message_box('info', classes='no-rules-placeholder') %}
                {% trans %}No tracks have been added yet.{% endtrans %}
            {% endcall %}
        </div>
    {% else %}
        <ul id="track-list" class="i-box-group vert" data-url="{{ url_for('.sort_tracks', event) }}">
            {% for track in event.tracks %}
                <li class="track-row i-box" data-id="{{ track.id }}">
                    <div class="ui-i-box-sortable-handle hide-if-locked"></div>
                    <div class="i-box-header">
                        <span class="i-box-title">{{ track.title }}</span>
                        <div class="i-box-buttons toolbar right hide-if-locked">
                            <div class="group">
                                <a href="#" class="i-button icon-edit js-edit-item"
                                   title="{% trans %}Edit track{% endtrans %}"
                                   data-href="{{ url_for('tracks.edit_track', track) }}"
                                   data-title='{% trans title=track.title %}Edit track "{{ title }}"{% endtrans %}'
                                   data-update="#track-list-container"
                                   data-ajax-dialog></a>
                            </div>
                            <div class="group">
                                {% if track.can_delete(session.user) %}
                                    <a href="#" class="i-button danger text-color icon-remove js-delete-item"
                                       title="{% trans %}Delete track{% endtrans %}"
                                       data-href="{{ url_for('tracks.delete_track', track) }}"
                                       data-confirm="{% trans %}Are you sure you want to delete this track?{% endtrans %}"
                                       data-title='{% trans title = track.title %}Delete track "{{ title }}"{% endtrans %}'
                                       data-method="DELETE"
                                       data-update="#track-list-container"></a>
                                {% else %}
                                    <a href="#" class="i-button danger text-color icon-remove disabled"
                                       title="{% trans %}This track cannot be deleted because it contains accepted abstracts{% endtrans %}"></a>
                                {% endif %}
                            </div>
                        </div>
                        <span class="i-box-description">{{ track.code }}</span>
                    </div>
                    {% if track.description %}
                        <div class="track-content i-box-content">
                            {{ track.description }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
