{% extends 'layout/conference_page_base.html' %}

{% block title %}
    {{- page_title -}}
{% endblock %}

{% block page_actions %}
    <div class="toolbar right">
        <div class="group">
            <a href="{{ url_for('.program_pdf', event) }}"
               class="i-button icon-file-pdf"
               title="{% trans %}Download PDF{% endtrans %}"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if program %}
        <div class="quotation programme">
            {{- program -}}
        </div>
    {% endif %}

    <ul class="programme">
        {% for track in event.tracks %}
            <li>
                <span class="title">
                    {{- track.title -}}
                </span>
                <div class="description">
                    {{- track.description -}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
