{% extends 'layout/conference_page_base.html' %}

{% block title %}
    {{- page_title -}}
{% endblock %}

{% block page_actions %}
    <div class="toolbar flex-right">
        <div class="group">
            <a href="{{ url_for('.program_pdf', event) }}"
               class="i-button icon-file-pdf"
               title="{% trans %}Download PDF{% endtrans %}"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if program %}
        <div class="quotation tracks js-mathjax">
            {{- program -}}
        </div>
    {% endif %}

    <ul class="tracks">
        {% for track in tracks %}
            <li>
                <h3>
                    <span class="track-title">
                        {{ track.title }}
                    </span>
                    {% if track.code -%}
                        <span class="track-code">
                            {{ track.code }}
                        </span>
                    {%- endif %}
                    {% if track.can_convene(session.user) or track.can_review_abstracts(session.user) %}
                        <a href="{{ url_for('abstracts.display_reviewable_track_abstracts', track) }}"
                           class="i-button-icon track-link icon-stack-text"
                           title="{%- trans %}Review abstracts in this track{% endtrans -%}">
                        </a>
                    {% endif %}
                </h3>
                <div class="description">
                    {{- track.description -}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
