{% block warning_box %}{% endblock %}
<dl class="i-data-list">
    <dt>{% trans %}Amount{% endtrans %}</dt>
    <dd>{{ transaction.amount }} {{ transaction.currency }}</dd>
    <dt>{% trans %}Payment date{% endtrans %}</dt>
    <dd>{{ transaction.timestamp | format_datetime(timezone=transaction.registration.event.tzinfo) }}</dd>
    {% if plugin %}
        <dt>{% trans %}Paid with{% endtrans %}</dt>
        <dd>{{ plugin.title }}</dd>
    {% endif %}
    {% if not transaction.is_manual %}
        {# not useful for manual payments since it just uses the amount the user was supposed to pay #}
        <dt>{% trans %}Paid amount{% endtrans %}</dt>
        <dd>{{ format_currency(transaction.amount, transaction.currency, locale=session.lang) }}</dd>
    {% endif %}
    {% block details %}{% endblock %}
</dl>
