{% extends 'admin/base.html' %}
{% from 'forms/form_widget.html' import form_header, form_rows, form_footer  %}

{% block title %}{% trans %}Payment{% endtrans %}{% endblock %}

{%- block content %}
    {% if not plugins %}
        <div class="warning-message-box fixed-width">
            <div class="message-text">
                {% trans -%}
                    There are no payment plugins installed, so the payment module cannot be enabled for any event.
                    To install a payment plugin, install the plugin's Python package and enable it in <code>indico.conf</code>.
                {%- endtrans %}
            </div>
        </div>
    {% endif %}

    {{ form_header() }}
    {{ form_rows(form) }}
    {% call form_footer() %}
        <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}">
    {% endcall %}

    {%- if plugins %}
        <p>{% trans %}The following payment plugins are available:{% endtrans %}</p>
        {%- for plugin in plugins %}
            <a class="js-plugin-details plugin" href="{{ url_for('.admin_plugin_settings', plugin=plugin.name) }}">
                <div class="plugin-content">
                    <span class="plugin-icon plugin-center-block">
                        <img src="{{ plugin.logo_url }}">
                    </span>
                    <span class="plugin-title plugin-center-block">{{ plugin.title }}</span>
                    <div class="plugin-bottom-bar">
                        <span class="plugin-version">{{ plugin.version }}</span>
                        <span class="plugin-settings"><i class="icon-arrow-right"></i></span>
                    </div>
                </div>
            </a>
        {%- endfor %}
        <script>
            $('.js-plugin-details').ajaxDialog({
                title: $T('Payment plugin settings')
            });
        </script>
    {%- endif %}
{%- endblock %}
