{% from 'forms/_form.html' import form_header, form_footer, form_rows %}

{% macro _render_column_selector(item_id, item) %}
    {% set filters = filters['items'] %}
    <div class="label-group list-column">
        <div class="i-label title-wrapper"
             data-id="{{ item.personal_data_type.name if item.personal_data_type else item_id }}">
            <div class="title">{{ item.title }}</div>
        </div>
        {% if item.filter_choices %}
            <div class="i-label filter">
                <a class="icon-filter" data-toggle="dropdown"></a>
                <ul class="i-dropdown" style="display: none">
                    {% for value, caption in item.filter_choices.iteritems() %}
                        <li>
                            <input type="checkbox" name="field_{{ item_id }}" value="{{ value }}"
                                   id="field-{{ item_id }}-option-{{ value }}"
                                   {% if value in filters[item_id] %} checked {% endif %}>
                            <label for="field-{{ item_id }}-option-{{ value }}">
                                {{ caption }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}

<div class="action-box">
    <div class="section">
        <div class="icon icon-wrench"></div>
        <div class="text">
            <div class="label">Customize contribution list</div>
            <div>
                {% set filter_icon = '<i class="icon-filter"></i>' | safe %}
                {%- trans -%}
                    Change the configuration of the contribution list by applying filtering ({{ filter_icon }}) options.
                {%- endtrans -%}
            </div>
        </div>
        <div class="toolbar">
            <a class="i-button js-reset-btn icon-close warning" type="button">
                {%- trans %}Clear filters{% endtrans -%}
            </a>
        </div>
    </div>
</div>
<div class="success-message-box js-clear-filters-message" style="display: none;">
    <div class="message-text">
        {%- trans -%}All filters have been cleared.{%- endtrans -%}
    </div>
</div>
<form class="list-filter" method="POST">
    <h3>{% trans %}Available filtering options{% endtrans %}</h3>
    <div class="flexrow f-wrap">
        {% for item_id, item in static_items.iteritems() %}
            {{ _render_column_selector(item_id, item) }}
        {% endfor %}
    </div>
    <div class="bottom-buttons">
        <input class="i-button big highlight" type="submit" data-disabled-until-change
               value="{% trans %}Apply{% endtrans %}">
        <button class="i-button big" type="button" data-button-back>{% trans %}Cancel{% endtrans %}</button>
    </div>
</form>
<script>
    setupListFilter();
</script>
