{% macro menu_entry(entry) -%}
    <div class="menu-entry {%- if entry.children %} with-children{% endif %}"
         data-position="{{ entry.position }}"
         data-position-url="{{ url_for('.menu-entry-position', entry) }}">
        <div class="i-label
        {%- if entry.type.name in ('internal_link', 'plugin_link') %} disabled
        {%- elif entry.type.name in ('user_link', 'page') %} highlight{% endif -%}
        {%- if not entry.visible %} stripped{% endif %} entry-{{ entry.type.name }}">
            <span>
                {%- if entry.type.name != 'separator' %}{{ _(entry.title) }}{% endif %}
                ({{ entry.position }})
            </span>
            <span class="right actions">
                <a class="{% if not entry.visible %}not-{% endif %}visible" href="#"
                   data-href="{{ url_for('.menu-entry-visibility', entry) }}"
                   data-method="POST"
                   ></a>
                <a href="#" data-href="{{ url_for('.menu-entry-edit', entry) }}" class="edit-entry"></a>
                <i class="drag-handle"></i>
            </span>
        </div>
        {% if entry.children %}
            {{ menu_entries(entry.children) }}
        {% endif %}
    </div>
{%- endmacro %}

{% macro menu_entries(entries) -%}
    <ul class="menu-entries">
        {% for entry in entries -%}
            <li>{{ menu_entry(entry) }}</li>
        {%- endfor %}
    </ul>
{%- endmacro %}


{% macro menu_entry_display(entry, root_entry=True) %}
    {% if entry.is_separator %}
        <li class="spacer"></li>
    {% else %}
        {% set menu_class = 'menuConfTitle' if root_entry else 'menuConfMiddleCell' %}
        <li id="menuLink_{% if entry.is_internal_link or entry.is_plugin_link %}entry.name{% else %}entry.id{% endif %}"
            class="{{ menu_class }}"> {# TODO: handle selected #}
            <a href="{{ entry.url }}" {%- if entry.new_tab %} target="_blank"{% endif %}>
                {{- entry.title -}}
            </a>
            {% if entry.children %}
                <ul class="inner">
                    {% for child in entry.children if child.visible %}
                        {{ menu_entry_display(child, root_entry=False) }}
                    {% endfor %}
                </ul>
            {% endif %}
    {% endif %}
{% endmacro %}
