{% extends 'layout/base.html' %}


{% macro menu_entry(entry) -%}
    <div class="menu-entry {%- if entry.children %} with-children{% endif %}">
        <div class="i-label disabled {% if not entry.visible %}stripped{% endif %} entry-{{ entry.type.name }}">
            <span>{{  _(entry.title)  }} ({{ entry.position }})</span>
            <span class="right actions">
                <i class="{% if entry.visible %}icon-eye{% else %}icon-eye-blocked{% endif %}"></i>
                <a href="{{ url_for('.menu-entry-edit', entry) }}" class="edit-entry"></a>
                <i class="drag-handle"></i>
            </span>
        </div>
        {% if entry.children %}
            {{ menu_entries(entry.children) }}
        {% endif %}
    </div>
{%- endmacro %}

{% macro menu_entries(entries) -%}
    <ul class="menu-entries">
        {% for entry in entries -%}
            <li>{{ menu_entry(entry) }}</li>
        {%- endfor %}
    </ul>
{%- endmacro %}


{% block title %}
    {%- trans %}Menu{% endtrans -%}
{% endblock %}

{%- block content %}
    {{ menu_entries(menu) }}
    <script>
    $(function initMenuEdit() {
        $('.edit-entry').ajaxDialog({
            title: '{% trans %}Menu Entry Settings{% endtrans %}',
            onClose: function(data) {
                $(this.trigger).closest('.menu-entry').replaceWith(data.entry)
            }
        });
        $(document).on('indico:confirmed', '.visible, .not-visible', function(evt) {
            evt.preventDefault();

            var $this = $(this);
            $.ajax({
                url: $this.data('href'),
                method: $this.data('method'),
                complete: IndicoUI.Dialogs.Util.progress(),
                error: handleAjaxError,
                success: function(data) {
                    var visible = data.visible;
                    $this.toggleClass('visible', visible)
                        .toggleClass('not-visible', !visible)
                        .parent('.actions')
                            .parent('.i-label').toggleClass('stripped', !visible);
                }
            });
        });
    });
    </script>
{% endblock %}
