{% extends 'layout/base.html' %}
{% from '_switch.html' import switch %}
{% from 'message_box.html' import message_box %}
{% from 'events/layout/_menu.html' import menu_entries %}

{% block title %}
    {%- trans %}Menu{% endtrans -%}
{% endblock %}

{%- block content %}
    Customize menu
    {{ switch(id='toggle-menu-customization', checked=custom_menu_enabled, data_href=url_for('.menu_toggle_custom', event),
              data_confirm_enable=_('When enabling menu customization, you can re-arrange menu entries and add custom links/pages to your event.'),
              data_confirm_disable=_('Disabling menu customizations will revert to the default menu and PERMANENTLY DELETE all menu customizations including custom pages.')) }}
    <script>
        $('#toggle-menu-customization').ajaxCheckbox().on('ajaxCheckbox:changed', function() {
            location.reload();
        });
    </script>

    {% if custom_menu_enabled %}
    <div class="fixed-width-page layout-wrapper" id="menu-customization">
        <div class="row">
            <div id="menu-entries" class="column col-40">
                {{ menu_entries(menu, connect_menu=true) }}
            </div>
            <div class="column col-60">
                {% call message_box('info') %}
                    {%- trans grid_icon='<i class="icon-grid2"></i>'|safe -%}
                        Click and drag the grid icon ({{ grid_icon }}) to reorder the menu entries
                    {%- endtrans -%}
                {% endcall %}
                <div class="action-box">
                    <div class="section">
                        <div class="icon icon-plus"></div>
                        <div class="toolbar right">
                            <div class="group js-add-entry-dropdown">
                                <a class="i-button arrow icon-plus" data-toggle="dropdown">
                                    {%- trans %}Add an entry{% endtrans -%}
                                </a>
                                <ul class="dropdown">
                                    <li>
                                        <a class="icon-link add-link" href="#"
                                           data-href="{{ url_for('.menu_add_entry', event, type='user_link') }}"
                                           data-title="{% trans %}New link{% endtrans %}">
                                            {%- trans %}Add link{% endtrans -%}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-file-text add-page" href="#"
                                            data-href="{{ url_for('.menu_add_entry', event, type='page') }}"
                                            data-title="{% trans %}New page{% endtrans %}">
                                            {%- trans %}Add page{% endtrans -%}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon-arrows-vert add-separator" href="#">
                                            {%- trans %}Add spacer{% endtrans -%}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <span class="text">
                            <div class="label">
                                {%- trans %}New menu entries{% endtrans -%}
                            </div>
                            <div>
                                {%- trans %}Add entries to the event's menu.{% endtrans -%}
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function initMenuEdit() {
        function _addNewEntry(data, classes) {
            if (data) {
                $('#menu-entries > .menu-entries').append($('<li>', {
                    class: classes
                }).html(data.entry));
            }
        }

        $('.js-add-entry-dropdown').dropdown();

        $('.add-link, .add-page').ajaxDialog({
            title: function() { return $(this).data('title'); },
            onClose: function(data) { _addNewEntry(data, 'nestable allow-nested'); }
        });
        $('.add-separator').on('click', function addSeparator (evt) {
            evt.preventDefault();

            $.ajax({
                url: {{ url_for('.menu_add_entry', event, type='separator')|tojson }},
                method: 'POST',
                complete: IndicoUI.Dialogs.Util.progress(),
                error: handleAjaxError,
                success: function(data) { _addNewEntry(data, ''); }
            });
        });
    });
    </script>
    {% endif %}
{% endblock %}
