#roomBookingCal {
    width: 820px;
}

.dayCalendarDiv {
    position: relative;
    height: 20px;
    font-size:0px;
    display: inline-block;
    vertical-align: middle;

    & .time-bar {
        background: url('/images/rb_timebar_bg.png');
        width: 675px;
        height: 20px;
    }
}

.dayCalendarDivHeader {
    height: 20px;
    font-size:0px;
    margin-top: 6px;
    margin-left: 120px;
    position: relative;
}

.wholeDayCalendarDiv {
    clear: both;
    float: left;
    width: 800px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wholeDayCalendarDayHighlight {
    background-color: #D9EDF7;
    padding: 5px 0px 0px 5px;
}

.calHour {
    margin-top: 2px;
    position: absolute;
    font-size: 8px;
    height: 20px;
    color: #666;
}

.room-row {
    min-height: 20px;
    width: 100%;
    margin-bottom: 5px;
    clear: both;

    & .link {
        line-height: 20px;
        width: 120px;
        padding-left: 5px;
        display: inline-block;
        vertical-align: middle;
    }
}


.booking-list-header {

    margin-top: 2em;
    padding-bottom: 0.2em;
    clear: both;
    overflow: auto;
    border-bottom: 1px solid $gray;

    .arrow {
        margin-left: 0.2em;
    }

    .sort-link {
        display: inline-block;
    }

    .sort-link-room {
        width: 175px;
    }

    .sort-link-reason-for {
        width: 350px;
    }

    .sort-link-date {
        width: 90px;
    }

    .sort-link-time {
        width: 75px;
    }

}
