{% extends 'layout/full_content_base.html' %}

{% block content %}
    <div id="persons-list">
        <div class="flashed-messages"></div>
        <div>
            <div class="toolbar form-group">
                <div class="group">
                    <a class="icon-checkbox-checked i-button arrow js-dropdown" href="#" data-toggle="dropdown"></a>
                    <ul class="dropdown">
                        <li>
                            <a href="#" data-select-all="#persons-list input.select-row:visible:not(:disabled)">
                                {% trans %}All{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-select-none="#persons-list input.select-row:visible">
                                {% trans %}None{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-mail right highlight disabled js-requires-selected-row send-mails-btn"
                       data-href="{{ url_for('persons.email_event_persons', event) }}"
                       data-title="{% trans %}Send email{% endtrans %}"
                       data-method="POST"
                       data-params-selector="#persons-list input[name=person_id]:checkbox:checked:visible"
                       data-ajax-dialog>
                        {%- trans %}Send emails{% endtrans -%}
                    </a>
                </div>
                <div class="group i-selection">
                    <span class="i-button label">{% trans %}Privileges{% endtrans %}</span>
                    <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                        {% trans %}Grant{% endtrans %}
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="#"
                               title="{% trans %}Grant submission rights to all speakers{% endtrans %}"
                               data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                               data-href="{{ url_for('.grant_submission_rights', event) }}"
                               data-method="POST"
                               data-qtip-position="right">
                                {% trans %}Submission rights{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="#"
                               title="{% trans %}Grant modification rights to all session conveners{% endtrans %}"
                               data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                               data-href="{{ url_for('.grant_modification_rights', event) }}"
                               data-method="POST"
                               data-qtip-position="right">
                                {% trans %}Modification rights{% endtrans %}</a>
                        </li>
                    </ul>
                    <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                        {% trans %}Revoke{% endtrans %}
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="#"
                               title="{% trans %}Revoke submission rights{% endtrans %}"
                               data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                               data-href="{{ url_for('.revoke_submission_rights', event) }}"
                               data-method="POST"
                               data-qtip-position="right">
                                {% trans %}Submission rights{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    {% block filters %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="form-group">
            {% block persons %}{% endblock %}
        </div>
    </div>
    <script>
        setupEventPersonsList();
    </script>
{% endblock %}
