{% macro render_person_row(person_data) %}
    {% set person = person_data.person %}
    <td class="i-table thin-column hide-if-locked">
        <input type="checkbox" value="{{ person.id }}" class="select-row" name="person_id" {{ 'disabled' if not person.email }}>
    </td>
    <td class="i-table name-column">
        {{ person.display_full_name }}
        {% if person.is_untrusted %}
            {% set untrusted_tooltip -%}
                {%- trans -%}
                    This person is currently just an author of an abstract with no other ties to the event.
                    Their data may have been provided by the submitter of the abstract.
                {%- endtrans -%}
            {%- endset %}
            <span class="icon-question" title="{{ untrusted_tooltip }}"></span>
        {% endif %}
    </td>
    <td class="i-table email-column">
        {{ person.email }}
    </td>
    <td class="i-table affiliation-column">
        {{ person.affiliation }}
    </td>
    <td class="i-table">
        <span class="i-label {{ 'no-role' if not person_data.roles.chairperson }}">
            {%- if person.event_new.type == 'lecture' -%}
                {%- trans %}Speaker{% endtrans -%}
            {%- else -%}
                {%- trans %}Chairperson{% endtrans -%}
            {%- endif -%}
        </span>
    </td>
    {%- if person.event_new.type != 'lecture' -%}
        <td class="i-table">
            <span class="i-label js-count-label {{ 'no-role' if not person_data.contributions }}"
                  data-items="{{ person_data.contributions | tojson | forceescape }}">
                {% trans %}Speaker{% endtrans %}
                <span class="badge">
                    {{ person_data.contributions | length }}
                </span>
            </span>
        </td>
        <td class="i-table">
            <span class="i-label js-count-label {{ 'no-role' if not person_data.subcontributions }}"
                  data-items="{{ person_data.subcontributions | tojson | forceescape }}">
                {% trans %}Sub-contrib. Speaker{% endtrans %}
                <span class="badge">
                    {{ person_data.subcontributions | length }}
                </span>
            </span>
        </td>
        <td class="i-table">
            <span class="i-label js-count-label {{ 'no-role' if not person_data.session_blocks }}"
                  data-items="{{ person_data.session_blocks | tojson | forceescape }}">
                {% trans %}Convener{% endtrans %}
                <span class="badge">
                    {{ person_data.session_blocks | length }}
                </span>
            </span>
        </td>
        {% if person.event_new.has_feature('abstracts') %}
            <td class="i-table">
                <span class="i-label js-count-label {{ 'no-role' if not person_data.abstracts }}"
                      data-items="{{ person_data.abstracts | tojson | forceescape }}">
                    {% trans %}Abstract author{% endtrans %}
                    <span class="badge">
                        {{ person_data.abstracts | length }}
                    </span>
                </span>
            </td>
        {% endif %}
    {% endif %}
    <td class="i-table">
        {% if person_data.roles.no_account %}
            <span class="i-label warning icon-warning"
                  title="{% trans email=person.email %}This user seems to have no Indico
                  account. If they do have an account, they should add {{ email }} to their profile{%- endtrans %}">
                {% trans %}No Indico account{% endtrans %}
            </span>
        {% endif %}
    </td>
    <td class="i-table">
        {% if person.invited_dt %}
            <span class="i-label icon-mail"
                  title="This person has been invited to create an Indico account">
                {{ person.invited_dt | format_date(timezone=person_data.person.event_new.tzinfo) }}
            </span>
        {% endif %}
    </td>
    <td class="i-table">
        <a class="i-link icon-edit" title="{% trans %}Edit information{% endtrans %}"
            data-href="{{ url_for('persons.edit_person', person) }}"
            data-title="{% trans %}Edit information{% endtrans %}"
            data-update="#person-{{ person.id }}"
            data-highlight-update
            data-ajax-dialog></a>
    </td>
{% endmacro %}
