{% extends 'layout/base.html' if event.type == 'lecture' else 'layout/full_content_base.html' %}

{% block content %}
    <div id="person-list">
        <div class="flashed-messages"></div>
        <div>
            <div class="toolbar form-group">
                <div class="group">
                    <a class="icon-checkbox-checked i-button arrow js-dropdown" href="#" data-toggle="dropdown"></a>
                    <ul class="dropdown">
                        <li>
                            <a href="#" data-select-all="#person-list input.select-row:visible:not(:disabled)">
                                {% trans %}All{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-select-none="#person-list input.select-row:visible">
                                {% trans %}None{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-mail right highlight disabled js-requires-selected-row send-mails-btn"
                       data-href="{{ url_for('persons.email_event_persons', event) }}"
                       data-title="{% trans %}Send email{% endtrans %}"
                       data-method="POST"
                       data-params-selector="#person-list input[name=person_id]:checkbox:checked:visible"
                       data-ajax-dialog
                       data-reload-after>
                        {%- trans %}Send emails{% endtrans -%}
                    </a>
                </div>
                {% if event.type != 'lecture' %}
                    <div class="group i-selection">
                        <span class="i-button label">{% trans %}Privileges{% endtrans %}</span>
                        <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                            {% trans %}Grant{% endtrans %}
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="#"
                                   title="{% trans %}Grant submission rights to all speakers{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.grant_submission_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Submission rights{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#"
                                   title="{% trans %}Grant modification rights to all session conveners{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.grant_modification_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Modification rights{% endtrans %}</a>
                            </li>
                        </ul>
                        <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                            {% trans %}Revoke{% endtrans %}
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="#"
                                   title="{% trans %}Revoke submission rights{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.revoke_submission_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Submission rights{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div class="group">
                    <a id="no-account-dropdown" href="#" class="i-button arrow highlight disabled js-dropdown" data-toggle="dropdown">
                        {% trans %}Send invitation{% endtrans %}
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="#"
                               title="{% trans %}Send an email to all users with no Indico account{% endtrans %}"
                               data-href="{{ url_for('persons.email_event_persons', event, no_account=true) }}"
                               data-params-selector="#person-list [data-no-account] input[name=person_id]:checkbox"
                               data-title="{% trans %}Send email{% endtrans %}"
                               data-method="POST"
                               data-ajax-dialog
                               data-reload-after>
                                {% trans %}To all users with no account{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="#" id="not-invited-only"
                               title="{% trans %}Send an email to all users with no Indico account who have not
                                     received an invitation email yet{% endtrans %}"
                               data-href="{{ url_for('persons.email_event_persons', event, no_account=true,
                                                      not_invited_only=true) }}"
                               data-params-selector="#person-list [data-no-account] input[name=person_id]:checkbox"
                               data-title="{% trans %}Send email{% endtrans %}"
                               data-method="POST"
                               data-ajax-dialog
                               data-reload-after>
                                {% trans %}To users not invited yet{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    {% block filters %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="form-group">
            {% block persons %}{% endblock %}
        </div>
    </div>
    <script>
        setupEventPersonsList();
    </script>
{% endblock %}
