{% extends 'events/persons/management/_persons_list_base.html' %}

{% block title %}
    {% trans %}Pending persons{% endtrans %}
{% endblock %}

{% block persons %}
    <table class="i-table-widget tablesorter">
        <thead>
            <tr class="i-table">
                <th class="i-table checkbox-column" data-sorter="false"></th>
                <th class="i-table">{% trans %}Name{% endtrans %}</th>
                <th class="i-table">{% trans %}Email{% endtrans %}</th>
                <th class="i-table">{% trans %}Affiliation{% endtrans %}</th>
                <th class="i-table">{% trans %}Event chairperson{% endtrans %}</th>
                <th class="i-table">{% trans %}Session manager{% endtrans %}</th>
                <th class="i-table">{% trans %}Contribution submitter{% endtrans %}</th>
                <th class="i-table">{% trans %}Subcontribution submitter{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for person, data in pending_persons.iteritems() %}
                <tr>
                    <td class="i-table">
                        <input type="checkbox" value="{{ person.id }}" class="select-row" name="person_id"
                                {{ 'disabled' if not person.email }}>
                    </td>
                    <td class="i-table">{{ person.full_name }}</td>
                    <td class="i-contributiontable email-column">{{ person.email }}</td>
                    <td class="i-table">{{ person.affiliation }}</td>
                    <td class="i-table">{{ _('Yes') if data.event_chairperson else _('No') }}</td>
                    <td class="i-table">
                        {% if data.sessions %}
                            <span class="i-label js-count-label"
                                  data-items="{{ data.sessions | tojson | forceescape }}">
                                {% trans %}Manager in sessions{% endtrans %}
                                <span class="badge">
                                    {{ data.sessions|length }}
                                </span>
                            </span>
                        {% endif %}
                    </td>
                    <td class="i-table">
                        {% if data.contributions %}
                            <span class="i-label js-count-label"
                                  data-items="{{ data.contributions | tojson | forceescape }}">
                                {% trans %}Submitter in contributions{% endtrans %}
                                <span class="badge">
                                    {{ data.contributions | length }}
                                </span>
                            </span>
                        {% endif %}
                    </td>
                    <td class="i-table">
                        {% if data.subcontributions %}
                            <span class="i-label js-count-label"
                                  data-items="{{ data.subcontributions | tojson | forceescape }}">
                                {% trans %}Submitter in subcontributions{% endtrans %}
                                <span class="badge">
                                    {{ data.subcontributions | length }}
                                </span>
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr class="i-table">
                    <td colspan="8">{% trans %}No pending persons{% endtrans %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
