{% extends 'events/management/base.html' if event.type == 'lecture' else 'events/management/full_width_base.html' %}

{% from 'events/persons/management/_person_list_row.html' import render_person_row %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {% trans %}Event Roles{% endtrans %}
{% endblock %}

{% block content %}
    {%- set has_no_account = persons|selectattr('roles.no_account')|any -%}
    {%- set has_uninvited = persons|selectattr('roles.no_account')|selectattr('person.invited_dt', 'none')|any -%}

    <div class="event-roles js-event-person-list">
        <div class="flashed-messages"></div>
        <div class="toolbars space-after">
            <div class="toolbar hide-if-locked">
                <div class="group">
                    <a class="icon-checkbox-checked i-button arrow js-dropdown" href="#" data-toggle="dropdown"></a>
                    <ul class="dropdown">
                        <li>
                            <a href="#" data-select-all="#event-roles-list input.select-row:visible:not(:disabled)">
                                {% trans %}All{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-select-none="#event-roles-list input.select-row:visible">
                                {% trans %}None{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="group">
                    <a href="#" class="i-button icon-mail highlight disabled js-requires-selected-row"
                       data-href="{{ url_for('persons.email_event_persons', event) }}"
                       data-title="{% trans %}Send email{% endtrans %}"
                       data-method="POST"
                       data-params-selector="#event-roles-list input[name=person_id]:checkbox:checked:visible"
                       data-ajax-dialog
                       data-reload-after>
                        {%- trans %}Send emails{% endtrans -%}
                    </a>
                </div>
                {% if event.type != 'lecture' %}
                    <div class="group i-selection">
                        <span class="i-button label">{% trans %}Privileges{% endtrans %}</span>
                        <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                            {% trans %}Grant{% endtrans %}
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="#"
                                   title="{% trans %}Grant submission rights to all speakers{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.grant_submission_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Submission rights{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#"
                                   title="{% trans %}Grant modification rights to all session conveners{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.grant_modification_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Modification rights{% endtrans %}</a>
                            </li>
                        </ul>
                        <a href="#" class="i-button arrow js-dropdown" data-toggle="dropdown">
                            {% trans %}Revoke{% endtrans %}
                        </a>
                        <ul class="dropdown">
                            <li>
                                <a href="#"
                                   title="{% trans %}Revoke submission rights{% endtrans %}"
                                   data-confirm="{% trans %}Are you sure you want to perform this operation?{% endtrans %}"
                                   data-href="{{ url_for('.revoke_submission_rights', event) }}"
                                   data-method="POST"
                                   data-qtip-position="right">
                                    {% trans %}Submission rights{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div class="group">
                    <a href="#"
                       class="i-button arrow highlight js-dropdown {{ 'disabled' if not has_no_account }}"
                       data-toggle="dropdown">
                        {% trans %}Send invitation{% endtrans %}
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="#"
                               title="{% trans %}Send an email to all users with no Indico account{% endtrans %}"
                               data-href="{{ url_for('persons.email_event_persons', event, no_account=true) }}"
                               data-params-selector="#event-roles-list [data-no-account] input[name=person_id]:checkbox"
                               data-title="{% trans %}Send email{% endtrans %}"
                               data-method="POST"
                               data-ajax-dialog
                               data-reload-after>
                                {% trans %}To all users with no account{% endtrans %}
                            </a>
                        </li>
                        {% if has_uninvited %}
                            <li>
                                <a href="#"
                                   title="{% trans %}Send an email to all users with no Indico account who have not
                                         received an invitation email yet{% endtrans %}"
                                   data-href="{{ url_for('persons.email_event_persons', event, no_account=true,
                                                          not_invited_only=true) }}"
                                   data-params-selector="#event-roles-list [data-no-account] input[name=person_id]:checkbox"
                                   data-title="{% trans %}Send email{% endtrans %}"
                                   data-method="POST"
                                   data-ajax-dialog
                                   data-reload-after>
                                    {% trans %}To users not invited yet{% endtrans %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="toolbar">
                <div id="person-filters" class="group i-selection">
                    <span class="i-button label">{% trans %}Show{% endtrans %}</span>
                    <input type="checkbox" id="filter-chairpersons" data-filter="chairperson" checked>
                    <label for="filter-chairpersons" class="i-button">
                        {%- if event.type == 'lecture' -%}
                            {%- trans %}Speakers{% endtrans -%}
                        {%- else -%}
                            {%- trans %}Chairpersons{% endtrans -%}
                        {%- endif -%}
                    </label>
                    {% if event.type != 'lecture' %}
                        <input type="checkbox" id="filter-speakers" data-filter="speaker" checked>
                        <label for="filter-speakers" class="i-button">{% trans %}Speakers{% endtrans %}</label>
                        <input type="checkbox" id="filter-conveners" data-filter="convener" checked>
                        <label for="filter-conveners" class="i-button">{% trans %}Conveners{% endtrans %}</label>
                        {% if event.has_feature('abstracts') %}
                            <input type="checkbox" id="filter-abstract-author" data-filter="author" checked>
                            <label for="filter-abstract-author" class="i-button">
                                {%- trans %}Abstract authors{% endtrans -%}
                            </label>
                        {% endif %}
                    {% endif %}
                    <span class="i-button label">{% trans %}or{% endtrans %}</span>
                    <input type="checkbox" id="filter-no-account" data-filter="no_account">
                    <label for="filter-no-account" class="i-button">{% trans %}Users with no account{% endtrans %}</label>
                </div>
            </div>
        </div>
        <div id="event-roles-list">
            {% if num_no_account %}
                {% call message_box('warning') %}
                    {% trans count = num_no_account -%}
                        There is one user with no Indico account. An Indico account may be needed to upload materials and/or
                        manage contents.
                        {%- pluralize -%}
                        There are {{ count }} users with no Indico account. An Indico account may be needed to upload materials
                        and/or manage contents.
                    {%- endtrans -%}
                {% endcall %}
            {% endif %}
            <table class="i-table-widget tablesorter">
                <thead>
                    <tr class="i-table">
                        <th class="i-table thin-column hide-if-locked" data-sorter="false"></th>
                        <th class="i-table name-column">{% trans %}Name{% endtrans %}</th>
                        <th class="i-table email-column">{% trans %}Email{% endtrans %}</th>
                        <th class="i-table affiliation-column">{% trans %}Affiliation{% endtrans %}</th>
                        <th class="i-table" data-sorter="false"></th>
                        {%- if event.type != 'lecture' -%}
                            <th class="i-table" data-sorter="false"></th>
                            <th class="i-table" data-sorter="false"></th>
                            <th class="i-table" data-sorter="false"></th>
                            {% if event.has_feature('abstracts') %}
                                <th class="i-table" data-sorter="false"></th>
                            {% endif %}
                        {% endif %}
                        <th class="i-table" data-sorter="false"></th>
                        <th class="i-table" data-sorter="false"></th>
                        <th class="i-table" data-sorter="false"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for person_data in persons -%}
                        <tr id="person-{{ person_data.person.id }}"
                            class="i-table {{ 'untrusted' if person_data.person.is_untrusted }}"
                            data-person-roles="{{ person_data.roles | tojson | forceescape }}"
                            {{ 'data-no-account' if person_data.roles.no_account }}>
                            {{ render_person_row(person_data) }}
                        </tr>
                    {%- else -%}
                        <tr class="i-table">
                            <td colspan="{{ 8 if event.type == 'lecture' else (11 + event.has_feature('abstracts')) }}">
                                {%- trans %}No persons{% endtrans -%}
                            </td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        setupEventPersonsList({
            hasNoAccountFilter: true
        });
    </script>
{% endblock %}
