{% extends 'events/persons/management/_person_list_base.html' %}

{% from 'events/persons/management/_person_list_row.html' import render_person_row %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {% trans %}Event Roles{% endtrans %}
{% endblock %}

{% block filters %}
    <div id="person-filters" class="group i-selection">
        <span class="i-button label">{% trans %}Show{% endtrans %}</span>
        <input type="checkbox" id="filter-chairpersons" data-filter="chairperson" checked>
        <label for="filter-chairpersons" class="i-button">
            {%- if event.type == 'lecture' -%}
                {%- trans %}Speakers{% endtrans -%}
            {%- else -%}
                {%- trans %}Chairpersons{% endtrans -%}
            {%- endif -%}
        </label>
        {% if event.type != 'lecture' %}
            <input type="checkbox" id="filter-speakers" data-filter="speaker" checked>
            <label for="filter-speakers" class="i-button">{% trans %}Speakers{% endtrans %}</label>
            <input type="checkbox" id="filter-conveners" data-filter="convener" checked>
            <label for="filter-conveners" class="i-button">{% trans %}Conveners{% endtrans %}</label>
        {% endif %}
        <span class="i-button label">{% trans %}or{% endtrans %}</span>
        <input type="checkbox" id="filter-no-account" data-filter="no_account">
        <label for="filter-no-account" class="i-button">{% trans %}Users with no account{% endtrans %}</label>
    </div>
{% endblock %}

{% block persons %}
    {% if num_no_account %}
        {% call message_box('warning') %}
            {% trans count = num_no_account -%}
                There is one user with no Indico account. An Indico account may be needed to upload materials and/or
                manage contents.
            {%- pluralize -%}
                There are {{ count }} users with no Indico account. An Indico account may be needed to upload materials
                and/or manage contents.
            {%- endtrans -%}
        {% endcall %}
    {% endif %}
    <table id="person-list" class="i-table-widget tablesorter">
        <thead>
            <tr class="i-table">
                <th class="i-table checkbox-column" data-sorter="false"></th>
                <th class="i-table name-column">{% trans %}Name{% endtrans %}</th>
                <th class="i-table">{% trans %}Email{% endtrans %}</th>
                <th class="i-table affiliation-column">{% trans %}Affiliation{% endtrans %}</th>
                <th class="i-table"></th>
                {%- if event.type != 'lecture' -%}
                    <th class="i-table"></th>
                    <th class="i-table"></th>
                    <th class="i-table"></th>
                {% endif %}
                <th class="i-table"></th>
                <th class="i-table"></th>
            </tr>
        </thead>
        <tbody>
            {% for person_data in persons -%}
                <tr id="person-{{ person_data.person.id }}" class="i-table"
                    data-person-roles="{{ person_data.roles | tojson | forceescape }}"
                    {% if person_data.roles.no_account %}
                        data-no-account
                    {% endif %}
                    {% if person_data.person.invited_dt %}
                        data-already-invited
                    {% endif %}>
                    {{ render_person_row(person_data) }}
                </tr>
            {%- else -%}
                <tr class="i-table">
                    <td colspan="{{ 7 if event.type == 'lecture' else 10 }}">
                        {%- trans %}No persons{% endtrans -%}
                    </td>
                </tr>
            {%- endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            function switch_to(what, $target) {
                if (what == 'persons') {
                    if ($('#filter-no-account').prop('checked')) {
                        $('#filter-no-account').prop('checked', false);
                    }
                } else {
                    $('#person-list [data-filter]:checked:not(#filter-no-account)').prop('checked', false);
                }
                refreshPersonFilters();
            }

            $('#person-list [data-filter]:not(#filter-no-account)').on('change', function() {
                var $target = $(this);
                switch_to('persons', $target);
            });
            $('#filter-no-account').on('change', function() {
                var $target = $(this);
                if ($target.prop('checked')) {
                    switch_to('no-account', $target);
                }
            });
        });
    </script>
{% endblock %}
