{% from 'events/reviews/_common.html' import render_summary_state, render_user_avatar, render_review_state %}
{% from 'forms/_form.html' import form_header, form_row, form_footer %}

{% macro _render_paper_file_list(files) %}
    <ul class="file-list">
        {% for file in files %}
            {% set icon = icon_from_mimetype(file.content_type, 'icon-file-filled') %}
            <li class="truncate-text">
                <a class="attachment {{ icon }}" href="{{ url_for('.download_file', file) }}"
                   title="{{ file.filename }}">
                    <span class="title">{{ file.filename }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro _render_paper_files(files, spotlight_file=none) %}
    <ul class="paper-files flexrow f-wrap">
        {% for file in files if file != spotlight_file %}
            {% set icon = icon_from_mimetype(file.content_type, 'icon-file-filled') %}
            <li>
                <a href="{{ url_for('.download_file', file) }}"
                   class="attachment paper-file i-button text-color outline dashed {{ icon }}"
                   title="{{ file.filename }}">
                    <span class="title truncate-text">{{ file.filename }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro render_submission_info(revision) %}
    <div class="i-timeline">
        <div class="i-timeline-item">
            {{ render_user_avatar(revision.submitter) }}
            {% set header_class = 'header-only' if not revision.is_last_revision %}
            <div class="i-timeline-item-box header-indicator-left {{ header_class }}" id="revision-info-{{ revision.id }}">
                <div class="i-box-header flexrow">
                    <div class="f-self-stretch">
                        {% trans name=revision.submitter.name, number=revision.number -%}
                            <strong>{{ name }}</strong> submitted paper revision #{{ number }}
                        {%- endtrans %}
                        <time datetime="{{ revision.submitted_dt.isoformat() }}">
                            {{- revision.submitted_dt|format_human_date -}}
                        </time>
                    </div>
                    {% if not revision.is_last_revision %}
                        <a href="#" class="revision-info-link i-link"
                           data-toggle="#revision-timeline-{{ revision.id }}, #revision-info-{{ revision.id }} .submission-info"
                           data-toggle-class='{"target": "#revision-info-{{ revision.id }}", "class": "header-only"}'
                           data-show-text="{% trans %}Show old revision{% endtrans %}"
                           data-hide-text="{% trans %}Hide old revision{% endtrans %}">
                            {%- trans %}Show old revision{% endtrans -%}
                        </a>
                    {% endif %}
                </div>
                {% set submission_info_class = 'weak-hidden' if not revision.is_last_revision %}
                <div class="i-box-content submission-info {{ submission_info_class }}">
                    {{ _render_paper_file_list(revision.files) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro _render_spotlight_file(file) %}
    {% set icon = icon_from_mimetype(file.content_type, 'icon-file-filled') %}
    <div class="flexrow f-a-center spotlight-file i-button text-color outline dashed paper-file"
         title="{{ file.filename }}">
        <a class="attachment spotlight-file-icon {{ icon }}"></a>
        <a href="{{ url_for('.download_file', file) }}" class="attachment spotlight-file-name truncate-text">
            <span class="title">{{ file.filename }}</span>
        </a>
    </div>
{% endmacro %}

{% macro render_paper_info(paper) %}
    <div class="submission-title flexrow">
        <h3 class="f-self-stretch">
            {% trans contribution_title=paper.contribution.title%}Paper for {{ contribution_title }}{% endtrans %}
            <span class="submission-id">
                #{{ paper.contribution.friendly_id }}
            </span>
        </h3>
    </div>
    <div id="paper-public">
        {{ _render_paper_summary(paper) }}
        <div class="review-item-content paper-content flexcol f-a-center">
            {% set spotlight_file = paper.last_revision.get_spotlight_file() %}
            {% if spotlight_file %}
                {{ _render_spotlight_file(spotlight_file) }}
                <div class="paper-files-list flexrow f-a-baseline">
                    <div class="paper-files-list-label f-self-no-shrink">
                        {%- trans %}Additional files:{% endtrans -%}
                    </div>
                    {{ _render_paper_files(paper.last_revision.files, spotlight_file) }}
                </div>
            {% else %}
                <div class="paper-files-list flexrow f-a-baseline">
                    <div class="paper-files-list-label f-self-no-shrink">
                        {%- trans %}Paper files:{% endtrans -%}
                    </div>
                    {{ _render_paper_files(paper.last_revision.files) }}
                </div>
            {% endif %}
            <div class="submission-metadata">
                {% set submission_dt -%}
                    <a class="submission-dt" href="#revision-info-{{ paper.last_revision.id }}">
                        <time datetime="{{ paper.last_revision.submitted_dt.isoformat() }}">
                            {{- paper.last_revision.submitted_dt|format_human_date -}}
                        </time>
                    </a>
                {%- endset %}
                {%- trans submitter=paper.last_revision.submitter.full_name -%}
                    Submitted on {{ submission_dt }} by {{ submitter }}
                {%- endtrans -%}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro _render_paper_summary(paper) %}
    <div class="review-summary flexrow f-a-baseline">
        <div class="review-summary-badge">
            {{ render_summary_state(paper.state) }}
        </div>
        <div class="review-summary-content f-self-stretch">
            <div>
                {% trans name=paper.last_revision.submitter.name -%}
                    <strong>{{ name }}</strong> submitted this paper for the contribution
                {%- endtrans %}
                <a href="{{ url_for('contributions.display_contribution', paper.contribution) }}">
                    {{- paper.contribution.title -}}
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_paper_review_action_text(review) %}
    {% set action = render_review_state(review) %}
    {% set endaction = '</span>'|safe %}
    {% if review.proposed_action.name == 'accept' %}
        {%- trans %}Proposed to {{ action }}accept{{ endaction }}{% endtrans -%}
    {% elif review.proposed_action.name == 'reject' %}
        {%- trans %}Proposed to {{ action }}reject{{ endaction }}{% endtrans -%}
    {% elif review.proposed_action.name == 'to_be_corrected' %}
        {%- trans %}Proposed to {{ action }}correct{{ endaction }}{% endtrans -%}
    {% endif %}
{% endmacro %}

{% macro render_paper_judgment(revision) %}
    {% if revision.state.name != 'submitted' %}
        <div class="i-timeline-item">
            {{ render_user_avatar(revision.judge) }}
            <div class="i-timeline-item-box header-indicator-left">
                <div class="i-box-header flexrow">
                    <div class="f-self-stretch">
                        {{ _render_paper_judgment_action(revision) }}
                        <time datetime="{{ revision.judgment_dt.isoformat() }}">
                            {{- revision.judgment_dt|format_human_date -}}
                        </time>
                    </div>
                    {% if revision.paper.can_judge(session.user) and revision.is_last_revision %}
                        <div>
                            <a class="i-link icon-remove"
                               title="{% trans %}Reset judgment{% endtrans %}"
                               data-href="{{ url_for('.reset_paper_state', revision.paper) }}"
                               data-method="DELETE"
                               data-update="#reviewing-page"
                               data-title="{% trans %}Reset judgment{% endtrans %}"
                               data-confirm="{% trans %}Do you really want to reset the judgment? This operation is irreversible.{% endtrans %}"
                               data-replace-update></a>
                        </div>
                    {% endif %}
                </div>
                <div class="i-box-content">
                    {% if revision.state.name == 'accepted' %}
                        {%- trans %}The paper was accepted.{% endtrans -%}
                    {% elif revision.state.name == 'rejected' %}
                        {%- trans %}The paper was rejected.{% endtrans -%}
                    {% elif revision.state.name == 'to_be_corrected' %}
                        {%- trans %}The paper requires changes{% endtrans -%}
                    {% endif %}
                    {% if revision.judgment_comment %}
                        <div class="titled-rule">
                            {%- trans %}Comment{% endtrans -%}
                        </div>
                        {{ revision.judgment_comment }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro _render_paper_judgment_action(revision) %}
    {% set action = revision.state.name %}
    {% set judge_name = revision.judge.name %}
    {% if action == 'accepted' %}
        {%- trans %}<strong>{{ judge_name }}</strong> accepted this paper{% endtrans -%}
    {% elif action == 'rejected' %}
        {%- trans %}<strong>{{ judge_name }}</strong> rejected this paper{% endtrans -%}
    {% elif action == 'to_be_corrected' %}
        {%- trans %}<strong>{{ judge_name }}</strong> asked for changes{% endtrans -%}
    {% endif %}
{% endmacro %}

{% macro render_paper_revision_submission_form(paper, form) %}
    {%if paper.state.name == 'to_be_corrected' %}
        <div class="i-timeline-item" id="proposal-revision-submission-box">
            {{ render_user_avatar(session.user) }}
            <div class="i-timeline-item-box header-indicator-left">
                <div class="i-box-header flexrow">{% trans %}Upload corrected revision{% endtrans %}</div>
                <div class="i-box-content">
                    {% call form_header(form, action=url_for('.submit_revision', paper)) %}
                        data-form-container="#proposal-revision-submission-box"
                        data-update="#reviewing-page"
                        data-replace-update
                        data-save-reminder
                        data-ajax-form
                    {% endcall %}
                    {{ form_row(form.files, classes='fit-to-parent', skip_label=true) }}
                    {% call form_footer(form, skip_label=true) %}
                        <input class="i-button big highlight" type="submit"
                               value="{% trans %}Submit new revision{% endtrans %}"
                               data-disabled-until-change>
                    {% endcall %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
