{% extends 'layout/full_content_base.html' %}
{% from 'events/papers/management/_paper_assignment_list.html' import render_paper_assignment_list %}
{% from 'events/management/_lists.html' import render_displayed_entries_fragment %}

{% block title %}
    {% trans %}Call for Papers{% endtrans %}
{% endblock %}

{% block subtitle %}
    {% trans %}Paper Assignment{% endtrans %}
{% endblock %}

{% block description %}
    {%- trans -%}
        Assign <strong>reviewers</strong> and <strong>judges</strong> to contributions in order to allow assessing
        their paper revisions.
    {%- endtrans -%}
{% endblock %}

{% block content %}
    <div class="toolbars space-after">
        <div class="toolbar">
            <a class="i-button icon-checkbox-checked arrow js-dropdown" data-toggle="dropdown"></a>
            <ul class="dropdown">
                <li>
                    <a href="#" data-select-all="#assignment-list input:checkbox">{% trans %}All{% endtrans %}</a>
                </li>
                <li>
                    <a href="#" data-select-none="#assignment-list input:checkbox">{% trans %}None{% endtrans %}</a>
                </li>
            </ul>
            <button class="i-button icon-settings js-dialog-action js-customize-list highlight"
                    data-href="{{ url_for('.customize_assignment_list', event) }}"
                    data-title="{% trans %}Customize list{% endtrans %}"
                    data-dialog-classes="list-filter-dialog"
                    data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                    data-ajax-dialog>
                {%- trans %}Customize list{% endtrans -%}
            </button>
            <a class="i-button arrow js-dropdown js-enable-if-checked disabled" data-toggle="dropdown">
                {%- trans %}Assign{% endtrans -%}
            </a>
            <ul class="dropdown">
                {# TODO: Dialogs to assign #}
                <li><a href="#">{% trans %}Judge{% endtrans %}</a></li>
                {% if event.cfp.content_reviewing_enabled %}
                    <li><a href="#">{% trans %}Content reviewer{% endtrans %}</a></li>
                {% endif %}
                {% if event.cfp.layout_reviewing_enabled %}
                    <li><a href="#">{% trans %}Layout reviewer{% endtrans %}</a></li>
                {% endif %}
            </ul>
            {# TODO: Dialog to unassign #}
            <a class="i-button js-enable-if-checked disabled">
                {%- trans %}Unassign{% endtrans -%}
            </a>
            <a class="i-button arrow js-dropdown js-requires-selected-row disabled" data-toggle="dropdown">
                {%- trans %}Change state{% endtrans -%}
            </a>
            <ul class="dropdown">
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.manage_judge_papers', event) }}"
                       data-title="{% trans %}Accept selected papers{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "accept"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}Accepted{% endtrans -%}
                    </a>
                </li>
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.manage_judge_papers', event) }}"
                       data-title="{% trans %}Reject selected papers{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "reject"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}Rejected{% endtrans -%}
                    </a>
                </li>
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.manage_judge_papers', event) }}"
                       data-title="{% trans %}Mark to be corrected selected papers{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "to_be_corrected"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}To be corrected{% endtrans -%}
                    </a>
                </li>
            </ul>
            <a href="#" class="i-button icon-attachment js-enable-if-checked disabled"
               data-href="#">
                {# TODO: Download papers task #}
                {%- trans %}Download papers{% endtrans -%}
            </a>
        </div>
        <div class="toolbar">
            <div class="group">
                <div id="filter-statistics">
                    {{ render_displayed_entries_fragment(contribs|length, total_entries) }}
                </div>
            </div>
            <div class="group">
                <span class="i-button label icon-search"></span>
                <input type="text" id="search-input" placeholder="{% trans %}Enter #id or search string{% endtrans %}">
            </div>
        </div>
    </div>
    <div class="list" id="assignment-list">
        {{ render_paper_assignment_list(event, total_entries, contribs, static_columns) }}
    </div>
    <div id="filter-placeholder"></div>
    <script>
        {% if selected_entry %}
            $('#search-input').val('#{{ selected_entry }}').trigger('change');
        {% endif %}
        setupPaperAssignmentList();
    </script>
{% endblock %}
