#--------------------------
# Indico configuration file
#--------------------------
#
# This file is read on Apache startup. If you change any value you will need to
# restart Apache afterwards to have its changes take effect.
#
# Lines starting with "#" are comments and they will be ignored by Indico.

#------------------------------------------------------------------------------
# ZODB
#------------------------------------------------------------------------------

DBConnectionParams   = ("localhost", 9675)
DBUserName           = ""
DBPassword           = ""
DBRealm              = ""


#------------------------------------------------------------------------------
# SECURITY
#------------------------------------------------------------------------------
# Possible values of SanitizationLevel:
#    0: Escape all HTML tags
#    1: Raise error if styles are used
#    2: Raise error if SCRIPT tag is used
#    3: No input filtering is done (DANGEROUS!)

SanitizationLevel    = 2


#------------------------------------------------------------------------------
# URLs
#------------------------------------------------------------------------------
# BaseURL is the url where Indico will be accessed:

BaseURL              = "http://localhost/indico"

# BaseSecureURL is the HTTPS location of Indico.

BaseSecureURL        = "https://localhost/indico"


# If you are using a custom user authentication system (see below) uncomment
# the following lines and specify the new URLs.
#
#   LoginURL             = ""
#   RegistrationURL      = ""


# You can use "fancy" URLs when giving out links to Indico's events and
# categories. The format of the final links must be:
#
#   BaseURL + ShortEventTag + Event Id
#   BaseURL + ShortEventTag + Category Id
#
# For example if a conference id is 5, your BaseURL is
# http://example.com/ and you specify ShortEventTag = "/event/" then you can
# use the url http://example.com/event/5 to access the conference.
#
# ShortEventTag and ShortCategTag _must_ be different, they must contain only
# alphanumeric characters and they need to end with a forward slash.
#
ShortEventTag        = "event/"
ShortCategTag        = "categ/"


#------------------------------------------------------------------------------
# DIRECTORIES
#------------------------------------------------------------------------------
ArchiveDir           = "/opt/indico/archive"
BinDir               = "/opt/indico/bin"
ConfigurationDir     = "/opt/indico/etc"
DocumentationDir     = "/opt/indico/doc"
HtdocsDir            = "/opt/indico/htdocs"
LogDir               = "/opt/indico/log"
UploadedFilesTempDir = "/opt/indico/tmp"
XMLCacheDir          = "/opt/indico/cache"


#------------------------------------------------------------------------------
# SMTP
#------------------------------------------------------------------------------
SmtpServer           = "localhost"
SmtpLogin            = ""
SmtpPassword         = ""

# If your SMTP server is using TLS write "yes", otherwise write "no"
 
SmtpUseTLS           = "no"

#------------------------------------------------------------------------------
# EMAIL ADDRESSES
#------------------------------------------------------------------------------
# SupportEmail is the email address where all automatically generated
# application errors will be sent to.

SupportEmail         = "root@localhost"


# PublicSupportEmail is an email address that will be shown in Indico and where
# users are expected to find help when they have using the website.

PublicSupportEmail   = "root@localhost"

# NoReplyEmail is the email address showed when we do not want the users to answer
# an automatically generated email.

NoReplyEmail	     = "noreply-root@localhost"


#------------------------------------------------------------------------------
# APACHE
#------------------------------------------------------------------------------
# If you change either ApacheUser or ApacheGroup after installation and you
# are on Linux you need to chown -R the directories pointed at by 
#   - LogDir
#   - UploadedFilesTempDir

# ApacheUser is the user that Apache runs as (Look for "User" inside httpd.conf)

ApacheUser = "nobody"

# ApacheGroup is the group that Apache runs as (Look for "Group" inside httpd.conf)

ApacheGroup = "nogroup"

#------------------------------------------------------------------------------
# INDICO SEARCH
#------------------------------------------------------------------------------
# Indico doesn't come with a search engine. The only supported search server at
# this time is CDS Invenio. If you have a running instance of CDS Invenio you
# can write its hostname in IndicoSearchServer and Indico will then provide
# search capabilities for it.
#
# You can download CDS Invenio at:
#
#    http://cdsware.cern.ch/invenio/
#
#
# If you want to write your own adapter for another search engine you can
# use indico/MaKaC/search/invenioSEA.py as a starting point.
#
# IndicoSearchServer   = ""
# IndicoSearchClass    = "MaKaC.search.invenioSEA.InvenioSEA"


#------------------------------------------------------------------------------
# FILE CONVERSION
#------------------------------------------------------------------------------
# Indico has an interface to interact with an external file conversion system
# to convert from some formats to others but right now there is no publicly
# available file conversion software.
#
# If you are interested in this feature please contact us at:
#   indico-team@cern.ch
#
# FileConverter        = {"conversion_server": "localhost", "response_url": "http://localhost/getConvertedFile.py"}



#------------------------------------------------------------------------------
# AUTHENTICATION
#------------------------------------------------------------------------------
# Indico ships with a fully working user authentication system (Local) but you
# can use an external system.
#
# If you want to have all users authenticate only to an external user management
# system (for example: MyAuthSystem) you should write:
#
#     AuthenticatorList = ['MyAuthSystem']
#
# If you want to authenticate users against more than one authentication system
# you can write them like this (systems will be queried about users from left
# to right):
#
#     AuthenticatorList = ['Local', 'MyAuthSystem']
#
# The default configuration will use only Indico's authentication system.

AuthenticatorList    = ['Local']


#------------------------------------------------------------------------------
# STYLING
#------------------------------------------------------------------------------
# If you want to customize how Indico l like you can create your own
# CSS stylesheet, copy it to the folder "css" inside the HtdocsDir directory
# and then put the name of the file here (without the .css).
#
# If you just want to modify small parts you can put at the beginning of your
# stylesheet the following line:
#
#   @import "Default.css"
#
# And then just add the few changes that you want to make.

CssStylesheetName    = "Default"


#------------------------------------------------------------------------------
# OFFSITE PACKAGES CREATION
#------------------------------------------------------------------------------
# **** THIS FEATURE IS TEMPORARILY DISABLED ****
# Indico allows users to download all the information and materials associated
# with a conference through the 'Offline Website Package' command.
#
# The PublicFolder variable points to a directory that must live inside htdocs
# and it is the directory that Indico will use to store this offline website
# packages to allow users to download them.
#
# This directory needs to be writeable by the Apache user.

# PublicFolder         = "/opt/indico/htdocs/results"


#------------------------------------------------------------------------------
# OAI PARAMETERS
#------------------------------------------------------------------------------
# The Open Archives Initiative develops and promotes interoperability standards
# that aim to facilitate the efficient dissemination of content.
# The following parameters allow you to personalize Indico's OAI behavior.
# For additional information about OAI you can check its homepage:
#
#    http://www.openarchives.org/

OAILogFile           = "/opt/indico/log/oai.log"
NbRecordsInResume    = 100
NbIdentifiersInResume = 100
OAIRtExpire          = 90000
OAINamespace         = ""
IconfNamespace       = "http://localhost/"
IconfXSD             = "http://localhost/iconf.xsd"
RepositoryName       = ""
RepositoryIdentifier = ""
