[loggers]
keys=root,celery

[handlers]
keys=indico,other,celery,stderr,smtp

[formatters]
keys=defaultFormatter,simpleFormatter,mailFormatter

# For deactivating a handler, remove its entry from
# the list below.
[logger_root]
level=WARNING
handlers=indico,other,smtp

[logger_celery]
level=INFO
handlers=celery,stderr
qualname=celery

# By default, the args are taken from the indico.conf file.
# For setting your custom arguments, uncomment the args entry below.
[handler_indico]
class=FileHandler
level=INFO
formatter=defaultFormatter
#args=('',)

# By default, the args are taken from the indico.conf file.
# For setting your custom arguments, uncomment the args entry below.
[handler_other]
class=FileHandler
level=WARNING
formatter=defaultFormatter
#args=('',)

# By default, the args are taken from the indico.conf file.
# For setting your custom arguments, uncomment the args entry below.
[handler_celery]
class=FileHandler
level=NOTSET
formatter=defaultFormatter
#args=('',)

# By default, the args are taken from the indico.conf file.
# For setting your custom arguments, uncomment args the entry below.
[handler_smtp]
class=handlers.SMTPHandler
level=ERROR
formatter=mailFormatter
#args=('','',[],'')

[handler_stderr]
class=StreamHandler
level=INFO
formatter=simpleFormatter

[formatter_mailFormatter]
format=%(asctime)s %(name)s - %(levelname)s %(filename)s:%(lineno)d -- %(message)s
datefmt=

[formatter_defaultFormatter]
format=%(asctime)s  %(levelname)-7s  %(request_id)s  %(name)-25s %(message)s
datefmt=

[formatter_simpleFormatter]
format=%(asctime)s  %(levelname)-7s  %(name)-25s %(message)s
datefmt=
