<runner>
  program       runzeo -C /opt/indico/etc/zodb.conf
  user		apache
  daemon        true
  directory     /opt/indico/db
  socket-name   /opt/indico/db/zdsock
</runner>
<environment>
  PYTHON_EGG_CACHE /opt/indico/tmp/egg-cache
</environment>
