<zeo>
address localhost:9675
monitor-address localhost:8091
</zeo>

<filestorage 1>
path /opt/indico/db/Data.fs
</filestorage>

<eventlog>
<logfile>
path /opt/indico/log/zeo.log
format %(asctime)s %(message)s
</logfile>
</eventlog>
