{% extends 'layout/conference_page_base.html' %}

{% block title %}
    {%- trans %}Call for Abstracts{% endtrans -%}
{% endblock %}

{% macro render_timestamp(label, date, completed=false, alternative_text=none) %}
    <li{% if completed %} class="completed"{% endif %}>
        <div class="label">{{ label }}</div>
        <div class="timestamp">
            {% if date %}
                <time datetime="{{ date.isoformat() }}">
                    {{- date|format_datetime(timezone=tz) -}}
                </time>
            {% elif alternative_text %}
                <span>{{ alternative_text }}</span>
            {% endif %}
        </div>
    </li>
{% endmacro %}

{% macro render_timeline(cfa) %}
    <ul class="cfa-timeline">
        {{ render_timestamp(_("Opening day"), cfa.start_dt, cfa.has_started) }}
        {{ render_timestamp(_("Submission deadline"), cfa.end_dt, cfa.has_ended, _("No deadline")) }}
        {% if cfa.modification_end_dt %}
            {{ render_timestamp(_("Modification deadline"), cfa.modification_end_dt, cfa.modification_ended) }}
        {% endif %}
    </ul>
{% endmacro %}

{% block content %}
    <div class="call-for-abstracts">
    {% set cfa = event.cfa %}
    {% set tz = event.display_tzinfo %}
        {% if cfa.is_open %}
            {{ render_timeline(cfa) }}
            {% if cfa.announcement %}
                <div class="announcement">
                    {{ cfa.announcement }}
                </div>
            {% endif %}
            <div class="actions">
                <a class="i-button icon-plus highlight submit-abstract-btn" href="{{ url_for('.submit', event)}}">
                    {%- trans %}Submit a new abstract{% endtrans -%}
                </a>
            </div>
        {% else %}
            <div class="info-message-box">
                <span class="icon"></span>
                <div class="message-text">
                    {%- trans start_dt=cfa.start_dt|format_human_date, end_dt=cfa.end_dt|format_human_date,
                              start_dt_iso=cfa.start_dt.isoformat(), end_dt_iso=cfa.end_dt.isoformat() -%}
                        The call for abstracts is closed.<br>
                        Submission period: <time datetime="{{ start_dt_iso }}">
                        <strong>{{ start_dt }}</strong></time> to <time datetime="{{ end_dt_iso }}">
                        <strong>{{ end_dt }}</strong></time>
                    {%- endtrans -%}
                    {% if cfa.modification_end_dt and not cfa.modification_ended -%}
                        <div>
                            {%- trans date=cfa.modification_end_dt|format_date(timezone=tz),
                                      time=cfa.modification_end_dt|format_time(timezone=tz),
                                      dt_iso=cfa.modification_end_dt.isoformat() -%}
                                Modifications possible until <time datetime="{{ dt_iso }}"><strong>{{ date }}</strong>
                                at <strong>{{ time }}</strong></time>
                            {%- endtrans -%}
                        </div>
                    {%- endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
