{% extends 'layout/conference_page_base.html' %}

{% block title %}
    {% trans %}Reviewing Area{% endtrans %}
{% endblock %}

{% block content %}
    <div class="track-review-list">
        {% if not tracks %}
            <p>
                {%- trans -%}
                    There are currently no tracks for which you are a reviewer or convener.
                {%- endtrans -%}
            </p>
        {% else %}
            <ul>
                {% for track in tracks %}
                    <div class="track-review-row">
                        <li>
                            <div class="title">
                                <a href="{{ url_for('abstracts.display_reviewable_track_abstracts', track) }}">
                                    {{- track.title -}}
                                </a>
                                <span class="badge"
                                      title="{{ abstract_count[track]['total'] }} {% trans %}total{% endtrans %}">
                                    {{- abstract_count[track]['total'] - abstract_count[track]['reviewed'] }}
                                    {% trans %}left to review{% endtrans -%}
                                </span>
                            </div>
                            {% if track.can_review_abstracts(session.user) %}
                                <div class="label i-tag">
                                    {%- trans %}Reviewer{% endtrans -%}
                                </div>
                            {% endif %}
                            {% if track.can_convene(session.user) %}
                                <div class="label i-tag">
                                    {%- trans %}Convener{% endtrans -%}
                                </div>
                            {% endif %}
                        </li>
                    </div>
                {%  endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
