{%- macro render_affiliation(text, details) -%}
    {%- if details -%}
        {%- set uuid = uuid() -%}
        <span class="js-popup-container" id="affiliation-popup-container-{{ uuid }}">{#--#}
            <span id="affiliation-popup-{{ uuid }}"></span>{#--#}
            <span>{{ details.name }}</span>{#--#}
        </span>{#--#}
        <script>
            setupAffiliationPopup({{ uuid|tojson }}, {{ details|tojson }});
        </script>
    {%- elif text -%}
        <span>{{ text }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro render_person_affiliation(person) -%}
    {% set affiliation = template_hook('custom-affiliation', person=person) %}
    {%- if affiliation -%}
        {{ affiliation }}
    {%- else -%}
        {{ render_affiliation(person.affiliation, person.affiliation_details) }}
    {%- endif -%}
{%- endmacro -%}
