{% extends 'footer.html' %}

{% block footer %}
    {%- set url = event.short_external_url -%}

    {% if show_social %}
        <div id="fb-root"></div>

        <div id="social_share">
            <h3>{% trans %}Share this page{% endtrans %}</h3>
            <h4>{% trans %}Direct link{% endtrans %}</h4>
            <a href="{{ url }}"
               class="js-copy-to-clipboard"
               title="{% trans %}Copy link to clipboard{% endtrans %}"
               data-clipboard-text="{{ url }}"
               data-clipboard-action="copy">
                {{- url -}}
            </a>
            <div>
                <h4>{% trans %}Social networks{% endtrans %}</h4>
                <div class="social_site">
                    <span id="fb-loading">{% trans %}Loading...{% endtrans %}</span>
                    <div id="fb-like" class="fb-like"
                         data-href="{{ url }}"
                         data-size="small"
                         data-width="100"
                         data-layout="standard"
                         data-colorscheme="{{ 'dark' if dark else 'light' }}"
                         data-action="like"
                         data-show-faces="false"
                         data-share="true"></div>
                </div>
                <div class="social_site">
                    <div class="g-plusone"
                         data-annotation="inline"
                         data-width="220"
                         data-href="{{ url }}"></div>
                </div>
                <div class="social_site">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">
                        {%- trans %}Tweet{% endtrans -%}
                    </a>
                </div>
            </div>
            <div>
                <h4>{% trans %}Calendaring{% endtrans %}</h4>
            </div>
            <div class="social_site">
                <a href="https://www.google.com/calendar/event?{{ google_calendar_params|urlencode }}" target="_blank">
                    <img src="//www.google.com/calendar/images/ext/gc_button1.gif" alt="" border="0">
                </a>
            </div>
        </div>

        <div id="social"
             data-url="{{ url }}"
             data-dark-theme="{{ dark|tojson|forceescape }}"
             data-social-settings="{{ social_settings|tojson|forceescape }}">
            <img src="{{ system_icon('social.png') }}"
                 id="social_button"
                 alt="{% trans %}Social Networks{% endtrans %}"
                 title="{% trans %}Social Networks{% endtrans %}">
        </div>
    {% endif %}

    {{ super() }}
{% endblock %}
