{% extends 'layout/conference_page_base.html' %}

{% macro details_table_row(caption, value) %}
    {% if value %}
        <tr class="i-table content">
            <td class="i-table caption">
                {{ caption }}
            </td>
            <td class="i-table value">
                {{ value }}
            </td>
        </tr>
    {% endif %}
{% endmacro %}

{% block title -%}
    {% trans full_name=author.full_name %}
        Details for {{ full_name }}
    {% endtrans %}
{%- endblock %}

{% block content %}
    <table class="i-table fixed-width no-margin author-info">
        {{ details_table_row(_("Title"), author.title) }}
        {{ details_table_row(_("Affiliation"), author.affiliation) }}
    </table>
    {% if contribs -%}
        <table class="i-table">
            <tr>
                <th style="text-align: left;">
                    <h3>{% trans %}Author in the following contribution(s){% endtrans %}</h3>
                </th>
            </tr>
            {% for contrib in contribs -%}
                <tr class="i-table">
                    <td class="i-table">
                        <a href="{{ url_for('contributions.display_contribution', contrib) }}">{{ contrib.title }}</a>
                    </td>
                </tr>
            {%- endfor %}
        </table>
    {%- endif %}
{% endblock %}
