{% from 'attachments/_management_info_column.html' import render_attachment_info %}
{% from 'events/timetable/display/balloons/_balloon_utils.html' import render_time_and_location %}

<div class="balloon">
    <div class="title-container">
        <div class="title">{{ contrib.title }}</div>
        <div class="group right entry-action-buttons">
            {% if editable %}
                <a class="icon-edit i-button-icon js-dialog-action close-balloon js-edit"
                   title="{% trans %}Edit contribution{% endtrans %}"
                   data-title="{% trans title=contrib.title %}Edit contribution '{{ title }}'{% endtrans %}"></a>
                <a class="icon-shield i-button-icon close-balloon"
                   title="{% trans %}Manage contribution protection{% endtrans %}"
                   data-href="{{ url_for('contributions.manage_contrib_protection', contrib) }}"
                   data-title="{% trans %}Manage contribution protection{% endtrans %}"
                   data-ajax-dialog></a>
                <a href="#" class="icon-remove i-button-icon close-balloon js-delete"
                   title="{% trans %}Delete timetable entry{% endtrans %}"
                   data-title="{% trans title=contrib.title %}Delete timetable entry '{{ title }}'?{% endtrans %}"
                   data-confirm="{% trans title=contrib.title %}Are you sure you want to delete timetable entry '{{ title }}'?{% endtrans %}"></a>
            {% else %}
                <a class="icon-list i-button-icon" title="{% trans %}View details{% endtrans %}"
                   href="{{ url_for('contributions.display_contribution', contrib) }}"></a>
            {% endif %}
        </div>
    </div>
    <div class="description">{{ contrib.description }}</div>
    {{ render_time_and_location(contrib, editable) }}
    {% if contrib.speaker_names or editable %}
        <span class="hr"></span>
        <dl class="i-data-list thirty-seventy">
            {% if contrib.speaker_names %}
                <dt>{% trans count=contrib.speaker_names|count %}Presenter{% pluralize %}Presenters{% endtrans %}</dt>
                <dd>
                    {% for speaker in contrib.speakers | sort(attribute='full_name') -%}
                        <div>{{ speaker.full_name }}</div>
                    {%- endfor %}
                </dd>
            {% endif %}
            {% if editable %}
                <dt>{% trans %}Material{% endtrans %}</dt>
                <dd>{{ render_attachment_info(contrib) }}</dd>
            {% endif %}
        </dl>
    {% endif %}
    <span class="hr"></span>
    <div class="attribute">
        <div class="attribute-title">
            {%- trans %}Subcontributions{% endtrans %}
            <span class="badge">{{ contrib.subcontribution_count }}</span>
        </div>
        {% if editable %}
            <div class="group right entry-action-buttons">
                <a class="attribute-settings icon-settings close-balloon"
                   title="{% trans %}Manage subcontributions{% endtrans %}"
                   data-href="{{ url_for('contributions.manage_subcontributions', contrib) }}"
                   data-title="{% trans id=contrib.friendly_id %}Subcontributions of contribution #{{ id }}{% endtrans %}"
                   data-ajax-dialog></a>
            </div>
        {% endif %}
    </div>
</div>
