{% macro _render_location_tip(item) -%}
    {% set show_url = item.room and item.room.map_url %}
    <div class="location-info-tip">
        {% if item.room_name -%}
            <h3>{{ item.room_name }}</h3>
        {% endif %}
        {% if item.venue_name -%}
            <h4>{{ item.venue_name }}</h4>
        {% endif %}
        {% if item.address %}
            <div class="location-address">
                {{- item.address }}
            </div>
        {%- endif %}
        {% if item.room and item.room.capacity %}
            <div class="icon-user">
                {{ item.room.capacity }}
            </div>
        {% endif %}
        {% if show_url %}
            <a href="{{ item.room.map_url }}" class="map-link">
                {% trans %}Show room on map{% endtrans %}
            </a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_location(item, parent=none, class='item-location') -%}
    {% set show_venue = not parent or (parent.venue_name != item.venue_name) %}
    {% set show_room = item.room_name != '' %}
    {% if show_venue or show_room %}
        <span class="icon-location location-info {{ class }}"
              data-qtip-html=".qtip-hidden-content"
              data-qtip-opts='{"hide": {"fixed": true, "delay": 500}}'>
            <span class="text">
                {%- if show_venue and show_room -%}
                    {{ item.room_name }} ({{ item.venue_name }})
                {%- elif show_venue -%}
                    {{ item.venue_name }}
                {%- else -%}
                    {{ item.room_name }}
                {%- endif -%}
            </span>
        </span>
        <span class="qtip-hidden-content">
            {{ _render_location_tip(item) }}
        </span>
    {% endif %}
{%- endmacro %}

{% macro render_users(user_list, span_class='', title=true, italic_affiliation=false, separator=', ', use_span=true) -%}
    {% for link in user_list -%}
        {%- if use_span -%}
            <span itemprop="performers" itemscope itemtype="http://schema.org/Person" class="{{ span_class }}">
                {% if link.title and title -%}
                    <span class="speaker-title">
                        {{ link.title }}
                    </span>
                {%- endif %}
                <span itemprop="givenName">{{ link.first_name }}</span>
                <span itemprop="lastName">{{ link.last_name }}</span>
        {%- else -%}
            {{ link.first_name }} {{ link.last_name }}
        {% endif %}
        {% if link.affiliation %}
            <span class="affiliation">
                ({#- -#}
                <span class="text">
                    {%- if italic_affiliation -%}
                        <em>{{ link.affiliation }}</em>
                    {%- else -%}
                        {{ link.affiliation }}
                    {%- endif -%}
                </span>
                {#- -#})
            </span>
        {% endif %}
        {% if not loop.last %}
            {{ separator }}
        {% endif %}
        {% if use_span %}
            </span>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro render_datetime(prop_name, dt, timezone, format='medium') -%}
    <time itemprop="{{ prop_name }}" datetime="{{ dt.isoformat() }}">
        {{ dt | format_datetime(format=format, timezone=timezone) }}
    </time>
{%- endmacro %}

{% macro render_event_time(event, timezone) -%}
    <i class="icon-calendar header-data"></i>
    <span class="event-time-data">
        {% if event.start_dt.astimezone(timezone).date() == event.end_dt.astimezone(timezone).date() %}
            {{ render_datetime('startDate', event.start_dt, timezone=timezone) }}
            &rarr;
            <time itemprop="endDate" datetime="{{ event.end_dt.isoformat() }}">
                {{ event.end_dt | format_time(format='medium', timezone=timezone) }}
            </time>
        {% else %}
            {{ render_datetime('startDate', event.start_dt, timezone=timezone) }}
            &rarr;
            {{ render_datetime('endDate', event.end_dt, timezone=timezone) }}
        {% endif %}
        <span class="timezone">{{ timezone }}</span>
    </span>
{%- endmacro %}
