{% from 'events/display/_event_header_message.html' import render_event_header_msg %}
{% from 'events/display/common/_manage_button.html' import render_manage_button %}
{% from 'events/display/indico/_common.html' import render_location, render_users, render_event_time %}
{% from 'events/notes/_note.html' import render_note %}

{{ render_event_header_msg(event) }}

{% set hook_event_header = template_hook('event-header', event=event) | trim %}
{% set has_subheader = event.description or files or folders or lectures or event.organizer_info
                       or event.contact_emails or event.contact_phones
                       or (event.references and event.type == 'meeting') or hook_event_header %}

<div class="eventWrapper" itemscope itemtype="http://schema.org/Event">
    {% block header %}
        <div class="event-header {%- if not has_subheader %} round-bottom-corners{% endif %}">
            {% set show_button = not event.is_locked and event.can_manage_attachments(session.user) %}
            <div class="event-manage-button">
                {{ render_manage_button(event, 'EVENT', show_button=show_button, toggle_notes=false) }}
            </div>

            {% if theme_settings.logo_link %}
                <a href="{{ theme_settings.logo_link }}" class="logo"></a>
            {% endif %}

            <h1 itemprop="name">
                {{- event.title -}}
            </h1>
            <div class="details">
                <div class="event-date">
                    {{ render_event_time(event, timezone) }}
                </div>
                {% if event.has_location_info or event.address %}
                    <div class="event-location">
                        {{ render_location(event, class='header-data', header=true) }}
                    </div>
                {% endif %}
                {% set chairpersons = event.person_links | sort(attribute='display_order_key') %}
                {% if chairpersons %}
                    <div class="event-chairs">
                        <i class="icon-user-chairperson header-data"
                           title="{% trans count=chairpersons|length %}Chairperson{% pluralize %}Chairpersons{% endtrans %}"></i>
                        <span class="chairperson-list">
                            {{ render_users(chairpersons, span_class='author', title=false) }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block body %}
        {% if has_subheader %}
            <div class="event-sub-header">
                {# https://github.com/pallets/jinja/issues/603 #}
                {% set hook_event_header = hook_event_header %}
                {% include 'events/display/indico/_details.html' %}
            </div>
        {% endif %}

        {% if event.has_note %}
            {{ render_note(event.note, hidden=not theme_settings.show_notes, can_edit=event.can_manage(session.user),
                           for_event=event) }}
        {% endif %}

        <div class="event-body {{ 'event-locked' if event.is_locked }}">
            {{ template_hook('meeting-body', event=event) }}
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
</div>
