{% extends 'admin/base.html' %}
{% from 'message_box.html' import message_box %}
{% from 'forms/form_widget.html' import form_header, form_fieldset, form_footer, form_rows, form_row_static %}

{% block title %}{% trans %}Services{% endtrans %}{% endblock %}
{% block subtitle %}{{ definition.title }}{% endblock %}

{% block content %}
    {{ form_header(id='request-form') }}

    {% block warnings %}
        {%- if not req -%}
            {# nothing #}
        {%- elif req.state.name == 'pending' -%}
            {% call message_box('info') %}
                <p>
                    {%- trans -%}
                        Your request is currently pending approval. You will be notified by e-mail once it has been accepted or rejected.
                    {%- endtrans -%}
                </p>
            {% endcall %}
        {%- elif req.state.name == 'accepted' -%}
            {% call message_box('success') %}
                <p>
                    {%- trans -%}
                        Your request has been accepted. If you make any modifications to it, it will have to be approved again.
                    {%- endtrans -%}
                </p>
                {% if req.comment %}
                    <p><strong>{% trans %}Comment{% endtrans %}:</strong> {{ req.comment }}</p>
                {% endif %}
            {% endcall %}
        {%- elif req.state.name == 'rejected' -%}
            {% call message_box('warning') %}
                <p>
                    {%- trans -%}
                        Your request has been rejected. Please check the rejection reason (if provided) and, if necessary, resubmit your request.
                    {%- endtrans -%}
                </p>
                {% if req.comment %}
                    <p><strong>{% trans %}Comment{% endtrans %}:</strong> {{ req.comment }}</p>
                {% endif %}
            {% endcall %}
        {%- elif req.state.name == 'withdrawn' -%}
            {% call message_box('warning') %}
                <p>
                    {%- trans -%}
                        You have withdrawn your request. If you need this service, please resubmit your request.
                    {%- endtrans -%}
                </p>
            {% endcall %}
        {%- endif -%}
    {% endblock %}


    {% if is_manager and req %}
        {% call form_fieldset(legend=_('Request details'), description=_('These are the details provided by the event manager.')) %}
            {% block form %}
                {% if is_manager and req %}
                    {{ form_row_static(_('Created by'), req.created_by_user.getStraightFullName()) }}
                    {{ form_row_static(_('Created at'), req.created_dt | format_datetime) }}
                {% endif %}
                {{ form_rows(form) }}
            {% endblock %}
        {% endcall %}
    {% else %}
        {{ self.form() }}
    {% endif %}

    {% call form_footer() %}
        <input class="i-button big highlight" type="submit" value="
            {%- if not req -%}
                {%- trans -%}Send request{%- endtrans -%}
            {%- elif req.can_be_modified -%}
                {%- trans -%}Modify request{%- endtrans -%}
            {%- else -%}
                {%- trans -%}Send new request{%- endtrans -%}
            {%- endif -%}
        ">
        {% if req and req.state.name in ('pending', 'accepted') %}
            <a href="#" class="i-button big warning" id="withdraw-request"
               data-href="{{ url_for('.event_requests_withdraw', req) }}">
                {%- trans %}Withdraw request{% endtrans -%}
            </a>
        {% endif %}
        <a href="{{ url_for('.event_requests', event) }}" class="i-button big">{% trans %}Back{% endtrans %}</a>
    {% endcall %}

    {% if is_manager and req %}
        {{ form_header(id='request-manage-form', action=url_for('.event_requests_process', req)) }}
        {% call form_fieldset(legend=_('Manage service request'), description=_('Here you can accept or reject the request and optionally enter a comment.')) %}
            {% block manager_form %}
                {% if req.processed_by_user %}
                    {{ form_row_static(_('Processed by'), req.processed_by_user.getStraightFullName()) }}
                {% endif %}
                {% if req.processed_dt %}
                    {{ form_row_static(_('Processed at'), req.processed_dt | format_datetime) }}
                {% endif %}
                {{ form_rows(manager_form) }}
            {% endblock %}
        {% endcall %}
        {% call form_footer() %}
            <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}">
        {% endcall %}
    {% endif %}

    <script>
        $('#withdraw-request').on('click', function(e) {
            e.preventDefault();

            if (!confirm($T('Do you really want to withdraw this request?'))) {
                return;
            }

            $.ajax({
                url: $(this).data('href'),
                type: 'POST',
                dataType: 'json',
                complete: IndicoUI.Dialogs.Util.progress(),
                success: function(data) {
                    if (handleAjaxError(data)) {
                        return;
                    }
                    location.href = data.url;
                }
            });
        });
    </script>

    {% block scripts %}{% endblock %}
{% endblock %}
