{% extends 'layout/base.html' %}

{% block title %}
    {%- trans %}Applications settings{% endtrans -%}
{% endblock %}

{% block content %}
    <div id="inPlaceAddConsumer" style="margin-bottom: 1em;"></div>

    <div class="i-box titled">
        <div class="i-box-header">
            <div class="i-box-title">
                {%- trans %}Applications{% endtrans -%}
            </div>
            <div class="i-box-buttons toolbar right">
                <a href="{{ url_for('.app_new') }}" class="i-button icon-plus">
                    {%- trans %}Register new application{% endtrans -%}
                </a>
            </div>
        </div>
        <div class="i-box-content">
            <ul class="group-list with-buttons">
                {% for application in applications %}
                    <li>
                        <div class="list-item-title">
                            {{ application.name }}
                        </div>
                        <div class="list-item-content">
                            <span class="list-item-content-title">
                                {% trans %}client id{% endtrans %}
                            </span>
                            <span class="list-item-content-data">
                                {{ application.client_id }}
                            </span>
                        </div>
                        <div class="list-item-content">
                            <span class="list-item-content-title">
                                {% trans %}client secret{% endtrans %}
                            </span>
                            <span class="list-item-content-data">
                                {{ application.client_secret }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
