{% extends 'layout/full_page_base.html' %}

{% block title -%}
    {% if user == session.user %}
        {% trans %}My Profile{% endtrans %}
    {% else %}
        {% trans name=user.getStraightFullName(upper=false) %}Profile of {{ name }}{% endtrans %}
    {% endif %}
{%- endblock %}

{% block content %}
    {% include 'flashed_messages.html' %}
    <div class="row">
        {% if request.endpoint != 'users.user_dashboard' %}
            <div class="column one-fifth">
                <nav class="menu vertical i-box">
                    {% for item in user_menu_items %}
                        <a class="item{% if item.active %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                </nav>
            </div>
        {% endif %}
        <div class="column {% if request.endpoint != 'users.user_dashboard' %}four-fifths{% else %}full{% endif %}">
            {% block user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
