{% extends 'users/base.html' %}

{% block subtitle -%}
    {% trans %}Favourites{% endtrans %}
{%- endblock %}

{% block user_content %}
    <div class="layout-wrapper">
        <div class="row">
            <div class="column col-50">
                <div class="i-box titled">
                    <div class="i-box-header">
                        <div class="i-box-title">
                            {%- trans %}Favorite Users{% endtrans -%}
                        </div>
                    </div>
                    <div class="i-box-content" >
                        <ul class="group-list no-description favorite-users">
                            {% for principal in favorite_users %}
                                <li data-user-id="{{ principal.id }}" class="favorite-user">
                                    <span>{{ principal.name }}</span>
                                    <a class="toggle icon-remove right" href="#"></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <button class="i-button highlight add-user" style="margin-top: 15px;">{% trans %}Add Indico user{% endtrans %}</button>
            </div>
            <div class="column col-50">
                <div class="i-box titled">
                    <div class="i-box-header">
                        <div class="i-box-title">
                            {%- trans %}Favorite Categories{% endtrans -%}
                        </div>
                    </div>
                    <div class="i-box-content">
                        <ul class="group-list no-description">
                            {% for category in favorite_categs %}
                                <li data-categ-id="{{ category.id }}" class="favorite-categ">
                                    <span>{{ category.title }}</span>
                                    <a class="toggle icon-remove right" href="#"></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var favorite_users = {{ favorite_users | tojson }};

        var addUsers = function(list, setResult){
            jsonRpc(Indico.Urls.JsonRpcService, "user.favorites.addUsers",
                    { userId: '{{ user.getId() }}',
                      value: list },
                    function(result, error){
                        if (exists(error)) {
                            IndicoUtil.errorReport(error);
                        } else {
                            _.each(list, function(principal) {
                                if(!_.findWhere(favorite_users, { id: principal.id })) {
                                    $('.favorite-users').append('<li data-user-id="' + principal.id +'" class="favorite-user"><span>' + principal.name + '</span><a class="toggle icon-remove right" href="#"></a></li>');
                                    favorite_users.push(principal);
                                }
                            });
                            initUserRemoval();
                        }
                    });
        };

        $('.favorite-categ').each(function () {
            var $this = $(this);
            $('.toggle', this).css('cursor', 'pointer').on('click', function() {
                indicoRequest('category.favorites.delCategory', {
                    userId: '{{ user.getId() }}',
                    categId: $this.data('categId').toString()
                }, function(result, error) {
                    if(error) {
                        IndicoUtil.errorReport(error);
                        return;
                    }
                    $this.remove();
                });
            });
        });

        var initUserRemoval = function(){
            $('.favorite-user').each(function () {
                var $this = $(this);
                $('.toggle', this).css('cursor', 'pointer').on('click', function() {
                    user_to_remove_id = $this.data('user-id').toString();
                    indicoRequest('user.favorites.removeUser', {
                        userId: '{{ user.getId() }}',
                        value: [{'id': user_to_remove_id}]
                    }, function(result, error) {
                        if(error) {
                            IndicoUtil.errorReport(error);
                            return;
                        }
                        $this.remove();
                        favorite_users = _.without(favorite_users,
                                                   _.findWhere(favorite_users, { id: user_to_remove_id }))
                    });
                });
            });
        };

        $('.add-user').on('click', function(){
            var chooseUsersPopup = new ChooseUsersPopup($T('Search Users'), true, null, false, false, null, false,
                                                        false, false, addUsers);
            chooseUsersPopup.execute();
        })

        initUserRemoval();
    </script>

{% endblock %}
