{% extends 'events/management/_base_person_list.html' %}

{% block selection_toolbar %}
    <input type="checkbox" id="filter-speakers" data-filter="speaker" checked>
    <label for="filter-speakers" class="i-button">{% trans %}Speakers{% endtrans %}</label>
    <input type="checkbox" name="authors" id="filter-primary" data-filter="primary_author" checked>
    <label for="filter-primary" class="i-button">{% trans %}Primary authors{% endtrans %}</label>
    <input type="checkbox" name="authors" id="filter-secondary" data-filter="secondary_author" checked>
    <label for="filter-secondary" class="i-button">{% trans %}Co-authors{% endtrans %}</label>
    <input type="checkbox" name="authors" id="filter-no-registration" data-filter="not_registered" checked>
    <label for="filter-no-registration" class="i-button">{% trans %}Not registered{% endtrans %}</label>
{% endblock %}

{% block table_head %}
    <th class="i-table thin-column hide-if-locked" data-sorter="false"></th>
    <th class="i-table registration-column" data-sorter="false"></th>
    <th class="i-table name-column">{% trans %}Name{% endtrans %}</th>
    <th class="i-table email-column">{% trans %}Email{% endtrans %}</th>
    <th class="i-table affiliation-column">{% trans %}Affiliation{% endtrans %}</th>
    <th class="i-table author-type-column">{% trans %}Author type{% endtrans %}</th>
    <th class="i-table roles-column" data-sorter="false">{% trans %}Roles{% endtrans %}</th>
{% endblock %}

{% block table_body %}
    {% for event_person, person_roles in event_persons.iteritems() -%}
        {% set is_speaker = person_roles.speaker %}
        {% set is_registered = not person_roles.not_registered %}
        <tr class="i-table" data-person-roles="{{ person_roles | tojson | forceescape }}">
            <td class="i-table thin-column hide-if-locked">
                <input type="checkbox" value="{{ event_person.id }}" class="select-row"
                       name="{{ 'person_id' if event_person.user_id is defined else 'user_id' }}"
                       {{ 'disabled' if not event_person.email }}>
            </td>
            <td class="i-table registration-column">
                {%- set registration_status -%}
                    {%- if is_registered %}
                        {%- trans %}This person is registered for the event{% endtrans -%}
                    {%- else -%}
                        {%- trans %}This person is not yet registered{% endtrans -%}
                    {% endif -%}
                {%- endset -%}
                <i class="icon-ticket js-show-personregistrations {{ 'exists' if is_registered }}" title="{{ registration_status }}" data-qtip-position="bottom"></i>
            </td>
            <td class="i-table name-column">{{ event_person.full_name }}</td>
            <td class="i-table email-column">{{ event_person.email }}</td>
            <td class="i-table affiliation-column">{{ event_person.affiliation }}</td>
            <td class="i-table author-type-column">
                {%- if person_roles.primary_author or person_roles.secondary_author -%}
                    {% set author_types = [_('Primary') if person_roles.primary_author,
                                           _('Co-author') if person_roles.secondary_author] %}
                    {{- author_types | reject('undefined') | join(', ') -}}
                {% else -%}
                    -
                {%- endif -%}
            </td>
            <td class="i-table roles-column">
                {% block submitters_roles scoped %}{% endblock %}
                {%- if is_speaker %}
                    {% set speaker_title = _('This person is a speaker') %}
                {%- else -%}
                    {% set speaker_title = _('This person is not a speaker') %}
                {% endif -%}
                <i class="icon-mic {{ 'inactive' if not is_speaker }}"
                   title="{{ speaker_title }}"></i>
            </td>
        </tr>
    {%- else -%}
        <tr class="i-table">
            {% block no_persons_message %}{% endblock %}
        </tr>
    {%- endfor %}
{% endblock %}
