<form id="js-permissions-dialog-form">
    <input type="hidden" id="selected_permissions" value='{{ permissions|tojson }}' name="selected_permissions">
    <input type="hidden" id="principal" value='{{ principal|tojson }}'>
    <div class="permissions-dialog">
        <ul class="permissions">
            {% for code, tree_elem in permissions_tree.viewitems() recursive %}
                <li class="item">
                    <input type="checkbox" id="cb-{{ code }}"
                           class="circle-checkbox" {{ 'checked' if code in permissions }}
                           data-code="{{ code }}">
                    <label for="cb-{{ code }}">{{ tree_elem.title }}</label>
                    {% if tree_elem.children %}
                        <ul class="permissions">
                            {{ loop(tree_elem.children.viewitems()) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="toolbar f-j-end">
            <button type="submit" class="i-button big highlight" data-disabled-until-change>{% trans %}Save{% endtrans %}</button>
            <button class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</button>
        </div>
    </div>
</form>
<script>
    (function () {
        'use strict';

        function updateHiddenField() {
            var data = [];
            var $form = $('#js-permissions-dialog-form');
            $form.find('[type=checkbox]:checked').each(function() {
                var $this = $(this);
                // Only take into account the checked parents of the permissions tree
                if (!$this.parents('ul').siblings('[type=checkbox]:checked').length) {
                    data.push($(this).data('code'));
                }
            });
            $form.find('#selected_permissions').val(JSON.stringify(data));
        }

        $('#js-permissions-dialog-form').on('submit', function(evt) {
            evt.preventDefault();
            var selectedPermissions = JSON.parse($('#selected_permissions').val());
            var principal = JSON.parse($('#principal').val());
            $('#permissions-widget-permissions').trigger('indico:permissionsChanged', [selectedPermissions, principal]);
            $('#js-permissions-dialog-form').trigger('ajaxDialog:close');
        }).on('change', function() {
            updateHiddenField();
        });
    })();
</script>
