{% extends 'layout/base.html' %}

{% from 'forms/_form.html' import form_header, form_footer, form_rows, form_fieldset %}

{% block title %}{% trans %}Event protection{% endtrans %}{% endblock %}

{% block title_actions %}
    <a class="i-button inconspicuous icon-settings arrow js-dropdown"
       data-toggle="dropdown"></a>
    <ul class="dropdown">
        <li>
            <a href="#"
               title="{% trans %}Grant submission rights to all speakers{% endtrans %}"
               data-title="{% trans %}Manage contribution types{% endtrans %}"
               data-confirm="{% trans %}Are you sure you want to perform this operation? This operation is irreversible{% endtrans %}"
               data-href="{{ url_for('.grant_submission_rights', event) }}"
               data-method="POST"
               data-qtip-position="right"
               data-ajax-request>
                {% trans %}Grant submission rights{% endtrans %}</a>
        </li>
        <li>
            <a href="#"
               title="{% trans %}Grant modification rights to all session conveners{% endtrans %}"
               data-title="{% trans %}Manage custom fields{% endtrans %}"
               data-confirm="{% trans %}Are you sure you want to perform this operation? This operation is irreversible{% endtrans %}"
               data-href="{{ url_for('.grant_modification_rights', event) }}"
               data-method="POST"
               data-qtip-position="right"
               data-ajax-request>
                {% trans %}Grant modification rights{% endtrans %}</a>
        </li>
        <li>
            <a href="#"
               title="{% trans %}Revoke submission rights{% endtrans %}"
               data-title="{% trans %}Manage custom fields{% endtrans %}"
               data-confirm="{% trans %}Are you sure you want to perform this operation? This operation is irreversible{% endtrans %}"
               data-href="{{ url_for('.revoke_submission_rights', event) }}"
               data-method="POST"
               data-qtip-position="right"
               data-ajax-request>
                {% trans %}Revoke submission rights{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {{ form_header(form) }}
    {{ form_rows(form, skip=form.priv_fields) }}
    {% call form_fieldset(_("Session coordinator rights")) %}
        <div class="action-box highlight">
            <div class="section">
                <div class="icon icon-info"></div>
                <div class="text">
                    <div class="label">{% trans %}Basic rights{% endtrans %}</div>
                    <div>
                        <div>{% trans %}Restricted session timetable management (add contributions, create breaks){% endtrans %}</div>
                        <div>{% trans %}View comments from the conference manager (no modifications){% endtrans %}</div>
                        <div>{% trans %}View contribution list (no modifications){% endtrans %}</div>
                        <div>{% trans %}View session main data (no modifications){% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rows(form, fields=form.priv_fields) }}
    {% endcall %}
    {% call form_footer(form) %}
        <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}"
               data-disabled-until-change>
    {% endcall %}
{% endblock %}
