<div id="persons-list">
    <div class="flashed-messages"></div>
    <div>
        <div class="toolbar">
            <div class="group left">
                <a class="icon-checkbox-checked i-button arrow js-dropdown" href="#" data-toggle="dropdown"></a>
                <ul class="dropdown">
                    <li>
                        <a href="#" data-select-all="#persons-list input.select-row:visible">
                            {% trans %}All{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-select-none="#persons-list input.select-row:visible">
                            {% trans %}None{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="group i-selection">
                <span class="i-button label">{% trans %}Show{% endtrans %}</span>
                <input type="checkbox" id="filter-speakers" data-filter="speaker" checked>
                <label for="filter-speakers" class="i-button">{% trans %}Speakers{% endtrans %}</label>
                <input type="checkbox" name="authors" id="filter-primary" data-filter="primary_author" checked>
                <label for="filter-primary" class="i-button">{% trans %}Primary authors{% endtrans %}</label>
                <input type="checkbox" name="authors" id="filter-secondary" data-filter="secondary_author" checked>
                <label for="filter-secondary" class="i-button">{% trans %}Co-authors{% endtrans %}</label>
            </div>
        </div>
    </div>
    <div>
        <table class="i-table-widget tablesorter">
            <thead>
                <tr class="i-table">
                    <th class="i-table checkbox-column" data-sorter="false"></th>
                    <th class="i-table">{% trans %}Name{% endtrans %}</th>
                    <th class="i-table">{% trans %}Email{% endtrans %}</th>
                    <th class="i-table">{% trans %}Affiliation{% endtrans %}</th>
                    <th class="i-table">{% trans %}Author type{% endtrans %}</th>
                    <th class="i-table speaker-column" data-sorter="false"></th>
                </tr>
            </thead>
            <tbody>
                {% for event_person, person_roles in event_persons.iteritems() -%}
                    {% set is_speaker = person_roles.speaker %}
                    <tr class="i-table" data-person-roles="{{ person_roles | tojson | forceescape }}">
                        <td class="i-table">
                            <input type="checkbox" value="{{ event_person.id }}" class="select-row" name="person_id"
                                   {{ 'disabled' if not event_person.email }}>
                        </td>
                        <td class="i-table">{{ event_person.full_name }}</td>
                        <td class="i-table email-column">{{ event_person.email }}</td>
                        <td class="i-table">{{ event_person.affiliation }}</td>
                        <td class="i-table">
                            {% if person_roles.primary_author or person_roles.secondary_author %}
                                {% set author_types = [_('Primary') if person_roles.primary_author,
                                                       _('Secondary') if person_roles.secondary_author] %}
                                {{ author_types | reject('undefined') | join(', ') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td class="i-table">
                            {%- if is_speaker %}
                                {% set speaker_title = _('This person is a speaker') %}
                            {%- else -%}
                                {% set speaker_title = _('This person is not a speaker') %}
                            {% endif -%}
                            <i class="icon-mic speaker-icon {{ 'inactive' if not is_speaker }}"
                               title="{{ speaker_title }}"></i>
                        </td>
                    </tr>
                {%- else -%}
                    <tr class="i-table">
                        <td colspan="6">{% trans %}No persons in the session yet{% endtrans %}</td>
                    </tr>
                {%- endfor %}
            </tbody>
        </table>
        <a href="#" class="i-button highlight disabled js-requires-selected-row send-mails-btn"
           data-href="{{ url_for('event_management.email_event_persons', event) }}"
           data-title="{% trans %}Send email{% endtrans %}"
           data-method="POST"
           data-params-selector="#persons-list input[name=person_id]:checkbox:checked:visible"
           data-ajax-dialog>
            {%- trans %}Send emails{% endtrans -%}
        </a>
    </div>
</div>
<script>
    setupEventPersonsList();
</script>
