<div class="permissions-dialog">
    <ul class="permissions">
        {% for permission in permissions recursive %}
            <li class="item">
                <input type="checkbox" id="cb-{{ permission.code }}" class="circle-checkbox">
                <label for="cb-{{ permission.code }}">{{ permission.title }}</label>
                {% if permission.children %}
                    <ul class="permissions">
                        {{ loop(permission.children) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="toolbar f-j-end">
        <button class="i-button big">Cancel</button>
        <button class="i-button big highlight">Save</button>
    </div>
</div>
