{% set id = 'non-inheriting-' + uuid() %}
<p>
    {% trans -%}
        The following objects have custom protection settings.<br>
        Clicking their title will open the protection settings for that specific object.
    {%- endtrans %}
</p>
<ul id="{{ id }}">
    {% for object in objects|sort(attribute='title') %}
        <li class="{{ 'icon-protection-public' if object.is_public else 'icon-protection-self' }}">
            <a href="#" {{ object.edit_link_attrs|html_params }}>
                <strong>{{ object.title }}</strong>
            </a>
            ({{ object.type_name }})
        </li>
    {% endfor %}
</ul>
<script>
    (function() {
        'use strict';
        var container = $('#{{ id }}');
        container.on('ajaxDialog:closed', function(e, data) {
            if (data) {
                container.trigger('ajaxDialog:reload');
            }
        });
    })();
</script>
