{% extends 'events/registration/emails/base_registration.html' %}

{% block registration_body %}
    {% for section, fields in registration.summary_data.iteritems() if not section.is_manager_only %}
        <div style="padding-bottom: 20px; border-bottom: 1px solid #EBEBEB;">
            <h2>{{ section.title }}</h2>
            <dl>
                {% for field, regdata in fields.iteritems() if regdata.friendly_data %}
                    {{ render_field(field) }}
                    {{ render_regdata(regdata) }}
                {% endfor %}
            </dl>
            <div style="clear: both;"></div>
        </div>
    {% endfor %}
    {% if registration.price %}
        <div style="padding-bottom: 20px; border-bottom: 1px solid #EBEBEB;">
            <p style="text-align: right; margin-bottom: 0; font-size: 0.9em;">
                <strong>Total:</strong>
                <span style="font-style: italic">
                    {{- registration.render_price() -}}
                </span>
            </p>
        </div>
    {% endif %}
{% endblock %}


{% macro render_field(field) %}
    <dt style="width: 30%; float: left; clear:left;">
        {{- field.title -}}:
    </dt>
{% endmacro %}


{% macro render_regdata(regdata) %}
    <dd style="width: 70%; float: left; margin: 0; min-height: 20px; white-space: pre-wrap; word-break: break-all; padding-left: 20px; box-sizing: border-box;">
        {%- set friendly_data = regdata.friendly_data -%}
        {%- if regdata.field_data.field.input_type == 'accommodation' and friendly_data -%}
            {% if friendly_data['is_no_accommodation'] %}
                {{- friendly_data.choice -}}
            {% else %}
                {{- friendly_data.choice }} ({{ friendly_data.arrival_date | format_date(locale='en_GB') }} - {{ friendly_data.departure_date | format_date(locale='en_GB') -}})
            {% endif %}
        {%- elif regdata.field_data.field.input_type == 'multi_choice' -%}
            {{- friendly_data | join(', ') }}
        {%- else -%}
            {{- friendly_data -}}
        {%- endif -%}
        {%- if regdata.price -%}
            <span style="float: right; font-style: italic; font-size: 0.9em;">
                {{- regdata.render_price() -}}
            </span>
        {%- endif -%}
    </dd>
{% endmacro %}
