{% extends 'events/registration/emails/base_registration_details.html' %}
{% block subject_name %}{% endblock %}

{% block subject_message -%}
    Registration
{%- endblock %}

{% block registration_header -%}
    {% set event = registration.registration_form.event_new %}
    <p>Dear {{ registration.full_name }},</p>
    <p>
        {% block registration_header_text %}
            Thank you! Your registration {{ render_registration_info() }}
            has been received.
            {{ render_text_pending() }}
            {{ render_text_unpaid() }}
        {% endblock %}
    </p>
    <p>
        {% if registration.state.name == 'pending' %}
            {{ registration.registration_form.message_pending | escape | urlize }}
        {% elif registration.state.name == 'unpaid' %}
            {{ registration.registration_form.message_unpaid | escape | urlize }}
        {% elif registration.state.name == 'complete' %}
            {{ registration.registration_form.message_complete | escape | urlize }}
        {% endif %}
    </p>
{%- endblock %}

{% block registration_footer %}
    <p>
        To manage your registration follow this link:
        <a href="{{ url_for('event_registration.display_regform', registration.locator.registrant, _external=true) }}">
            Manage my registration
        </a>
    </p>
{% endblock %}


{% macro render_registration_info() %}
    for the event <strong>{{ event.title }}</strong>
{% endmacro %}


{% macro render_text_pending() %}
    {% if registration.state.name == 'pending' %}
        Please notice it's not complete yet since it's awaiting manual approval by a manager.
        You will be notified when that happens.
    {% endif %}
{% endmacro %}


{% macro render_text_unpaid() %}
    {% if registration.state.name == 'unpaid' %}
        Please proceed to the checkout <a href="{{ url_for('event_registration.display_regform', registration.locator.registrant, _external=true) }}">here</a> in order to complete it.
    {% endif %}
{% endmacro %}
