{% extends 'events/registration/emails/registration_creation_to_registrant.html' %}

{% block subject_message -%}
    {% trans title=event.title %}Registration modified for {{ title }}{% endtrans %}
{%- endblock %}

{% block registration_header_text -%}
    {%- set strong %}<a href="{{ event.external_url }}"><strong>{% endset -%}
    {%- set endstrong %}</a></strong>{% endset -%}
    {% trans title=event.title, at_time=render_registration_info() -%}
        Your registration for the event {{ strong }}{{ title }}{{ endstrong }}{{ at_time }} has been modified.
    {%- endtrans %}
    {{ render_text_pending() }}
    {{ render_text_unpaid() }}
{%- endblock %}
