{% from 'attachments/_attachments.html' import render_attachments as _render_attachments %}

{% macro render_attachments(item) %}
    <div class="item-attachments">
        {% if item.can_manage_attachments(session.user) -%}
            <a href="#" class="icon-edit i-button right"
               data-locator="{{ item.locator|tojson|forceescape }}"
               data-attachment-editor></a>
        {%- endif %}

        <h3 class="icon-attachment">
            {%- trans %}Presentation Materials{% endtrans -%}
        </h3>
    </div>

    <div class="i-box-group vert">
        <div class="i-box no-padding">
            <div class="i-box-content">
                <div class="attachments-box">
                    {{ _render_attachments(item.attached_items, management=false) }}
                </div>
            </div>
        </div>
</div>
{% endmacro %}
