{% extends 'layout/base.html' %}
{% from 'forms/_form.html' import simple_form %}
{% from 'message_box.html' import message_box %}

{% block page_class %}fixed-width-standalone-page{% endblock %}

{% block title %}
    {% trans %}Set your Indico password{% endtrans %}
{% endblock %}

{% block content %}
    {% include 'flashed_messages.html' %}

    {% call message_box('info') %}
        {% if indico_config.LOCAL_USERNAMES %}
            {% trans email=user.email, name=user.full_name %}
                You're setting username and password for your Indico account <strong>{{ name }}</strong> ({{ email }}).
            {% endtrans %}
        {% else %}
            {% trans email=user.email, name=user.full_name %}
                You're setting a password for your Indico account <strong>{{ name }}</strong> ({{ email }}).
            {% endtrans %}
        {% endif %}
    {% endcall %}

    {{ simple_form(form, back_button=false) }}
{% endblock %}
