{% extends 'layout/base.html' %}
{% from 'forms/_form.html' import simple_form %}

{% block page_class %}fixed-width-standalone-page{% endblock %}

{% block title %}
    {% trans %}Create a new Indico profile{% endtrans %}
{% endblock %}

{% block content %}
    {% include 'flashed_messages.html' %}

    {% if not email_sent %}
        <p>
            {% trans -%}
                To create a new Indico profile you first need to verify your email address.
            {%- endtrans %}
        </p>
        {{ simple_form(form, back_url=url_for_logout(), submit=_('Send me a verification email'),
                       disabled_until_change=false) }}
    {% else %}
        <a class="i-button big" href="{{ url_for_logout() }}">{% trans %}Cancel{% endtrans %}</a>
    {% endif %}
{% endblock %}
