{% from 'message_box.html' import message_box %}

{% macro render_contribution_list(event, contribs, sessions, tracks) %}
    {% if not contribs %}
        {%- call message_box('info') -%}
            {% trans %}There are no contributions yet.{% endtrans %}
        {%- endcall %}
    {% else %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <table class="i-table tablesorter">
                <thead>
                    <tr class="i-table">
                        <th class="i-table checkbox-column"></th>
                        <th class="i-table id-column">
                            {% trans %}ID{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Title{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Schedule{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Duration{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}People{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Type{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Session{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Track{% endtrans %}
                        </th>
                        <th>
                            {# Actions #}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for contrib in contribs %}
                        <tr id="contrib-{{ contrib.id }}" class="i-table">
                            <td class="i-table">
                                <input type="checkbox" class="select-row" name="contribution_id" value="{{ contrib.id }}">
                            </td>
                            <td class="i-table id-column">#{{ contrib.friendly_id }}</td>
                            <td class="i-table" data-searchable="{{ contrib.title }}">
                                <strong>
                                    {{ contrib.title }}
                                </strong>
                            </td>
                            <td class="i-table start-date">
                                {% if contrib.timetable_entry %}
                                    {{ contrib.timetable_entry.start_dt|format_datetime('short') }}
                                {% else %}
                                    <em>
                                        {% trans %}Not scheduled{% endtrans %}
                                    </em>
                                {% endif %}
                            </td>
                            <td class="i-table">
                                {{ contrib.duration|format_timedelta(format='medium') }}
                            </td>
                            <td class="i-table" data-searchable="TODO">
                                {# people (don't forget data-searchable above) #}
                                TODO
                            </td>
                            <td class="i-table">
                                {% if not contrib.type %}
                                    {% trans %}n/a{% endtrans %}
                                {% endif %}
                            </td>
                            <td class="i-table">
                                <a class="i-button session-item-picker"
                                   style="{{ contrib.session.colors.css if contrib.session }}"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"
                                   data-method="PATCH"
                                   data-items="{{ sessions | tojson | forceescape }}"
                                   data-contrib-id="{{ contrib.id }}"
                                   data-selected-item-id="{{ contrib.session.id or None | tojson }}">
                                    <span class="label">
                                        {% if contrib.session %}
                                            {% trans title=contrib.session.title -%}
                                                {{ title }}
                                            {%- endtrans %}
                                        {% else %}
                                            {%- trans %}No session{% endtrans -%}
                                        {% endif %}
                                    </span>
                                    <i class="icon-arrow-down"></i>
                                </a>
                            </td>
                            <td class="i-table">
                                <a class="i-button track-item-picker"
                                   data-items="{{ tracks | tojson | forceescape }}"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"
                                   data-method="PATCH"
                                   data-selected-item-id="{{ contrib.track_id or None | tojson }}">
                                    <span class="label">
                                        {% if contrib.track %}
                                            {%- trans title=contrib.track.getTitle() %}
                                                {{ title }}
                                            {% endtrans -%}
                                        {% else %}
                                            {% trans %}No track{% endtrans %}
                                        {% endif %}
                                    </span>
                                    <i class="icon-arrow-down"></i>
                                </a>
                            </td>
                            <td class="i-table" style="text-align: right;">
                                <a href="#" class="icon-edit"
                                   data-ajax-dialog
                                   data-href="{{ url_for('.manage_update_contrib', contrib) }}"
                                   data-title="{% trans title=contrib.title %}Edit contribution '{{ title }}'{% endtrans %}"
                                   data-update="#contribution-list">
                                </a>
                                <a href="#" class="icon-attachment"
                                    data-attachment-editor
                                    data-title="{% trans title=contrib.title %}Manage materials for '{{ title }}'{% endtrans %}"
                                    data-locator="{{ contrib.locator|tojson|forceescape }}">
                                </a>
                                <a href="#" class="icon-remove"
                                   data-title="{% trans title=contrib.title %}Delete contribution '{{ title }}'?{% endtrans %}"
                                   data-confirm="{% trans title=contrib.title %}Are you sure you want to completely delete contribution '{{ title }}'?{% endtrans %}"
                                   data-update="#contribution-list"
                                   data-method="DELETE"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        <script>
            (function() {
                'use strict';

                function patchObject(url, method, data) {
                    return $.ajax({
                        url: url,
                        method: method,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        error: handleAjaxError,
                        complete: IndicoUI.Dialogs.Util.progress()
                    });
                }

                $('.session-item-picker').itempicker({
                    containerClasses: 'session-item-container',
                    filterPlaceholder: $T.gettext('Filter sessions'),
                    footerElements: [
                        {
                            title: $T.gettext('Add new session'),
                            onClick: function() {
                                ajaxDialog({
                                    title: $T.gettext('Add new session'),
                                    url: {{ url_for('sessions.create_session', event) | tojson }},
                                    onClose: function(data) {
                                        if (data) {
                                            $('.session-item-picker').itempicker('refreshItemList', data.sessions);
                                        }
                                    }
                                });
                            }
                        }
                    ],
                    onSelect: function(session) {
                        var $this = $(this);
                        var styleObject = $this[0].style;
                        var postData =  {session_id: session.id};

                        return patchObject($this.data('href'), $this.data('method'), postData).then(function(data) {
                            $this.find('.label').text(session.title);
                            styleObject.setProperty('color', '#' + session.colors.text, 'important');
                            styleObject.setProperty('background', '#' + session.colors.background, 'important');
                            if (!data.scheduled) {
                                $this.closest('tr').find('td.start-date')
                                     .html($('<em>', {'text': $T.gettext('Not scheduled')}));
                            }
                        });
                    },
                    onClear: function(session) {
                        var $this = $(this);
                        var postData = {session_id: null};

                        return patchObject($this.data('href'), $this.data('method'), postData).then(function() {
                            $this.find('.label').text($T.gettext('No session'));
                            $this.removeAttr('style');
                        });
                    }
                });

                $('.track-item-picker').itempicker({
                    filterPlaceholder: $T.gettext('Filter tracks'),
                    containerClasses: 'track-item-container',
                    uncheckedItemIcon: '',
                    footerElements: [
                        {
                            title: $T.gettext('Add new track'),
                            onClick: function() {
                                window.location = {{ url_for('event_mgmt.confModifProgram-addTrack', event) | tojson }}
                            }
                        }
                    ],
                    onSelect: function(track) {
                        var $this = $(this);
                        var postData = {track_id: track.id};

                        return patchObject($this.data('href'), $this.data('method'), postData).then(function() {
                            $this.find('.label').text(track.title);
                        });
                    },
                    onClear: function(track) {
                        var $this = $(this);
                        var postData = {track_id: null};

                        return patchObject($this.data('href'), $this.data('method'), postData).then(function() {
                            $this.find('.label').text($T.gettext('No track'));
                        });
                    }
                });
            })();
        </script>
    {% endif %}
{% endmacro %}
