{% from 'message_box.html' import message_box %}

{% macro render_displayed_entries_fragment(displayed_num, total_num) -%}
    <span id="filtering-state" class="i-button label icon-list"
          title="{% trans %}Displaying {{displayed_num}} out of {{total_num}} contributions{% endtrans %}">
        <strong>{{ displayed_num }}</strong> / {{ total_num }}
    </span>
{%- endmacro %}

{% macro render_contrib_report(event, total_entries, contribs, sessions, tracks) %}
    {% if contribs %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <table class="i-table tablesorter">
                <thead>
                    <tr class="i-table">
                        <th class="i-table checkbox-column"></th>
                        <th class="i-table id-column">
                            {% trans %}ID{% endtrans %}
                        </th>
                        <th class="i-table protection-column" data-sorter="false"></th>
                        <th class="i-table">
                            {% trans %}Title{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Time{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Duration{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}People{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Type{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Session{% endtrans %}
                        </th>
                        <th class="i-table">
                            {% trans %}Track{% endtrans %}
                        </th>
                        <th>
                            {# Actions #}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for contrib in contribs %}
                        <tr id="contrib-{{ contrib.id }}" class="i-table"
                            data-friendly-id="{{ contrib.friendly_id }}"
                            data-title="{{ contrib.title }}">
                            <td class="i-table">
                                <input type="checkbox" class="select-row" name="contribution_id" value="{{ contrib.id }}">
                            </td>
                            <td class="i-table id-column">#{{ contrib.friendly_id }}</td>
                            <td class="i-table {% if contrib.is_self_protected %}self-protection-icon
                                               {% elif contrib.is_public %}public-protection-icon{% endif %}">
                            </td>
                            <td class="i-table" data-searchable="{{ contrib.title }}">
                                <strong>{{ contrib.title }}</strong>
                            </td>
                            <td class="i-table start-date">
                                {% if contrib.timetable_entry %}
                                    {{ contrib.timetable_entry.start_dt|format_datetime('short') }}
                                {% else %}
                                    <em>
                                        {% trans %}Not scheduled{% endtrans %}
                                    </em>
                                {% endif %}
                            </td>
                            <td class="i-table">
                                {{ contrib.duration|format_timedelta(format='medium') }}
                            </td>
                            <td class="i-table" data-searchable="TODO">
                                {# people (don't forget data-searchable above) #}
                                TODO
                            </td>
                            <td class="i-table" data-text="{{ contrib.type.name if contrib.type else '' }}">
                                {% if contrib.type %}
                                    {{ contrib.type.name }}
                                {% else %}
                                    {% trans %}n/a{% endtrans %}
                                {% endif %}
                            </td>
                            <td class="i-table">
                                <a class="i-button session-item-picker"
                                   style="{{ contrib.session.colors.css if contrib.session }}"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"
                                   data-method="PATCH"
                                   data-items="{{ sessions | tojson | forceescape }}"
                                   data-contrib-id="{{ contrib.id }}"
                                   data-selected-item-id="{{ contrib.session.id or None | tojson }}">
                                    <span class="label">
                                        {% if contrib.session %}
                                            {% trans title=contrib.session.title -%}
                                                {{ title }}
                                            {%- endtrans %}
                                        {% else %}
                                            {%- trans %}No session{% endtrans -%}
                                        {% endif %}
                                    </span>
                                    <span class="icon-arrow-down"></span>
                                </a>
                            </td>
                            <td class="i-table">
                                <a class="i-button track-item-picker"
                                   data-items="{{ tracks | tojson | forceescape }}"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"
                                   data-method="PATCH"
                                   data-selected-item-id="{{ (contrib.track_id if contrib.track_id is not none else None) | tojson }}">
                                    <span class="label">
                                        {% if contrib.track %}
                                            {%- trans title=contrib.track.getTitle() %}
                                                {{ title }}
                                            {% endtrans -%}
                                        {% else %}
                                            {% trans %}No track{% endtrans %}
                                        {% endif %}
                                    </span>
                                    <span class="icon-arrow-down"></span>
                                </a>
                            </td>
                            <td class="i-table" style="text-align: right;">
                                <a href="#" class="icon-edit js-dialog-action"
                                   data-href="{{ url_for('.manage_update_contrib', contrib) }}"
                                   data-title="{% trans title=contrib.title %}Edit contribution '{{ title }}'{% endtrans %}"
                                   data-update='{"html": "#contribution-list", "counter": "#contributions-counter"}'
                                   data-ajax-dialog>
                                </a>
                                <a href="#" class="icon-attachment"
                                   data-attachment-editor
                                   data-title="{% trans title=contrib.title %}Manage materials for '{{ title }}'{% endtrans %}"
                                   data-locator="{{ contrib.locator|tojson|forceescape }}">
                                </a>
                                <a href="#" class="icon-lock-center"
                                   data-href="{{ url_for('.manage_contrib_protection', contrib) }}"
                                   data-title="{% trans %}Manage contribution protection{% endtrans %}"
                                   data-update="#contribution-list"
                                   data-ajax-dialog>
                                </a>
                                <a href="#" class="icon-remove js-delete"
                                   data-title="{% trans title=contrib.title %}Delete contribution '{{ title }}'?{% endtrans %}"
                                   data-confirm="{% trans title=contrib.title %}Are you sure you want to completely delete contribution '{{ title }}'?{% endtrans %}"
                                   data-update='{"html": "#contribution-list", "counter": "#contributions-counter"}'
                                   data-method="DELETE"
                                   data-href="{{ url_for('.manage_contrib_rest', contrib) }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    {%- else %}
        {%- call message_box('info') %}
            {%- if total_entries %}
                {%- trans -%}
                    The filtering criteria do not match with any of the existing contributions. Try to clear the filters.
                {%- endtrans %}
            {%- else %}
                {%- trans %}There are no contributions yet.{% endtrans %}
            {%- endif %}
        {%- endcall %}
    {%- endif %}
{% endmacro %}
