{% macro render_checkin_setup(regform) %}
    <a id="checkin-app-link" class="icon-link"
       style="margin-right:1em;{{ 'display: none;' if not regform.tickets_enabled }}"
       href="{{ indico_config.CHECKIN_APP_URL }}"
       target="_blank"
       rel="noopener noreferrer"
       title="{% trans %}Use the app to manage the check-in status of the participants{% endtrans %}">
        {% trans %}Open the Check-in App{% endtrans %}
    </a>
    <button id="qr-code" class="i-button icon-qrcode"
            style="{{ 'display: none;' if not regform.tickets_enabled }}"
            data-href="{{ url_for('.tickets_qrcode', regform) }}"
            title="{% trans %}In order to configure your mobile app to use this event,
                   you will have to scan the QR code{% endtrans %}">
        {% trans %}QR Code{% endtrans %}
    </button>

    <script>
        (function() {
            'use strict';
            const qrCodeButton = $('#qr-code');
            const checkinAppLink = $('#checkin-app-link');
            qrCodeButton.qbubble({
                content: {
                    text: function() {
                        return $.ajax({
                            url: qrCodeButton.data('href'),
                            cache: false
                        });
                    }
                },
                style: {
                    classes: 'no-max-width'
                }
            });
            $('#qr-code-config').on('ajaxDialog:closed', function(evt, data) {
                if (data) {
                    qrCodeButton.toggle(data.tickets_enabled);
                    checkinAppLink.toggle(data.tickets_enabled);
                }
            });
        })();
    </script>
{% endmacro %}
