{% from 'message_box.html' import message_box %}

{% macro render_invitation_list(invitations, has_pending_invitations) %}
    {% if invitations %}
        <div class="i-box invitation-list{% if not has_pending_invitations %} titled{% endif %}">
            {{ _render_invitations_block(invitations, 'pending', _('Pending invitations')) }}
            {{ _render_invitations_block(invitations, 'accepted', _('Accepted invitations')) }}
            {{ _render_invitations_block(invitations, 'declined', _('Declined invitations')) }}
        </div>
    {% else %}
        {% call message_box('info', fixed_width=true) %}
            {% trans %}Nobody has been invited yet.{% endtrans %}
        {% endcall %}
    {% endif %}
{% endmacro %}


{% macro _render_invitations_block(invitations, state, title) %}
    {% set filtered_invitations = invitations | selectattr('state.name', 'equalto', state) | list %}
    {% if filtered_invitations %}
        {% if state == 'pending' %}
            <div class="toolbar hide-if-locked" id="email-pending-invitations-container"></div>
        {% endif %}
        <div class="titled-rule">{{ title }}</div>
        <table class="invitation-table">
            {% for invitation in filtered_invitations %}
                <tr>
                    {% if state == 'pending' %}
                        <td class="select">
                            <input type="checkbox" name="invitation_ids" class="hide-if-locked" autocomplete="off"
                                   id="invitation-{{ invitation.id }}" value="{{ invitation.id }}">
                        </td>
                    {% endif %}
                    <td class="name">
                        <label for="invitation-{{ invitation.id }}">
                            {% if invitation.registration_id is not none %}
                                <a href="{{ url_for('.registration_details', invitation.registration) }}">{{ invitation.first_name }} {{ invitation.last_name }}</a>
                            {% else %}
                                {{ invitation.first_name }} {{ invitation.last_name }}
                            {% endif %}
                        </label>
                    </td>
                    <td class="email">
                        <label for="invitation-{{ invitation.id }}">
                            {{ invitation.email }}
                        </label>
                    </td>
                    <td class="affiliation">
                        <label for="invitation-{{ invitation.id }}">
                            {{ invitation.affiliation }}
                        </label>
                    </td>
                    <td class="actions hide-if-locked">
                        {% if invitation.state.name == 'pending' %}
                            <a class="icon-disable js-invitation-action"
                               title="{% trans %}Mark as declined{% endtrans %}"
                               data-href="{{ url_for('.manager_decline_invitation', invitation) }}"
                               data-method="POST"
                               data-title="{% trans %}Mark invitation as declined{% endtrans %}"
                               data-confirm="{% trans %}Do you really want to mark this invitation as declined by the invitee?{% endtrans %}"></a>
                        {% endif %}
                        <a class="icon-remove js-invitation-action"
                           title="{% trans %}Delete invitation{% endtrans %}"
                           data-href="{{ url_for('.delete_invitation', invitation) }}"
                           data-method="DELETE"
                           data-title="{% trans %}Delete invitation{% endtrans %}"
                           data-confirm="{% trans %}Do you really want to delete this invitation?{% endtrans %}"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endmacro %}
