{% from 'message_box.html' import message_box %}

{% macro render_registration_list(registrations, dynamic_columns, static_columns, total_registrations) %}
    {% if registrations %}
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {% set filtered_registrations = registrations | length %}
            {% if filtered_registrations !=  total_registrations %}
                <div class="info-message-box">
                    <div class="message-text">
                        {%- trans -%}
                            Filtering is enabled. Displaying {{ filtered_registrations }} out of {{ total_registrations }} registrants.
                        {%- endtrans -%}
                    </div>
                </div>
            {% endif %}
            <div class="js-list-table-wrapper">
                <table class="i-table tablesorter">
                    <thead>
                        <tr class="i-table">
                            <th class="i-table thin-column"></th>
                            <th class="i-table id-column">{% trans %}ID{% endtrans %}</th>
                            <th class="i-table">{% trans %}Full name{% endtrans %}</th>
                            {% for item in static_columns %}
                                <th class="i-table" data-sorter="text">{{ item.caption }}</th>
                            {% endfor %}
                            {% for item in dynamic_columns %}
                                <th class="i-table">{{ item.title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in registrations %}
                            {% set data = registration.data_by_field %}
                            <tr id="registration-{{ registration.id }}" class="i-table">
                                <td class="i-table">
                                    <input class="select-row" type="checkbox" name="registration_id"
                                           value="{{ registration.id }}"
                                           data-has-files="{{ registration.has_files | tojson }}">
                                </td>
                                <td class="i-table">
                                    #{{ registration.friendly_id }}
                                </td>
                                <td class="i-table">
                                    <a href="{{ url_for('.registration_details', registration) }}">
                                        {{- registration.display_full_name -}}
                                    </a>
                                </td>
                                {% for item in static_columns %}
                                    {% if item.id == 'reg_date' %}
                                        <td class="i-table" data-text="{{ registration.submitted_dt }}">
                                            {{- registration.submitted_dt | format_datetime(timezone=registration.event_new.tzinfo) -}}
                                        </td>
                                    {% elif item.id == 'state' %}
                                        <td class="i-table">{{ registration.state.title }}</td>
                                    {% elif item.id == 'price' %}
                                        <td class="i-table" data-text="{{ registration.price }}">{{ registration.render_price() }}</td>
                                    {% elif item.id == 'checked_in' %}
                                        <td class="i-table">
                                            {% if registration.checked_in %}
                                                {%- trans %}Yes{% endtrans -%}
                                            {% else %}
                                                {%- trans %}No{% endtrans -%}
                                            {% endif %}
                                    {% elif item.id == 'checked_in_date' %}
                                        <td class="i-table" data-text="{{ registration.checked_in_dt }}">
                                            {%- if registration.checked_in_dt %}
                                                {{- registration.checked_in_dt | format_datetime(timezone=registration.event_new.tzinfo) -}}
                                            {%- endif %}
                                        </td>
                                    {% else %}
                                        <td class="i-table">{{ data.get(item.id).friendly_data }}</td>
                                    {% endif %}
                                {% endfor %}
                                {% for item in dynamic_columns %}
                                    {% if item.id in data and data[item.id].field_data.field.input_type == 'checkbox' %}
                                        <td class="i-table{%- if data[item.id].data %} icon-checkmark{% endif %}"
                                            data-text="{{ data[item.id].friendly_data }}"></td>
                                    {% elif item.id in data and data[item.id].field_data.field.input_type == 'accommodation' %}
                                        <td class="i-table">
                                            {% if data[item.id].friendly_data %}
                                                {% trans nights=data[item.id].friendly_data.nights,
                                                         choice=data[item.id].friendly_data.choice -%}
                                                    {{ choice }} ({{ nights }} night)
                                                {%- pluralize -%}
                                                    {{ choice }} ({{ nights }} nights)
                                                {%- endtrans %}
                                            {% endif %}
                                        </td>
                                    {% elif item.id in data and data[item.id].field_data.field.input_type == 'multi_choice' %}
                                        <td class="i-table">
                                            {%- if item.id in data %}
                                                {{- data[item.id].friendly_data | join(', ') }}
                                            {%- endif %}
                                        </td>
                                    {% else %}
                                        <td class="i-table">
                                            {%- if item.id in data and data[item.id].friendly_data %}
                                                {{- data[item.id].friendly_data }}
                                            {%- endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    {% else %}
        {%- call message_box('info') -%}
            {%- if total_registrations %}
                {%- trans %}The filtering criteria do not match with any of the existing registrations. Try to clear the filters from the "Customize list" dialog.{% endtrans -%}
            {% else %}
                {% trans %}There are no registrations yet.{% endtrans %}
            {% endif -%}
        {%- endcall %}
    {% endif %}
{% endmacro %}
