{% from 'events/registration/display/_registration_summary_blocks.html' import render_registration_summary,
                                                                               render_invoice %}

{% macro render_registration_details(registration, payment_enabled) %}
    <div id="registration-details">
        <div class="action-box">
           <div class="section">
               <div class="icon icon-quill registration-{{ registration.state.name }}"></div>
                {% if registration.state.name == 'pending' %}
                    {{ _render_pending_actions(registration) }}
                {% elif registration.state.name == 'unpaid' %}
                    {{ _render_unpaid_actions(registration) }}
                {% elif registration.state.name == 'complete' %}
                    {{ _render_complete_actions(registration) }}
                {% elif registration.state.name in ('rejected', 'withdrawn') %}
                    {{ _render_cancalled_actions(registration) }}
                {% endif %}
            </div>
            {% if registration.state.name in ('unpaid', 'complete') %}
                {{ _render_check_in(registration) }}
            {% endif %}
        </div>

        {{ render_registration_summary(registration, from_management=True) }}
        {% call render_invoice(registration, payment_enabled) %}
            <table class="regform-done-footer registration-info">
                <tr>
                    <td>
                        {% if registration.transaction and registration.transaction.data.changed_by_name %}
                            <div class="checkbox-with-text">
                                <div class="payment-conditions-agreement">
                                    {%- trans updated_by=registration.transaction.data.changed_by_name,
                                             timestamp=registration.transaction.timestamp | format_date(timezone=registration.event_new.tzinfo) -%}
                                        Last updated by {{ updated_by }} on {{ timestamp }}.
                                    {% endtrans -%}
                                </div>
                            </div>
                        {% endif %}
                    </td>
                    <td class="regform-done-footer-button">
                        {% if not registration.is_paid %}
                            <a class="i-button big"
                               data-update="#registration-details"
                               data-method="POST"
                               data-params="{{ dict(pay=1) | tojson | forceescape }}"
                               data-href="{{ url_for('.toggle_registration_payment', registration) }}">
                                {% trans %}Mark as paid{% endtrans %}
                            </a>
                        {% else %}
                            <a class="i-button big"
                               data-update="#registration-details"
                               data-method="POST"
                               data-params="{{ dict(pay=0) | tojson | forceescape }}"
                               data-href="{{ url_for('.toggle_registration_payment', registration) }}">
                                {% trans %}Mark as unpaid{% endtrans %}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endcall %}

        {% if registration.transaction %}
            <div id="registration-summary" class="regform-done">
                <div class="i-box-header">
                    <div class="i-box-title">
                        {% trans %}Payment transaction{% endtrans %}
                    </div>
                </div>
                <div class="i-box-content">
                    {{ registration.transaction.render_details()|safe }}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro _render_pending_actions(registration) %}
    <div class="text">
       <div class="label">
           {% trans %}Registration awaiting manager approval{% endtrans %}
       </div>
       {% trans -%}
           You can validate or reject this registration and the user will receive a notification.
       {%- endtrans %}
    </div>
    <div class="toolbar">
        <div class="group">
            <a class="i-button accept"
               data-update="#registration-details"
               data-method="POST"
               data-href="{{ url_for('.approve_registration', registration) }}">
                {%- trans %}Approve{% endtrans -%}
            </a>
        </div>
        <div class="group">
            <a class="i-button danger"
               data-update="#registration-details"
               data-method="POST"
               data-href="{{ url_for('.reject_registration', registration) }}"
               data-confirm="{% trans %}Are you sure you want to reject this registration? This action is not reversible.{% endtrans %}"
               data-title="{% trans %}Reject registration{% endtrans %}">
                {%- trans %}Reject{% endtrans -%}
            </a>
        </div>
    </div>
{% endmacro %}


{% macro _render_unpaid_actions(registration) %}
    <div class="text">
        <div class="label">
           {% trans %}Registration not paid yet{% endtrans %}
        </div>
        {% trans -%}
            You can mark the registration as paid manually.
        {%- endtrans %}
    </div>
    <div class="toolbar">
        <div class="group">
            <span class="i-button label icon-coins">
                {{ registration.render_price() }}
            </span>
        </div>
        <div class="group">
            <a class="i-button"
               data-update="#registration-details"
               data-method="POST"
               data-params="{{ dict(pay=1) | tojson | forceescape }}"
               data-href="{{ url_for('.toggle_registration_payment', registration) }}">
                {% trans %}Mark as paid{% endtrans %}
            </a>
        </div>
    </div>
{% endmacro %}


{% macro _render_complete_actions(registration) %}
    <div class="text">
        <div class="label">
            {% trans %}This registration is complete{% endtrans %}
        </div>
        {% trans submitted=registration.submitted_dt|format_date(timezone=registration.event_new.tzinfo) -%}
            Submitted: {{ submitted }}
        {%- endtrans %}
    </div>
    {% if registration.registration_form.tickets_enabled %}
        <div class="toolbar">
            <a href="{{ url_for('.ticket_download', registration.locator.registrant) }}" class="i-button accept icon-ticket">
                {% trans %}Get ticket{% endtrans %}
            </a>
        </div>
    {% endif %}
{% endmacro %}


{% macro _render_cancalled_actions(registration) %}
    <div class="text">
        <div class="label">
            {% trans state=registration.state.title|lower -%}
                This registration is {{ state }}
            {%- endtrans %}
        </div>
    </div>
{% endmacro %}


{% macro _render_check_in(registration) %}
    <div class="section">
        {% if registration.checked_in %}
            <div class="icon icon-location registration-checked-in"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Checked in{% endtrans %}
                </div>
                {% trans checked_in_dt=registration.checked_in_dt|format_date(timezone=registration.event_new.tzinfo) -%}
                    Checked in: {{ checked_in_dt }}
                {%- endtrans %}
                <span class="hide-if-locked">
                    (<a href="#"
                       title="{% trans %}Mark as not checked in{% endtrans %}"
                       data-update="#registration-details"
                       data-method="DELETE"
                       data-href="{{ url_for('.registration_check_in', registration) }}"
                       data-confirm="{% trans %}Are you sure you want to reset the check-in info? The original check-in time will be lost.{% endtrans %}"
                       data-title="{% trans %}Reset check-in info{% endtrans %}">
                       {%- trans %}reset{% endtrans -%}
                    </a>)
                </span>
            </div>
        {% else %}
            <div class="icon icon-location"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Not checked in{% endtrans %}
                </div>
                {% if registration.registration_form.tickets_enabled %}
                    {% trans -%}
                        You can mark the registration as checked in manually here or with the Indico Check in app.
                    {%- endtrans %}
                {% else %}
                    {% trans -%}
                        You can mark the registration as checked in manually.
                    {%- endtrans %}
                {% endif %}
            </div>
            <div class="toolbar hide-if-locked">
                <a class="i-button"
                   data-update="#registration-details"
                   data-method="PUT"
                   data-href="{{ url_for('.registration_check_in', registration) }}">
                    {% trans %}Check-in{% endtrans %}
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
