{% macro sortable_items(items, actions_macro) -%}
    {% for item in items %}
        <li class="i-label sortable-item" id="{{ item.id }}">
            <div class="actions">
                <div class="toggle-enabled"></div>
            </div>
            <div class="title">{{ item.title }}</div>
            <div class="actions">
                <div class="move-prev"></div>
                <div class="move-next"></div>
                {% if actions_macro %}
                    {{ actions_macro(item) }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
{%- endmacro %}

{% macro sortable_lists(enabled_title, enabled_items, disabled_title, disabled_items, actions_macro=None) -%}
    <div class="titled-rule">{{ enabled_title }}</div>
    <ul class="enabled">
        {{ sortable_items(enabled_items, actions_macro) }}
    </ul>
    <div class="titled-rule">{{ disabled_title }}</div>
    <ul class="disabled">
        {{ sortable_items(disabled_items, actions_macro) }}
    </ul>
{%- endmacro %}
