{% from 'events/registration/management/_print_badge_settings_form.html' import render_badge_print_settings_form %}
{% from 'message_box.html' import message_box %}


{% if registrations != all_registrations %}
    {% call message_box('warning') -%}
        {% trans count=(all_registrations|length - registrations|length), total=all_registrations|length -%}
            Tickets are currently not available for the selected registration.
        {%- pluralize total -%}
            Tickets are currently not available for {{ count }} out of the {{ total }} selected registrations.
        {%- endtrans %}
    {%- endcall %}
{% endif %}

{% if registrations %}
    {% block show_badge_printer_settings_form scoped %}
        {{ render_badge_print_settings_form(settings_form, templates=templates, registrations=registrations) }}
    {% endblock %}
{% endif %}
