{% extends 'events/registration/management/_regform_base.html' %}
{% from 'forms/_form.html' import simple_form %}

{% block subtitle %}
    {% if regform %}
        {% trans title=regform.title -%}Edit form "{{ title }}"{%- endtrans %}
    {% else %}
        {%- trans %}Create form{% endtrans -%}
    {% endif %}
{% endblock %}

{% block content %}
    {% set back_url = url_for('.manage_regform', regform) if regform else url_for('.manage_regform_list', event) %}
    {{ simple_form(form, back_url=back_url) }}
{% endblock %}
