{% extends 'layout/base.html' %}
{% from '_switch.html' import switch %}
{% from 'message_box.html' import message_box %}
{% from 'forms/_form.html' import form_header, form_footer, form_rows %}

{% block title %}
    {%- trans %}Participants display{% endtrans -%}
{% endblock %}

{% block description %}
    {% trans -%}
        Customize how the registrations are shown on the participant list page.
    {%- endtrans %}
{% endblock %}

{% macro sortable_items(items) -%}
    {% for item in items %}
        <li class="i-label sortable-item" id="{{ item.id }}">
            <div class="actions">
                <div class="toggle-enabled"></div>
            </div>
            <div class="title">{{ item.title }}</div>
            <div class="actions">
                <div class="move-prev"></div>
                <div class="move-next"></div>
            </div>
        </li>
    {% endfor %}
{%- endmacro %}

{% macro sortable_lists(enabled_title, enabled_items, disabled_title, disabled_items) -%}
    <div class="titled-rule">{{ enabled_title }}</div>
    <ul class="enabled">
        {{ sortable_items(enabled_items) }}
    </ul>
    <div class="titled-rule">{{ disabled_title }}</div>
    <ul class="disabled">
        {{ sortable_items(disabled_items) }}
    </ul>
{%- endmacro %}

{% block content %}
    {{ form_header(form, id='js-participant-display-form') }}
    {{ form_rows(form) }}

    {% if not regforms %}
        <div class="action-box highlight">
            <div class="section">
                <div class="text">
                    <div class="label">
                        {% trans %}There are no registration form for this event.{% endtrans %}
                    </div>
                    {% trans %}Start by creating a registration form. {% endtrans %}
                </div>
                <div class="toolbar right">
                    <a href="{{ url_for('.create_regform', event) }}" class="i-button icon-plus highlight">
                        {% trans %}Create form{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="action-box">
        <div class="section">
            <div class="text">
                <div class="label">
                    {% trans %}Merge registration forms{% endtrans %}
                </div>
                {% trans %}Show all the registrations together, regardless of which form they came from.{% endtrans %}
            </div>
            <div class="toolbar right">
                {{ switch(id='merge-forms', name='merge-forms', checked=merge_forms) }}
            </div>
        </div>
    </div>

    <div id="participant-list-columns">
        <p>
            {% trans -%}
                Select which registration form will have its entries published in the participant list.
            {%- endtrans %}
        </p>
        <ul id="publish-registrations">
            {% for form in regforms %}
            <li>
                <input id="{{form.id}}" type="checkbox" {% if form.publish_registrations_enabled %}checked{% endif %}></input>
                {{form.title}}
            </li>
            {% endfor %}
        </ul>
        <p>
            {% trans -%}
                By dragging the column titles, you can choose which fields to
                display and reorder them. Custom fields added to registration
                forms can only be shown if the registration forms are not
                merged.
            {%- endtrans %}
        </p>
        <div class="i-box titled sortable-column-preview">
            {{ sortable_lists(_("Shown columns"), enabled_columns,
                              _("Hidden columns"), disabled_columns) }}
        </div>
    </div>

    <div id="registration-forms">
        <p>
            {% trans -%}
                By dragging the form titles, you can choose which to display and reorder them.
            {%- endtrans %}
        </p>
        <div class="i-box titled sortable-form-preview">
            {{ sortable_lists(_("Shown registration forms"), enabled_forms,
                              _("Hidden registration forms"), disabled_forms) }}
        </div>
    </div>

    <button class="i-button big highlight" type="submit">{% trans %}Save{% endtrans %}</button>
    <a class="i-button big" href="{{ url_for('.manage_regform_list', event) }}">
        {% trans %}Back{% endtrans %}
    </a>

    {{ form_footer(form) }}

    <script>
        (function () {
            function update() {
                var mergeForms = $('#merge-forms').prop('checked');
                $('#participant-list-columns').toggle(mergeForms);
                $('#registration-forms').toggle(!mergeForms);
            }

            $('#merge-forms').on('change', update).trigger('change');

            $('.sortable-column-preview ul').sortable({
                connectWith: '.sortable-column-preview ul',
                placeholder: 'i-label sortable-item placeholder',
                forcePlaceholderSize: true
            });

            $('.sortable-form-preview ul').sortable({
                connectWith: '.sortable-form-preview ul',
                placeholder: 'i-label sortable-item placeholder',
                forcePlaceholderSize: true
            });

            var $form = $('#js-participant-display-form');
            $form.on('submit', function() {
                var mergeForms = $('#merge-forms').prop('checked');
                var data = {
                    participant_list_columns: [],
                    participant_list_forms: [],
                    merge_forms: mergeForms
                };
                if (mergeForms) {
                    $form.find('#publish-registrations input:checked').each(function() {
                        window.console.log($(this).attr('id'));
                        data.participant_list_forms.push($(this).attr('id'));
                    });
                } else {
                    $form.find('#registration-forms ul.enabled li').each(function() {
                        data.participant_list_forms.push($(this).attr('id'));
                    });
                }
                $form.find('#participant-list-columns ul.enabled li').each(function() {
                    data.participant_list_columns.push($(this).attr('id'));
                });
                $form.find('#json').val(JSON.stringify(data));
            });
        })();
    </script>
{% endblock %}
