{% extends 'events/registration/management/_regform_base.html' %}

{% block subtitle %}
    {% trans title=regform.title -%}
        Configure fields in form "{{ title }}"
    {%- endtrans %}
{% endblock %}

{% block content %}
    <div id="registration-form-setup-container"
         data-event-id="{{ event.id }}"
         data-event-start-date="{{ event.start_dt_local.date() }}"
         data-event-end-date="{{ event.end_dt_local.date() }}"
         data-regform-id="{{ regform.id }}"
         data-currency="{{ regform.currency }}"
         data-form-data="{{ form_data | tojson | forceescape }}"></div>

    <div class="toolbar right">
        <a href="{{ url_for('.manage_regform', regform) }}" class="i-button big">
            {% trans %}Back{% endtrans %}
        </a>
    </div>
{% endblock %}
