{% extends 'layout/full_content_base.html' %}
{% from 'events/registration/management/_reglist.html' import render_registration_list %}

{% block title %}
    {%- trans %}Registrations{% endtrans -%}
{% endblock %}

{% block subtitle %}
    {% trans title=regform.title %}List of registrations for "{{ title }}"{% endtrans %}
{% endblock %}

{% block content %}
    <div class="registrations">
        <div class="toolbar">
            <div class="group left">
                <a class="icon-checkbox-checked i-button arrow left icon-only" aria-hidden="true" href="#"
                   title="{% trans %}Select{% endtrans %}" data-toggle="dropdown"></a>
                <ul class="dropdown">
                    <li><a href="#" id="select-all">{% trans %}All{% endtrans %}</a></li>
                    <li><a href="#" id="select-none">{% trans %}None{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="group left">
                <button class="i-button icon-settings js-dialog-action"
                   data-href="{{ url_for('.customize_reglist', regform) }}"
                   data-title="{% trans %}Registration list configuration{% endtrans %}">
                    {% trans %}Customize report{% endtrans %}
                </button>
            </div>
            <div class="group left">
                <a href="{{ url_for('.create_registration', regform) }}" class="i-button icon-plus">{% trans %}Add new{% endtrans %}</a>
                <a class="i-button icon-remove js-requires-selected-row disabled js-delete-registrations"
                   data-href="{{ url_for('.delete_registrations', regform) }}"
                   data-method="POST"
                   data-confirm="{% trans %}Do you really want to delete the selected registrations?{% endtrans %}">
                    {%- trans %}Remove{% endtrans -%}
                </a>
            </div>
            <div class="group left">
                <a class="i-button arrow button js-requires-selected-row disabled" data-toggle="dropdown">
                    {%- trans %}Export{% endtrans -%}
                </a>
                <ul class="dropdown">
                    <li>
                        <a href="#" class="icon-file-pdf js-requires-selected-row disabled js-export-reglist"
                           data-href="{{ url_for('.registrations_pdf_export_table', regform) }}">
                            {%- trans %}PDF (table style){% endtrans -%}
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-file-pdf js-requires-selected-row disabled js-export-reglist"
                           data-href="{{ url_for('.registrations_pdf_export_book', regform) }}">
                            {%- trans %}PDF (book style){% endtrans -%}
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon-file-excel js-requires-selected-row disabled js-export-reglist"
                           data-href="{{ url_for('.registrations_csv_export', regform) }}">
                            CSV
                        </a>
                    </li>
                </ul>
                <a href="#" class="i-button arrow button js-requires-selected-row disabled" data-toggle="dropdown">
                    {%- trans %}Actions{% endtrans -%}
                </a>
                <ul class="dropdown">
                    <li>
                        <a href="#" class="icon-mail js-dialog-send-email js-requires-selected-row disabled"
                           data-href="{{ url_for('.email_registrants', regform) }}"
                           data-title="{% trans %}Send email{% endtrans %}">
                            {%- trans %}Email{% endtrans -%}
                        </a>
                    </li>
                    <li><a href="#" class="icon-tag js-requires-selected-row disabled">{% trans %}Print Badges{% endtrans %}</a></li>
                    <li><a href="#" class="icon-attachment js-requires-selected-row disabled">{% trans %}Attachments{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="group right">
                <a class="i-button icon-link js-static-url"
                   data-href="{{ url_for('.generate_static_url', regform) }}"
                   title="{% trans %}Generate a URL for the selected filters and columns.{% endtrans %}"></a>
            </div>
        </div>
        {{ render_registration_list(registrations, visible_cols_regform_items, special_items, total_registrations) }}
    </div>

    <script>
        setupRegistrationList();
    </script>
{% endblock %}
