{% extends 'layout/base.html' %}
{% from 'events/registration/display/_registration_summary_blocks.html' import render_registration_summary,
                                                                               render_payment_summary %}

{% block title %}
    {%- trans %}Registration details{% endtrans -%}
{% endblock %}

{% block content %}
    {{ render_registration_summary(registration) }}
    {% call render_payment_summary(registration, payment_enabled) %}
        {% if not registration.transaction or registration.transaction.status != 'successful' %}
            <a href="#" class="i-button big">
                {% trans %}Mark as paid{% endtrans %}
            </a>
        {% elif registration.transaction.status.name == 'successful' %}
            <a href="#" class="i-button big">
                {% trans %}Mark as unpaid{% endtrans %}
            </a>
        {% endif %}
    {% endcall %}
    <a href="{{ url_for('.edit_registration', registration) }}" class="i-button big highlight">
        {%- trans %}Modify{% endtrans -%}
    </a>
    <a href="{{ url_for('.manage_reglist', registration.registration_form) }}" class="i-button big">
        {%- trans %}Back{% endtrans -%}
    </a>
{% endblock %}
