{% extends 'layout/base.html' %}
{% from 'events/registration/display/_registration_summary_blocks.html' import render_registration_summary,
                                                                               render_payment_summary %}

{% block title %}
    {%- trans %}Registration details{% endtrans -%}
{% endblock %}

{% block content %}
    {{ render_registration_summary(registration) }}
    {% call render_payment_summary(registration, payment_enabled) %}
        <table class="regform-done-footer registration-info">
            <tr>
                <td>
                    {% if registration.transaction and registration.transaction.data.changed_by_name %}
                        <div class="checkbox-with-text">
                            <div class="payment-conditions-agreement">
                                {%- trans updated_by=registration.transaction.data.changed_by_name,
                                         timestamp=registration.transaction.timestamp | format_date -%}
                                    Last updated by {{ updated_by }} on {{ timestamp }}.
                                {% endtrans -%}
                            </div>
                        </div>
                    {% endif %}
                </td>
                <td class="regform-done-footer-button">
                    {% if not registration.transaction or registration.transaction.status != 'successful' %}
                        <a class="i-button big js-modify-payment" data-payment-completed="0"
                           data-href="{{ url_for('.toggle_registration_payment', registration) }}">
                            {% trans %}Mark as paid{% endtrans %}
                        </a>
                    {% elif registration.transaction.status.name == 'successful' %}
                        <a class="i-button big js-modify-payment" data-payment-completed="1"
                           data-href="{{ url_for('.toggle_registration_payment', registration) }}">
                            {% trans %}Mark as unpaid{% endtrans %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endcall %}
    <a href="{{ url_for('.edit_registration', registration) }}" class="i-button big highlight">
        {%- trans %}Modify{% endtrans -%}
    </a>
    <a href="{{ url_for('.manage_reglist', registration.registration_form) }}" class="i-button big">
        {%- trans %}Back{% endtrans -%}
    </a>
{% endblock %}
