{% extends 'events/management/base.html' %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {%- trans %}Registration tags{% endtrans -%}
{% endblock %}

{% block description %}
    {% trans -%}
        Create registration tags to mark and filter registrations.
    {%- endtrans %}
{% endblock %}

{% macro render_tags(tags) %}
    <ul class="group-list with-buttons no-content-before">
        {% for tag in tags %}
            <li>
                <strong class="registration-tag" style="border-color: {{tag.color}}; background-color: {{tag.color}};">
                    {{ tag.name }}
                </strong>
                <span class="right hide-if-locked">
                    <button class="i-button" data-href="{{ url_for('.manage_registration_tags_edit', tag) }}"
                            data-title="{% trans %}Edit a tag{% endtrans %}"
                            data-ajax-dialog
                            data-reload-after>
                        {% trans %}Edit{% endtrans %}
                    </button>
                    <button class="i-button"
                            data-method="POST" data-href="{{ url_for('.manage_registration_tags_delete', tag) }}"
                            data-title="{% trans %}Delete tag{% endtrans %}"
                            data-confirm="{% trans %}Do you really want to delete this tag?{% endtrans %}">
                        {%- trans %}Delete{% endtrans -%}
                    </button>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <div class="i-box-group vert fixed-width registration-tags">
        <div class="i-box">
            <div class="i-box-header">
                <div class="i-box-title">{%- trans %}Registration Tags{% endtrans -%}</div>
                <div class="i-box-buttons hide-if-locked">
                    <a class="i-button icon-plus" data-href="{{ url_for('.manage_registration_tags_add', event) }}"
                        data-title="{%- trans %}Add a tag{% endtrans -%}"
                        data-ajax-dialog
                        data-reload-after>
                        {%- trans %}Add a tag{% endtrans -%}
                    </a>
                </div>
            </div>
            <div class="i-box-content">
                {% if tags|length > 0 %}
                    {{ render_tags(tags) }}
                {% else %}
                    <span class="empty">{% trans %}There are no registration tags.{% endtrans %}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
