{% extends 'events/registration/management/_regform_base.html' %}

{% block subtitle %}
    {% trans id=registration.friendly_id, name=registration.full_name, regform_title=registration.registration_form.title -%}
        Modify #{{ id }}: {{ name }} in "{{ regform_title }}"
    {%- endtrans %}
{% endblock %}

{% block content %}
    {{ template_hook('before-regform', event=event, regform=regform, registration=registration, management=true) }}
    <div ng-app="nd" ng-controller="AppCtrl">
        {% block regform %}
            <div nd-reg-form
                 conf-id="{{ event.id }}"
                 conf-sections="{{ sections | tojson | forceescape }}"
                 conf-currency="{{ regform.currency }}"
                 post-url="{{ request.url | tojson | forceescape }}"
                 check-email-url="{{ url_for('.check_email', regform, management=true) | tojson | forceescape }}"
                 registration-data="{{ registration_data | tojson | forceescape }}"
                 registration-meta-data="{{ registration_metadata | tojson | forceescape }}"
                 registration-uuid="{{ registration.uuid }}"
                 update-mode="true"
                 management="true"
                 notify-default="{{ session.get('registration_notify_user_default', true) | tojson | forceescape }}"></div>
        {% endblock %}
    </div>
    {{ template_hook('after-regform', event=event, regform=regform, registration=registration, management=true) }}
{% endblock %}
