{% extends 'events/surveys/management/survey_actions/active.html' %}

{% block label %}
    {% trans %}Survey finished{% endtrans %}
{% endblock %}

{% block survey_icon_classes -%}
    survey-finished
{%- endblock %}

{% block text %}
    {% set tz = survey.event.tzinfo %}
    {% trans date=survey.end_dt|format_date(timezone=tz), time=survey.end_dt|format_time(timezone=tz) -%}
        Closed on <strong>{{ date }}</strong> at <strong>{{ time }}</strong> ({{ tz }})
    {%- endtrans %}
{% endblock %}

{% block now_button %}
    <div class="group">
        <a href="#" data-href="{{ url_for('.open_survey', survey) }}" data-method="POST" class="i-button"
           data-confirm="{% trans %}The survey finished already. Do you want to open it again for submissions?{% endtrans %}
           {%- if survey.notifications_enabled -%}
               {%- trans %} This will result in resending the survey start notification.{% endtrans %}
           {%- endif %}">
            {% trans %}Reopen now{% endtrans %}
        </a>
    </div>
{% endblock %}
