{% extends 'layout/base.html' %}

{% block title %}{% trans %}Payment settings{% endtrans %}{% endblock %}

{% block content %}
    {% if settings.enabled and not enabled_plugins %}
        <div class="warning-message-box">
            <div class="message-text">
                {% trans -%}
                    The payment module is enabled but you did not enable any payment methods. You must enable at least
                    one method for the module to work properly.
                {%- endtrans %}
            </div>
        </div>
    {% endif %}

    <dl class="i-data-list">
        <dt>{% trans %}Status{% endtrans %}</dt>
        <dd>
            <form action="{{ url_for('.event_toggle', event) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <label class="switch">
                    <input type="checkbox" class="switch-input" id="toggle-payment"{% if settings.enabled %} checked{% endif %}>
                    <span class="switch-label" data-on="On" data-off="Off"></span>
                    <span class="switch-handle"></span>
                </label>
                <input type="hidden" name="enabled" value="{{ (not settings.enabled) | int }}">
            </form>
        </dd>
        {% if settings.enabled %}
            <dt>{% trans %}Currency{% endtrans %}</dt>
            <dd>
                {% if not settings.currency %}
                    {% trans %}None selected{% endtrans %}
                {% else %}
                    {{ settings.currency }}{% if settings.currency in currencies %} ({{ currencies[settings.currency] }}){% endif %}
                {% endif %}
            </dd>
            <dt>{% trans %}Conditions{% endtrans %}</dt>
            <dd>{{ settings.conditions or '<em>None</em>'|safe }}</dd>
            <dt>{% trans %}Register email message{% endtrans %}</dt>
            <dd>{{ settings.register_email or '<em>None</em>'|safe }}</dd>
            <dt>{% trans %}Success email message{% endtrans %}</dt>
            <dd>{{ settings.success_email or '<em>None</em>'|safe }}</dd>
            <dt></dt>
            <dd><a class="i-button big" href="{{ url_for('.event_settings_edit', event) }}">{% trans %}Configure{% endtrans %}</a></dd>
        {% endif %}
    </dl>

    {%- if settings.enabled %}
        <p>
            {%- trans -%}
                The following payment methods are available. You can enable, disable and configure them by clicking on them.
            {%- endtrans -%}
        </p>
        <div class="i-badges-list left i-badges-list-hover i-payments-list">
            {%- for short_name, plugin in plugins %}
                <a id="plugin-{{ plugin.name }}" class="js-plugin-edit i-badge {%- if plugin in enabled_plugins %} i-payment-enabled {% else %} i-payment-disabled {% endif -%}"
                   href="{{ url_for('.event_plugin_edit', event, method=short_name) }}">
                    <div class="i-badge-legend">
                        <span class="i-badge-legend-right i-payment-status-enabled">{% trans %}enabled{% endtrans %}</span>
                        <span class="i-badge-legend-right i-payment-status-disabled">{% trans %}disabled{% endtrans %}</span>
                    </div>
                    <div class="i-badge-content">
                        <span class="i-badge-img">
                            <img src="{{ plugin.logo_url }}">
                        </span>
                        <span class="i-badge-title">{{ plugin.title }}</span>
                    </div>
                </a>
            {%- endfor %}
        </div>
    {% endif %}

    <script>
        $('#toggle-payment').on('change', function() {
            this.form.submit();
        });

        $('.js-plugin-edit').ajaxDialog({
            title: $T('Payment method settings'),
            onClose: function closePluginDialog(data) {
                if (!data) { return; }

                var plugin = $('#plugin-' + data.plugin);
                plugin.toggleClass('i-payment-enabled', data.enabled);
                plugin.toggleClass('i-payment-disabled', !data.enabled);
            }
        });
    </script>
{% endblock %}
