{% extends 'admin/base.html' %}
{% from 'forms/form_widget.html' import form_header, form_rows, form_footer  %}

{% block title %}
    {% trans %}Agreement Upload{% endtrans %}
{% endblock %}

{% block subtitle %}
    {{ agreement.person_name }}
{% endblock %}

{% block content %}
    {{ form_header(id='agreement-upload-form', multipart=True) }}
    {{ form_rows(form) }}

    {% call form_footer() %}
        <input type="submit" class="i-button big highlight" value="{% trans %}Upload{% endtrans %}" disabled>
        <a href="#" class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</a>
    {% endcall %}

    <script>
        (function() {
            'use strict';
            function validate(form) {
                if (!form.find(':input[name=answer]:checked').length) {
                    return false;
                }
                var valid = true;
                form.find(':input').each(function() {
                    var $this = $(this);
                    if ($this.is(':checkbox:not(:checked)') || !$this.val()) {
                        valid = false;
                        return false;
                    }
                });
                return valid;
            }

            var form = $('#agreement-upload-form');
            form.on('change', ':input', function() {
                form.find('input:submit').prop('disabled', !validate(form));
            });
        })();
    </script>
{% endblock %}

