{% from 'events/display/_manage_button.html' import render_manage_button %}
{% from 'events/display/_common.html' import render_location %}
{% from 'events/timetable/display/_common.html' import render_description, render_time %}

{% macro render_break(item, event, parent=none, timezone=none, show_notes=true, hide_end_time=false, nested=false) %}
    <li class="timetable-item breakListItem">
        <span class="timetable-time {{ 'nested' if nested else 'top-level' }}">
            {{ render_time(item, timezone=timezone, hide_end_time=hide_end_time) }}
        </span>

        {% if not item.inherit_location and item.has_location_info -%}
            {{ render_location(item, parent=parent) }}
        {%- endif %}

        <span class="confModifPadding">
            <span class="{{ 'topLevelTitle' if not nested }} break">
                {{ item.title }}
            </span>
            {% if hide_end_time and item.duration -%}
                <em>{{ item.duration |format_human_timedelta }}</em>
            {%- endif %}
        </span>

        {% if item.description %}
            <span class="description">{{ render_description(item) }}</span>
        {% endif %}
    </li>
{% endmacro %}
