{% from 'events/display/_manage_button.html' import render_manage_button %}
{% from 'events/display/_common.html' import render_location %}
{% from 'events/timetable/display/_subcontribution.html' import render_subcontribution %}
{% from 'events/timetable/display/_common.html' import render_speakers, render_references, render_attachments,
                                                       render_notes, render_description, render_time %}

{% macro render_contribution(contrib, event, parent=none, nested=false, hide_end_time=false, timezone=none,
                             show_notes=false) -%}
    <li class="timetable-item timetable-contrib">
        <span class="timetable-time {{ 'nested' if nested else 'top-level' }}">
            {{ render_time(contrib, timezone=timezone, hide_end_time=hide_end_time) }}
        </span>

        <div class="timetable-item-body">
            <div class="timetable-item-header">
                <span class="timetable-title {{ 'nested' if nested }}">
                    {# TODO: remove '| safe' once we start enforcing no-HTML policy #}
                    {{- contrib.title | safe -}}
                </span>
                {% if contrib.duration -%}
                    <span class="icon-time timetable-duration">
                        {{- contrib.duration | format_timedelta(format='narrow') -}}
                    </span>
                {%- endif %}
                {% if not contrib.inherit_location and contrib.has_location_info -%}
                    {{ render_location(contrib, parent=parent) }}
                {%- endif %}
                <div class="timetable-item-actions">
                    {{ render_manage_button(contrib, 'CONTRIBUTION', show_notes=show_notes,
                                            show_button=(not event.as_legacy.isClosed() and
                                                         contrib.can_manage_attachments(session.user))) }}
                    {{ template_hook('vc-actions', event=event, item=contrib) }}
                </div>
            </div>

            {% if contrib.description %}
                {{ render_description(contrib, class='contrib-description') }}
            {% endif %}

            {% set speakers = contrib.person_links|selectattr("is_speaker")|list %}
            {% if speakers %}
                {{ render_speakers(speakers) }}
            {% endif %}

            {% if contrib.references -%}
                {{ render_references(contrib) }}
            {%- endif %}
            {{ render_attachments(contrib) }}

            {{ render_notes(contrib) }}

            {% if contrib.subcontributions %}
                <ul class="subcontrib-list">
                    {% for subcont in contrib.subcontributions %}
                        {{ render_subcontribution(subcont, event, show_notes=show_notes) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </li>
{%- endmacro %}
