{% extends 'events/registration/management/regform_actions/_base.html' %}

{% block label %}
    {% trans -%}
        Registrations are open
    {%- endtrans %}
{% endblock %}

{% block text %}
    {% if not regform.end_dt %}
        {% trans %}Close now or schedule the deadline.{% endtrans %}
    {% else %}
        {% set tz = regform.event_new.tzinfo %}
        {% trans date=regform.end_dt|format_date(timezone=tz), time=regform.end_dt|format_time(timezone=tz) -%}
            Scheduled to close on <strong>{{ date }}</strong> at <strong>{{ time }}</strong> ({{ tz }}).
        {%- endtrans %}
    {% endif %}
{% endblock %}

{% block buttons %}
    <div class="group">
        <a href="#" class="i-button icon-time js-regform-schedule-dialog"
           data-href="{{ url_for('.schedule_regform', regform) }}"
           data-title="{% trans %}Reschedule registrations{% endtrans %}">
            {% trans %}Reschedule{% endtrans %}
        </a>
    </div>
    {% block now_button %}
        <div class="group">
            <a href="#" data-href="{{ url_for('.close_regform', regform) }}" data-method="POST"
               class="i-button highlight">
                {% trans %}Close now{% endtrans %}
            </a>
        </div>
    {% endblock %}
{% endblock %}
