{% from 'message_box.html' import message_box %}

<div id="category-container">
    <div id="category-header">
        <h1 class="category-title">
            {{ category.title }}
            <span style="font-style: italic; font-size: 0.8em;">({% trans %}statistics{% endtrans %})</span>
        </h1>
        <a class="i-button icon-prev" style="margin-top:0.4em;" href="{{ category.url }}">
            {%- trans %}Category page{% endtrans -%}
        </a>
    </div>
    <div id="category-stats-root"
         class="category-stats-container"
         data-lang="{{ session.lang }}"
         data-category-id="{{ category.id }}">
    </div>
</div>
