{% macro render_displayed_entries_fragment(displayed_num, total_num) -%}
    <span id="filtering-state" class="i-button label icon-list"
          title="{% trans %}Displaying {{displayed_num}} out of {{total_num}} contributions{% endtrans %}">
        <strong>{{ displayed_num }}</strong> / {{ total_num }}
    </span>
{%- endmacro %}

{% macro render_contribution_list(event, timezone, contributions, with_session_info=true) %}
    {% for contrib in contributions -%}
        <div class="contribution-row" data-friendly-id="{{ contrib.friendly_id }}">
            <div class="contrib-title info" data-searchable="{{ contrib.title }}">
                <span class="value">
                    <a href="{{ url_for('contributions.display_contribution', contrib) }}">{{ contrib.title }}</a>
                </span>
            </div>
            {% if contrib.description -%}
                <div class="info">
                    <span class="label">{% trans %}Description{% endtrans %}</span>
                    <span class="value">{{ contrib.description }}</span>
                </div>
            {%- endif %}
            {% if contrib.track -%}
                <div class="info" data-searchable="{{ contrib.track.title }}">
                    <span class="label">{% trans %}Track:{% endtrans %}</span>
                    <span class="value">{{ contrib.track.title }}</span>
                </div>
            {%- endif %}
            {% if contrib.type -%}
                <div class="info" data-searchable="{{ contrib.type.name }}">
                    <span class="label">{% trans %}Type:{% endtrans %}</span>
                    <span class="value">{{ contrib.type.name }}</span>
                </div>
            {%- endif %}
            {% if contrib.session and with_session_info -%}
                <div class="info" data-searchable="{{ contrib.session.title }}">
                    <span class="label">{% trans %}Session:{% endtrans %}</span>
                    <span class="value">
                        <a href="{{ url_for('sessions.display_session', contrib.session) }}">{{ contrib.session.title }}</a>
                        <span class="session-bg-color" style="background: #{{ contrib.session.colors.background }};"></span>
                    </span>
                </div>
            {%- endif %}
            {% if contrib.speakers -%}
                <div class="info contrib-speakers">
                    <span class="label">{% trans %}Presented by{% endtrans %}</span>
                    <span class="value">
                        <strong>{{- contrib.speakers|map(attribute='full_name')|join(', ') -}}</strong>
                        {% if contrib.timetable_entry -%}
                            {% trans start_dt = contrib.timetable_entry.start_dt|format_date(format='full', timezone=timezone),
                                     start_time = contrib.timetable_entry.start_dt|format_time(format='medium', timezone=timezone) %}
                                on <strong>{{ start_dt }}</strong>
                                at <strong>{{ start_time }}</strong>
                            {% endtrans %}
                        {%- endif %}
                    </span>
                </div>
            {%- endif %}
        </div>
    {%- endfor %}
{% endmacro %}
