{% extends 'layout/conference_page_base.html' %}

{% from 'events/display/common/_conferences.html' import render_attachments %}
{% from 'events/display/indico/_common.html' import render_location, render_users, render_speakers %}
{% from 'events/papers/_contributions.html' import render_paper_section %}

{% block page_class %}conference-page item-summary{% endblock %}

{% macro _render_field_value(field_value) -%}
    {% set field = field_value.contribution_field %}
    <tr>
        <th>{{ field.title }}</th>
        <td>
            {% if field.field_type == 'text' %}
                {{ field_value.data }}
            {% elif field.field_type == 'single_choice' %}
                {{ field_value.friendly_data }}
            {% endif %}
        </td>
    </tr>
{%- endmacro %}

{% macro render_author_list(authors) %}
    <div class="speaker-list">
        {% call(user_data) render_users(authors|sort(attribute='display_order_key'), separator='') %}
            <span itemprop="performers" itemscope itemtype="http://schema.org/Person" class="speaker-item icon-user">
                {% if user_data.title -%}
                    <span class="speaker-title">
                        {{ user_data.title }}
                    </span>
                {%- endif %}
                <a href="{{ url_for('contributions.display_author', user_data) }}">
                    <span>{{ user_data.display_full_name }}</span>
                </a>
                {% if user_data.affiliation -%}
                    <span class="affiliation">
                        (<span class="text">{{ user_data.affiliation }}</span>)
                    </span>
                {%- endif %}
            </span>
        {% endcall %}
    </div>
{% endmacro %}

{% block title -%}
    <span class="js-mathjax">{{ contribution.title }}</span>
{%- endblock %}

{% block info -%}
    <div class="flexrow f-j-space-between">
        <div>
            <div class="time-data">
                <i class="icon-calendar header-data"></i>
                <span class="time-info">
                    {%- if contribution.timetable_entry %}
                        {{- contribution.timetable_entry.start_dt|format_datetime(timezone=contribution.event_new.display_tzinfo) -}}
                    {% else %}
                        {%- trans %}Not scheduled{% endtrans -%}
                    {% endif -%}
                </span>
            </div>
            {% if contribution.timetable_entry -%}
                <div class="time-data">
                    <i class="icon-time header-data"></i>
                    <span class="time-info" title="{% trans %}Duration{% endtrans %}">
                        {{ contribution.timetable_entry.duration|format_human_timedelta(narrow=true) }}
                    </span>
                </div>
            {%- endif %}
            {% if contribution.has_location_info %}
                <div class="location-data">
                    {{ render_location(contribution, class='contribution-location') }}
                </div>
            {% endif %}
            {% if contribution.board_number -%}
                <div class="board-data">
                    <i class="icon-price-tag header-data"></i>
                    <span class="board-info">
                        {% trans board_number=contribution.board_number %}Board: {{ board_number }}{% endtrans %}
                    </span>
                </div>
            {%- endif %}
        </div>
        <div>
            {% if contribution.type -%}
                <span class="contrib-type">
                    {{ contribution.type.name }}
                </span>
            {%- endif %}
            {% if contribution.track -%}
                <span class="icon-stack contrib-track">
                    {{ contribution.track.title }}
                </span>
            {%- endif %}
            {% if contribution.session -%}
                <span class="contrib-session" style="{{ contribution.session.colors.css }}">
                    <a href="{{ url_for('sessions.display_session', contribution.session) }}"
                       style="color: #{{ contribution.session.colors.text }}">{{ contribution.session.title }}</a>
                </span>
            {%- endif %}
        </div>
    </div>
{%- endblock %}

{% block page_actions -%}
    <div class="toolbar">
        {% if contribution.can_manage(session.user) -%}
            <a href="#" class="i-button icon-edit"
               data-title="{% trans %}Edit contribution{% endtrans %}"
               data-href="{{ url_for('contributions.manage_update_contrib', contribution) }}"
               data-ajax-dialog
               data-reload-after></a>
        {%- endif %}
        <a href="{{ url_for('contributions.export_pdf', contribution) }}" class="i-button icon-file-pdf"></a>
        {% if contribution.timetable_entry -%}
            {% if g.static_site %}
                <a href="{{ url_for('contributions.export_ics', contribution) }}"
                   class="i-button icon-calendar"></a>
            {% else %}
                <a id="exportIcal{{ contribution.id }}" href="#"
                   class="i-button icon-calendar js-export-ical"
                   data-id="{{ contribution.id }}"></a>
            {% endif %}
        {%- endif %}

        {% if contribution.timetable_entry -%}
            {% with item=contribution, ics_url=url_for('contributions.export_ics', contribution) -%}
                {% include 'events/contributions/display/contribution_ical_export.html' %}
            {%- endwith %}
        {%- endif %}
    </div>
{%- endblock %}

{% block content -%}
    {% if contribution.speakers %}
        {{- render_speakers(contribution) -}}
    {% endif %}

    {% if contribution.description %}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>{% trans %}Description{% endtrans %}</h3>
                </div>
            </div>
            <div class="description js-mathjax">
                {{ contribution.description }}
            </div>
        </section>
    {% endif %}

    {% for field_value in contribution.field_values %}
        {% set field = field_value.contribution_field %}
        {% if field.field_type == 'text' and field.field_data.multiline and field_value.data and field.is_active %}
            <h3>{{ field.title }}</h3>
            <div id="field-{{ field.id }}">
                {{ field_value.data | markdown }}
            </div>
        {% endif %}
    {% endfor %}

    <table class="other-fields">
        {% for field_value in contribution.field_values %}
            {% set field = field_value.contribution_field %}
            {% if (field.field_type == 'single_choice' or not field.field_data.multiline) and field_value.data and field.is_active %}
                {{ _render_field_value(field_value) }}
            {% endif %}
        {% endfor %}
    </table>

    {% if contribution.primary_authors %}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>
                        {% trans count=contribution.primary_authors|length -%}
                            Primary author
                        {%- pluralize -%}
                            Primary authors
                        {%- endtrans %}
                    </h3>
                </div>
            </div>
            {{ render_author_list(contribution.primary_authors) }}
        </section>
    {% endif %}

    {% if contribution.secondary_authors %}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>
                        {% trans count=contribution.secondary_authors -%}
                            Co-author
                        {%- pluralize -%}
                            Co-authors
                        {%- endtrans %}
                    </h3>
                </div>
            </div>
            {{ render_author_list(contribution.secondary_authors) }}
        </section>
    {% endif %}

    {{ render_attachments(contribution) }}

    {% if contribution.subcontributions -%}
        <section>
            <div class="header">
                <div class="header-row">
                    <h3>{% trans %}Subcontributions{% endtrans %}</h3>
                </div>
            </div>
            <div class="i-box no-padding">
                <div class="i-box-content">
                    <ul class="group-list no-content-before with-buttons">
                        {% for subcontrib in contribution.subcontributions -%}
                            <li class="flexrow f-j-space-between">
                                <span class="text">
                                    <a class="js-mathjax"
                                       href="{{ url_for('contributions.display_subcontribution', subcontrib) }}">
                                        {{- subcontrib.title -}}
                                    </a>
                                </span>
                                {% if subcontrib.can_manage(session.user) -%}
                                    <span>
                                        <a href="#" class="icon-edit"
                                           data-href="{{ url_for('contributions.manage_edit_subcontrib', subcontrib) }}"
                                           data-title="{% trans title=subcontrib.title %}Edit subcontribution '{{ title }}'{% endtrans %}"
                                           data-ajax-dialog
                                           data-reload-after></a>
                                    </span>
                                {%- endif %}
                            </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {%- endif %}
    {% if contribution.event_new.has_feature('papers') %}
        {{ render_paper_section(contribution) }}
    {% endif %}
    <script>
        setupAttachmentTreeView();
    </script>
{%- endblock %}
