{% extends '_ical_export.html' %}

{% block download_text %}{% trans %}Download current contribution:{% endtrans %}{% endblock %}
{% block javascript %}
    {{ super() }}

    <script>
        exportPopups["{{ item.id }}"] = new ExportIcalInterface(
            {{ api_mode|tojson }}, {{ persistent_user_enabled|tojson }},
            {{ persistent_allowed|tojson }}, {{ api_active|tojson }}, {{ user_logged|tojson }}, setURLs,
            {{ url_for('api.build_urls')|tojson }}, {confId: "{{ item.event_new.id }}", contribId: "{{ item.id }}"},
            {{ request_urls|tojson }}, "{{ item.id }}", "{{ session.user.full_name if session.user else '' }}"
        );
    </script>
{% endblock %}
