{% extends 'layout/conference_page_base.html' %}

{% from 'events/display/common/_conferences.html' import render_attachments %}
{% from 'events/display/indico/_common.html' import render_location, render_users %}

{% block page_class %}conference-page item-summary{% endblock %}

{% block title -%}
    <span class="js-mathjax">{{ subcontrib.title }}</span>
{%- endblock %}

{% block subtitle -%}
    <a href="{{ url_for('contributions.display_contribution', subcontrib.contribution) }}">
        {{ subcontrib.contribution.title }}
    </a>
{%- endblock %}

{% block description %}
    <div class="time-data">
        <span class="time-info icon-time">
            {% if subcontrib.timetable_entry -%}
                {{ subcontrib.timetable_entry.start_dt|format_datetime }}
            {%- else -%}
                {% trans %}Not scheduled{% endtrans %}
            {%- endif %}
        </span>
    </div>
{% endblock %}

{% block page_actions -%}
    <div class="toolbar right">
        {% if subcontrib.can_manage(session.user) -%}
            <a href="#" class="i-button icon-edit"
               data-title="{% trans title=subcontrib.title %}Edit subcontribution '{{ title }}'{% endtrans %}"
               data-href="{{ url_for('.manage_edit_subcontrib', subcontrib) }}"
               data-ajax-dialog
               data-reload-after></a>
        {%- endif %}
    </div>
{%- endblock %}

{% block content -%}
    <div class="item-text">
        <div class="infogrid condensed">
            {% if subcontrib.speakers %}
                <h3>
                    {%- trans count=subcontrib.speakers|length -%}
                        Speaker
                    {%- pluralize -%}
                        Speakers
                    {%- endtrans -%}
                </h3>
                <div class="speaker-list">
                    {{ render_users(subcontrib.speakers|sort(attribute='full_name'),
                                    span_class='speaker-item icon-user', separator='') }}
                </div>
            {% endif %}
        </div>
        {% if subcontrib.description %}
            <h3>{% trans %}Description{% endtrans %}</h3>
            <div class="description js-mathjax">
                {{ subcontrib.description }}
            </div>
        {% endif %}
    </div>


    {{ render_attachments(subcontrib) }}

    <script>
        setupAttachmentTreeView();
    </script>
{%- endblock %}
