{% import 'events/registration/_stats_table_macros.html' as stats_table %}
<div class="i-box titled registrant-stats">
    <div class="i-box-header">
        <div class="i-box-title">{{ data.title }}</div>
        {% if data.show_currency_info -%}
            <div class="i-box-header-text currency-info" title="{% trans %}Currency:{% endtrans %} {{get_currency_name(data.currency, locale=session.lang) }}">{{ data.currency }}</div>
        {%- endif %}
        <div class="i-box-header-text headline">{{ data.headline|safe }}</div>
    </div>
    <div class="i-box-content">
        {%- block content scoped -%}{%- endblock -%}
    </div>
</div>
