{% extends 'events/registration/_stats_box.html' %}
{% block content -%}
{% set height = data.countries|length * 24 + 28 %}
    <div class="i-badges-list i-stats">
        <div class="i-badge">
            <div class="i-badge-content">
                <span class="i-badge-value" data-value="{{ data.registrants|length }}"></span>
                <span class="i-badge-title">{% trans %}Registrants{% endtrans %}</span>
            </div>
        </div>
        <div class="i-badge">
            <div class="i-badge-content">
                <span class="i-badge-value" data-value="{{ data.days_left }}"></span>
                <span class="i-badge-title">{% trans %}Days left<br>to register{% endtrans %}</span>
            </div>
        </div>
        {% set taken, total, progress = data.availability %}
        <div class="i-badge">
            <div class="i-badge-content">
                <span class="i-badge-value" {% if data.num_countries %} data-value="{{ data.num_countries}}" {% endif %}>
                    {% if not data.num_countries %} &ndash; {% endif %}
                </span>
                <span class="i-badge-title">{% trans %}Countries{% endtrans %}</span>
            </div>
        </div>
    </div>
    {%- if total > 0 -%}
        <div class="stats-item">
            <span>{% trans %}Availability{% endtrans %}</span>
            <span>
                <span class="i-progress">
                    <span class="i-progress-bar" data-progress={{ '{:%}'.format(progress) }}></span>
                    <span class="i-progress-label">
                        {%- if total == taken %}
                            {%- trans %}event full{% endtrans -%}
                        {%- else -%}
                            {%- trans places=total-taken %}{{ places }} places available{% endtrans -%}
                        {% endif -%}
                    </span>
                </span>
            </span>
        </div>
    {% endif %}
     {% if data.num_countries %}
        <div class="stats-item">
            <span>{% trans %}Registrants per country{% endtrans %}</span><span></span>
        </div>
        <div id="countriesPlot" style="width:500px; height:{{height}}px;"></div>
        <script>
            $(document).ready(function generateBasicStats() {
                var countries = {{ data.countries|tojson }};
                var countriesPlot = $.jqplot('countriesPlot', [countries], {
                    animate: !$.jqplot.use_excanvas,
                    animateReplot: !$.jqplot.use_excanvas,
                    grid: { shadow: false },
                    height: {{ height }},
                    seriesDefaults: {
                        renderer: $.jqplot.BarRenderer,
                        rendererOptions: {
                            animation: { speed: 1000 },
                            barDirection: 'horizontal',
                            barWidth: 18,
                            shadow: true,
                            shadowOffset: 1,
                            shadowDepth: 3,
                            highlightColors: '#0085B9'
                        },
                        pointLabels: {
                            show: true,
                            location: 'w',
                            xpadding: 4,
                            edgeTolerance: -2
                        }
                    },
                    seriesColors: ['#007CAC'],  // indico blue
                    highlighter: {
                        show: true,
                        showMarker: false,
                        showTooltip: false
                    },
                    axes: {
                        yaxis: {
                            pad: 8,
                            renderer: $.jqplot.CategoryAxisRenderer,
                            labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            tickOptions: {
                                showGridline: false,
                                markSize: 0,
                                tickSpacing: 24,
                                showLabel: true
                            }
                        },
                        xaxis: {
                            min: 0,
                            padMax: 0,
                            tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                            tickOptions: { markSize: 0 }
                        }
                    },
                    legend: { show: false }
                });
            });
        </script>
    {% endif %}
{%- endblock %}
