{% extends 'layout/conference_page_base.html' %}
{% from 'events/management/_lists.html' import render_displayed_entries_fragment %}
{% from 'events/papers/_paper_list.html' import render_paper_assignment_list %}


{% block title %}
    {%- trans %}Judging Area{% endtrans -%}
{% endblock %}

{% block description %}
    {%- trans %}The judging area shows the papers for which you are a judge. It allows you to assign reviewers and judge papers.{% endtrans -%}
{% endblock %}

{% block content %}
    <div class="toolbars space-after">
        <div class="toolbar">
            <a class="i-button icon-checkbox-checked arrow js-dropdown" data-toggle="dropdown"></a>
            <ul class="dropdown">
                <li>
                    <a href="#" data-select-all="#assignment-list input:checkbox">{% trans %}All{% endtrans %}</a>
                </li>
                <li>
                    <a href="#" data-select-none="#assignment-list input:checkbox">{% trans %}None{% endtrans %}</a>
                </li>
            </ul>
            <button class="i-button icon-settings js-dialog-action js-customize-list highlight"
                    data-href="{{ url_for('.customize_paper_list', event) }}"
                    data-title="{% trans %}Customize list{% endtrans %}"
                    data-dialog-classes="list-filter-dialog"
                    data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                    data-ajax-dialog>
                {%- trans %}Customize list{% endtrans -%}
            </button>
            <a class="i-button arrow js-dropdown js-enable-if-checked disabled" data-toggle="dropdown">
                {%- trans %}Assign{% endtrans -%}
            </a>
            <ul class="dropdown">
                {% if event.cfp.content_reviewing_enabled %}
                    <li>
                        <a class="js-requires-selected-row disabled"
                           data-title="{% trans %}Assign content reviewers to selected contributions{% endtrans %}"
                           data-href="{{ url_for('.assign_papers', event, role='content_reviewer') }}"
                           data-params-selector="#assignment-list input[name=contribution_id]:checked"
                           data-method="POST"
                           data-reload-after
                           data-ajax-dialog>
                            {%- trans %}Content reviewers{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if event.cfp.layout_reviewing_enabled %}
                    <li>
                        <a class="js-requires-selected-row disabled"
                           data-title="{% trans %}Assign layout reviewers to selected contributions{% endtrans %}"
                           data-href="{{ url_for('.assign_papers', event, role='layout_reviewer') }}"
                           data-params-selector="#assignment-list input[name=contribution_id]:checked"
                           data-method="POST"
                           data-reload-after
                           data-ajax-dialog>
                            {%- trans %}Layout reviewers{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <a class="i-button arrow js-dropdown js-enable-if-checked disabled" data-toggle="dropdown">
                {%- trans %}Unassign{% endtrans -%}
            </a>
            <ul class="dropdown">
                {% if event.cfp.content_reviewing_enabled %}
                    <li>
                        <a class="js-requires-selected-row disabled"
                           data-title="{% trans %}Unassign content reviewers from selected contributions{% endtrans %}"
                           data-href="{{ url_for('.unassign_papers', event, role='content_reviewer') }}"
                           data-params-selector="#assignment-list input[name=contribution_id]:checked"
                           data-method="POST"
                           data-reload-after
                           data-ajax-dialog>
                            {%- trans %}Content reviewers{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                {% if event.cfp.layout_reviewing_enabled %}
                    <li>
                        <a class="js-requires-selected-row disabled"
                           data-title="{% trans %}Unassign layout reviewers from selected contributions{% endtrans %}"
                           data-href="{{ url_for('.unassign_papers', event, role='layout_reviewer') }}"
                           data-params-selector="#assignment-list input[name=contribution_id]:checked"
                           data-method="POST"
                           data-reload-after
                           data-ajax-dialog>
                            {%- trans %}Layout reviewers{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <a class="i-button icon-hammer arrow js-dropdown js-enable-if-checked disabled" data-toggle="dropdown">
                {%- trans %}Judge{% endtrans -%}
            </a>
            <ul class="dropdown">
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.judge_papers', event) }}"
                       data-title="{% trans %}Accept selected papers{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "accept"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}Accepted{% endtrans -%}
                    </a>
                </li>
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.judge_papers', event) }}"
                       data-title="{% trans %}Reject selected papers{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "reject"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}Rejected{% endtrans -%}
                    </a>
                </li>
                <li>
                    <a class="js-requires-selected-row js-dialog-action"
                       data-href="{{ url_for('.judge_papers', event) }}"
                       data-title="{% trans %}Mark selected papers as to be corrected{% endtrans %}"
                       data-params-selector="#assignment-list input[name=contribution_id]:checked"
                       data-params='{"judgment": "to_be_corrected"}'
                       data-update='{"html": "#assignment-list", "filter_statistics": "#filter-statistics"}'
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}To be corrected{% endtrans -%}
                    </a>
                </li>
            </ul>
            <a href="#" class="i-button icon-attachment js-requires-selected-row js-submit-list-form disabled"
               data-href="{{ url_for('.download_papers', event) }}">
                {%- trans %}Download papers{%- endtrans %}
            </a>
        </div>
        <div class="toolbar">
            <div id="filter-statistics">
                {{ render_displayed_entries_fragment(contribs|length, total_entries) }}
            </div>
            <div class="group">
                <span class="i-button label icon-search"></span>
                <input type="text" id="search-input" placeholder="{% trans %}Enter #id or search string{% endtrans %}">
            </div>
        </div>
    </div>
    <div class="list" id="assignment-list">
        {{ render_paper_assignment_list(event, total_entries, contribs, static_columns) }}
    </div>
    <div id="filter-placeholder"></div>
    <script>
        {% if selected_entry %}
            $('#search-input').val('#{{ selected_entry }}').trigger('change');
        {% endif %}
        setupPaperAssignmentList();
    </script>
{% endblock %}
