{% macro login_form(provider, form) %}
    <form method="post" id="login-form">
        <input type="hidden" name="_provider" value="{{ provider.name }}">
        <input type="submit" id="hidden-submit" style="display: none;">
        {% for field in (form.visible_fields if form.visible_fields is defined else form) %}
            {{ field(placeholder=field.label.text, required=field.flags.required) }}
        {% endfor %}
        {% if provider.name == 'indico' or provider.settings.reset_password_url %}
            <div class="forgot-my-password">
                {% set url = url_for('.resetpass') if provider.name == 'indico' else provider.settings.reset_password_url %}
                <a href="{{ url }}">{% trans %}Forgot my password{% endtrans %}</a>
            </div>
        {% endif %}
    </form>
{% endmacro %}
