{% extends 'base.html' %}

{% block head %}
    {% assets 'auth_sass' -%}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="main">
            <div class="fixed-width-page layout-wrapper login-page">
                <div class="middle">
                    <div class="centered-column-wrapper">
                        <div class="centered-column">
                            <div class="login-container clearfix">
                                <a class="logo" href="http://indico.cern.ch">
                                    <img class="header-logo" src="/images/logo_indico.png">
                                </a>
                                {% include 'flashed_messages.html' %}
                                <div id="form-wrapper">
                                    <!-- Ajax form goes here -->
                                </div>
                                <button class="i-button login-form-button" data-provider="{{ default_provider.title }}" data-href="{{ url_for('auth.login_form', provider=default_provider.name) }}">{% trans %}Login with {% endtrans %}{{ default_provider.title }}</button>
                            </div>
                            {% if indico_config.LocalIdentities %}
                                <div class="seperator-line-center">
                                    <span class="seperator-text">{% trans %}or change authentication provider{% endtrans %}</span>
                                </div>
                                <div class="login-providers providers-with-form">
                                    {% for provider in providers|sort(attribute='title') if provider.login_form and not provider.default %}
                                        <button class="i-button provider-with-form" data-provider="{{ provider.title }}" data-href="{{ url_for('auth.login_form', provider=provider.name) }}">{{ provider.title }}</button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="seperator-line-center">
                                <span class="seperator-text">{% trans %}or connect with{% endtrans %}</span>
                            </div>
                            <div class="login-providers external">
                                {% for provider in providers|sort(attribute='title') if not provider.login_form%}
                                    <a href="{{ url_for('auth.login_external', provider=provider.name, next=next) }}" class="i-button external-provider-{{ provider.name }}">{{ provider.title }}</a>
                                {% endfor %}
                            </div>
                            <p class="register">
                                {% trans url=url_for('.register', next=next) -%}
                                    If you do not have an Indico account yet, you can <a href="{{ url }}">create one here</a>.
                                {%- endtrans %}
                            </p>
                            <div class="link">
                                <a class="icon-prev" href="/">{% trans %}Back{% endtrans %}</a>
                            </div>
                        </div>
                        <div id="footer" class="footer footerCERN">
                            <div id="policyOfUse">
                                <h1>{% trans %}Policy of Use{% endtrans %}</h1>
                                {% trans mailto='mailto:indico-support@cern.ch' -%}
                                    If you want to use it for CERN-related projects, please contact{% endtrans %} <a href="{{ mailto }}"> {% trans %}Indico support.
                                {%- endtrans %}
                                {% trans url='http://cern.ch/indico' -%}
                                    Non-CERN institutes may install the Indico software locally under GNU General Public License
                                    (see the {% endtrans %}<a href="{{ url }}">{% trans %}project web site.
                                {%- endtrans %}
                            </div>

                            <a id="cern_link" href="http://cern.ch">
                                <img src="/images/cern_small.png" alt="Indico" class="cern_logo" style="vertical-align: middle; margin: 15px;">
                            </a>
                            <div class="text">{% trans %}Powered by{% endtrans %}  <a href="http://indico-software.org">Indico</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function() {
            'use strict';

            function submit_form() {
                $('#hidden-submit').click();
            }

            $('.login-page').on('click', '.i-button.login-form-button', submit_form);

            function load_login_form(url) {
                $.ajax({
                    url: url,
                    success: function(data) {
                        $('#form-wrapper').html(data);
                    }
                });
            }

            load_login_form({{ url_for('auth.login_form', provider=default_provider.name) | tojson }});

            $('.login-page').on('click', '.i-button.provider-with-form', function() {
                var new_login = $(this);
                var old_login = $('.login-form-button');
                var new_login_btn_pos = new_login.offset().top
                var old_login_btn_pos = old_login.offset().top;
                var diff = old_login_btn_pos - new_login_btn_pos
                new_login.animate({ top: "+=" + diff });
                new_login.addClass('login-form-button');
                new_login.removeClass('provider-with-form');
                old_login.animate({ top: "-=" + diff });
                old_login.addClass('provider-with-form');
                old_login.removeClass('login-form-button');

                new_login.text($T('Login with {0}').format(new_login.data('provider')))
                old_login.text(old_login.data('provider'));

                load_login_form(new_login.data('href'));
            });
        })();
    </script>
{% endblock %}
