{% block page %}
    <div class="{% block page_class %}management-page{% endblock %}"
         {% if self.page_id()|trim %}id="{% filter trim %}{% block page_id %}{% endblock %}{% endfilter %}"{% endif %}>
        {% if self.title() %}
            <header>
                {% if self.back_button_url()|trim %}
                    <a href="{% filter trim %}{% block back_button_url %}{% endblock %}{% endfilter %}"
                       class="icon-prev back-button"
                       title="{% if self.back_button_title() %}{% block back_button_title %}{% endblock %}{% else %}{% trans %}Back{% endtrans %}{% endif %}">
                    </a>
                {% endif %}
                <div class="title">
                    <div class="text">
                        <div class="title-with-actions">
                            <h2>
                                {%- block title %}{% endblock -%}
                            </h2>
                            {%- if self.title_actions -%}
                                <div class="actions">
                                    {% block title_actions %}{% endblock %}
                                </div>
                            {%- endif -%}
                        </div>
                        {% if self.subtitle() -%}
                            <h3>{% block subtitle %}{% endblock %}</h3>
                        {% endif %}
                    </div>
                    {% if self.page_actions() %}
                        <div class="actions">
                            {% block page_actions %}{% endblock %}
                        </div>
                    {% endif %}
                </div>
                {% if self.description() -%}
                    <div class="page-description">
                        {% block description %}{% endblock %}
                    </div>
                {% endif %}
                {% if self.info() %}
                    <div class="page-info">
                        {% block info %}{% endblock %}
                    </div>
                {% endif %}
            </header>
        {% endif %}
        <div class="{% block page_content_class %}page-content{% endblock %}">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
