{% block page %}
    <div class="management-page">
        <header>
            <div class="title">
                <h2>{% block title %}{% endblock %}</h2>
                {% if self.subtitle() -%}
                    <h3>{% block subtitle %}{% endblock %}</h3>
                {% endif %}
            </div>
            {% if self.description() -%}
                <div class="description">
                    {% block description %}{% endblock %}
                </div>
            {% endif %}
        </header>
        <div class="page-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
