{% extends 'emails/base_i18n.html' %}

{% block subject -%}
    [{{ plugin.friendly_name }}] {% trans %}New videoconference created:{% endtrans %} {{ vc_room.name }}
{%- endblock %}

{% block header -%}
<p>
    {% trans link='<a href="%s">'|format(event.external_url)|safe, endlink='</a>'|safe, title=event.title -%}
        A videoconferencing room has just been created for the event "{{ link }}{{ title }}{{ endlink }}".
    {%- endtrans %}
</p>

<p>
    {% trans %}You can manage it from:{% endtrans %}
    <br>
    <a href="{{ url_for('.manage_vc_rooms', event, _external=true) }}">
        {{ url_for('.manage_vc_rooms', event, _external=true) }}
    </a>
</p>
<br>
<p>
    <strong>{% trans %}Room information{% endtrans %}</strong>
    <br>
    <ul>
        <li><strong>{% trans %}Name:{% endtrans %}</strong> {{ vc_room.name }}</li>
        {% if vc_room_event.link_type.name != 'event' -%}
          <li><strong>{% trans %}Linked to:{% endtrans %}</strong> {{ linked_to_title }}</li>
        {%- endif %}
        {% block plugin_specific_info %}{% endblock %}
    </ul>
</p>

{% block custom_footer %}{% endblock %}

{%- endblock %}
