@import 'partials/buttons';
@import 'partials/core';
@import 'partials/dashboard';
@import 'partials/dialogs';
@import 'partials/icons';
@import 'partials/lists';
@import 'partials/inputs';
@import 'partials/qtips';
@import 'partials/tables';
@import 'partials/toolbars';
@import 'partials/fonts';
@import 'partials/messageboxes';
@import 'partials/typography';
