{% from 'forms/_form.html' import form_header, form_footer, form_rows, form_row, form_fieldset %}
{% set category = {'id': form.category.data.id,
                   'is_protected': form.category.data.is_protected,
                   'title': form.category.data.title} if form.category.data else none %}

{{ form_header(form, action=url_for('events.create', event_type=event_type)) }}
{{ form_row(form.category, orientation=('hidden' if single_category else '')) }}
{{ form_rows(form, fields=form._field_order) }}
{% if form._advanced_field_order %}
    {% call form_fieldset(_('Advanced'), collapsible=true) %}
        {{ form_rows(form, fields=form._advanced_field_order) }}
    {% endcall %}
{% endif %}
{% call form_footer(form) %}
    <input class="i-button big highlight" type="submit" value="{% trans %}Create event{% endtrans %}"
           data-disabled-until-change>
    <button type="button" class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</button>
{% endcall %}

{#
Those messages are similar to those in _protection_messages.html but can be used
purely client-side and are worded for event creation instead of being generic.
#}
<script type="text/html" id="event-creation-protection-messages">
    <div class="action-box for-form protection-message public-protection-message accept">
        <div class="section">
            <div class="icon icon-unlocked"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Public{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        The event will be publicly accessible since it is set as public.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>

    <div class="action-box for-form protection-message protected-protection-message danger">
        <div class="section">
            <div class="icon icon-lock"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Protected{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        The event will <strong>only</strong> be accessible by the <strong>managers</strong> of
                        <strong>parent categories</strong> and users you give access to.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>

    <div class="action-box for-form protection-message inheriting-protected-protection-message warning">
        <div class="section">
            <div class="icon icon-lock"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Protected{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        This event will not be publicly accessible since the category <strong class="js-category-title"></strong> is protected.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>

    <div class="action-box for-form protection-message inheriting-public-protection-message accept">
        <div class="section">
            <div class="icon icon-unlocked"></div>
            <div class="text">
                <div class="label">
                    {% trans %}Public{% endtrans %}
                </div>
                <div>
                    {% trans -%}
                        This event will be publicly accessible since the category <strong class="js-category-title"></strong> is not protected.
                    {%- endtrans %}
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    setupEventCreationDialog({
        categoryField: $('#{{ form.category.id }}'),
        protectionModeFields: $('input[name={{ form.protection_mode.name }}][id^={{ form.protection_mode.id }}]'),
        initialCategory: {{ category | tojson }}
    });

    _.defer(function() {
        $('#{{ form.title.id }}').focus();
    });
</script>

{% if check_room_availability %}
    <script>
        var rbExcludedCategories = {{ rb_excluded_categories | tojson }}
        var serverDefaultTimezone = '{{ indico_config.DEFAULT_TIMEZONE }}';
        var availabilityDisplayed = false;
        var previousRoomId;
        var $currentMessage;

        var startDt;
        var endDt;
        var category;
        var roomData;
        var timezone;
        var category;

        var $createBookingSwitch = $('#create-booking');
        var $availableMessage = $('#room-available');
        var $conflictBookingMessage = $('#room-conflict-booking');
        var $conflictPrebookingMessage = $('#room-conflict-prebooking');

        function setLectureTimes(occurrences){
            if (occurrences.length === 1) {
                var occurrence = occurrences[0];
                startDt = moment(occurrence['date'] + " " + occurrence['time'], 'DD-MM-YYYY HH:mm');
                endDt = moment(startDt).add(occurrence['duration'], 'minutes');
            }
        }

        function initValues() {
            var startDate = $('#event-creation-start_dt-date').val();
            var startTime = $('#event-creation-start_dt-time').val();
            var endDate = $('#event-creation-end_dt-date').val();
            var endTime = $('#event-creation-end_dt-time').val();
            var occurrences = $('#event-creation-occurrences').val();

            roomData = JSON.parse($("#event-creation-location_data").val());
            timezone = $('#event-creation-timezone').val();
            category = JSON.parse($("#event-creation-category").val());

            if (occurrences) {
                setLectureTimes(JSON.parse(occurrences));
            } else {
                startDt = moment(startDate + " " + startTime, 'DD/MM/YYYY HH:mm');
                endDt = moment(endDate + " " + endTime, 'DD/MM/YYYY HH:mm');
            }
        }

        initValues();

        function isCategoryExcluded(categoryId) {
            var isExcluded = false;
            rbExcludedCategories.forEach( function (excludedCategory) {
                if (parseInt(excludedCategory.id) === categoryId) {
                    isExcluded = true;
                }
            });
            return isExcluded;
        }

        function updateAvailability() {
            if ($currentMessage) {
                $currentMessage.hide();
            }
            if (isCategoryExcluded(category['id'])) { return; }
            if (!startDt.isSame(endDt, 'day')) { return; }
            if (!('room_id' in roomData)) { return; }
            if (timezone !== serverDefaultTimezone) {return; }

            var roomId = roomData['room_id'];
            previousRoomId = roomId;

            var requestParams = {
                room_id: roomId,
                start_dt: startDt.format('DD/MM/YYYY HH:mm:ss'),
                end_dt: endDt.format('DD/MM/YYYY HH:mm:ss')
            };

            $.ajax({
                url: build_url(Indico.Urls.RoomBooking.room.check_available, requestParams),
                method: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                error: handleAjaxError,
                success: function(data) {
                    if (data['conflict_booking']){
                        $currentMessage = $conflictBookingMessage;
                    } else if (data['conflict_prebooking']){
                        $currentMessage = $conflictPrebookingMessage;
                    } else {
                        $currentMessage = $availableMessage;
                    }
                    $currentMessage.show();
                }
            });
        }

        $("#event-creation-location_data").change(function() {
            roomData = JSON.parse($(this).val());
            if (previousRoomId !== roomData['room_id']) {
                updateAvailability();
            }
        });

        $('#event-creation-start_dt-date').change(function() {
            var startDate = $(this).val();
            var startTime = $('#event-creation-start_dt-time').val();
            var endDate = $('#event-creation-end_dt-date').val();
            var endTime = $('#event-creation-end_dt-time').val();
            startDt = moment(startDate + " " + startTime, 'DD/MM/YYYY HH:mm');
            endDt = moment(endDate + " " + endTime, 'DD/MM/YYYY HH:mm');
            // workaround for automatic end date update if start date is after end date
            if (endDt.isBefore(startDt)) {
                endDt = moment(startDate + " " + endTime, 'DD/MM/YYYY HH:mm');
            }
            updateAvailability();
        });

        $('#event-creation-start_dt-time').change(function() {
            var startDate = $('#event-creation-start_dt-date').val();
            var startTime = $('#event-creation-start_dt-time').val();
            startDt = moment(startDate + " " + startTime, 'DD/MM/YYYY HH:mm');
            updateAvailability();
        });

        $('#event-creation-end_dt-date').change(function() {
            var endDate = $(this).val();
            var endTime = $('#event-creation-end_dt-time').val();
            endDt = moment(endDate + " " + endTime, 'DD/MM/YYYY HH:mm');
            updateAvailability();
        });

        $('#event-creation-end_dt-time').change(function() {
            var endDate = $('#event-creation-end_dt-date').val();
            var endTime = $(this).val()
            endDt = moment(endDate + " " + endTime, 'DD/MM/YYYY HH:mm');
            updateAvailability();
        });

        $('#event-creation-occurrences').change(function() {
            occurrences = JSON.parse($(this).val());
            setLectureTimes(JSON.parse(occurrences));
            updateAvailability();
        });

        $('#event-creation-timezone').change(function() {
            timezone = ($(this).val());
            updateAvailability();
        });

        $('#event-creation-category').change(function() {
            category = JSON.parse($(this).val());
            updateAvailability();
        })
    </script>
{% endif %}
