{% from 'events/management/_create_event_button.html' import create_event_button %}

<div class="category-container">
    <div class="category-header flexrow">
        {% if category.is_root or category.attachment_count or category.can_manage(session.user) %}
            {% set category_title_classes = 'sidebar-padding' %}
        {% endif %}
        <h1 class="category-title {{ category_title_classes }}">
            {% block title %}
                {% if category.title == 'Home' and category.is_root %}
                    {% if category.children %}
                        {% trans %}Main categories{% endtrans %}
                    {% else %}
                        {% trans %}All events{% endtrans %}
                    {% endif %}
                {% else %}
                    {{ category.title }}
                {% endif %}
            {% endblock %}
        </h1>
        {% block cat_toolbar %}
            <div id="category-toolbar" class="toolbar">
                <div class="group">
                    {% block cat_create_event %}
                        {{ create_event_button(category, classes="highlight", text=_("Create event"), with_tooltip=false) }}
                    {% endblock %}
                </div>
                <div class="group">
                    {% block cat_navigate %}
                        <button id="navigate-button" class="i-button icon-compass2"
                                title="{% trans %}Navigate categories{% endtrans %}">
                            {% trans %}Navigate{% endtrans %}
                        </button>
                    {% endblock %}
                </div>
                <div class="group">
                    {% block cat_parent %}
                        {% if not category.is_root %}
                            <a class="i-button icon-arrow-up" href="{{ category.parent.url }}">
                                {% trans %}Parent category{% endtrans %}
                            </a>
                        {% endif %}
                    {% endblock %}
                    {% block cat_export %}
                        <a href="#"
                           class="i-button icon-calendar arrow js-export-ical"
                           title="{% trans %}Export to scheduling tool{% endtrans %}"
                           data-id="{{ category.id }}"></a>
                        {% with item=category, ics_url=url_for('categories.export_ical', category) -%}
                            {% include 'categories/category_export_ical.html' %}
                        {%- endwith %}
                    {% endblock %}
                    {% block cat_view_dropdown %}
                        <a class="i-button icon-eye arrow js-dropdown"
                           title="{% trans %}View{% endtrans %}"
                           data-toggle="dropdown"></a>
                        <ul class="i-dropdown">
                            <li>
                                <a href="{{ url_for('.upcoming_event', category) }}">{% trans %}Upcoming event{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('.overview', category, period='day') }}">{% trans %}Today's events{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('.overview', category, period='week') }}">{% trans %}Week's events{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('.calendar', category) }}">{% trans %}Calendar{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('.statistics', category) }}">{% trans %}Category statistics{% endtrans %}</a>
                            </li>
                        </ul>
                    {% endblock %}
                    {% block cat_manage %}
                        {% if category.can_manage(session.user) %}
                            <a href="{{ url_for('categories.manage_content', category) }}"
                               class="i-button icon-edit"
                               title="{% trans %}Manage category{% endtrans %}"></a>
                        {% endif %}
                    {% endblock %}
                </div>
                {% block cat_user_favorites %}
                    {% if session.user and not category.is_root %}
                        <div class="group">
                            <button type="button"
                                    class="i-button fav-button icon-only icon-bookmark {{ 'enabled' if category in session.user.favorite_categories }}"
                                    data-href="{{ url_for('users.user_favorites_category_api', category) }}"
                                    data-favorites-href="{{ url_for('users.user_favorites') }}"></button>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% if self.sidebar() %}
        <div class="category-sidebar">
            {%- block sidebar %}{% endblock -%}
        </div>
    {% endif %}

    <div class="category-content-wrapper">
        <div class="category-content">
            {% include 'flashed_messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
<script>
    $('#navigate-button').on('click', function(evt) {
        $('<div>').categorynavigator({
            openInDialog: true,
            category: {{ category.id }},
            actionButtonText: $T.gettext('Navigate to'),
            dialogTitle: $T.gettext('Navigate to a category'),
            onAction: function(category) {
                window.location.href = build_url(Indico.Urls.Categories.display, {category_id: category.id});
            }
        });
    });
    $('.js-export-ical').on('click', function(evt) {
        evt.preventDefault();
        $(this).trigger('menu_select');
    });
    setupCategoryDisplay();
</script>
<script type="application/ld+json">
{{ json_ld|tojson }}
</script>
