{% extends 'categories/display/base.html' %}
{% from 'attachments/_attachments.html' import render_attachments %}

{% macro subcategory_list(category) %}
    <ul class="category-list">
    {% for subcategory in category.children %}
            <li>
                <span class="protection {{ 'icon-shield' if subcategory.is_self_protected }}"></span>
                <span class="number-events">
                    {% set event_count=subcategory.deep_events_count %}
                    {% if event_count %}
                        {% trans count=event_count|format_number -%}
                            {{ count }} event
                        {%- pluralize -%}
                            {{ count }} events
                        {%- endtrans %}
                    {% else %}
                        {% trans %}empty{% endtrans %}
                    {% endif %}
                </span>
                <a href="{{ url_for('.display', subcategory) }}" class="name">{{ subcategory.title }}</a>
            </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro event_list() %}
    <div class="eventList">
        {% if future_events %}
            <div class="topBar" style="margin-bottom: 10px">
                <div class="content smaller">
                    <span id="futureEventsShow">
                        {% trans count=future_events|count -%}
                            There is {{ count }} event in the future.
                        {%- pluralize -%}
                            There are {{ count }} events in the future.
                        {%- endtrans %}
                        <span class="fakeLink futureEventsLink">Show them.</span>
                    </span>
                    <span id="futureEventsHide" style="display: none;">
                        {% trans count=future_events|count -%}
                            {{ count }} event in the future.
                        {%- pluralize -%}
                            {{ count }} events in the future.
                        {%- endtrans %}
                        <span class="fakeLink futureEventsLink">{% trans %}Hide{% endtrans %}</span>
                    </span>
                </div>
            </div>

            <div id="futureEvents" style="display: none;">
                {{ event_list_block(future_events) }}
            </div>
        {% endif %}
        <div>
            {{ event_list_block(events) }}
        </div>
        {% if past_events %}
            <div id="pastEvents"></div>
            <div class="topBar">
                <div class="content smaller">
                    <span id="pastEventsText">
                        <span id="pastEventsShow" class="pastEventsControl">
                            {% trans count=past_events|count %}
                                There is {{ count }} event in the past.
                            {% pluralize %}
                                There are {{ count }} events in the past.
                            {% endtrans %}
                            <span class="fakeLink pastEventsLink">{% trans %}Show them.{% endtrans %}</span>
                        </span>
                        <span id="pastEventsHide" class="pastEventsControl" style="display: none;">
                            {% trans count = past_events|count %}
                                <span class="fakeLink pastEventsLink">Hide</span> past events ({{ count }}).
                            {% endtrans %}
                        </span>
                        <span id="loadingPast" class="loadingPast"><em>{% trans %}fetching past events...{% endtrans %}</em></span>
                    </span>
                </div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        // Future events
        $('.futureEventsLink').on('click', function() {
            var fe = $('#futureEvents');
            if (fe.is(':visible')) {
                $('#futureEventsShow').show();
                $('#futureEventsHide').hide();
                fe.slideUp('medium');
            }
            else {
                $('#futureEventsHide').show();
                $('#futureEventsShow').hide();
                fe.slideDown('medium');
            }
        });

        {# TODO
        // Past events
        % if numOfEventsInThePast > 0:
        var numOfEventsInThePast = ${ numOfEventsInThePast };

        function setShowPastEventsForCateg(show){
            indicoRequest('category.setShowPastEventsForCateg', {
                categId: '${ categ.getId() }',
                showPastEvents: show
            }, function() { });
        }

        $('.pastEventsLink').click(function() {
            if (numOfEventsInThePast) {
                // We need to fetch the events
                setShowPastEventsForCateg(true);
                fetchPastEvents();
            }
            else {
                if ($('#pastEvents').is(':visible')) {
                    $('#pastEvents').hide();
                    $('#pastEventsHide').hide();
                    $('#pastEventsShow').show();
                    setShowPastEventsForCateg(false);
                }
                else {
                    $('#pastEvents').show();
                    $('#pastEventsHide').show();
                    $('#pastEventsShow').hide();
                    setShowPastEventsForCateg(true);
                }
            }
        });

        function fetchPastEvents() {
            $('#loadingPast').show();
            $('.pastEventsControl').hide();
            indicoRequest('category.getPastEventsList', {
                categId: '${ categ.getId() }',
                lastIdx: numOfEventsInThePast
            }, function(result, error){
                if (result) {
                    numOfEventsInThePast -= result.num;
                    $.each(result.events, function(i, month) {
                        var id = 'eventList-' + month.year + '-' + month.month;
                        var eventListUL = $('#' + id);
                        if(!eventListUL.length) {
                            eventListUL = $('<ul/>', {id: id});
                            eventListUL.appendTo('#pastEvents').before($('<h4/>').html(month.title));
                        }
                        eventListUL.append($('<div/>').html(month.events.join('')).children());
                    });
                    if(numOfEventsInThePast > 0) {
                        fetchPastEvents();
                    }
                    else {
                        $('#loadingPast').hide();
                        $('#pastEventsHide').show();
                    }
                }
            });
        }
        % if showPastEvents:
            fetchPastEvents();
        % endif

        % endif
        #}

    </script>
{% endmacro %}

{% macro event_list_block(events) %}
    {# TODO: list events grouped by month #}
    <ul>
        {% for event in events %}
            <li itemscope itemtype="http://data-vocabulary.org/Event">
                <span class="ical">
                    <a class="icon-calendar" href="{{ url_for('events.export_event_ical', event) }}"></a>
                </span>
                <span class="listName">
                    <span class="date {% if happening_now(event) %}today{% endif %}">
                        {{ format_event_date(event) }}
                        <time itemprop="startDate" datetime="{{ event.start_dt.isoformat() }}" />
                    </span>
                    <a href="{{ url_for('event.conferenceDisplay', event) }}" itemprop="url">
                        <span itemprop="summary">{{ event.title }}</span>
                    </a>
                    <span class="protected">
                        {% if event.is_self_protected %}
                            <span data-type="restricted">{% trans %}(protected){% endtrans %}</span>
                        {% endif %}

                        {% if is_recent(event.created_dt) %}
                            <i class="icon-new new-label" title="{% trans %}This event is new.{% endtrans %}"></i>
                        {% endif %}
                    </span>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    <div class="category-info">
        {% if category.is_root %}
            <p>
                {% trans %}
                    Welcome to Indico. Indico allows you to manage complex conferences, workshops and meetings.
                {% endtrans %}
            </p>
            <p>
                {% trans %}To start browsing, please select a category below.{% endtrans %}
            </p>
        {% else %}
            {{ category.description }}
        {% endif %}
    </div>

    <div>
        {{ subcategory_list(category) }}
        {{ event_list() }}
    </div>
{% endblock %}

{% block sidebar %}
    {%- if category.is_root or category.attachment_count or managers %}
        {% if category.is_root %}
            {% if news_list %}
                <h2 class="icon-bullhorn">
                    {% trans %}News{% endtrans %}
                    <a href="{{ url_for('misc.news') }}" class="more-icon">{% trans %}more...{% endtrans %}</a>
                </h2>
                <ul class="main-page-list">
                    {% for news in news_list %}
                        <li>
                            {# FIXME: We currently have no way to link to a specific news. #}
                            <a class="title" href="{{ url_for('misc.news') }}">
                                {{ news.title }}
                            </a>
                            <span class="timing">
                                {% trans date=news.creation_dt|format_date(format='medium') %}
                                    Posted on {{ date }}
                                {% endtrans %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if upcoming_events %}
                <h2 class="icon-alarm">{% trans %}Upcoming events{% endtrans %}</h2>
                <ul class="main-page-list">
                    {% for event in upcoming_events %}
                    <li>
                        <a class="title" title="{{ event.title }}" href="{{ url_for('event.conferenceDisplay', confId=event.id)}}">
                            {{ event.title }}
                        </a>
                        <span class="timing">
                            {% if event.status == 'ongoing' %}
                                {% trans time=event.end_dt|format_datetime(format='weekday') %}
                                    ongoing till {{ time }}
                                {% endtrans %}
                            {% else %}
                                {% trans time=event.start_dt|format_datetime(format='weekday') %}
                                    starts {{ time }}
                                {% endtrans %}
                            {% endif %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% elif managers %}
            <h2 class="icon-medal">{% trans %}Managers{% endtrans %}</h2>
            <ul id="manager-list">
                {% for manager in managers %}
                    <li class="{{ 'icon-user' if manager.is_single_person else 'icon-users' }}">
                        {{ manager.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if category.attachment_count %}
            {{ render_attachments(category.attached_items, linked_object=category,
                                  management=category.can_manage(session.user)) }}
        {% endif %}
    {% endif -%}
{% endblock %}
