{% extends 'categories/display/base.html' %}
{% from 'categories/display/sidebar.html' import render_attachments, render_managers %}
{% from 'message_box.html' import message_box %}

{% block content %}
    {% block category_content %}
        {% if not is_flat %}
            {% if category.children %}
                {% set category_title = category.title %}
                <h2 id="category-list" data-bypass-target="{% trans %}Skip to category list{% endtrans %}">
                    {%- trans %}Categories in {{ category_title }}{% endtrans -%}
                </h2>
                <div id="category-cards-root" data-category-id="{{ category.id }}"></div>
            {% endif %}
        {% else %}
            {% call message_box('info', icon=false) %}
                {% trans %}Displaying all the events from subcategories.{% endtrans %}
                <a href="{{ url_for('.display', category) }}">
                    {% trans %}Go back to single category view.{% endtrans %}
                </a>
            {% endcall %}
        {% endif %}
        <div id="category-cards-root" data-category-id="{{ category.id }}" data-is-flat="{{ is_flat }}"></div>
    {% endblock %}
{% endblock %}

{% block sidebar -%}
    {%- block sidebar_managers %}
        {{- render_managers(managers) -}}
    {% endblock -%}
    {%- block sidebar_attachments %}
        {{- render_attachments(category) -}}
    {% endblock -%}
    {{ template_hook('category-sidebar', category=category) }}
{%- endblock %}
