{% macro _render_badge_form_button(regform, tpl, format='text', text='') %}
    {% set no_registrations = not regform.registrations|rejectattr('is_deleted')|list %}
    {% set no_registrations_msg %}
        {% trans %}Registration Form has no registrations{% endtrans %}
    {% endset %}
    {% set print_title -%}
        {%- if tpl.is_ticket -%}
            {% trans %}Print tickets{% endtrans %}
        {%- else -%}
            {% trans %}Print badges{% endtrans %}
        {%- endif -%}
    {%- endset %}
    {% set endpoint = 'registrations_config_tickets' if tpl.is_ticket else 'registrations_config_badges' %}
    {% if format == 'icon' %}
        <a title="{{ no_registrations_msg if no_registrations else print_title }}"
           class="i-button icon-printer icon-only text-color borderless highlight
                  {% if no_registrations -%}
                      disabled
                  {%- endif %}"
           data-href="{{ url_for('event_registration.' + endpoint, regform, template_id=tpl.id) }}"
           data-title="{{ print_title }}"
           data-method="POST"
           data-ajax-dialog>
        </a>
    {% else %}
        {% if no_registrations %}
            <span class="text-not-important" title="{{ no_registrations_msg }}">
                {{ text }}
            </span>
        {% else %}
            <a data-href="{{ url_for('event_registration.' + endpoint, regform, template_id=tpl.id) }}"
               data-title="{{ print_title }}"
               data-method="POST"
               data-ajax-dialog
               {% if no_registrations %}
                   title="{{ no_registrations_msg }}"
               {% endif %}>
                {{ text }}
            </a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro _render_template(tpl, target, inherited=false, event=none, default_ticket=none, default_badge=none,
                          not_deletable_templates=[]) -%}
    <tr>
        <td class="i-table id-column">
            <i class="designer-template-type-icon template-icon-{{ tpl.type.name }}"
               title="{{ tpl.type.title }}"></i>
        </td>
        <td>
            {{ tpl.title }}
        </td>
        <td class="text-superfluous">
            {% if inherited %}
                {% if not tpl.category.is_root %}
                    {% trans title=tpl.category.title -%}
                        from category "{{ title }}"
                    {% endtrans %}
                {% endif %}
            {% endif %}
        </td>
        <td>
            <div class="thin toolbar right">
                <div class="group">
                    {% if not event and tpl.type.name == 'badge' and tpl.is_ticket %}
                        {% set inherited_default = default_ticket == tpl and tpl.category != target and
                                not target.default_ticket_template %}
                        {% set global_default = default_ticket == tpl and target.is_root %}
                        <a class="i-button icon-ticket icon-only borderless hide-if-locked toggle-default
                            {{ 'default-on-category' if default_ticket == tpl }}
                            {{ 'inherited' if inherited_default }}
                            {{ 'global-default' if global_default }}"
                            {% if inherited_default %}
                                title="{% trans %}This is the inherited default ticket template{% endtrans %}"
                            {% elif global_default %}
                                title="{% trans %}This is the global default ticket template{% endtrans %}"
                            {% else %}
                                title="{% trans %}Toggle default ticket template for this category{% endtrans %}"
                                data-href="{{ url_for('.toggle_category_default_ticket', target, template_id=tpl.id) }}"
                                data-method="POST"
                                data-update="#template-list"
                            {% endif %}>
                        </a>
                    {% endif %}
                    {% if not event and tpl.type.name == 'badge' and not tpl.is_ticket %}
                        {% set inherited_default = default_badge == tpl and tpl.category != target and
                                not target.default_badge_template%}
                        {% set global_default = default_badge == tpl and target.is_root %}
                        <a class="i-button icon-tag icon-only borderless hide-if-locked toggle-default
                            {{ 'default-on-category' if default_badge == tpl }}
                            {{ 'inherited' if inherited_default }}
                            {{ 'global-default' if global_default }}"
                            {% if inherited_default %}
                                title="{% trans %}This is the inherited default badge template{% endtrans %}"
                            {% elif global_default %}
                                title="{% trans %}This is the global default badge template{% endtrans %}"
                            {% else %}
                                title="{% trans %}Toggle default badge template for this category{% endtrans %}"
                                data-href="{{ url_for('.toggle_category_default_badge', target, template_id=tpl.id) }}"
                                data-method="POST"
                                data-update="#template-list"
                            {% endif %}>
                        </a>
                    {% endif %}
                    {% set clonable = tpl.is_clonable or (not event and tpl.owner == target) %}
                    <button class="i-button icon-copy icon-only text-color borderless hide-if-locked
                        {{ 'not-clonable' if not clonable }}"
                        {% if not clonable %}
                            title="{% trans %}This template cannot be cloned{% endtrans %}">
                        {% else %}
                            title="{% trans %}Clone this template{% endtrans %}"
                            data-href="{{ url_for('.clone_template', target, template_id=tpl.id) }}"
                            data-method="POST"
                            data-update="#template-list"
                            data-confirm="{% trans title=tpl.title -%}
                                              Are you sure you want to clone template '{{ title }}'?
                                          {%- endtrans %}">
                        {% endif %}
                    </button>
                    {% if not inherited %}
                        <a class="i-button icon-edit icon-only text-color borderless hide-if-locked"
                           href="{{ url_for('.edit_template', tpl) }}"
                           title="{% trans %}Edit template{% endtrans %}"></a>
                    {% endif %}
                    {% if not inherited %}
                        <button class="i-button icon-remove icon-only text-color borderless danger hide-if-locked
                                {{ 'not-deletable' if tpl in not_deletable_templates }}"
                                {% if tpl in not_deletable_templates %}
                                    {% if tpl.is_system_template %}
                                        title="{% trans %}This template cannot be deleted.{% endtrans %}"
                                    {% else %}
                                        title="{% trans %}This template cannot be deleted because it is used in a registration form or as a backside for another template.{% endtrans %}"
                                    {% endif %}
                                {% else %}
                                    title="{% trans %}Delete template{% endtrans %}"
                                    data-href="{{ url_for('.delete_template', tpl) }}"
                                    data-method="DELETE"
                                    data-update="#template-list"
                                    data-confirm="{% trans title=tpl.title -%}
                                                      Are you sure you want to delete the template '{{ title }}'?
                                                  {%- endtrans %}">
                                {% endif %}
                        </button>
                    {%- endif %}
                </div>
                <div class="group">
                    {% if tpl.type.name == 'poster' and event %}
                        <a href="#" class="i-button icon-print icon-only highlight text-color borderless"
                           title="{% trans %}Print poster for the event{% endtrans %}"
                           data-href="{{ url_for('event_management.poster_settings', event, template_id=tpl.id) }}"
                           data-title="{% trans %}Poster Printing Settings{% endtrans %}"
                           data-ajax-dialog>
                        </a>
                    {% elif event %}
                        {% set single_form = event.registration_forms|first if event.registration_forms|length == 1 %}
                        {% if single_form %}
                            {{ _render_badge_form_button(single_form, tpl, format='icon') }}
                        {% else %}
                            {% set print_title -%}
                                {%- if tpl.is_ticket -%}
                                    {% trans %}Print tickets{% endtrans %}
                                {%- else -%}
                                    {% trans %}Print badges{% endtrans %}
                                {%- endif -%}
                            {%- endset %}
                            <a href="#" class="i-button icon-print icon-only highlight text-color js-dropdown borderless
                                              {{ 'disabled' if not event.registration_forms }}"
                               title="{{ print_title if event.registration_forms
                                         else _('There are no registration forms in this event') }}"
                               data-toggle="dropdown">
                            </a>
                            <ul class="i-dropdown">
                                {% for regform in event.registration_forms %}
                                    <li>
                                        {{ _render_badge_form_button(regform, tpl, format='text', text=regform.title) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
{% endmacro -%}

{% macro render_template_list(templates, target, inherited_templates=[], event=none, default_ticket=none,
                              default_badge=none, not_deletable_templates=[]) -%}
    {% if inherited_templates %}
        <section>
            <h3>{% trans %}Inherited templates{% endtrans %}</h3>
            <table class="i-table-widget">
                <tbody>
                    {% for tpl in inherited_templates | sort(attribute='title') | sort(attribute='type') %}
                        {{ _render_template(tpl, target, inherited=true, event=event,
                                            default_ticket=default_ticket, default_badge=default_badge,
                                            not_deletable_templates=not_deletable_templates) }}
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

    <section class="custom-template-list {{ 'hide-if-locked' if not templates }}">
        <div class="flexrow f-a-center f-j-space-between">
            <h3>{% trans %}Custom templates{% endtrans %}</h3>
            <button class="i-button highlight icon-plus hide-if-locked"
                    data-href="{{ url_for('.add_template', target) }}"
                    data-title="{% trans %}Add a new blank designer template{% endtrans %}"
                    data-update="#template-list"
                    data-ajax-dialog>
                {% trans %}Add new{% endtrans %}
            </button>
        </div>
        {% if templates %}
            <table class="i-table-widget">
                <tbody>
                    {% for tpl in templates | sort(attribute='title') | sort(attribute='type') %}
                        {{ _render_template(tpl, target, event=event, default_ticket=default_ticket,
                                            default_badge=default_badge,
                                            not_deletable_templates=not_deletable_templates) }}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="italic text-not-important">
                {% trans %}No templates{% endtrans %}
            </div>
        {% endif %}
    </section>
{% endmacro -%}
