{% from 'events/display/_manage_button.html' import render_manage_button %}
{% from 'events/display/_common.html' import render_location, render_users, render_event_time %}
{% from 'events/notes/_note.html' import render_note %}

<div class="eventWrapper" itemscope itemtype="http://schema.org/Event">
    {% block header %}
        <div class="event-header">
            {% set show_button = not conf.isClosed() and event.can_manage_attachments(session.user) %}
            <div class="event-manage-button">
                {{ render_manage_button(event, 'EVENT', align_right=true, manage_link=true, show_button=show_button,
                                        toggle_notes=false) }}
            </div>

            {% block logo %}
                {# extending templates can add their logo(s) here #}
            {% endblock %}

            <h1 itemprop="name">
                {# TODO: remove '| safe' once we start enforcing no-HTML policy #}
                {{- event.title | safe -}}
            </h1>
            <div class="details">
                <div class="event-date">
                    {{ render_event_time(event, timezone) }}
                </div>
                {% if event.venue_name or event.room_name or event.address %}
                    <div class="event-location">
                        {{ render_location(event, class='header-data') }}
                    </div>
                {% endif %}
                {% set chairpersons = event.person_links %}
                {% if chairpersons %}
                    <div class="event-chairs">
                        <i class="icon-user-chairperson header-data"></i>
                        <span class="chairperson-list">
                            {{ render_users(chairpersons, span_class='author', title=false) }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block body %}
        <div class="event-sub-header">
            <table class="eventDetails">
                <tbody>
                    {% include 'events/display/_details.html' %}
                </tbody>
            </table>
        </div>

        {% if event.has_note or event.can_manage(session.user) %}
            {{ render_note(conf.note, hidden=not show_notes, can_edit=event.can_manage(session.user), for_event=conf) }}
        {% endif %}

        <div class="event-body">
            {{ template_hook('meeting-body', event=event) }}
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
</div>
