{% extends 'events/display/administrative/event.html' %}

{% block header %}
    <br>&nbsp;<br>
    <table class="eventHeader">
       <tr>
           <td>
               <img src="{{ indico_config.ImagesBaseURL }}/CERNLogo.jpg">
           </td>
           <td>
               <div class="eventHeader">
                   CAISSE DE PENSIONS <br>
                   <span class="CERNTitle"> CERN </span>
                   PENSION FUND
               </div>
           </td>
           <td>
               <img src="{{ indico_config.ImagesBaseURL }}/eso-logo.gif">
           </td>
       </tr>
    </table>
    <div align="center">
        <hr style="width: 50%">
    </div>
{% endblock %}
