{% from 'forms/_form.html' import form_row %}

{% macro render_questionnaire_preview(survey, preview_form) %}
    <div class="sortblock i-box-content">
        <ul class="group-list no-content-before">
            {% for question in survey.questions %}
                <li>
                    <div class="questions-handle i-form">
                        <div class="question-list">
                            <div class="question-row">
                                <div class="question-data position-element" style="width: 5%;">{{ loop.index }}.</div>
                                <div class="question-data">
                                    {% if question.field.is_section %}
                                        <div class="form-group horizontal">
                                            <div class="form-label form-block">
                                                <label>{{ question.title }}</label>
                                            </div>
                                            <div class="form-field form-block static-text-widget">
                                                {{- question.field_data.text|markdown -}}
                                            </div>
                                        </div>
                                    {% else %}
                                        {{ form_row(preview_form['question_{}'.format(question.id)], disabled=true,
                                                    orientation='horizontal') }}
                                    {% endif %}
                                </div>
                                <div class="action-buttons">
                                    <a data-href="{{ url_for('.delete_question', question) }}"
                                       data-method="DELETE"
                                       data-title="{% trans %}Delete question{% endtrans %}"
                                       data-confirm="{% trans %}Are you sure you want to delete this question?{% endtrans %}"
                                       class="i-button icon-remove js-delete-question"></a>
                                    <a href="#" data-href="{{ url_for('.edit_question', question) }}"
                                       data-title="{% trans %}Edit question{% endtrans %}"
                                       data-question-id="{{ question.id }}"
                                       class="i-button js-question-dialog icon-edit"></a>
                                </div>
                                <div class="handle">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% else %}
                <li>{% trans %}No questions defined{% endtrans %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
