{% extends 'events/surveys/management/_survey_base.html' %}

{% block content %}
    {% if survey.private and survey.state.name in ('active_and_clean', 'active_and_answered') %}
        <div class="action-box highlight">
            <div class="section">
                <div class="icon icon-lock"></div>
                <div class="text">
                    <div class="label">
                        {%- trans %}The survey is private{% endtrans -%}
                    </div>
                    {% set link_start %}
                        <a href="{{ url_for('.display_survey_form', survey, survey.locator.token, _external=True) }}"
                           class="js-copy-to-clipboard"
                           title="{% trans %}Copy link to clipboard{% endtrans %}"
                           data-clipboard-text="{{ url_for('.display_survey_form', survey, survey.locator.token, _external=True) }}"
                           data-clipboard-action="copy">
                    {% endset %}
                    {% set link_end = '</a>'|safe %}
                    {% trans -%}
                        The survey is accessible only by people with this {{ link_start }}link{{ link_end }}
                    {%- endtrans %}
                </div>
                <div class="toolbar">
                    <a href="#" class="i-button icon-mail right highlight js-requires-selected-row send-mails-btn"
                       data-href="{{ url_for('surveys.send_links', survey) }}"
                       data-title="{% trans %}Send survey links{% endtrans %}"
                       data-method="POST"
                       data-ajax-dialog>
                        {%- trans %}Send links{% endtrans -%}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if survey.state.name == 'not_ready' %}
        {% include 'events/surveys/management/survey_actions/not_ready.html' %}
    {% elif survey.state.name == 'ready_to_open' %}
        {% include 'events/surveys/management/survey_actions/ready_to_open.html' %}
    {% elif survey.state.name in ('active_and_clean', 'active_and_answered') %}
        {% include 'events/surveys/management/survey_actions/active.html' %}
    {% elif survey.state.name == 'finished' %}
        {% include 'events/surveys/management/survey_actions/finished.html' %}
    {% endif %}

    <div class="action-box">
        {% if not survey.event_new.is_locked %}
            <div class="section">
                <div class="icon icon-settings"></div>
                <div class="text">
                    <div class="label">
                        {% trans %}General settings{% endtrans %}
                    </div>
                    {% trans %}Edit settings for this survey.{% endtrans %}
                </div>
                <div class="toolbar">
                    <a href="#" class="i-button icon-edit"
                       data-href="{{ url_for('.edit_survey', survey) }}"
                       data-title="{% trans %}Edit survey{% endtrans %}"
                       data-ajax-dialog
                       data-reload-after>
                        {% trans %}Edit{% endtrans %}
                    </a>
                </div>
            </div>
        {% endif %}

        {% if survey.state.name != 'not_ready' %}
            <div class="section">
                <div class="icon icon-clipboard"></div>
                <div class="text">
                    <div class="label">
                        {% trans %}Questionnaire{% endtrans %}
                    </div>
                    {% trans %}Add, remove or modify questions.{% endtrans %}
                </div>
                <div class="toolbar">
                    <a href="{{ url_for('.manage_questionnaire', survey) }}" class="i-button icon-settings">
                        {% trans %}Manage{% endtrans %}
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <h2>
        {% trans %}Submissions{% endtrans %}
    </h2>

    {% if submitted_surveys %}
        <div class="toolbars space-after">
            <div class="toolbar">
                <a class="i-button icon-checkbox-checked arrow js-dropdown" data-toggle="dropdown"></a>
                <ul class="dropdown">
                    <li><a href="#" id="select-all">
                        {% trans %}All{% endtrans %}
                    </a></li>
                    <li><a href="#" id="select-none">
                        {% trans %}None{% endtrans %}
                    </a></li>
                </ul>
            </div>
            <div class="toolbar">
                <a href="{{ url_for('.survey_results', survey) }}" class="i-button icon-chart">
                    {% trans %}Results{% endtrans %}
                </a>
                <a class="i-button arrow js-dropdown" data-toggle="dropdown">
                    {%- trans %}Export{% endtrans -%}
                </a>
                <ul class="dropdown">
                    <li>
                        <a href="#" data-href="{{ url_for('.export_submissions_csv', survey) }}"
                           class="icon-file-spreadsheet js-submission-action js-export-submissions">
                            {% trans %}CSV{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-href="{{ url_for('.export_submissions_excel', survey) }}"
                           class="icon-file-excel js-submission-action js-export-submissions">
                            {% trans %}XLSX (Excel){% endtrans %}
                        </a>
                    </li>
                </ul>
                <button id="delete-submissions" data-href="{{ url_for('.delete_submissions', survey) }}"
                        class="hide-if-locked"
                        data-title="{% trans %}Remove all selected submissions?{% endtrans %}"
                        data-confirm="{% trans %}Are you sure you want to remove all selected submissions?{% endtrans %}"
                        data-method="DELETE" class="i-button icon-remove" disabled>
                    {% trans %}Delete{% endtrans %}
                </button>
            </div>
        </div>

        <table id="submission-list" class="i-table-widget fixed-width">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans %}ID{% endtrans %}</th>
                    <th>{% trans %}Submitted{% endtrans %}</th>
                    <th>{% trans %}User{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submitted_surveys %}
                    {{ _render_submission_row(submission) }}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="info-message-box">
            <div class="message-text">
                {% trans %}There are no submissions yet.{% endtrans %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% macro _render_submission_row(submission) %}
    <tr class="submission-row">
        <td>
            <input type="checkbox" class="inline-vcentered submission-ids" value="{{ submission.id }}">
        </td>
        <td>
            <a href="{{ url_for('.display_submission', submission) }}">{{ submission.id }}</a>
        </td>
        <td>{{ submission.submitted_dt|format_datetime(timezone=submission.survey.event_new.tzinfo) }}</td>
        <td>
            {% if not submission.is_anonymous %}
                {{ submission.user.full_name }}
            {% else %}
                <em>{% trans %}Anonymous{% endtrans %}</em>
            {% endif %}
        </td>
        <td>
            <a href="#" class="icon-remove right js-delete-submission hide-if-locked"
               data-href="{{ url_for('.delete_submissions', survey) }}"
               data-method="DELETE"
               data-title="{% trans %}Remove submission?{% endtrans %}"
               data-confirm="{% trans %}Are you sure you want to remove this submission?{% endtrans %}"
               data-submission-id="{{ submission.id }}"></a>
        </td>
    </tr>
{% endmacro %}
