{% extends 'admin/base.html' %}

{% from 'forms/form_widget.html' import form_header, form_footer, form_row, form_rows %}

{% block title %}
    {% trans %}Attach Video Conference Room{% endtrans %}
{% endblock %}

{%- block content %}
    {{ form_header(id='vc-attach-room-form') }}

    {{ form_row(form.room) }}
    {{ form_rows(form, skip=skip_fields) }}

    {% call form_footer() %}
        <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}">
        <a href="{{ url_for('vc.manage_vc_rooms', event) }}" class="i-button big" data-button-back>{% trans %}Cancel{% endtrans %}</a>
    {% endcall %}
{%- endblock %}
