{% extends 'categories/management/base.html' if category|default(none) else 'events/management/base.html' %}

{% block page_class %}{{ super() }} ultra-wide{% endblock %}

{% macro render_template_row(tpl) %}
    <td>
       {{ tpl.title }}
    </td>
{% endmacro %}

{% block title %}
    {% trans %}Document Templates{% endtrans %}
{% endblock %}

{% block content %}
    <div id="template-list"></div>
    <script>
        setupReceiptTemplateList(
            document.querySelector('#template-list'),
            {{ own_templates | tojson }},
            {{ inherited_templates | tojson }},
            {{ other_templates | tojson }},
            {{ default_templates | tojson }},
            {{ target_locator | tojson }}
        );
    </script>
{% endblock %}
