<div class="infoline announcement">
    <span class="icon icon-ticket"></span>
    <div class="text">
        <div class="label">{% trans %}Registration{% endtrans %}</div>
        <div>{% trans %}Registrations for this event are currently open.{% endtrans %}</div>
        <div class="toolbar right">
            <a href="{{ url_for('event_registration.display_regform_list', event) }}" class="i-button next highlight">
                {% trans %}Register now{% endtrans %}
            </a>
        </div>
    </div>
</div>
