{% if preview %}
    {% extends 'events/management/base.html' %}
{% else %}
    {% extends 'events/display/conference/base.html' %}
{% endif %}

{% from 'message_box.html' import message_box %}

{% block back_button_url -%}
    {%- if preview -%}
        {{ url_for('.manage_regform_list', event) }}
    {%- endif -%}
{%- endblock %}

{% block title %}
    {%- if not preview -%}
        {{- page_title -}}
    {%- else -%}
        {% trans %}Participant List Preview{% endtrans %}
    {%- endif -%}
{% endblock %}

{% block subtitle %}
    {% if num_participants %}
        {%- trans num=num_participants %}1 participant{% pluralize %}{{ num }} participants{% endtrans -%}
    {% endif %}
{% endblock %}

{% block description %}
    {%- if preview == 'guest' -%}
        {% trans -%}
            This preview shows the participant list like an unregistered guest would see it.
        {%- endtrans %}
    {% elif preview %}
        {% trans -%}
            This preview shows the participant list like a registered participant would see it.
        {%- endtrans %}
    {%- elif tables|length > 1 -%}
        {% trans -%}
            The lists of participants grouped by the registration form they used to register for the event.
        {%- endtrans %}
    {%- endif -%}
{% endblock %}

{% block content %}
    <ind-conference-participant-list
        tables="{{ tables | tojson | forceescape }}"
        total-participant-count="{{ num_participants }}"
        event-id="{{ event.id }}"
        {% if merged %}merged{% endif %}
        {% if published %}published{% endif %}
        {% if preview %}preview="{{ preview }}"{% endif %}
    ></ind-conference-participant-list>
{% endblock %}
