{% if preview %}
    {% extends 'events/management/base.html' %}
{% else %}
    {% extends 'events/display/conference/base.html' %}
{% endif %}

{% block content %}
    {#
        TODO:   Remove the condiiton style="margin-top..." on this element
                when we do not use events/management/base.html anymore at the top
    #}
    <div
        id="participant-list"
        data-tables="{{ tables | tojson | forceescape }}"
        data-title="{{ page_title if not preview and page_title else '' }}"
        data-total-participant-count="{{ num_participants }}"
        data-event-id="{{ event.id }}"
        {% if preview %} style="margin-top: 20px;" {% endif %}
        {% if preview %} data-preview="{{ preview }}" {% endif %}
        {% if published %} data-published {% endif %}
    ></div>

    <script>
        $('.registrations .tablesorter').tablesorter({
            cssAsc: 'header-sort-asc',
            cssDesc: 'header-sort-desc',
            headerTemplate: ''
        });

        setupParticipantList('#participant-list');
    </script>
{% endblock %}
