{% extends 'events/registration/display/_event_registration_base.html' %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {% trans %}Participant List{% endtrans %}
{% endblock %}

{% block subtitle %}
    {% if num_participants %}
        {%- trans num=num_participants %}1 participant{% pluralize %}{{ num }} participants{% endtrans -%}
    {% endif %}
{% endblock %}

{% block description %}
    {%- if tables|length > 1 -%}
        {% trans -%}
            The lists of participants grouped by the registration form they used to register for the event.
        {%- endtrans %}
    {%- endif -%}
{% endblock %}

{% macro table_header(columns, show_checkin) %}
    <thead>
        <tr class="i-table">
            {% if show_checkin %}
                <th class="i-table thin-column" data-sorter="false"></th>
            {% endif %}
            {% for column in columns %}
                <th class="i-table">{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{% macro table_row(registration, show_checkin) %}
    <tr class="i-table">
        {% if show_checkin %}
            <td class="i-table center"
                {% if registration.checked_in %}title="{% trans %}Checked in{% endtrans %}"{% endif %}>
                {% if registration.checked_in %}<i class="icon-checkmark"></i>{% endif %}
            </td>
        {% endif %}
        {% for column in registration.columns %}
            <td class="i-table"
                {% if column.sort_key %} data-text="{{ column.sort_key }}"{% endif %}>
                {{ column.text }}
            </td>
        {% endfor %}
{% endmacro %}

{% macro participant_table(table) %}
    <section>
        {% if table.title %}
            <div class="header">
                <div class="header-row">
                    <h3>{{ table.title }}</h3>
                </div>
            </div>
        {% endif %}
        {% if table.rows %}
            <table class="i-table tablesorter">
                {{ table_header(table.headers, table.show_checkin) }}
                <tbody>
                    {% for row in table.rows %}
                        {{ table_row(row, table.show_checkin) }}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% call message_box('info', fixed_width=true) %}
                {% trans %}There are no registrations yet.{% endtrans %}
            {% endcall %}
        {% endif %}
    </section>
{% endmacro %}

{% block content %}
    {% if not published or not tables %}
        {% call message_box('info', fixed_width=true) %}
            {% trans %}There are no published registrations.{% endtrans %}
        {% endcall %}
    {% elif not num_participants %}
        {% call message_box('info', fixed_width=true) %}
            {% trans %}There are no participants yet.{% endtrans %}
        {% endcall %}
    {% else %}
        <div class="registrations list">
            {% for table in tables %}
                {{ participant_table(table) }}
            {% endfor %}
        </div>
    {% endif %}

    <script>
        $('.registrations .tablesorter').tablesorter({
            cssAsc: 'header-sort-asc',
            cssDesc: 'header-sort-desc',
            headerTemplate: ''
        });
    </script>
{% endblock %}
