{% extends 'layout/conference_page_base.html' %}
{% from 'events/registration/display/_regform_invitation_info.html' import render_invitation_info %}

{% block title %}
    {%- trans %}Registration{% endtrans -%}
{% endblock %}

{% block subtitle %}
    {{ regform.title }}
{% endblock %}

{% block content %}
    {% if invitation %}
        {{ render_invitation_info(invitation) }}
    {% endif %}

    <div class="infogrid condensed">
        <div class="infoline date">
            <i class="icon icon-time"></i>
            <div class="text">
                <div>
                    <span class="label">
                        {% trans %}From{% endtrans %}
                    </span>
                    <span class="datetime">
                        {{ regform.start_dt|format_date }}
                    </span>
                </div>
                <div>
                    <span class="label">
                        {% trans %}To{% endtrans %}
                    </span>
                    <span class="datetime">
                        {% if regform.end_dt %}
                            {{ regform.end_dt|format_date }}
                        {% else %}
                            <em>{% trans %}Not specified{% endtrans %}</em>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% if regform.contact_info %}
            <div class="infoline">
                <i class="icon icon-phone"></i>
                <div class="text">
                    <div class="label">
                        {% trans %}Contact info{% endtrans %}
                    </div>
                    <div>{{ regform.contact_info }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if regform.introduction %}
        <div class="highlight-message-box">
            <div class="message-text">
                {{ regform.introduction }}
            </div>
        </div>
    {% endif %}

    {% if not registration %}
        <div class="action-box">
            <div class="section">
                <div class="icon icon-quill"></div>
                <div class="text">
                    {% if regform.is_active %}
                        <div class="label">
                            {% trans %}Registrations are open{% endtrans %}
                        </div>
                        {% trans %}Register yourself or somebody else.{% endtrans %}
                    {% elif regform.limit_reached %}
                        <div class="label">
                            {% trans %}Registrations are complete{% endtrans %}
                        </div>
                        {% trans %}There are no more places available.{% endtrans %}
                    {% elif not regform.is_open %}
                        <div class="label">
                            {% trans %}Registrations are closed{% endtrans %}
                        </div>
                        {% if not regform.has_started %}
                            {% trans %}The registration period has not started yet.{% endtrans %}
                        {% elif regform.has_ended %}
                            {% trans %}The registration period is over.{% endtrans %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="toolbar right">
                    {% if regform.is_active %}
                        <a href="{{ url_for('.display_regform', invitation.locator.uuid if invitation else regform) }}"
                           class="i-button highlight">
                            {% trans %}Register{% endtrans %}
                        </a>
                    {% else %}
                        <a class="i-button disabled">
                            {% trans %}Register{% endtrans %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'events/registration/display/registration_summary.html' %}
    {% endif %}
{% endblock %}
