{% macro render_registration_info(registration) %}
    <table>
        {% for section in registration.registration_form.sections -%}
            <tr>
                <td class="regform-done-title">{{ section.title }}</td>
            </tr>
            {% for field in section.children if field.is_field -%}
                <tr>
                    <td class="regform-done-caption">{{ field.title }}</td>
                    <td class="regform-done-data">
                        {{ render_data(registration, field) }}
                    </td>
                </tr>
            {%- endfor %}
        {%- endfor %}
    </table>
{% endmacro %}


{% macro render_data(registration, field) %}
    {% set friendly_data = registration.data_by_field[field.id].friendly_data %}
    {% if field.input_type == 'accommodation' %}
        <div>
            {% trans arrival_date=friendly_data['arrivalDate'] %}
                <b>Arrival:</b> {{ arrival_date }}
            {% endtrans %}
        </div>
        <div>
            {% trans departure_date=friendly_data['departureDate'] %}
                <b>Departure:</b> {{ departure_date }}
            {% endtrans %}
        </div>
        <div>
            {% trans accommodation=friendly_data['accommodation'] %}
                <b>Accommodation:</b> {{ accommodation }}
            {% endtrans %}
        </div>
    {% else %}
        {{ friendly_data }}
    {% endif %}
{% endmacro %}

<div class="action-box">
    <div class="section">
        <div class="icon icon-quill"></div>
        <div class="text">
            <div class="label">
                {% trans state=registration.state.title.lower() -%}
                    Your registration ({{ state }})
                {%- endtrans %}
            </div>
            {% if registration.state.name == 'complete' %}
                {% trans -%}
                    Everything is ready.
                {%- endtrans %}
            {% elif registration.state.name == 'pending' %}
                {% trans -%}
                    Awaiting manager approval.
                {%- endtrans %}
            {% elif registration.state.name == 'unpaid' %}
                {% if not registration.transaction or registration.transaction.status.name not in ('successful', 'pending') %}
                    {% trans %}Awaiting your payment.{% endtrans %}
                {% elif registration.transaction.status.name == 'pending' %}
                    {% trans %}Awaiting payment confirmation.{% endtrans %}
                {% endif %}
                <a href="#payment" class="js-highlight-payment">
                    {%- trans %}Check it out here{% endtrans -%}
                </a>.
            {% endif %}
        </div>
        <div class="toolbar right">
            {% if regform.modification_mode.name != 'not_allowed' %}
                <div class="group">
                    {# TODO: link to registration modification #}
                    <a href="#" class="i-button icon-edit {% if not registration.can_be_modified %}disabled{% endif %}"
                        {% if not registration.can_be_modified %}
                            {% if not regform.is_modification_open -%}
                                title="{% trans %}The modification period is over{% endtrans %}"
                            {%- elif regform.modification_mode.name == 'allowed_until_payment' -%}
                                title="{% trans %}Modifications are not allowed after payment{% endtrans %}"
                            {%- endif %}
                        {% endif %}>
                        {% trans %}Modify{% endtrans %}
                    </a>
                </div>
            {% endif %}
            {# TODO: check e-ticket #}
            {% if true %}
                <div class="group">
                    {# TODO: link to ticket #}
                    <a href="" class="i-button highlight icon-ticket">
                        {% trans %}Get ticket{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="registration-summary" class="regform-done">
    <div class="i-box-header">
        <div class="i-box-title">
            {% trans %}Summary{% endtrans %}
        </div>
        <div class="i-box-metadata">
            <span class="label">
                {% trans %}Reference:{% endtrans %}
            </span>
            <span class="content">
                #{{ registration.friendly_id }}
            </span>
            <span class="label">
                {% trans %}Date:{% endtrans %}
            </span>
            <span class="content">
                {{ registration.submitted_dt|format_date }}
            </span>
        </div>
    </div>
    <div class="i-box-content">
        <table width="100%" cellpadding="0" cellspacing="0">
            {{ render_registration_info(registration) }}
        </table>
    </div>
</div>

{% if payment_enabled and registration.price %}
    <div id="payment-summary" class="regform-done">
        <div class="i-box-header">
            <div class="i-box-title">
                {% trans %}Invoice{% endtrans %}
            </div>
            {% if not registration.transaction or registration.transaction.status not in ('successful', 'pending') %}
                <div class="payment-status payment-not-paid right">
                    {% trans %}Not paid{% endtrans %}
                    <i class="icon-time"></i>
                </div>
            {% elif registration.transaction.status.name == 'successful' %}
                <div class="payment-status payment-done right">
                    {% trans %}Paid{% endtrans %}
                    <i class="icon-checkbox-checked"></i>
                </div>
            {% elif registration.transaction and registration.transaction.status.name == 'pending' %}
                <div class="payment-status payment-pending right">
                    {% trans %}Pending{% endtrans %}
                    <i class="icon-time"></i>
                </div>
            {% endif %}
        </div>
        <div class="i-box-content">
            <table width="100%" cellpadding="0" cellspacing="0">
                {# TODO: render payment info #}
                {# ${ payment_info } #}
            </table>
            {% if not registration.transaction or registration.transaction.status not in ('successful', 'pending') %}
                <table class="regform-done-conditions" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            {% if payment_conditions %}
                                <div class="checkbox-with-text">
                                    <input type="checkbox" id="conditions-accepted">
                                    <div class="payment-conditions-agreement">
                                        {% trans -%}
                                            I have read and accept the terms and conditions and understand that
                                            by confirming this order I will be entering into a binding transaction
                                        {%- endtrans %}
                                        (<a href="#" class="js-conditions-dialog"
                                            data-href="{{ url_for('payment.event_payment_conditions', event) }}"
                                            data-title="{% trans %}Terms and conditions{% endtrans %}">
                                            {%- trans %}Terms and conditions{% endtrans -%}
                                        </a>).
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('payment.event_payment', registration.locator.registrant) }}"
                               class="action-button js-check-conditions">
                                {% trans %}Checkout{% endtrans %}
                            </a>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="permalink-text">
    <div>
        {% trans -%}
            Use this link to come back to this page.<br>
            Make sure to keep it private as you do not need to be logged in to access it.
        {%- endtrans %}
    </div>
    <input type="text" class="permalink" readonly
           value="{{ url_for('.display_regform_summary', regform, token=registration.uuid, _external=true) }}">
</div>
