{% if event.type == 'conference' %}
    {% extends 'events/registration/display/_event_regform_base.html' %}
{% else %}
    {% extends 'events/registration/display/_meeting_registration_base.html' %}
{% endif %}

{% from 'events/registration/_template_hooks.html' import regform_attrs_template_hook %}
{% from 'message_box.html' import message_box %}

{% block title %}
    {%- trans %}Modify registration{% endtrans -%}
{% endblock %}

{% block subtitle %}
    #{{ registration.friendly_id }}: {{ registration.first_name }} {{ registration.last_name }}
{% endblock %}

{% block content %}
    <div id="registration-form-submission-container"
         data-event-id="{{ event.id }}"
         data-regform-id="{{ regform.id }}"
         data-submit-url="{{ request.url }}"
         data-currency="{{ regform.currency }}"
         data-form-data="{{ form_data | tojson | forceescape }}"
         data-registration-data="{{ registration_data | tojson | forceescape }}"
         data-registration-uuid="{{ registration.uuid }}"
         data-file-data="{{ file_data | tojson | forceescape }}"
         data-management="{{ management | tojson | forceescape }}"
         data-paid="{{ paid | tojson | forceescape }}"
         data-publish-to-participants="{{ regform.publish_registrations_participants.name }}"
         data-publish-to-public="{{ regform.publish_registrations_public.name }}"
         data-consent-to-publish="{{ registration.consent_to_publish.name }}"
         data-policy-agreement-required="{{ regform.require_privacy_policy_agreement | tojson | forceescape }}"
         data-bypass-target="{% trans %}Skip to registration form{% endtrans %}"
         {{ regform_attrs_template_hook(event, registration.registration_form, false, registration) }}
    ></div>
{% endblock %}
