<div class="action-box">
    <div class="section">
        <div class="icon icon-quill"></div>
        <div class="text">
            <div class="label">
                {% trans state=registration.state.name -%}
                    Your registration ({{ state }})
                {%- endtrans %}
            </div>
            {% if registration.state.name == 'complete' %}
                {% trans -%}
                    Everything is ready.
                {%- endtrans %}
            {% elif registration.state.name == 'pending' %}
                {% trans -%}
                    Awating for a manager to aprove it.
                {%- endtrans %}
            {% elif registration.state.name == 'unpaid' %}
                {% trans -%}
                    Awaiting for your payment.
                {%- endtrans %}
            {% endif %}
        </div>
        <div class="toolbar right">
            {% if regform.modification_mode.name != 'not_allowed' %}
                <div class="group">
                    {# TODO: link to registration modification #}
                    <a href="#" class="i-button icon-edit {% if not registration.can_be_modified %}disabled{% endif %}"
                        {% if not registration.can_be_modified %}
                            {% if not regform.is_modification_open -%}
                                title="{% trans %}The modification period is over{% endtrans %}"
                            {%- elif regform.modification_mode.name == 'allowed_until_payment' -%}
                                title="{% trans %}Modifications are not allowed after payment{% endtrans %}"
                            {%- endif %}
                        {% endif %}>
                        {% trans %}Modify{% endtrans %}
                    </a>
                </div>
            {% endif %}
            {# TODO: check e-ticket #}
            {% if true %}
                <div class="group">
                    {# TODO: link to ticket #}
                    <a href="" class="i-button highlight icon-ticket">
                        {% trans %}Get ticket{% endtrans %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="registration-summary" class="regform-done">
    <div class="i-box-header">
        <div class="i-box-title">
            {% trans %}Summary{% endtrans %}
        </div>
        <div class="i-box-metadata">
            <span class="label">
                {% trans %}Reference:{% endtrans %}
            </span>
            <span class="content">
                #{{ registration.id }}
            </span>
            <span class="label">
                {% trans %}Date:{% endtrans %}
            </span>
            <span class="content">
                {{ registration.submitted_dt|format_date }}
            </span>
        </div>
    </div>
    <div class="i-box-content">
        <table width="100%" cellpadding="0" cellspacing="0">
            {# TODO: render registration information #}
            {# ${ registration_info } #}
        </table>
    </div>
</div>

{% if registration.price %}
    {# TODO: check transaction status  #}
    {% if true %}
        <div class="warning-message-box">
            <div class="message-text">
                {% trans -%}
                    Please notice, your registration won't be complete until you perform the payment
                    <a href="#payment" class="js-highlight-payment">here</a>.
                {%- endtrans %}
            </div>
        </div>
    {# {% elif registrant.payment_status == TransactionStatus.pending %} #}
    {% elif true %}
        <div class="warning-message-box">
            <div class="message-text">
                {% trans -%}
                    Your payment is being processed. Please notice, your registration won't be complete until you
                    see a success message <a href="#payment" onclick="highlight_payment()">here</a>.
                    Come back to this page soon to check for new status.
                {%- endtrans %}
            </div>
        </div>
    {% endif %}
    <a name="payment"></a>
    <div id="payment-summary" class="regform-done">
        <div class="i-box-header">
            <div class="i-box-title">
                {% trans %}Invoice{% endtrans %}
            </div>
            {# TODO: check payment status #}
            {# % if payment_done: #}
            {% if true %}
                <div class="payment-status payment-done right">
                    {% trans %}Paid{% endtrans %}
                    <i class="icon-checkbox-checked"></i>
                </div>
            {# % elif registrant.payment_status == TransactionStatus.pending: #}
            {% elif true %}
                <div class="payment-status payment-pending right">
                    {% trans %}Pending{% endtrans %}
                    <i class="icon-time"></i>
                </div>
            {% else %}
                <div class="payment-status payment-not-paid right">
                    {% trans %}Not paid{% endtrans %}
                    <i class="icon-time"></i>
                </div>
            {% endif %}
        </div>
        <div class="i-box-content">
            <table width="100%" cellpadding="0" cellspacing="0">
                {# TODO: render payment info #}
                {# ${ payment_info } #}
            </table>
            {# TODO: check if pending to pay #}
            {# % if not payment_done and registrant.payment_status != TransactionStatus.pending: #}
            {% if true %}
                <table class="regform-done-conditions" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            {% if payment_conditions %}
                                <div class="checkbox-with-text">
                                    <input type="checkbox" id="conditions-accepted">
                                    <div class="payment-conditions-agreement">
                                        {% trans -%}
                                            I have read and accept the terms and conditions and understand that
                                            by confirming this order I will be entering into a binding transaction
                                        {%- endtrans %}
                                        (<a href="#" class="js-conditions-dialog"
                                            data-href="{{ url_for('payment.event_payment_conditions', event) }}"
                                            data-title="{% trans %}Terms and conditions{% endtrans %}">
                                            {%- trans %}Terms and conditions{% endtrans -%}
                                        </a>).
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('payment.event_payment', registration.locator.registrant) }}"
                               class="action-button js-check-conditions">
                                {% trans %}Checkout{% endtrans %}
                            </a>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="permalink-text">
    <div>
        {% trans -%}
            Use this link to come back to this page.<br>
            Make sure to keep it private as you do not need to be logged in to access it.
        {%- endtrans %}
    </div>
    <input type="text" class="permalink" readonly
           value="{{ url_for('.display_regform_summary', regform, token=registration.uuid, _external=true) }}">
</div>
