{% set type_icons = {
    'application/pdf': 'icon-file-pdf',
    'application/vnd.ms-excel': 'icon-file-excel',
    'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'icon-file-excel',
    'application/msword': 'icon-file-word',
    'application/application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'icon-file-word',
    'application/vnd.ms-powerpoint': 'icon-file-presentation',
    'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'icon-file-presentation',
    'application/vnd.oasis.opendocument.text': 'icon-file-openoffice',
    'application/vnd.oasis.opendocument.spreadsheet': 'icon-file-openoffice',
    'application/vnd.oasis.opendocument.presentation': 'icon-file-openoffice',
    'image/jpeg': 'icon-image',
    'image/png': 'icon-image',
    'image/tiff': 'icon-image',
    'image/gif': 'icon-image',
    'image/x-ms-bmp': 'icon-image'
} %}

{% macro get_attachment_icon(attachment) -%}
    {%- if attachment.type.name == 'link' -%}
        icon-link
    {%- else -%}
        {{ type_icons.get(attachment.file.content_type, 'icon-file-empty2') }}
    {%- endif -%}
{%- endmacro %}

{% macro _attachment_row(attachment) %}
    <li>
        <div class="{{ get_attachment_icon(attachment) }} node">
            <a href="{{ attachment.download_url }}" target="_blank" class="node-label">{{ attachment.title }}</a>
            <span class="details">
                <span class="date">{{ attachment.modified_dt|format_datetime('short') }}</span>
                <span class="actions">
                    <a href="#" class="icon-remove js-delete"
                       data-method="DELETE"
                       data-href="{{ url_for('.delete_attachment', attachment) }}"
                       data-title="{% trans name=attachment.title %}Remove {{ name }}?{% endtrans %}"
                       data-confirm="{% trans name=attachment.title -%}
                           Are you sure you want to remove &quot;{{ name }}&quot;?<br>
                           This will remove the attachment permanantly.
                           {%- endtrans %}">
                    </a>
                    <a class="icon-edit js-dialog-action"
                       data-href="{{ url_for('.modify_attachment', attachment) }}"
                       data-title="{% trans name=attachment.title %}Edit {{ name }}{% endtrans %}"></a>
                </span>
            </span>
        </div>
    </li>
{% endmacro %}

{% macro _folder_row(folder) -%}
    <li class="expandable {%- if not folder.attachments %} collapsed{% endif %}">
        <div class="icon-material-download node">  {# TODO: use folder icon #}
            <span class="node-label">{{ folder.title }}</span>
            <span class="details">
                <span class="actions">
                    <a href="#" class="icon-remove js-delete"
                       data-method="DELETE"
                       data-href="{{ url_for('.delete_folder', folder) }}"
                       data-title="{% trans name=folder.title %}Remove {{ name }}?{% endtrans %}"
                       data-confirm="{% trans name=folder.title -%}
                           Are you sure you want to remove &quot;{{ name }}&quot;?<br>
                           This will remove the folder and its contents permanantly.
                       {%- endtrans %}">
                    </a>
                    <span class="icon-edit"></span>
                </span>
            </span>
        </div>
        <ul class="tree sub-tree" {%- if not folder.attachments %} style="display: none;"{% endif %}>
            {{- _render_tree(folder.attachments, false) -}}
        </ul>
    </li>
{%- endmacro %}

{% macro _render_tree(nodes, is_folder) -%}
    {%- for sub_node in nodes -%}
        {% if is_folder %}
            {{ _folder_row(sub_node) }}
        {% else %}
            {{ _attachment_row(sub_node) }}
        {% endif %}
    {%- else -%}
        <li>
            <div class="node empty">
                <span class="node-label">{% trans %}empty folder{% endtrans %}</span>
            </div>
        </li>
    {%- endfor -%}
{%- endmacro %}

{% macro render_attachments(attachments, linked_object) -%}
    {%- if attachments -%}
        <ul class="tree">
            {%- if attachments.folders -%}
                {{ _render_tree(attachments.folders, true) }}
            {%- endif -%}
            {%- if attachments.files -%}
                {{ _render_tree(attachments.files, false) }}
            {%- endif -%}
        </ul>
    {%- else -%}
        <span class="empty">{% trans %}There are no attachments yet.{% endtrans %}</span>
    {%- endif -%}
    <div class="i-box-footer text-right js-attachment-actions">
        <a href="#" class="i-button icon-plus js-dialog-action" data-href="{{ url_for('.create_folder', linked_object) }}"
           data-title="{% trans %}Add new folder{% endtrans %}">
            {% trans %}Add new folder{% endtrans -%}
        </a>
    </div>
{%- endmacro %}
