{% from 'forms/_form.html' import form_header, form_footer, form_row, form_rows %}

{%- block content %}
    {{ form_header(form)}}
    {{ form_row(form.link_url, widget_attrs={'placeholder': 'Example: http://www.example.com/YourPDFFile.pdf'}) }}
    {{ form_rows(form, skip=(form.link_url.short_name,)) }}
    {% call form_footer(attach_form) %}
        <input class="i-button big highlight" type="submit" value="{% trans %}Submit{% endtrans %}">
        <button class="i-button big" data-button-back>{% trans %}Back{% endtrans %}</button>
    {% endcall %}
    <script>
        $(document).ready(function() {
            $('#folder').nullableselector();
        });
    </script>
{%- endblock %}
