{% extends 'layout/base.html' %}

{% block title %}{% trans %}Attachments{% endtrans %}{% endblock %}

{% block content %}
    <div class="toolbar">
        <div class="group">
            <span class="i-button label">Add attachments</span>
            <a href="#" class="i-button icon-upload" id="btn-add-files"
               data-href="{{ url_for('.upload', event) }}">Upload files</a>
            <a href="#" class="i-button icon-link" title="Edit" id="btn-add-link"
               data-href="{{ url_for('.add_link', event) }}">Add link</a>
        </div>
    </div>
    <script>
        $('#btn-add-files').ajaxDialog({
            title: $T('Upload attachments'),
            onClose: function(data) {
                if (data) {
                    location.reload();
                }
            }
        });
        $('#btn-add-link').ajaxDialog({
            title: $T('Add link'),
            onClose: function(data) {
                if (data) {
                    location.reload();
                }
            }
        });
    </script>
{% endblock %}
