{% from 'forms/_form.html' import form_header, form_footer, form_row, form_rows %}

{%- block content %}
    {{ form_header(form, id='dropzone', classes='dropzone')}}
    <div class="dropzone-area">
        <div class="dropzone-previews">
            <div class="dz-message">
              {% trans %}Drag files here{% endtrans %}
              <span class="message-seperator">- or -</span>
            </div>
        </div>
        <div class="select-files-btn">
            <button class="i-button" onclick="return false;">
                {%- trans %}Choose from your computer{% endtrans -%}
            </button>
        </div>
    </div>
    {{ form_rows(form) }}
    {% call form_footer(attach_form) %}
        <div class="dropzone-upload-btn">
            <input class="i-button big highlight js-dropzone-upload" type="submit" disabled
                   value="{% trans %}Upload{% endtrans %}">
        </div>
    {% endcall %}
    <script>
        // Disabling autoDiscover, otherwise Dropzone will try to attach twice.
        Dropzone.autoDiscover = false;

        $(function() {
          var myDropzone = new Dropzone('#dropzone', {
            url: {{ url_for('.upload', event) | tojson }},
            clickable: '.dropzone-area',
            previewsContainer: '.dropzone-previews',
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 10,
            maxFiles: 10,
            init: function() {
                var uploadButton = $('.js-dropzone-upload')
                    myDropzone = this;

                uploadButton.on('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $('.dz-progress').show();
                    myDropzone.processQueue();
                });

                myDropzone.on('addedfile', function() {
                    uploadButton.removeAttr('disabled');
                    $('.dz-message').hide();
                    $('.dz-progress').hide();
                });
            }
          });
        })
    </script>
{%- endblock %}
