{% macro render_note(note, hidden=true, for_event=none) %}
    <div id="event-note-{{ note.id }}" class="note-block i-box titled {% if not for_event %}{{ _togglable_classes(hidden) }}{% endif %}">
        <div class="i-box-header">
            <div class="i-box-title">
                {% trans %}Minutes{% endtrans %}
            </div>
            {% if for_event %}
                {{ render_event_note_buttons(event=for_event, note=note, hidden=hidden) }}
            {% endif %}
        </div>
        <div class="i-box-content {% if for_event %}{{ _togglable_classes(hidden) }}{% endif %}">
            {{ note.html|safe }}
        </div>
    </div>
{% endmacro %}


{% macro render_event_note_buttons(event, note=none, hidden=true) %}
    <div class="i-box-buttons toolbar right">
        {% if note %}
            <div class="group">
                {{ render_toggle_button(note=note, note_is_hidden=hidden) }}
            </div>
            <div class="group">
                <button class="i-button icon-edit js-note-editor" title="{% trans %}Edit{% endtrans %}"
                        data-href="{{ url_for('event_notes.edit', event) }}"></button>
            </div>
            <div class="group">
                <button class="i-button icon-remove js-confirm-warning" title="{% trans %}Delete{% endtrans %}"
                        data-href="{{ url_for('event_notes.delete', event) }}" data-method="POST"
                        data-title="{% trans %}Delete minutes?{% endtrans %}"
                        data-confirm="{% trans %}Do you want to delete the minutes of this event{% endtrans %}"></button>
            </div>
        {% else %}
            <div class="group">
                <button class="i-button highlight icon-plus js-note-editor"
                        data-href="{{ url_for('event_notes.edit', event) }}">
                    {% trans %}Add{% endtrans %}
                </button>
            </div>
            <div class="group">
                <button class="i-button icon-stack js-note-editor"
                        data-href="{{ url_for('event_notes.compile', event) }}">
                    {% trans %}Compile{% endtrans %}
                </button>
            </div>
        {% endif %}
    </div>
{% endmacro %}


{% macro render_toggle_button(note, note_is_hidden) %}
    <span class="i-button note-visibility-toggle js-show-note-toggle {% if note_is_hidden %}note-is-hidden{% endif %}"
          data-note-id="{{ note.id }}">
        <span class="do-show-text">
            {% trans %}Show minutes{% endtrans %}
        </span>
        <span class="do-hide-text">
            {% trans %}Hide minutes{% endtrans %}
        </span>
    </span>
{% endmacro %}


{% macro _togglable_classes(hidden) -%}
    togglable {% if hidden %}weak-hidden{% endif %}
{%- endmacro %}
