{% from 'events/display/conference/_util.html' import format_event_date %}

{% macro render_cover_page(event) %}
    <div class="pagebreak cover">
        <div class="cover-wrapper">
            <div>
                {% if event.logo %}
                    <img alt="Event logo" src="event://logo" class="logo" />
                {% endif %}
                <h1>{{ event.title }}</h1>
                <h3>{{ format_event_date(event) }}</h3>
                <h1>{% trans %}Programme{% endtrans %}</h1>
                <br />
                {% if event.has_location_info %}
                    <div>
                        <b>Location:</b>
                        <br />
                        {{ event.venue_name + (', ' + event.room_name if event.venue_name and event.room_name else event.room_name) }}
                        {% if (event.venue_name or event.room_name) and event.address %}
                            <br />
                            {{ event.address }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
