{% macro render_program(event, days, show_abstract, dont_show_poster_abstract, show_contribs, show_length_contribs, show_breaks, new_page_per_session, show_session_description, print_date_close_to_sessions, show_title, show_affiliation) %}
    {% for day in days %}
        <div class="day pagebreak program-{{loop.index}} {{ 'pagebreak-children' if new_page_per_session else '' }}" id="day-{{ loop.index }}">
            <div class="day-title">
                <h2>{{ day|format_date('EEEE, d MMMM', timezone=event.tz)  }}</h2>
            </div>
            {% for entry in days[day] %}
                {% set should_render = (
                    entry.type.name == 'SESSION_BLOCK' or
                    (entry.type.name == 'CONTRIBUTION' and show_contribs) or
                    (entry.type.name == 'BREAK' and show_breaks)
                ) %}

                {% if should_render %}
                    <div class="day-entry">
                        {% if entry.type.name != 'CONTRIBUTION' %} 
                            {{ get_color_styles(entry) }}
                        {% endif %}
                        <div class="time-text time-from">
                            {{ entry.start_dt|format_time(timezone=entry.event.tz) }}
                        </div>
                        <section class="{{ get_custom_id(entry) }}">
                            {{ render_block_date(entry, day, print_date_close_to_sessions) }}
                            <section class="session-block {{ 'contribution' if entry.type.name == 'CONTRIBUTION' else '' }}">
                                {{
                                    render_session_block(
                                        entry,
                                        show_abstract,
                                        dont_show_poster_abstract,
                                        show_contribs,
                                        show_length_contribs,
                                        new_page_per_session,
                                        show_session_description,
                                        show_title,
                                        show_affiliation
                                    )
                                }}
                            </section>
                        </section>
                        <div class="time-text time-to">
                            {{ entry.end_dt|format_time(timezone=entry.event.tz) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_session_block(entry, show_abstract, dont_show_poster_abstract, show_contribs, show_length_contribs, new_page_per_session, show_session_description, show_title, show_affiliation) %}
    {% set session_block = entry.object %}
    {% set session = session_block.session or session_block %}
    {% set is_contribution = entry.type.name == 'CONTRIBUTION' %}
    {% set presenters = session_block.speakers if is_contribution else session_block.person_links %}
    {% set contributions = session_block.contributions %}
    {% set show_session_block_content = (
        not entry.type.name == 'BREAK' and
        (
            entry.children or
            (show_session_description and session.description) or
            (show_abstract and session_block.description)
        )
    ) %}

    <div class="session-block-wrapper">
        <section
            id="entry-{{ entry.id }}"
            class="session-block-title inherited-bg-color inherited-txt-color {{ 'only-round-top' if show_session_block_content else ''}}"
            style="{{'border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;' if show_session_block_content else ''}}"
        >
            <h3>
                {% if session.title and session_block.title %}
                    {{ session.title }}: {{ session_block.title }}
                {% else %}
                    {{ session_block.title or session.title }}
                {% endif %}
            </h3>
            <div class="session-block-title-info">
                <p><b>
                    {% if entry.type.name == 'CONTRIBUTION' %}
                        {% trans %}Contribution{% endtrans %}
                    {% elif entry.type.name == 'BREAK' %}
                        {% trans %}Break{% endtrans %}
                    {% elif session.is_poster %}
                        {% trans %}Poster Session{% endtrans %}
                    {% else %}
                        {% trans %}Session{% endtrans %}
                    {% endif %}
                </b></p>
                <p>
                    <b>{% trans %}Location{% endtrans %}:</b>
                    {{ render_place(entry) }}
                </p>
                {% if entry.type.name != 'BREAK' and presenters %}
                    <p>
                        <b>{{ ngettext('Speaker', 'Speakers', presenters|length) if is_contribution else ngettext('Convener', 'Conveners', presenters|length) }}:</b>
                        {{ render_names(presenters, show_title=show_title, show_affiliation=show_affiliation) }}
                    </p>
                {% endif %}
            </div>
        </section>
        {% if show_session_block_content %}
            <div class="session-block-content">
                {% if (show_session_description and session.description) or (show_abstract and session_block.description) %}
                    <div class="session-block-content-box description inherited-border-color">
                        <ul class="contrib-timeline">
                            <li>
                                <h4>{% trans %}Description{% endtrans %}</h4>
                                {{ session_block.description or session.description }}
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% if entry.children %}
                    <div class="session-block-content-box inherited-border-color">
                        <ul class="contrib-timeline">
                            {% for child in entry.children %}
                                <li class="inherited-border-color">
                                    <div class="contrib-heading">
                                        {% if not session.is_poster %}
                                            <span class="timebox inherited-bg-color inherited-txt-color">
                                                {{ format_interval(child.start_dt.astimezone(child.event.tzinfo), child.end_dt.astimezone(child.event.tzinfo), format='hh:mm') }}
                                                {% if show_length_contribs %}
                                                    ({{ (child.end_dt - child.start_dt)|format_human_timedelta(narrow=True) }})
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                        <h4>{{ child.object.title }}</h4>
                                    </div>
                                    {% if child.type.name == 'CONTRIBUTION' %}
                                        <div class="contrib-timeline-content" >
                                            {{ render_nested_contrib(child, show_abstract, dont_show_poster_abstract, show_title, show_affiliation, show_length_contribs) }}
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_nested_contrib(entry, show_abstract, dont_show_poster_abstract, show_title, show_affiliation, show_length_contribs=false) %}
    {% set contrib = entry.object if entry.object else entry %}
    {% set speakers = contrib.speakers %}

    {% if speakers %}
        <p>
            <b>{{ ngettext('Speaker', 'Speakers', speakers|length)}}</b><br />
            {{ render_names(speakers, show_title=show_title, show_affiliation=show_affiliation) }}
        </p>
    {% endif %}

    {% if not contrib.inherit_location and contrib.has_location_info %}
        <p>
            <b>{% trans %}Location{% endtrans %}</b><br />
            {{ render_place(contrib) }}
        </p>
    {% endif %}
    {% if show_abstract and (not dont_show_poster_abstract or entry.is_poster) and contrib.description %}
        <div class="description">
            <b>{% trans %}Description{% endtrans %}</b>
            {# Description can be markdown #}
            <div>{{ contrib.description }}</div>
        </div>
    {% endif %}
    {% if contrib.subcontributions %}
        <div>
            <b>{% trans %}Subcontributions{% endtrans %}</b>
            <ul class="sub-contrib-timeline inherited-bg-color-trans inherited-border-color">
                {% for subchild in contrib.subcontributions %}
                    <li class="inherited-border-color">
                        <div class="contrib-heading">
                            {% if show_length_contribs and not contrib.session.is_poster %}
                                <span class="timebox inherited-bg-color inherited-txt-color">
                                    {{ (subchild.duration)|format_human_timedelta(narrow=True) }}
                                </span>
                            {% endif %}
                            <h4>{{ subchild.title }}</h4>
                        </div>
                        <div class="contrib-timeline-content">
                            {{ render_nested_contrib(subchild, show_abstract, dont_show_poster_abstract, show_title, show_affiliation, show_length_contribs) }}
                        </div>
                    </li>
                {% endfor%}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_block_date(entry, day, print_date_close_to_sessions) %}
    {% if print_date_close_to_sessions %}
        <p class="session-block-date">
            <b>{{ day|format_date('EEEE, d MMMM', timezone=entry.event.tz) }}</b>
            <span class="timebox">
                {{ format_interval(entry.start_dt.astimezone(entry.event.tzinfo), entry.end_dt.astimezone(entry.event.tzinfo), format='hh:mm') }}
            </span>
        </p>
    {% endif %}
{% endmacro %}

{% macro render_time(entry) %}
    <div class="time">
        <div class="time-from">
            {{ entry.start_dt|format_time(timezone=entry.event.tz) }}
        </div>
        <div class="time-divider">
            {# Line between generated in CSS #}
        </div>
        <div class="time-divider">
            {# Line between generated in CSS #}
        </div>
        <div class="time-to">
            {{ entry.end_dt|format_time(timezone=entry.event.tz) }}
        </div>
    </div>
{% endmacro %}

{# Utilities #}

{% macro render_place(entry) %}
    {% set entry = entry.object if entry.object else entry %}
    {% set place_arr = [entry.venue_name or '', entry.room_name or '', entry.address or ''] %}

    {{ place_arr | select | join(', ') }}
{% endmacro %}

{% macro render_names(people, show_title=false, show_affiliation=false) %}
    {% for person in people %}
        {{ person.get_full_name(show_title=show_title, abbrev_first_name=false, last_name_first=false, last_name_upper=false) }}
        {%- if show_affiliation and person.affiliation %}
            ({{ person.affiliation }})
        {%- endif -%}
        {%- if not loop.last %},{% endif %}
    {% endfor %}
{% endmacro %}

{% macro get_custom_id(entry) -%}
    {{ 'c' ~ entry.type ~ '-' ~ entry.id }}
{% endmacro %}

{% macro get_color_styles(entry) %}
    {% set c_id = get_custom_id(entry) %}
    {% set colors = entry.object.colors or entry.object.session.colors %}

    <style>
        .{{ c_id }} .inherited-bg-color {
            background-color: #{{ colors.background }};
        }

        .{{ c_id }} .inherited-bg-color-trans {
            background-color: #{{ colors.background }}66;
        }

        .{{ c_id }} .inherited-txt-color {
            color: #{{ colors.text }};
        }

        .{{ c_id }} .inherited-border-color {
            border-color: #{{ colors.background }};
        }
    </style>
{% endmacro %}
