{% macro render_toc(event, days, show_sessions=true, show_contribs=true, show_breaks=true) %}
    <nav class="pagebreak toc">
        <h1>{% trans %}Table of contents{% endtrans %}</h1>
        {% for day in days %}
            <div class="toc-item toc-item-main">
                <a href="#day-{{ loop.index }}">{{ day|format_skeleton('EEEEdMMM') }}</a>
            </div>
            {% if show_sessions %}
                <div class="toc-sessions">
                    {% for entry in days[day] %}
                        {% set can_render_item = (
                            entry.type.name == 'SESSION_BLOCK' or
                            (entry.type.name == 'CONTRIBUTION' and show_contribs) or
                            (entry.type.name == 'BREAK' and show_breaks) 
                        )%}
                        {% if can_render_item %}
                            {{ render_toc_item(entry) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </nav>
{% endmacro %}

{% macro render_toc_item(entry) %}
    <div class="toc-item">
        <a href="#entry-{{ entry.id }}">
            {{ entry.object.title or entry.object.session.title }}
        </a>
    </div>
{% endmacro %}
