* {
  box-sizing: border-box;
  /* font-family: Lato; */
  line-height: 1.2em;
}

.pagebreak {
  break-after: always;
}

.cover {
  counter-reset: program-page 7;
  min-height: 100vh;
}

.cover > div.cover-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover > div.cover-wrapper > div {
  text-align: center;
  width: 100%;
}

.toc {
  page: toc;
}

.toc h1 {
  text-align: center;
}

.toc ol {
  padding: 0;
}

.toc .toc-item {
  list-style: none;
  margin-top: 0.5em;
}

.toc > ol > .toc-item {
  padding-top: 1em;
}

.toc .toc-item .toc-item {
  padding-left: 5em;
}

.toc .toc-item a::after {
  content: leader('.') target-counter(attr(href), page, decimal);
}

.toc .toc-item a {
  text-decoration: none;
}

#footer {
  position: running(footer);
}

#footer::after {
  content: target-counter('#footer', page, decimal);
}

/* body {
  border: 1px solid green;
} */

.time-and-place {
  /* line-height: 1.2em; */
  /* max-width: 30%; */
}

.content {
  /* padding-left: 2em; */
}

.day-program {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

table,
tr,
td {
  border: none;
}

.day-program td {
  padding: 0.5em;
  vertical-align: top;
}

/* Ajob addition */

.session-block {
  display: flex;
  padding: 10px;
  align-items: stretch;
  border: 1px solid red;
  flex-wrap: nowrap;
  width: 100%;
}

.session-block-wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.session-block-title {
  border: 1px solid blue;
  flex-grow: 1;
}

.session-block-content {
  width: 100%;
}

.day-title {
  margin: 40px 0;
}

.time {
  margin-right: 10px;
  border: 1px solid orange;
  width: 80px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}

.time > .time-divider {
  width: 4px;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
