{% extends 'events/papers/emails/base.html' %}

{% block subject_message %}{% trans %}Added in paper reviewing team{% endtrans %}{% endblock %}

{% block header_subtitle %}{% trans %}Added in paper reviewing team{% endtrans %}{% endblock %}

{% block content %}
    <p>{% trans name=receiver.first_name %}Dear {{ name }},{% endtrans %}</p>
    <p>
        {% trans title=role.title, event_title=event.title, strong='<strong>'|safe, endstrong='</strong>'|safe -%}
            You have been chosen as a {{ strong }}{{ title }}{{ endstrong }} for the conference {{ strong }}{{ event_title }}{{ endstrong }} in order to help with the paper reviewing process.
        {%- endtrans %}
    </p>
    {% if role.name == 'judge' %}
        <p>{% trans %}Once there are some papers for you to judge, you will be able to do so in the judging area page{% endtrans %}:</p>
        <p>
            <a href="{{ url_for('papers.papers_list', event, management=false, _external=true) }}">
                {{- url_for('papers.papers_list', event,management=false, _external=true) -}}
            </a>
        </p>
    {% else %}
        <p>{% trans %}Once there are some papers for you to review, you will be able to do so in the reviewing area page:{% endtrans %}</p>
        <p>
            <a href="{{ url_for('papers.reviewing_area', event, _external=true) }}">
                {{- url_for('papers.reviewing_area', event, _external=true) -}}
            </a>
        </p>
    {% endif %}
{% endblock %}
