{% extends 'events/papers/emails/base.html' %}

{% block subject_message %}Paper reviewed{% endblock %}

{% block header_subtitle %}Paper reviewed{% endblock %}

{% block header_subtitle_ref %}ref #{{ contribution.friendly_id }}{% endblock %}

{% block content_header %}
    <p>Dear {{ receiver.first_name }},</p>
    <p>A reviewer just left a review on the paper <strong>"{{ contribution.title }}"</strong>.</p>
    <p>In order to cast your judgment please follow the link to the paper below:</p>
    <p>
        <a href="{{ url_for('papers.paper_timeline', contribution, _external=true) }}">
            {{- url_for('papers.paper_timeline', contribution, _external=true) -}}
        </a>
    </p>
{% endblock %}

{% block content_body %}
    <dl>
        <dt style="width: 30%; float: left;">Reviewer:</dt>
        <dd style="width: 70%; float: left; margin: 0; min-height: 20px; white-space: pre-wrap; word-break: break-all; padding-left: 20px; box-sizing: border-box;">
            {{- review.user.full_name -}}
        </dd>
        <dt style="width: 30%; float: left;">Review type:</dt>
        <dd style="width: 70%; float: left; margin: 0; min-height: 20px; white-space: pre-wrap; word-break: break-all; padding-left: 20px; box-sizing: border-box;">
            {{- review.type.title -}}
        </dd>
        <dt style="width: 30%; float: left;">Proposed action:</dt>
        <dd style="width: 70%; float: left; margin: 0; min-height: 20px; white-space: pre-wrap; word-break: break-all; padding-left: 20px; box-sizing: border-box;">
            {{- review.proposed_action.title -}}
        </dd>
        {% if review._comment %}
            <dt style="width: 30%; float: left;">Comment:</dt>
            <dd style="width: 70%; float: left; margin: 0; min-height: 20px; white-space: pre-wrap; word-break: break-all; padding-left: 20px; box-sizing: border-box;">
                {{- review._comment -}}
            </dd>
        {% endif %}
    </dl>
    <div style="clear: both;"></div>
{% endblock %}
