{% extends 'forms/base_widget.html' %}


{% block html %}
    <input type="hidden" id="{{ field.id }}" name="{{ field.name }}" value="{{ field._value()|tojson|forceescape }}">
    <div class="contribution-people {% if field.allow_authors %}no-border-top{% endif %}" data-tooltip-anchor>
        <div id="people-list-{{ field.id }}" class="people-lists">
            {% if field.allow_authors %}
                <div id="author-list-title-{{ field.id }}" class="titled-rule">
                    {% trans %}Authors{% endtrans %}
                </div>
                <div id="no-author-placeholder-{{ field.id }}" class="nobody-placeholder">
                    {% trans %}There are no authors{% endtrans %}
                </div>
                <div id="author-list-{{ field.id }}"></div>
                <div id="coauthor-list-title-{{ field.id }}" class="titled-rule">
                    {% trans %}Co-authors{% endtrans %}
                </div>
                {% if field.show_empty_coauthors %}
                    <div id="no-coauthor-placeholder-{{ field.id }}" class="nobody-placeholder">
                        {% trans %}There are no co-authors{% endtrans %}
                    </div>
                {% endif %}
                <div id="coauthor-list-{{ field.id }}"></div>
                <div id="other-list-title-{{ field.id }}" class="titled-rule">
                    {% trans %}Others{% endtrans %}
                </div>
                <div id="other-list-{{ field.id }}"></div>
            {% else %}
                <div id="other-list-{{ field.id }}"></div>
                <div id="nobody-placeholder-{{ field.id }}" class="nobody-placeholder">
                    {% trans %}There are no speakers{% endtrans %}
                </div>
            {% endif %}
        </div>
        <div class="i-box-footer" style="text-align: right;">
            <span id="add-existing-{{ field.id }}" class="i-button">
                {% trans %}Add existing{% endtrans %}
            </span>
            <span id="add-new-{{ field.id }}" class="i-button">
                {% trans %}Add new{% endtrans %}
            </span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            'use strict';

            var $field = $('#{{ field.id }}');
            var $fieldDisplay = $('#people-list-{{ field.id }}');
            var $authorList = $fieldDisplay.find('#author-list-{{ field.id }}');
            var $noAuthorPlaceholder = $fieldDisplay.find('#no-author-placeholder-{{ field.id }}');
            var $coauthorList = $fieldDisplay.find('#coauthor-list-{{ field.id }}');
            var $coauthorListTitle = $fieldDisplay.find('#coauthor-list-title-{{ field.id }}');
            var $noCoauthorPlaceholder = $fieldDisplay.find('#no-coauthor-placeholder-{{ field.id }}');
            var $otherList = $fieldDisplay.find('#other-list-{{ field.id }}');
            var $otherListTitle = $fieldDisplay.find('#other-list-title-{{ field.id }}');
            var $nobodyPlaceholder = $fieldDisplay.find('#nobody-placeholder-{{ field.id }}');
            var $buttonAddExisting = $('#add-existing-{{ field.id }}');
            var $buttonAddNew = $('#add-new-{{ field.id }}');

            function renderPeople(people) {
                $authorList.html('');
                $coauthorList.html('');
                $otherList.html('');
                _.each(people, renderPerson);
                $noAuthorPlaceholder.toggle($authorList.is(':empty'));
                {% if not field.show_empty_coauthors %}
                    $coauthorListTitle.toggle($coauthorList.is(':not(:empty)'));
                {% else %}
                    $noCoauthorPlaceholder.toggle($coauthorList.is(':empty'));
                {% endif %}
                $otherListTitle.toggle($otherList.is(':not(:empty)'));
                $nobodyPlaceholder.toggle(people.length == 0);
            }

            function renderPerson(person) {
                var $personRow = $('<div>').addClass('person-row');
                var $personName = $('<span>').text(person.name);
                var $personStatus = $('<span>').addClass('person-status');
                var $personButtons = $('<span>').addClass('person-buttons');
                var $buttonRemove = $('<a>').addClass('i-button-icon danger icon-close').attr('title', $T.gettext("Remove person"));
                var $buttonConfig = $('<a>').addClass('i-button-icon icon-settings').attr('title', $T("Configure person"));

                $personRow.append($personName).append($personStatus);
                $personStatus.append($personButtons);
                $personButtons.append($buttonRemove).append($buttonConfig);
                if (person.isSpeaker) {
                    $personStatus.prepend($('<span>').addClass('i-label').text($T("Speaker")));
                }

                setPersonDefaults(person);
                if (person.authorType == 0) {
                    $otherList.append($personRow);
                } else if (person.authorType == 1) {
                    $authorList.append($personRow);
                } else if (person.authorType == 2) {
                    $coauthorList.append($personRow);
                }

                setupPersonConfig(person, $buttonConfig);
                $buttonRemove.on('click', function() {
                    $field.principalfield('removeOne', person.id);
                });
            }

            function setPersonDefaults(person) {
                if (person.authorType === undefined) {
                    person.authorType = {{ field.default_author_type.value|tojson }};
                }
                if (person.isSpeaker === undefined) {
                    person.isSpeaker = {{ field.default_is_speaker|tojson }};
                }
            }

            function setupPersonConfig(person, $element) {
                var $buttons = $('<div>');

                if (person.authorType != 1) {
                    var $authorButton = $('<div>').addClass('action-row').text($T.gettext("Move to authors"));
                    $authorButton.on('click', function() {
                        $element.qbubble('hide');
                        $field.principalfield('set', person.id, {authorType: 1});
                    });
                    $buttons.append($authorButton);
                }

                if (person.authorType != 2) {
                    var $coAuthorButton = $('<div>').addClass('action-row').text($T.gettext("Move to co-authors"));
                    $coAuthorButton.on('click', function() {
                        $element.qbubble('hide');
                        $field.principalfield('set', person.id, {authorType: 2});
                    });
                    $buttons.append($coAuthorButton);
                }

                if (person.authorType != 0) {
                    var $nonAuthorButton = $('<div>').addClass('action-row').text($T.gettext("Move to others"));
                    $nonAuthorButton.on('click', function() {
                        $element.qbubble('hide');
                        $field.principalfield('set', person.id, {authorType: 0, isSpeaker: true});
                    });
                    var $speakerSeparator = $('<div>').addClass('titled-rule').text($T("or"));
                    var $speakerButton = $('<div">').addClass('action-row');
                    $speakerButton.text(person.isSpeaker ? $T.gettext("Not a speaker anymore") : $T.gettext("Make a speaker"))
                    $speakerButton.on('click', function() {
                        $element.qbubble('hide');
                        $field.principalfield('set', person.id, {isSpeaker: !person.isSpeaker});
                    });
                    $buttons.append($nonAuthorButton).append($speakerSeparator).append($speakerButton);
                }

                $element.qbubble({
                    style: {
                        classes: 'contribution-person-qbubble'
                    },
                    content: {
                        text: $buttons
                    },
                    position: {
                        my: 'left middle',
                        at: 'right middle',
                        adjust: {x: 15}
                    },
                    events: {
                        show: function() {
                            $element.addClass('active');
                            $element.closest('.person-row').addClass('active');
                        },
                        hide: function() {
                            $element.removeClass('active');
                            $element.closest('.person-row').removeClass('active');
                        }
                    }
                });
            }

            $field.principalfield({
                eventId: {{ field.event.id|tojson }},
                allowExternalUsers: false,
                multiChoice: true,
                overwriteChoice: false,
                render: function(people) {
                    renderPeople(people);
                },
            });

            $buttonAddExisting.on('click', function() {
                $field.principalfield('choose');
            });

            $buttonAddNew.on('click', function() {
                $field.principalfield('enter');
            });
        });
    </script>
{% endblock %}
