<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{%- trans %}Participant List{% endtrans -%}</title>
</head>

<body>
    <div class="header">
        <h1>{{ event.title }}</h1>
        <div class="date">{{ generation_date }}</div>
    </div>

    <div class="sub-title">{%- trans %}List of registrants{% endtrans -%}</div>

    <table>
        <thead>
            <tr>
                {% set headers = primary_headers + dynamic_headers%}
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                {% for static_item_id in static_headers %}
                    {% if static_item_id in static_column_names %}
                        <th>{{ static_column_names[static_item_id] }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for header in headers %}
                        <td>{{ row[header] }}</td>
                    {% endfor %}
                    {% for static_item_id in static_headers %}
                        {% if static_item_id in row %}
                            <td>{{ row[static_item_id] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
