@import 'base';

.instance-tracking-settings {
    float: left;
    width: 500px;
    margin-right: 120px;
    margin-bottom: 40px;

    .clearfix {
        margin-bottom: 20px;

        .field-input {
            float: right;

            &:not(.toggle-button) {
                width: 300px;
            }

            .icon-out-of-sync {
                font-size: 20px;
                margin-left: 20px;
                color: $gray;
                display: none;
            }

            .data-out-of-sync, .data-synced {
                font-weight: bold;
            }

            .data-out-of-sync {
                color: $yellow;
            }

            .data-synced {
                color: $green;
            }
        }

        .field-label {
            float: left;
            width: 150px;

            .status-label {
                margin-top: 8px;
            }
        }

        label {
            float: right;
            font-weight: normal;
        }

        .hidden-input {
            display: none;
        }

        a, input, .toggle-button {
            float: left;
        }

        a:not(.i-button), input {
            width: 260px;
        }

        &.toolbar {
            float: right;
        }
    }

    .toggle-button {
        @include box-sizing(border-box);
        border: 1px solid #999;
        box-shadow: 0 0 5px rgba(100,100,100,0.3) inset;
        width: 4em;
        display: inline-block;
        background: #ddd;
        height: 2em;
        cursor: pointer;
        position: relative;

        .toggle {
            @include box-sizing(border-box);
            @include transition-property(left, background-color, border-color);
            @include transition-duration(.25s);
            position: absolute;
            left: 0px;
            width: 50%;
            height: 100%;
            background: #aaa;
            text-align: center;
            border: 1px solid #888
        }

        .toggle::before {
            color: #666;
            display: inline-block;
            font-size: 0.8em;
            content: "NO";
            line-height: 2.2em;
        }

        &.toggled {

            .toggle {
                box-shadow: 0 0 1px rgba(255,255,255,0.8) inset;
                background-color: $light-blue-logo;
                border-color: lighten($dark-blue-logo, $color-variation);
                left: 2em;
            }

            .toggle::before {
                content: "YES";
                color: #eee !important;
            }
        }
    }
}

.out-of-sync {
    float: left;
    display: none;
    margin-left: 20px;
    max-width: 460px;

    .group {
        padding-top: 15px;

        a {
            float: right;
        }
    }
}

.missing-record-text, .out-of-sync-text {
    display: none;

    .out-of-sync-field {
        display: none;

        li {
            font-weight: bold;
        }
    }
}

.out-of-sync-message {
    display: none;
    height: 22px;

    .message-text {
        float: left;
        padding-top: 0.2em;
    }

    .group {
        float: right;
    }
}
