@import "compass";
@import 'base';

$dark-blue-logo: #005272;
$light-blue-logo: #00A4E4;
$init-setup-font-family: "Maven Pro"

.init-setup-header {
    font-family: $init-setup-font-family;
    color: #005272;
    width: 100%;
    background-color: $dark-blue-logo;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    background-position: 20px 20px;
    font-weight: bolder;
    padding-top: 20px;
    z-index: 1;
    height: 350px;
    border-bottom: 5px solid white;

    .header-logo {
        height: 50%;
        color: white;

    }

    .header-title {
        font-size: 54px;
        color: $light-blue-logo;
    }

    .header-subtitle{
        color: white;
        font-size: 26px;
    }

    &.mini {
        position:fixed;
        top: 0;
        height: 120px;
        text-align: left;

        .header-logo {
            float: left;
            height: 75%;
            margin-left: 50px;
            padding-right: 30px;
        }
    }

    .language-selector {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0;

        .i-button.arrow {
            border-radius: 0;
            border: 0;
            width: 102px;
        }

        .dropdown {
            text-align: left;
            width: 100px;
        }
    }
}

.init-setup-body:before, .init-setup-body:after {
    content: "";
    display: table;
    line-height: 0;
}

.init-setup-body {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    min-width: 800px;
    max-width: 1140px;
    width: 100%;
    background: white;
    border-left: 3px #005272 solid;
    font-family: $init-setup-font-family;

    &.mini {
        margin-top: 120px;
    }

    .init-setup-form {
        width: 100%;
        height: 100%;

        .step-wrapper {
            height: 100%;
            width: 100%;
            color: $black;
            padding-top: 75px;

            div {
                @include clearfix;
            }

            .step-icon {
                float: left;
                margin-top: 1em;
                margin-left: -50px;
                border: 5px solid white;
                box-sizing: border-box;
                border-radius: 50%;
                background-color: #005272;
                width: 100px;
                height: 100px;
                padding: 0px;

                i {
                    color: white;
                    top: 20px;
                    left: 20px;
                    position: relative;
                    font-size: 50px;
                    z-index: 0;
                }
            }

            .step-container {
                width: 85%;
                text-align: left;

                .step-title {
                    font-family: $init-setup-font-family;
                    color: #005272;
                    font-weight: bold;
                    padding-left: 2%;
                    font-size: 4em;
                    padding-bottom: 30px;
                }

                .step-description {
                    float: left;
                    width: 40%;
                    padding-left: 2%;
                    font-size: 20px;
                    color: #555555;
                    text-align: justify;

                    div {
                        padding-bottom: 1em;
                    }

                    .additional-information {
                        color: #D3D3D3;
                    }
                }

                .fields-container {
                    float: right;
                    width: 50%;

                    div {
                        width: 100%;
                    }

                    label, input, select {
                        margin-bottom: 20px;
                    }

                    input, select {
                        font-size: 30px;
                    }

                    label {
                        text-align: left;
                        width: 15%;
                        padding-right: 3%;
                        margin-top: 6px;
                        font-weight: normal;
                        font-size: 1.8em;
                    }

                    input {
                        width: 80%;
                        box-shadow: none;
                    }

                    /* Grouping does not work for some reason */
                    input::-webkit-input-placeholder {
                        color: #BEBEBE;
                    }

                    input::-moz-placeholder {
                        color: #BEBEBE;
                    }

                    input:-moz-placeholder {  /* Older versions of Firefox */
                        color: #BEBEBE;
                    }

                    input:-ms-input-placeholder {
                        color: #BEBEBE;
                    }

                    .input-timezone, .input-lang {
                        width: 272px;
                        font-size: 25px;
                    }

                    .enable-line {
                        margin-bottom: 60px;

                        input {
                            display: none;
                        }

                        .toggle-button {
                            -webkit-box-sizing: border-box;
                            border: 1px solid #999;
                            box-shadow: 0 0 5px rgba(100,100,100,0.3) inset;
                            width: 7em;
                            display: block;
                            background: #ddd;
                            height: 3em;
                            cursor: pointer;
                            position: absolute;

                            .toggle {
                                -webkit-box-sizing: border-box;
                                position: absolute;
                                left: 0px;
                                -webkit-transition: left background-color border-color;
                                -webkit-transition-duration: .25s;
                                width: 50%;
                                height: 100%;
                                background: #aaa;
                                text-align: center;
                                border: 1px solid #888
                            }

                            .toggle::before {
                                color: #666;
                                display: inline-block;
                                font-size: 1.6em;
                                content: "NO";
                                line-height: 1.6em;
                            }

                            &.toggled {
                                .toggle {
                                    box-shadow: 0 0 1px rgba(255,255,255,0.8) inset;
                                    background-color: $light-blue-logo;
                                    border-color: lighten($dark-blue-logo, $color-variation);
                                    left: 3.5em;
                                }

                                .toggle::before {
                                    content: "YES";
                                    color: #eee !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.blue-button {
    background-color: $light-blue-logo !important;
    color: darken(white, 5%) !important;
    border-color: lighten($dark-blue-logo, $color-variation);

    &:hover:not(.disabled):not(:disabled) {
        @include gradient(lighten($light-blue-logo, $color-variation), $light-blue-logo);
        color: white !important;
        border-color: $dark-blue-logo;
    }

    &:active:not(.disabled):not(:disabled) {
        @include gradient($light-blue-logo, lighten($light-blue-logo, $color-variation));
        border-color: lighten($dark-blue-logo, $color-variation);
    }

    &.big-button{
        margin-top: 50px;
        font-size: 3em;
    }
}
