.questions-handle {
    width: 100%;
    display: table;
    word-wrap: break-word;
}

.position-element {
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.question-list {
    display: table-row-group;
}

.question-row {
    display: table-row;
    width: 100%;
}

.question-data {
    display: table-cell;
    cursor: move;
}

.action-buttons {
    width: 11%;
    vertical-align: top;
    display: table-cell;
}

.action-buttons {
    width: 11%;
    vertical-align: top;
    display: table-cell;
}
