@import "base/palette";

.vc-management {
    .add-room-options {
        margin-top: 1em;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }

        .i-button {
            line-height: 2em;
            img {
                vertical-align: middle;
                width: 2em;
            }
        }
    }
}

@keyframes text-changed
{
  from {
    color: $dark-blue;
  }
  to {
    color: $black;
  }
}

input[type="text"]#vc-name.highlight {
    animation: text-changed .75s linear;
}

.selectize-dropdown {
    z-index: 101 !important;
}
