@import "base/palette";

.vc-management {
    .add-room-options {
        margin-top: 1em;

        & > * {
            display: inline-block;
            vertical-align: middle;
        }

        .i-button {
            line-height: 2em;
            img {
                vertical-align: middle;
                width: 2em;
            }
        }
    }

    .i-table-widget > tbody {
        > tr.deleted {
            background: $light-gray;
            > td {
                color: $gray !important;
            }
        }

        img.plugin-logo {
            height: 2em;
        }
    }
}

@keyframes text-changed
{
  from {
    color: $dark-blue;
  }
  to {
    color: $black;
  }
}

input[type="radio"]:disabled + label {
    color: $gray;
}

input[type="text"]#vc-name.highlight {
    animation: text-changed .75s linear;
}

.selectize-dropdown {
    z-index: 101 !important;
}
