{% extends 'events/surveys/manage_survey_state/_base.html' %}

{% block label %}
    {% trans %}Survey is live{% endtrans %}
{% endblock %}

{% block text %}
    {% trans %}You can still reschedule it because nobody answered yet{% endtrans %}
{% endblock %}

{% block buttons %}
    <a href="#" class="i-button highlight icon-time js-survey-schedule-dialog"
       data-href="{{ url_for('.schedule_survey', survey) }}"
       data-title="{% trans %}Schedule survey{% endtrans %}">
        {% block schedule_button_text %}{% trans %}Re-schedule{% endtrans %}{% endblock %}
    </a>
{% endblock %}
