{% extends 'events/surveys/manage_survey_state/_base.html' %}

{% block label %}
    {% trans %}Survey is live{% endtrans %}
{% endblock %}

{% block text %}
    {% trans %}You can still reschedule it because nobody answered yet{% endtrans %}
{% endblock %}

{% block buttons %}
    <div class="group">
        <a href="#" class="i-button icon-time js-survey-schedule-dialog"
           data-href="{{ url_for('.schedule_survey', survey) }}"
           data-title="{% trans %}Schedule survey{% endtrans %}">
            {% block schedule_button_text %}{% trans %}Re-schedule{% endtrans %}{% endblock %}
        </a>
    </div>
    {% block close_button %}
        <div class="group">
            <a href="#" data-href="{{ url_for('.end_survey', survey) }}" data-method="POST"
               class="i-button highlight">
                {% trans %}Close{% endtrans %}
            </a>
        </div>
    {% endblock %}
{% endblock %}
