{% extends 'events/surveys/manage_survey_state/active_and_clean.html' %}

{% block label %}
    {% trans %}Survey finished{% endtrans %}
{% endblock %}

{% block text %}
    {% set tz = survey.event.tz %}
    {% trans date=survey.end_dt|format_date(timezone=tz), time=survey.end_dt|format_time(timezone=tz) -%}
        Closed on <strong>{{ date }}</strong> at <strong>{{ time }}</strong> ({{ tz }})
    {%- endtrans %}
{% endblock %}

{% block now_button %}
    <div class="group">
        <a href="#" data-href="{{ url_for('.open_survey', survey) }}" data-method="POST"
           data-confirm="{% trans %}The survey finished already. Do you want to open it again for submissions?{% endtrans %}"
           class="i-button">
            {% trans %}Reopen now{% endtrans %}
        </a>
    </div>
{% endblock %}
