@font-face {
    font-family: 'Roboto';
    src: font-url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: font-url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Regular-webfont.svg#Roboto') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: font-url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: font-url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         font-url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         font-url('../fonts/roboto/Roboto-Light-webfont.svg#Roboto') format('svg');
    font-style: normal;
    font-weight: normal;
}
